[2012-09-17 13:53] tsloughter opened #4 "Chunked Response"
After my attempt to use hackney to handle a chunked response and it failing to work properly -- it would stream the body fine, but it would not respect the size of the chunks instead simply returning what it had read in even if that wasn't a full chunk -- I started looking into the code.

It looks to me like that is exactly what it is doing. Even though in te_chunked it is tracking the size of wha

[2012-09-22 06:52] benoitc opened #5 "add unitests"
unitests should be added to hackney.
- all tests should use the tools provided by Erlang (eunit)
- They should test the HTTP parser: by testing expected responses again queries: run cowboy on a dynamic port, send requests to it and check the responses.  I am thinking to have a list of Args that are given to`hackney:request/5` sent to known resources in cowboy. Then we check the returned response.

[2012-09-25 08:30] #4 closed, assigned to nobody

[2012-10-06 21:56] yrashk opened #10 "edown dependency"
Isn't edown a doc dependency? Any chance it can be splitted out to a separate rebar config? This way projects that depend on hackney wouldn't need to fetch edown at all

[2012-10-24 08:31] #10 closed, assigned to nobody

[2012-11-06 10:54] omarkj opened #13 "Error when the server closes directly after returning a reply"
Hit this error while trying Hackney against a bad webserver:

When the server returns the Body and closes the TCP socket the following is return to the caller

[code]

In this case the server is replying with {"ok":"ok"} then closing the socket

Attached is a server that behaves this way: https://gist.github.com/4024014

This server is able to serve data to curl and chrome.

[2012-11-06 11:02] #13 closed, assigned to nobody

[2012-11-12 10:12] josevalim opened #14 "Hackney should not attempt to parse the body on HEAD requests"
"The metainformation contained
in the HTTP headers in response to a HEAD request SHOULD be identical
to the information sent in response to a GET request."

"If the new field values
indicate that the cached entity differs from the current entity (as
would be indicated by a change in Content-Length, Content-MD5, ETag
or Last-Modified), then the cache MUST treat the cache entry as
stale."

Basically

[2012-11-13 09:13] #14 closed, assigned to nobody

[2012-11-22 15:15] ashneyderman opened #16 "Strange problem on recurring fetch of the content."
I have a series of processes that roughly does this:

fetch_json_result(Url) ->
  Options = [{follow_redirect,true},{pool, default}],
  {ok, _SC, _RH, Client} = hackney:request(get,Url,[],<<>>,Options),
  Body = try hackney:body(Client) of
    {ok,Body0,_} -> Body0
  after
    hackney:close(Client)
  end.

I have these processes (there is a bout 20 of them) go fetch some JSON for processing. For a

[2013-01-20 16:53] #16 closed, assigned to nobody

[2013-02-26 15:08] arcusfelis opened #21 "hackney:body/1 returns {error, closed}"
When tracker returns body with unknown (unspecified) size and disconnects, than `hackney:body/1`
 calls `stream_body_recv/1`, that tries get more data, calling `recv(Client)`. But whole body is already in the accumulator, socket is closed by the remote host and this call returns `{error, closed}`.

[2013-06-10 07:47] #21 closed, assigned to nobody

[2013-08-26 18:57] gdamjan opened #33 "Don't send the url fragments in the request"
Currently, given an url with a fragment, like `http://stackoverflow.com/questions/146159/is-fortran-faster-than-c/146221#146221` will send the fragment #146221 in the request itself (on the wire).

Some of the web servers do tolerate that, but stackoverflow is one example that doesn't.

I have kind of a sollution here:
https://github.com/gdamjan/hackney/commit/9b564203c011ec2389770bacfeb808c2d6766

[2013-08-26 20:20] #33 closed, assigned to nobody

[2013-09-02 11:58] Kozlov-V opened #34 "POST request form parameters, Pool connections"
Please, tell me, how i may POST request with unclude form parameters

[2013-09-17 11:39] MSch opened #36 "hackney:request doesn't take an iolist as body"
Hi,

I seem to have to run `iolist_to_binary` myself before passing in the Body to hackney. Isn't that bad practice and hackney should do that for me?

Best,
Martin

[2013-10-24 13:24] Kozlov-V opened #40 "Not Issue! "data-urlencode""
how i can add this "data-urlencode" in my GET request?

[2013-11-16 08:52] #34 closed, assigned to benoitc

[2013-11-16 09:13] #36 closed, assigned to nobody

[2013-11-18 13:53] benoitc opened #42 "support Expect header"
hackney should support the `Expect` header while sending the header:
- send the expect header,
- if continue, then send the body then start to read the response
- else: return the response immediately

Should be supported on streamin or non streaming requests. It would skip the need to send the full body and wait for the response.

[2013-11-20 14:15] #42 closed, assigned to nobody

[2013-11-21 13:30] #40 closed, assigned to nobody

[2013-11-22 22:40] benoitc opened #45 "add {async, once} support"
Would be interresting when receiving a connection asynchronously to stream it once, process the result, then tell to the request worker to send the next part.

ex:

[code]

While we are here we should have a way to stop an asynchronous request to continue it synchronously if needed.

[2013-11-22 22:49] benoitc opened #46 "add `raw/1` function"
To extract the latest socket and latest downloaded buffer:

[code]
- `Status`: waiting_response, on_status, on_headers, on_body,
- `Transport`: The current transport module
- `Socket`: the current socket
- `Buffer`: Data fetched but not yet processed

This feature can be useful when you want to create a simple proxy, rerouting on the headers and the status line and continue to forward the connecti

[2013-11-23 12:31] #46 closed, assigned to nobody

[2013-11-23 13:42] #45 closed, assigned to nobody

[2013-11-24 09:57] benoitc opened #47 "[discuss] Return a request reference instead of an opaque record"
Actually, when you're not creating an async request, hackney return:

[code]

or when you stream a body:

[code]

Each succesive call in hackney return a new `Client` opaque record,. For example when you fetch a body:

[code]

It has the advantage that at this point no process is created to handle the request, a client record is basically wrapping a socket to code and decode data sent and receiced

[2013-11-27 06:13] dvv opened #48 "Startup inconsistency"
`application:start(hackney)` doesn't seem to start the pool
`hackney:start()` does

Also, a missing clause found:

[code]

[2013-12-02 12:22] #47 closed, assigned to nobody

[2013-12-02 13:07] #48 closed, assigned to nobody

[2013-12-02 13:45] ates opened #50 "Can't start hackney"
Hello,

Can't start hackney using application:start(hackney).

1> application:start(hackney).
{error,{"no such file or directory","dispcount.app"}}

dispcount application is defined as included_applications in hackney.app.src

[2013-12-02 13:47] #50 closed, assigned to nobody

[2013-12-03 04:58] mururu opened #52 "Send headers and body together"
I am using hackney in production.
I need to send headers and body together for the performance on my case.
Is it possible to merge a patch that enable send them togetter when it is possible?

[2013-12-03 22:07] jwilberding opened #53 "Accidental merge?"
Did you intend to merge this code? wip?

https://github.com/benoitc/hackney/commit/529b4ac7c9424730ca0177526435490c4133be81

[2013-12-03 22:10] #53 closed, assigned to nobody

[2013-12-06 21:40] benoitc opened #54 "handle redirect on async response"

[2013-12-07 14:16] #54 closed, assigned to nobody

[2013-12-09 09:46] benoitc opened #56 "add cookie support"
hackney should support coookies:
- provide a way to parse them from the headers
- provide a way to add them to request headers

[2013-12-09 14:13] #52 closed, assigned to nobody

[2013-12-11 12:39] wactbprot opened #57 "No rule for make test"
`make test` is described in  **_README.md**_ but not given in the **_Makefile**_

[2013-12-17 09:47] Kozlov-V opened #62 "Error compile Hackney"
When i try `rebar compile` i have this error:
`hackney_socks5.erl:12: can't find include lib "kernel/src/inet_dns.hrl"`

[2013-12-17 09:54] #62 closed, assigned to nobody

[2013-12-17 10:36] Kozlov-V opened #63 "Error request"
what am I doing wrong?

[code]

[2013-12-17 11:20] #56 closed, assigned to nobody

[2013-12-17 11:24] #57 closed, assigned to nobody

[2013-12-17 12:53] #63 closed, assigned to nobody

[2013-12-18 12:37] benoitc opened #64 "splitting hackney ?"
With the introduction of the new features (multipart, headers parsing, cookies, htttp parser), it comes to mind that such tools could be used in other contexts than hackney. You could for example build your own HTTP server, parse HTTP over another protocol, or any other things.

Like I see it hackney could be split in 2 libraries:
- `hackney_lib`: generic HTTP toolkit. no rename would be done and

[2013-12-18 15:48] benoitc opened #65 "add an example to hackney_http"
this doc need a proper example of the usage.

[2013-12-19 13:12] #64 closed, assigned to nobody

[2013-12-19 13:17] #65 closed, assigned to nobody

[2013-12-24 23:48] edgurgel opened #66 "Async request"
Is it possible to receive async response on a different process than `self`? I mean, is there any way to pass a pid to receive the async response, status, etc?

Happy Holidays! :santa: :fireworks:

[2013-12-26 20:38] nifoc opened #67 "Wrong typespec for hackney:stream_body?"
The README implies that `hackney:stream_body` returns:

[code]

The actual `-spec` says that it returns:

[code]

From what I can tell, the typespec is incorrect. Happy to provide a PR if that's indeed the case :smile:

[2013-12-26 22:23] #67 closed, assigned to nobody

[2013-12-28 23:24] benoitc opened #69 "add a way to send a multipart stream with a fixed content-lenght"
Some server are not able to handle correctly chunked encoding requests (like NGINX but not only). We should add a way to calculate the final content-length of a multipart request

[2013-12-29 11:11] #66 closed, assigned to benoitc

[2013-12-29 15:54] #69 closed, assigned to benoitc

[2013-12-30 14:29] spfoos opened #70 "hackney_manager crash during upgrade"
I use couchbeam in my application.

When trying to hot upgrade my application (release_handler:install_release), I encountered this error:

[code]

I had to shutdown the app and install it to upgrade.

Any ideas on why this is happening?

[2013-12-30 15:42] benoitc opened #71 "add unix domain socket support"
Hackney should be able to support unix domain socket connections maybe by using https://github.com/msantos/procket.

[2013-12-30 15:43] benoitc opened #72 "add SPDY support"

[2013-12-30 18:58] brigadier opened #73 "Get current location after redirect"
Is it possible to get the current location (url) after redirect when {follow_redirect, true}? Say if a page redirects from http://foo.com to http://bar.com and

[code]

how can I get bar.com from Ref?

[2014-01-01 23:03] avdi opened #74 "Add async events for upload"
Currently, the async mode only generates events once the remote server responds. I'd like to be able to monitor the progress of a large upload using `POST`. This means generating events for the submission phase of the request as well as the response. At the very least, "chunk" events and an event for when the whole request has been transmitted (but before the response has been received). Is this a

[2014-01-02 10:18] benoitc opened #75 "add web sockets support"

[2014-01-02 21:43] #73 closed, assigned to nobody

[2014-01-06 17:43] brigadier opened #76 "hackney doesn't work with proxies configured to accept GET (no CONNECT) requests"
At the moment hackney always makes CONNECT request when working through proxy. In fact, most proxies that can be found on Internet don't accept CONNECT, they work with GET only. For CONNECT they reply "403 forbidden". http://en.wikipedia.org/wiki/HTTP_tunnel - "HTTP Tunneling without using CONNECT" section.

For example 202.107.222.50:80 (not sure if it will work at the time when you read this iss

[2014-01-07 23:49] avdi opened #77 "Memory usage"
I have a program that's pretty simple: it downloads a list of remote video files; for each one, it downloads the file locally, then uploads it with a POST to a different host.

Running in a single process, this loop steadily increases the OS process RAM usage. The lasy time I killed it off it was at around 2.5GB resident / 4.5GB virtual.

I don't know anything about memory profiling in Erlang, and

[2014-01-08 22:50] #70 closed, assigned to nobody

[2014-02-11 08:56] benoitc opened #78 "make hackney an http entry point for erlang applications"
Right now Hackney is using the classic API you can find in any HTTP clients proposing a method `request` or any REST entry point. Also for now hackney is defined per node and can only be used locally (mostly).

Instead we should be able to create `HTTP processes` on which you can send a request, and retrieve your response  from it from any Erlang node.

An Entry point would be a registered process

[2014-02-11 09:24] edgurgel opened #80 "response_stream?"
On documentation:

[code]

But there's no `response_stream` response anywhere on code. AFAIK it's sending `{ok, StreamRef}` . Is it correct?

[2014-02-14 22:30] ybogdanov opened #81 "hackney_pool is freezing because of some ssl fsm stuff"
Hi,

I started measuring performance and analysing some issues with sudden `hackney_pool` freezing when a lot of https requests happening.

I found a workaround in `hackney` 0.7 6e5bd6d88f173e9c539eb65fb455b1fd4ee5af6e but before opening a pull request I found out that there are a lot of changes made to the lib since that version. So after merge my fix is not working anymore. Seems that now the la

[2014-02-17 19:01] gdamjan opened #82 "support for idna hostnames"
hackney curently doesn't support IDNA hostnames, i.e.
for an url like "http://ртс.срб/a/Д/c" the hostname that needs to be resolved is "xn--p1acc.xn--90a3ac".

I don't know if this needs to be implemented in hackney, hackney_lib or erlang itself?

[2014-02-22 01:26] saponinsky opened #83 "hackney:connect/4 failing with binary URL"
The following fails:

[code]

Whereas supplying a string is just fine:

[code]

The README uses binaries to specify the URL, so that's what I was expecting as well -- https://github.com/benoitc/hackney#to-create-a-connection

**Sidenote**: the var `Transport` in the linked README example should be assigned to `hackney_tcp_transport` instead of `hackney_tcp_protocol`.

[2014-02-22 10:46] #83 closed, assigned to nobody

[2014-03-01 04:30] #80 closed, assigned to nobody

[2014-03-02 13:14] #76 closed, assigned to benoitc

[2014-03-02 21:01] #82 closed, assigned to nobody

[2014-03-03 09:47] lud opened #86 "Does "Reuse a connextion" preserve state"
Hi,

I find the doc is unclear about whether or not hackney preserves state when reusing a connection e.g. read cookies and send them back on the next request.

I've read the code and i'm truly sure it does, and if it wouldn't the point of reusing a connection would be zero, **but** i think the readme should be more explicit about that. Because that's what I was looking for when I found hackney, a

[2014-03-03 10:22] lud opened #87 "Case clause error when using a proxy"
Hi,

I'm trying to use hackney through a proxy and i've a found a weird behaviour : in `hackney_http_connect.erl` I can read `ProxyPort = proplists:get_value(connect_port, Opts)`. So `connect_port` is the key for an integer in the proplist.

But the `Opts` variable is passed along in `do_handshake/4` and there again we see the same proplists read : `ProxyPort = proplists:get_value(connect_port, Op

[2014-03-03 10:26] #87 closed, assigned to nobody

[2014-03-04 09:07] #86 closed, assigned to nobody

[2014-03-23 06:56] knewter opened #88 "ets_lru in included_applications breaks using hackney in a release"
When I try to build a release (with exrm, but that shouldn't matter so much) I get a failure if I depend on hackney:

[code]

hackney depends on idna.  hackney uses `benoitc/ets_lru`, idna uses `cloudant/ets_lru`.  Because of this, the release can't determine which of those should serve as the application, so it bombs.

Removing ets_lru from `included_applications` gets me past the error when buil

[2014-03-26 07:58] #88 closed, assigned to nobody

[2014-04-01 21:54] essen opened #90 "Please update rebar"
The rebar in your repository is too old and contains the bug that makes it incompatible with erlang.mk (basically the deps it pulls are always in ./deps instead of REBAR_DEPS_DIR environment variable). Thanks!

[2014-04-14 00:55] #90 closed, assigned to nobody

[2014-04-14 11:21] qrilka opened #92 "Couchbeam references"
E.g. - https://github.com/benoitc/hackney/blob/master/src/hackney.erl#L53
Does hackney comes from the couchbeam library?

[2014-04-14 11:38] qrilka opened #93 "pool_size of max_connections?"
It seems to be somewhat confusing: new `NEWS.md` I see `pool_size` mentioned as deprecated but `README.md` does not mention `max_connections` at all and `hackney.app.src` uses it.

[2014-04-15 11:55] qrilka opened #95 "Async requests and reading body"
I have tried to use hackney in asynchronous mode but I don't understand how to deal with body properly - for a short answer (returning 503 in this test case) I get body in `Reason` of `{hackney_response, Ref, {status, Code, Reason}}` and after that I fail to call `hackney:body` as body is read already.
Real life responses could be lengthy so they will need to be read with `stream_body` but what to

[2014-04-15 13:17] #95 closed, assigned to nobody

[2014-04-16 07:57] qrilka opened #96 "HTTPS requests varying runtime"
Any ideas why HTTPS requests through proxy could show variable duration?
At the moment I don't have a minimal testcase to reproduce it but our Common Test suite show runtime from 8s to 2m50s with HTTPS tests taking the most of the time.
I our tests we do requests to a local mock through mocked `CONNECT` proxy both implemented using mochiweb and  SSL tunnel is created using standrad OTP ssl.
I'll t

[2014-04-16 08:28] #93 closed, assigned to nobody

[2014-04-16 08:34] #92 closed, assigned to nobody

[2014-04-16 14:47] qrilka opened #98 "{error,{closed,<<>>}} from reading body with HTTP proxy"
What am I doing wrong here:

[code]

on port 8080 I have tinyproxy and curl does not show any problems retrieving that url:

[code]

other sites seem to be working OK and I don't see anything interesting in wireshark.

[2014-04-18 08:01] #98 closed, assigned to nobody

[2014-04-18 09:41] #96 closed, assigned to nobody

[2014-04-18 10:58] edgurgel opened #100 "Wrong behaviour on master"
Accessing (for example) http://httpbin.org/get is kind of wrong now.

hackney master:

[code]

Before, using hackney 0.11.2 (Correct one):

[code]

[code]

Am I doing something wrong?

[2014-04-18 12:33] #100 closed, assigned to nobody

[2014-04-19 00:04] ransomr opened #101 "SSL certificates are not being verified"
I have a test server running on local host with a cert with two problems:
1. it is signed by a CA that is not trusted
2. the CN is not localhost
Hackney does not give any errors:

[code]

Compare to curl:

[code]

[2014-04-19 13:06] edgurgel opened #102 "Redirect section on README.md is wrong"
On https://github.com/benoitc/hackney#automatically-follow-a-redirection:

[code]

`max_redirect` should be an integer, right?

Also it talks about `hackney:location` but does not use it on the example.

[2014-04-19 13:11] edgurgel opened #103 "Bug on redirect"
While creating some tests, I found out this error on redirects:

[code]

This error is not happening on 0.10.1

[2014-04-19 14:42] #103 closed, assigned to nobody

[2014-04-19 14:46] #102 closed, assigned to nobody

[2014-04-21 22:05] ransomr opened #104 "hackney is very slow on talko/httpcbench"
https://github.com/talko/httpcbench
This is a benchmark that I put together to mimic the HTTP client behavior in our usage of erlcloud. Hackney is by far the slowest of the clients that I have tested - 10 times slower that lhttpc.

[2014-05-03 13:25] gdamjan opened #105 "follow_redirect still not perfect"
hackney:request(get, <<"http://httpbin.org/redirect/1">>, [{<<"User-Agent">>, <<"Mozilla/5.0 (erlang-irc-bot)">>}], <<>>, [{follow_redirect, true}]).
*\* exception exit: badarg
     in function  gen_tcp:connect/4 (gen_tcp.erl, line 141)
     in call from hackney_connect:do_connect/4 (src/hackney_connect.erl, line 214)
     in call from hackney:send_request/2 (src/hackney.erl, line 346)
     in cal

[2014-05-06 12:08] o opened #106 "Feature request: HTTP response statistics like curl"
I'm opening this issue based on what we talked at email with Benoit.

---

I need a functionality in heckney about http response statistics like "Connect time", "Time to first byte", "Total response time" or similar.

As a reference to `metric` types, cURL provides very detailed statistics about response.

For example:

[code]

Thanks!

[2014-05-15 02:25] ghost opened #107 "lots of CLOSE_WAIT"
R = hackney:request(get, Url, Header, <<>>, [{connect_options,
                                                  [binary, {active, false}, {packet, raw}, {reuseaddr, true},
                                                   {linger, {true, 0}}, {keepalive, true}]}, {connect_timeout, infinity}
                                                 ]),

i create 10 process to request the server by the cod

[2014-05-29 09:16] jsvisa opened #109 "Hackney post a multipart, the headers can't be overridden"
When I send a post like that:

[code]

I watched the captured frame with `Wireshark`,  I found there exists the same header,
is it a bug to fixed?

![screen shot 2014-05-29 at 17 08 12](https://cloud.githubusercontent.com/assets/3627395/3115973/b6f65a38-e711-11e3-96ca-4e02da9e84ea.png)

[2014-06-11 08:42] stofel opened #111 "Remove unicode from applications key"
fix unicode in hackney_lib
https://github.com/benoitc/hackney_lib/commit/4c52468de9e0e379c9bb3428d1c8084653b3842a

hackney/rebar.config:
{deps, [
        {hackney_lib, ".*",
         {git, "https://github.com/benoitc/hackney_lib.git",
          {tag, "0.3.0"}}}
]}.
{tag, "0.3.0"} not include fix.

[2014-06-30 14:20] aklaim opened #112 "Unused setting"
hackney_socks5:connect/4
Timeout is not used when calling gen_tcp:connect().

[2014-07-01 08:07] aklaim opened #113 "Pattern matching error."
During a call of hackney_socks5:do_handshake, in part:

[code]

gen_tcp:recv can return {ok, SomeValue} which is counted as an error and returns up the call stack as a {ok, SomeValue}.

The problem is that hackney:connect/5 in the part:

[code]

 is waiting for {ok, Ref} in case of success. Because of this, the value of which was return by gen_tcp:recv will be considered as valid and its further u

[2014-07-08 21:30] #109 closed, assigned to nobody

[2014-07-08 21:30] #111 closed, assigned to nobody

[2014-07-08 21:34] #113 closed, assigned to nobody

[2014-07-08 21:37] #112 closed, assigned to nobody

[2014-07-11 23:29] archaelus opened #114 "Case sensitive header names"
HTTP Header names are case insensitive, but Hackney returns a proplist of headers and the obvious way to extract a value `proplists:get_value` is case sensitive.

I would suggest either normalizing the case of the proplist keys before returning them, or return a `hackney_headers` data structure, which would encourage users to call `hackney_headers:get_value(CaseInsensitiveKey, Headers, Default).`

[2014-07-25 08:08] w1o7l5 opened #115 "proxy-authenticate support"
Hackney just support basic proxy-authenticate, but this is not enough. We know that many corporation proxy server do `NTLM` or `Kerberos` or `Negotiate` proxy authenticate, rather than basic authenticate.
So maybe you can consider add a option `{proxy-auth-type}`, selectivily make a request header.

[code]

Or can implement automatically proxy authenticate, but that would be quite complicated. ;)

[2014-08-02 23:48] radekg opened #116 "Readme is wrong"
## It says:

To start in the console run:

[code]

It will start hackney and all of the application it depends on:

[code]

---

But:

[code]

Also, the dependencies are wrong. To start, I had to do the following:

[code]

[2014-08-13 09:57] #116 closed, assigned to nobody

[2014-08-21 10:00] edgurgel opened #118 "hackney_response:read_body typespec"
https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney_response.erl#L299-L311

Here it says that `read_body` can return `{ok, binary(), #client{}} | {error, atom()}.`, but it can return `{error, {closed, << Acc/binary, Bin/binary >>}};`, right?

Which won't be an atom, right?

BTW, if no body is coming from the request, hackney will return an error or just an empty binary?

[2014-08-27 09:38] edgurgel opened #120 "Badarg exception on redirect"
[code]

This is giving me this error:

[code]

Am I doing something wrong?

`curl -iL httpbin.org/redirect/5` works without any problem

[2014-08-27 09:39] #120 closed, assigned to nobody

[2014-08-30 16:58] thehunmonkgroup opened #121 "Error when using basic_auth option"
Trying to use hackney via couchbeam to fetch a couchdb doc with the basic_auth option enabled:

[code]

 and getting this error:

[code]

Poking around the internet, I ended up with this fix:

Changing the line in src/hackney_client/hackney_request.erl, function perform, from

[code]

to

[code]

No idea if there's a cleaner solution, but it worked for me.

[2014-09-18 11:25] benoitc opened #124 "add a way to trace requests in hackney"
tag/log each requests so it can be debugged later.

[2014-09-19 17:37] #107 closed, assigned to nobody

[2014-09-26 17:17] #118 closed, assigned to nobody

[2014-09-26 19:38] #105 closed, assigned to nobody

[2014-10-07 08:34] chvanikoff opened #130 "{ssl_close, Socket} message is sent to wrong process when server responds with "keep-alive" header"
The issue can be reproduced on https://www.cloudflare.com for example:
when I call hackney:request/5 and hackney:body/1, after keep-alive timeout when the connection is closed, the close message is sent to calling PID (which called request/5). I guess it should be handled by hackney in some way.

[2014-10-22 18:59] #77 closed, assigned to nobody

[2014-10-22 23:17] #130 closed, assigned to nobody

[2014-10-29 08:10] #81 closed, assigned to benoitc

[2014-11-03 14:23] #5 closed, assigned to nobody

[2014-11-10 23:57] #104 closed, assigned to nobody

[2014-11-27 16:29] priestjim opened #139 "Hackney pool randomly crashes"
After upgrading to 0.15 (this also occurs with 0.15.1 and 0.15.2) this keeps popping up in my logs:

Supervisor hackney_sup had child epicpool started with hackney_pool:start_link(epicpool, [{name,epicpool},{timeout,15000},{max_connections,32768}]) at <0.25396.501> exit with reason bad argument in call to dict:fetch(<0.16518.541>, {dict,2,16,16,8,80,48,{[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]

[2014-11-27 21:45] #121 closed, assigned to nobody

[2014-11-29 20:34] #139 closed, assigned to benoitc

[2014-11-29 22:29] #101 closed, assigned to nobody

[2014-11-30 20:35] #106 closed, assigned to benoitc

[2014-12-03 20:44] gdamjan opened #141 "no worky for https (1.0.2 5c55565d6c5)"
[code]

[2014-12-05 17:46] #141 closed, assigned to nobody

[2014-12-13 22:06] ericmj opened #144 "Update ssl_verify_hostname to fix security issue"
A security issue was fixed. Can you please update?

https://github.com/deadtrickster/ssl_verify_hostname.erl/pull/2

[2014-12-14 08:30] #144 closed, assigned to nobody

[2014-12-22 11:01] benoitc opened #147 "allows to enable/disable metrics in live"

[2015-01-01 12:51] rlipscombe opened #148 "{error, {closed, HTML}} with connection: close"
I'm using hackney to talk to a fairly simple HTTP server -- specifically this one: http://empeg-hijack.sourceforge.net/, as it happens.

It uses `Connection: close` semantics, which -- somehow -- seem to confuse hackney. If I look in wireshark, I see what looks like a completely valid HTTP conversation -- I see:

    HTTP/1.1 200 OK
    Connection: close
    Content-Type: text/html

    ...the exp

[2015-01-16 09:13] benoitc commented on #148
Sorry for the late response, I didn't saw this ticket until now... Anyway such response si expected when the the `Content-Length` or a `Transfer-encoding` is set. Maybe i should change the response in that case.

[2015-01-18 12:52] sdepold opened #153 "1.0.5 broke API when response has no body"
When you request an endpoint that has no content, then the return value of hackney used to be

[code]

whereas it is

[code]

for 1.0.5. An example endpoint is here https://developer.github.com/v3/gists/comments/#delete-a-comment

[2015-01-18 18:15] benoitc commented on #153
In latest master?

on HEAD this is expected in 1.0.5. The 204 response has been added recently in 62f768fa38c4f9aa5bcb4e9cec084c4d94273bdf via #151 . Maybe instead of returning a different response we should instead returning an empty body directly. cc @lexmag cc@edgurgel

[2015-01-18 18:31] sdepold commented on #153
+1 for empty body.

[2015-01-18 20:16] edgurgel commented on #153
I agree as it won't break the API. Unless you want to increase the MAJOR version it should keep the client with an empty body. :+1:

[2015-01-18 20:45] lexmag commented on #153
Right, that was the question in #151:

Since everyone likes other behaviour I'll make PR to fix it.

[2015-01-18 22:43] benoitc commented on #153
@lexmag +1 thanks a lot :)

[2015-01-19 13:14] seriyps opened #155 "Add transparent Content-Encoding: gzip/deflate support"
So, should add `Accept-Encoding: gzip,deflate` to request, then check for `Content-Encoding: gzip` or `Content-Encoding: deflate` and decompress body (after de-chunking).
Decompression may be done in single pass (`zlib:gunzip/1` for gzip and `zlib:unzip/1` for deflate) in case of synchronous requests and using streaming (`zlib:open/0, zlib:inflateInit/1, zlib:inflate/2 ..., zlib:close/1`) in case

[2015-01-19 19:12] rlipscombe commented on #148
Well, yes. The documentation says that `{ok, Body} = hackney:body(Client)`. This needs to be the same for all responses where there _is_ a body.

[2015-01-21 10:27] #153 closed

[2015-01-21 13:29] benoitc commented on #148
fixed in 4584f8798277ec7568e6b84e1d68ed9a8b44696d

[2015-01-21 13:29] #148 closed

[2015-02-06 18:27] ppikula opened #160 "Connections are not checked in"
I was using the latest version from the master branch (71d67840d097009e).
When I do more request than  the default  pool size  > 50 then the request function
freezes. I found out that the socket is not returned to the pool. I think that
this code path https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney_response.erl#L54
doesn't checkin socket to the pool.

To reproduce issue e

[2015-02-06 20:48] benoitc commented on #160
It's expected. you should read the body or skip it using `hackney:skip_body/1` to release the request. If you only want to get the status doing an head request may be the easiest solution though (if your server handle it correctly).

[2015-02-06 20:48] #160 closed

[2015-02-06 20:54] benoitc commented on #160
to complete the answer, the socket won't be return if you don't read it until the end. This per design in HTTP. This is why it needs to be read.

Hope I answered to your question. Let me know.

[2015-02-06 20:58] benoitc commented on #155
will add it in next release. Thanks for the suggestion.

[2015-02-06 22:25] ppikula commented on #160
Thanks for quick reply and sorry for not RTFM. I was using dmitriid/neo4j-erlang and I
was not able to create more than 50 nodes, so probably the library don't read/skip body in every case.

[2015-02-06 22:41] benoitc commented on #160
@ppikula dunno. I actually have one application doing more than 500K calls. Are you sure it's not due to the limitation in the pool?

In default config you can set it using ` {max_connections, N}` where N is the number of concurrent connections you want to have. One another way to scale it is also using a worker system each using its own pool if you can pass a pool to neo4j-erlang . Let me know.

[2015-02-06 23:11] ppikula commented on #160
Yes, It was neo4j-erlang fault. I've added `hackney:skip_body` in that line: https://github.com/dmitriid/neo4j-erlang/blob/master/src/neo4j.erl#L1388 and it is working now.

Thanks for helping me figuring it out !

[2015-02-10 10:20] novabyte opened #161 "Add retry attempts to Hackney"
I can't find support for retry attempts in Hackney. If it's not supported I'd like to propose it as a feature enhancement.

[2015-02-14 13:56] zweizeichen commented on #155
+1

[2015-02-16 17:50] acarstoiu opened #163 "Hackney freezes the client process after 150s"
Hello,

this one was _very_ annoying and time consuming... It's about the `hackney:request/5` function that is called **without** opting for the default pool by putting `{pool, default}` among the options.

If the remote party (i.e. the HTTP server) is down, _hackney_ returns consistently for about 150s `econnrefused`. That's fine, but as the client keeps retrying the HTTP request every 3 seconds,

[2015-02-16 20:50] benoitc commented on #163
You can set the `connect_timeout` and `recv_timeout` already in the request, what do you need exactly?

[2015-02-17 09:31] acarstoiu commented on #163
I did that, they are both at 5000 (ms). Still, when no connection pool is used and the target server is down, after trying repeatedly for 150s to connect to it, _hackney_ freezes upon the next attempted request.

I reported the problem in order to save other people's time and nerves. I'm not even using _hackney_ directly and I already found a workaround (luckily, I can modify the Erlang applicatio

[2015-02-17 09:36] benoitc commented on #163
So the problem you have is when you're trying to make a new request in the pool after 50 requests that timeouted?

[2015-02-17 12:45] acarstoiu commented on #163
Yes, except that all are **without** the pool. With the pool enabled, no such problem occurs.
(Also, the error is `econnrefused`.)

[2015-02-17 13:18] benoitc commented on #163
I don't understand then. Hackney don't try to reconnect at all. What do you mean by freezing? Do you have any code that could help me to reproduce?

[2015-02-17 13:59] acarstoiu commented on #163
[my code] ----> [other app] ---> [hackney] - - - - - -\ . . . [HTTP server]
It is [my code] that keeps retrying. And the [documentation](https://github.com/benoitc/hackney#use-the-default-pool) implies otherwise (i.e. no pool is used if not explicitly stated).
Anyway, after a day of testing, I think you can trust me that there is a difference in behaviour between sending the `{pool, default}` opti

[2015-02-23 11:47] ln5 opened #165 "ssl_verify_hostname dependency"
benoitc/ssl_verify_hostname is behind its upstream, deadtrickster/ssl_verify_hostname.erl. I'm specifically interested in 640527bfabe656f9522a1116499e0de024084603.

I don't know the reason for hockney to not depend directly on deadtrickster/ssl_verify_hostname.erl. Is it still valid?

[2015-02-24 12:10] tnt-dev opened #168 "HEAD redirection problem"
Current version doesn't handle redirection of HEAD requests correct.

[2015-02-25 05:57] benoitc commented on #165
For the hackney project i prefer to rely on repositories under my repo so I make sure they will always be available and I can support the code, which is the only reason of this dependency path :)

[2015-02-25 05:57] #165 closed

[2015-02-25 05:59] benoitc commented on #168
It should be:

https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney.erl#L726

How can I reproduce your issue?

[2015-02-25 06:06] benoitc commented on #161
Retrying should be an application logic (since it depends when you want to do it) which is why it is not supported right now in hackney but an explicit mechanism can be added.

I think a retry mechanisms should handled the following cases:
- retry on connection error?
- retry on POST/PUT error (obviously not when streaming) or only on GET (retry function rule?)

Also if the retry is requested the

[2015-02-25 06:10] benoitc commented on #163
This is not I don't trust you, but to understand the issue which wasn't clear at the beginning ;)

Can you try with the environment settings `use_default_pool` set to False for hackney and let me know ?

[2015-02-25 06:14] edgurgel commented on #168
Just tested with master:

[code]

[2015-02-25 09:57] tnt-dev commented on #168
Oh, I needed to be more detailed, sorry.

HEAD request return reply here https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney.erl#L888
but in https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney.erl#L788 there is no case for it and it returns as Error and I think it's not normal.

Redirecting works, but unexpected way.

[2015-02-25 11:27] novabyte commented on #161
Hi @benoitc I was thinking of a simple retry strategy like what's in Fusco:
https://github.com/esl/fusco/blob/master/src/fusco.erl#L176

[2015-02-25 12:19] benoitc commented on #168
@edgurgel  thanks for the test :)

Hrm not sure I totally understand the issue. It is still returing `{ok, Status, Headers}` right ? In that case maybe it should be renamed `Else` instead of `Error`?

[2015-02-26 06:34] mattiasw2 opened #169 "hackney_multipart:len_mp_stream/2 - an error occurred when evaluating an arithmetic expression"
I try to do a multipart POST, and deep down this function sometime fails. Should it fail? I know this message is short enough not to need multipart, but some are much bigger.

[code]

and you get

[code]

[2015-02-26 07:12] mattiasw2 commented on #169
Found the problem, it is the true at the end. I need to make sure all parts of the json are strings.

[2015-02-26 16:23] tnt-dev opened #170 "'max_redirect' doesn't work"
Example:

[code]
[code]
[code]
[code]

Last request must return {max_redirect_overflow} error.

[2015-02-26 21:03] #169 closed

[2015-02-27 23:22] #124 closed

[2015-02-27 23:23] edmz commented on #124
![tumblr_mydm1r9twn1qkzb3jo1_500](https://cloud.githubusercontent.com/assets/18996/6423005/4e97a0a2-bea5-11e4-9e8f-d63214a96ab3.gif)

[2015-02-27 23:46] benoitc commented on #170
Thanks for the test! I just found the issue. I will make a patch tomorrow since it starts to be late :) Os this related to #168?

[2015-02-27 23:50] benoitc commented on #163
The new [hackney_trace](https://github.com/benoitc/hackney/blob/master/doc/hackney_trace.md) module may help to figure what is happening. Can you eventually run it on your own and send me trace?

Here is an example of its usage:
https://www.friendpaste.com/2FviEh6jieAyYwfDZGVwOn

Let me know.

[2015-02-28 09:43] benoitc commented on #124
:)

On Sat, Feb 28, 2015 at 12:23 AM, edmz <notifications@github.com> wrote:

[2015-02-28 21:55] tnt-dev commented on #170
Yes, this issie is related to #168 :)

The problem is that this: https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney.erl#L803-L819 actually doesn't work and we make new reqeust with enabled request support. This breaks planned behaviour and leads to problems. When it will be fixed you will see that problem in #168 is real :)

[2015-03-01 11:09] ubill opened #171 "Value of list-type gets used as "Len"(integer) when making {multipart [{K,V}]} request body"
I am trying to POST a request body of multipart.

I am getting this error at hackney_multipart.erl , line 181:

*\* exception error: an error occurred when evaluating an arithmetic expression
     in function  hackney_multipart:'-len_mp_stream/2-fun-0-'/3 (src/hackney_lib/hackney_multipart.erl, line 181)
     in call from lists:foldl/3 (lists.erl, line 1261)
     in call from hackney_multipart:len

[2015-03-01 12:57] benoitc commented on #171
It is expected right now that K/V are binaries. I recently added some guards to return a more understandable error in b018bed040d830c5d4232e43d46806191da01e42 (latest master).

For the second part of your question can you paste me the full request done by curl in verbose mode? I will check if it's feasible.

[2015-03-01 13:15] ubill commented on #171
Hi benoitc wow, thanks for the quick reply!

Here is the full verbose output of curl and the command line used to get it.
(I have snipped out those access tokens and the like though.)

And also, in case you need to see it, this usage is from the action "upload photo" as described at this page in the Facebook API docs:
https://developers.facebook.com/docs/graph-api/reference/v2.2/album/photos
under

[2015-03-01 13:23] benoitc commented on #171
So apparently curl is doing a `multipart/form-data`. It;' not handled *automatically* yet in hackney but you can send such multipart request manually. Makes sure that a field is a part in that case. I will see if i cann the support for it in next release or maybe the one after.

[2015-03-01 13:30] ubill commented on #171
Thank you for your effort benoitc!

"""you can send such multipart request manually."""
I am right now trying hard to do this - but I just can't figure out though the syntax that I must use in order to do this. Here's what I have now:

Parts = [
        {<<"access_token">>, list_to_binary(At)},
        {<<"message">>, <<"ErlangPix Posted into album, ensure 'message' has no illegal characters...">>

[2015-03-01 20:07] benoitc commented on #171
Yes the file will be streamed in that case using `sendfile`. You can also use [hackney:stream_multipart/1](https://github.com/benoitc/hackney/blob/master/doc/hackney.md#stream_multipart-1) and stream each part until EOF.

[2015-03-02 09:38] acarstoiu commented on #163
Sorry for the silence. As soon as I find some time I will try it, most probably tomorrow.
Thank you.

[2015-03-04 13:26] dcy opened #172 "How can i do [curl -i "http://localhost:8090/?echo=saymyname"] by hackey?"
I want to do this: curl -i "http://localhost:8090/?echo=saymyname"
How can i do this by hackney, i tried to set Payload to <<"echo=saymyname">> or <<"{\"echo\":\"saymyname\"}">>, but not work:
    Method = get,
    URL = <<"http://localhost:8090">>,
    Headers = [],
    %Payload = erlang:list_to_binary(util:urlencode([{echo, "saymyname"}])),
    Payload = jsx:encode([{<<"echo">>, <<"saymyname">>}

[2015-03-04 19:57] edgurgel commented on #172
Maybe: `URL = <<"http://localhost:8090?echo=saymyname">>,`

[2015-03-04 20:17] benoitc commented on #172
exactly. You can also use `hackney_url:make_url`

[2015-03-05 11:00] benoitc commented on #172
@dcy did we answer to your question?

[2015-03-05 11:00] benoitc commented on #171
anything to add to this ticket?

[2015-03-05 11:12] ubill commented on #171
(Yes, I am getting together the details)

[2015-03-05 11:16] #170 closed

[2015-03-05 11:17] benoitc commented on #168
fixed in 928106c75b3778156cd8ca3c69a832efe8489f4c

[2015-03-05 11:17] #168 closed

[2015-03-05 12:18] benoitc commented on #161
i wll add these feature in the next release.

[2015-03-05 12:19] novabyte commented on #161
@benoitc Thank you sir :smiley:

[2015-03-05 12:42] ubill commented on #171
Right now, with curl, we can make a POST request of the form like
... -F 'source=@cat.jpg'    -F 'message=220px cat from wikipedia'

which posts to a form with input fields of name 'message' (type="text") and 'source' (type="file")

Note that we can specify the "name" of the file input field.

First name: <input type="text" name="message">
Select a file: <input type="file" name="source">

1)
Using

[2015-03-06 06:38] dcy commented on #172
Thanks! it works for me.

[2015-03-06 06:38] #172 closed

[2015-03-08 09:40] jurriaan commented on #114
+1

[2015-03-11 13:28] gilv opened #174 "Help with usage"
I guess i am asking something obvious,
I downloaded source of Hackney and build it with make... all was great and successful
Now, I started a new Erlang project in Eclipse, and wrote some .erl file with few methods..
I can run my file in Eclipse without problems, but i can't use Hackney, for example hackney:start() doesn't work.
I tried to copy all ebin files from Hackney to my project and this ti

[2015-03-11 20:44] edgurgel commented on #174
You will probably need to copy the files on the `ebin` directory of each project on `deps/`. I would suggest you to use rebar to compile your project or find some plugin on Eclipse that knows how to use rebar.

[2015-03-11 21:19] benoitc commented on #174
you need to put the deps in ther ERL_LIBS path so  they can be found.

Unfortunately I am not a user of eclipse, but if you're using erlide this link should help you to solve your issue:
http://stackoverflow.com/questions/15862004/how-to-add-dependency-path-in-erlide

[2015-03-13 09:37] qrilka commented on #72
Shouldn't that be replaced with HTTP/2 as SPDY looks to become deprecated

[2015-03-14 09:49] benoitc commented on #174
@gilv did we answered to your question?

[2015-03-16 06:16] linbo opened #176 "won't encode special character in http get url path"
Hi,

I have an restful server with an url like this:

[code]

Since there is an special character colon in the path, I've checked code,  find those codes in hackney.erl

[code]

Actually, I won't wan't encode colon in URL, but maybe in query parameters, but the code seems encode all the URL.

If I use httpc:get, looks working fine.

[2015-03-19 12:24] tnt-dev commented on #170
Sorry, but 1.1.0 version returns the same result:
[code]
[code]

[2015-03-20 08:26] benoitc commented on #174
no feedback since. closing the issue.

[2015-03-20 08:26] #174 closed

[2015-03-20 08:26] benoitc commented on #163
any news?

[2015-03-20 08:30] benoitc commented on #171
You can indeed use `{file, Path, ExtraHeaders}` to add the name. Now I guess we could add another pattern `{file, Name, Path, ExtraHeaders}` to do it. Would that works for you?

[2015-03-20 08:45] ubill commented on #171
- {file, Name, Path, ExtraHeaders} to do it. Would that works for you?
I believe it would.
As long as we are explicitly able to name the form's fileinput field name that we want to post our file to, it should be ok.

- can indeed use {file, Path, ExtraHeaders} to add the name
As for this, I don't think ExtraHeaders lets you name the fileinput field name that we want to post our file to? It seems m

[2015-03-20 08:53] benoitc commented on #176
mmm Is this a valid syntax though? Hackney is reusing the algorithm you can find in chrome. I will check the spec anyway.

[2015-03-20 09:19] #176 closed

[2015-03-20 16:52] tnt-dev opened #177 "http -> https redirection doesn't work when pool is not used"
[code]
[code]
[code]

[2015-03-27 15:55] seriyps commented on #155
Also, bear in mind new Erlang 18.0 API to protect from gzip bombs http://www.erlang.org/documentation/doc-7.0-rc1/erts-7.0/doc/html/zlib.html#inflateChunk-2

[2015-03-27 21:48] benoitc commented on #155
feature is coming. I am in the middle of adding some big improvments to hackney. I will probably include it right after.  Thanks for the hint.

[2015-03-30 14:53] gilv commented on #174
Thanks guys. it resolved it.

[2015-04-09 16:19] mdaguete opened #179 "Error in folsom metrics name"
Hello,

Currently, the metrics name isn't  the one in README, at least for folsom.

    [[hackney_pool,erestcl_hackney_pool,take_rate],
     [hackney_pool,erestcl_hackney_pool,queue_counter],
    [hackney_pool,erestcl_hackney_pool,in_use_count],
    [hackney_pool,erestcl_hackney_pool,free_count],
    [hackney_pool,erestcl_hackney_pool,no_socket],
    [hackney,total_requests],
    [hackney,finished

[2015-04-13 15:58] Nielsomat opened #180 "Overly zealous pathencode eats e.g. commas"
I may be misunderstanding the standards, but I believe that [`hackney_url:partial_pahtencode/2`](https://github.com/benoitc/hackney/blob/master/src/hackney_lib/hackney_url.erl#L367) is a little overzealous when it comes to escaping in that it escapes [sub-delims](https://tools.ietf.org/html/rfc3986#section-2.2) even though they should be legal to use unescaped in the path component and the escaped

[2015-04-13 16:26] Nielsomat commented on #180
Oh wow, never mind. Looks like this will be fixed in 1.1.1 :+1:. Closing.

[2015-04-13 16:26] #180 closed

[2015-04-19 12:40] kostya opened #181 "Support to bind local ip for transport"
seems this is an option {ip, inet:ip_address()} for gen_tcp:connect
http://erlang.org/doc/man/gen_tcp.html

[2015-04-19 15:49] jonhkr opened #182 "connect_timeout on url with TSLv1"
Hello everyone,

I'm trying to do a request on this url `https://qasecommerce.cielo.com.br/servicos/ecommwsec.do` but I'm receiving this error `{:error, :connect_timeout}`.
I think it is something related to `SSL` and `TSLv1`, does anybody know if it is and erlang issue and how to fix it?

Doing the request with `curl` works fine.

Thank you.

[2015-04-19 22:28] jonhkr commented on #182
I figured it myself, had to force the `tlsv1` in the `versions` option of `ssl`

[2015-04-19 22:28] #182 closed

[2015-04-20 16:55] rlipscombe opened #183 "Hackney hangs in connect"
I'm using hackney in my system tests. Each suite starts a web server (implemented in node.js) and then I use hackney to talk to that web server.

After a number of tests have run, hackney simply hangs, and I have to wait for CT to kill the test suite.

I use httpc:get() to ensure that the web server is up before running the tests, so that's not the problem.

[2015-04-20 17:00] rlipscombe commented on #183
It appears to be blocked in `gen_server:call(..., {checkout, ...}):

[code]

[2015-04-20 17:03] rlipscombe commented on #183
...but the pool appears to have not noticed the call, or the caller didn't notice the response:

[code]

[2015-04-20 17:03] rlipscombe commented on #183
Any ideas how I can debug this further?

[2015-04-21 07:10] rlipscombe commented on #183
Hmmm. If I reset hackney in `init_per_suite` (actually in a CTH), it seems to work fine:

[code]

[2015-04-21 09:19] benoitc commented on #179
hrm I don't follow, what should be the expected names? You mean in the metrics related to a pool?

[2015-04-21 09:22] benoitc commented on #183
Are you correctly releasing the sockets in your tests? Ie. by reading the body?

Anyway there is a new pool system coming amon other changes. I had to put that work in parentheses these last 2 weeks but I expect to release the new hackney version at the end of the week.

Amon changes the number of connection is not limited, the pool is a lot more simple on that point. Also lt improve the handling

[2015-04-21 10:57] rlipscombe commented on #183
I believe so. Is there any way to find out which sockets are still open / bodies still unread by poking around in the state? I've got a lot of tests, and it'd be useful to figure out which ones aren't cleaning up.

[2015-04-21 10:58] rlipscombe opened #184 "Add an option to return the body immediately, rather than a ref"
For simple REST-type calls, it'd be useful if there was an option I could pass that would read the entire response body and return it instead of the ref usually returned.

[2015-04-21 12:36] dcy opened #185 "exit value: {{badmatch,{error,eaddrinuse}}"
I got the error: "exit value: {{badmatch,{error,eaddrinuse}}",
And here is my code:
[code]

[2015-04-23 07:15] rlipscombe commented on #183
I guess my question wrt debugging this is:

1. How does the pooling work? Has the pool process gone back to `loop` because it's waiting for a worker to announce that it's done? If so, that looks like pool starvation. If not, then there's a missed message somewhere (which is possible -- CT has a habit of sending/receiving messages in the process under test...)
2. What, if anything, can I inspect to

[2015-04-27 12:01] sagungargs opened #187 "{error,closed} in hackney:send_request/4 call in epubnub:subscribe/4 | Problem in HACKNEY"
@benoitc Is this a bug in the improvement which is resurfacing again. ?

This is what I noticed
{1.0.6 - 2015/01/21, improvement: handle {error, closed} for HTTP 1.1 when no content-length is given).

I also did a dbg_trace to identify the problem and here is what I got

[code]

[2015-04-27 12:06] sagungargs commented on #187
Please can you help me in identifying the above problem. We have been thoroughly testing the code and have zeroed down on Hackney after using epubnub for Erlang?OTP. Please help us in identifying the problem and a solution. I am using OTP 17.5 version so that cannot be an isse

[2015-04-27 16:24] benoitc commented on #187
I am not sure to understand the issue there. Looks like the other end decided to close the request at some point. What is the improvement you're refereeing about?

[2015-04-27 16:25] benoitc commented on #179
bump

[2015-05-27 11:13] benmmurphy opened #189 "Add Option to Filter Dangerous IP Addresses"
Sometimes you need to make requests to URLs that are supplied by users. However, bad things can happen if you make connections to localhost/private network ip addresses/special multicast addresses. Because of DNS time-to-use time-to-check issues and support for SSL/VHosts it is not possible for a client to check if a hostname resolves to a safe ip address before passing it into hackney:request().

[2015-05-30 06:56] benoitc commented on #189
Hrm the link provided doesn't help much when it's about fixing the issue :)

So to be clear you want a way to pass an Hook used to blacklist IPs based on the URL resolving?

[2015-06-02 12:32] AntonFagerberg opened #191 "no case clause matching: {:error, :badarg}"
I'm load testing a system I've built in Elixir which is using Hackney to send requests. The problem is that sometimes (yes, unfortunately sometimes) when I crank up the number of requests executed concurrently I get a matching error which seems to happen because of a missing case clause inside Hackney:

[code]

I'm afraid I don't have any code in which I can replicate this issue, but please tell m

[2015-06-03 14:06] benmmurphy commented on #189
exactly

[2015-06-03 19:04] phuesler opened #192 "HTTPS error on R16B"
Hi,

I cannot get SSL/TLS to work and the error that I'm getting back is not saying much. Any pointers?

[code]

cheers

Patrick

[2015-06-03 21:24] ypaq commented on #179
I'm having trouble with metric names as well. The problem I see here is the use of a list of atoms for metric names. When using `{mod_metrics, folsom}` in combination with [folsomite](https://github.com/campanja/folsomite) the metric names are sent to a graphite host using a gen_tcp. Unfortunately, if the metric key is a list folsomite assumes the list is an iolist which fails for lists that conta

[2015-06-03 22:40] deadtrickster commented on #192
R16BWhat? R16B01 or R16B03? Or just R16B?
SNI client support was added in R16B03  http://www.erlang.org/download/otp_src_R16B03.readme

[2015-06-04 08:21] benoitc commented on #192
Also which version of hackney? Did you tried the latest master?

[2015-06-04 12:41] phuesler commented on #192
It is erlang version [R16B[(http://www.erlang.org/download_release/18) and hackney version 1.1.0.

I have tested with R16B03 and there it works as expected.

The project that I'm upgrading is running hackney version 0.12.1 and there SSL worked. That is the reason I assumed it to be a bug.

[2015-06-04 12:46] benoitc commented on #192
I assumed all R16 version were handling the `server_name_indication` but I was wrong then. For now it is tested using rebar:

https://github.com/benoitc/hackney/blob/master/rebar.config#L7-L9

but I guess the test needs to be smarter than that then. I think I should create a proper plugin to do that.

[2015-06-05 10:10] phuesler commented on #192
Small correction. I double checked and it looks it requires R16B03-1 to work, Rb16B03 still fails.

[code]

[code]

[2015-06-06 08:15] benoitc commented on #179
I will convert all metrics name in string in the next version. It should fix any issue you see.

[2015-06-06 15:15] ypaq commented on #179
:+1:

[2015-06-12 11:49] mkurkov opened #194 "Cookie module issues"
It seems that cookie parser in hackney_cookie uses 'Cookie' parser to parse 'Set-Cookie' header and 'Set-Cookie' builder to build 'Cookie' header. Also code seems to be outdated as it tries to parse comma as valid separator, that not the case in last  [RFC6265](http://tools.ietf.org/html/rfc6265).
As one particular problem that I'm run into is parser failing to proceed set-cookie with Expires attr

[2015-06-15 16:24] zweizeichen commented on #191
Yup - same problem here when increasing the number of requests/s. @AntonFagerberg Are you sure  this is a problem of Hackney and not the server we're querying?

[2015-06-15 16:27] benoitc commented on #191
is there any url I could test on? Or does it happen on any server?

[2015-06-15 17:23] zweizeichen commented on #191
Just set up a simple test and ran 10k parallel requests with HTTPoison and a local Cauldron server. Everything ran just fine. I then introduced random response delays on the server up to 10 seconds and it still worked flawlessly for 1k requests, I'm getting the error more than once per second when I'm running at around 150 requests per second for a while in a real-world scenario (public API server

[2015-06-16 08:04] benoitc commented on #194
Thanks for the ticket!

The respect for the accepted RFCs should certainly be improved. I will have  a closer look on it sometimes this week.

About the API can you give me more details about what you expect from it? The reason to distinct the `case` with our with attributes is that most of the time people don't put attributes. But the API can certainly be improved. About using maps I am not sure

[2015-06-16 08:18] benoitc commented on #183
Sorry somehow I didn't notice ay notification on that topic.

Pooling works that way in **1.x.x**:

1. A request is started, the socket is fetch from the pool or created if the max limit is not achieved
2. The socket is released in the pool when it's read completely (HEAD requests, 204, 304, redirection when handled, or by reading the body)

If the process handling the request goes down the socket

[2015-06-16 17:55] novabyte commented on #161
Hi @benoitc have you had time to consider this further? Is it still on the roadmap? Let me know if I can help in some way.

[2015-06-16 21:37] benoitc commented on #161
@novabyte yes it's definitely on the roadmap. I expect to release the 2.0.0 on 06/19 with it.

[2015-06-17 07:57] benoitc commented on #192
After discussing around it seems that I need to detect if the option is supported in the vm instead of relying on the version. At least on `1.1.1` . `2.0.x` will only be based on Erlang 17 and sup.

[2015-06-17 09:49] AntonFagerberg commented on #191
@zweizeichen No, not sure if it's Hackney or a bad behaving web server. I have tried to recreate this bug in every way I can think of today but I've been unable to do so...

[2015-06-19 19:02] JonahBraun opened #196 "error: "unknown ca" when talking to Twilio's API"
Erlang 17.5 on MacOSX.

Trying to GET https://api.twilio.com/ results in:
 12:36:48.062 [error] SSL: :certify: ssl_handshake.erl:1401:Fatal error: unknown ca

I've tried the latest master of hackney. Also, regenerated ca-bundle.crt w/ the provided perl script. Is ca-bundle.crt read at runtime or is it compiled in?

Using curl and Firefox on the same system to talk to Twilio work fine.

Please let

[2015-06-19 19:31] benoitc commented on #196
The certificate used by twillio is invalid:

![screen shot 2015-06-19 at 21 27 33](https://cloud.githubusercontent.com/assets/14498/8261356/1f01e474-16ca-11e5-992b-e93252365c56.png)

To bypass validation you can use the `insecure` setting:

    1> application:ensure_all_started(hackney).
    {ok,[crypto,asn1,public_key,ssl,idna,hackney]}
    2>  hackney:get("https://api.twillio.com").

    =ERROR

[2015-06-21 01:18] edgurgel commented on #161
I think had an issue related to this. Making requests with a difference of 5 seconds I would get `{error, closed}`, but if I waited 6-7 seconds a new connection would be used and less than 5 seconds the same connection is reused. It would be useful to reconnect/retry in this case.

[2015-06-21 22:43] JonahBraun commented on #196
Sorry, it looks like Twillio redirects in certain circumstances. This URL should work: https://api.twilio.com/2010-04-01/Accounts/

Thanks for the tip on using `insecure` as a temporary fix. I'm happy to try any troubleshooting steps you recommend. Thanks!

cURL:
[code]

Elixir (calling the latest Hackney):
[code]

With :insecure:
[code]

Cert in Chrome:
![monosnap 2015-06-21 16-42-13](https://clo

[2015-06-22 09:30] benoitc commented on #196
@JonahBraun thanks!

Though I am not sure yet why it is happening. I have updated the CA (even reusing the one from curl) and tried miscellaneous options but it didn't change anything. Working on it...

[2015-06-22 09:48] benoitc commented on #161
I am lagging behind my schedule....

@edgurgel mmm not sure to follow. Do you mean that if you're connecting < 5 sec you actually get an `{error, closed}` error? What is the keepalive of the server?

Anyway the coming [new connection pool](https://github.com/benoitc/hackney/commit/006ee80d7ea41821566399b94765e648ca5c711d) should address this issue. I expect now to make a release before the end of

[2015-06-22 10:34] edgurgel commented on #161
@benoitc , yeah I forgot to add that the server will keep-alive for exactly 5 seconds. I get a `{error, closed}` when the time between two requests is too close to 5. If it's 4 or 6 it's fine to reestablish the connection or reuse the previous.

[2015-06-22 11:02] deadtrickster commented on #196
maybe intermediate certificate is missing? so erlang unable to reconstruct the chain?

[2015-06-22 13:12] ericmj commented on #196
Erlang only check against the root certificate in the chain. If you want to stop traversing the chain at a trusted intermediate certificates you need to use the `partial_chain` option.

[2015-06-23 18:12] eminarcissus opened #197 "Multipart EOF don't have \r\n at the end"
I've used HTTPosion to do some multiparts uploads with hackney but found the server didn't recognized the request, and I've done quite a lot of tests in modifying src/lib/hackney_multiparts.erl to find out which part is the real culprit, finally figure out looks like the request issues from requests(python) have a \r\n at the end of request but not for the hackney lib.
here is my modification:

li

[2015-06-24 09:30] phongmh307 opened #199 "{error,enoent} error with multipart upload"
I'm trying to upload a sample text to Google Storage and it ran into this issue. I'm currently using Erlang 17.5

[code]

[2015-06-24 10:05] #199 closed

[2015-06-24 11:43] benoitc commented on #199
@phongmh307 what was the issue?

[2015-06-24 14:35] benmmurphy commented on #196
I believe this is because erlang doesn't support SNI. Apparently, support has been merged into the master branch and will be released in r18.

[2015-06-24 14:39] ericmj commented on #196
I don't think SNI support is required here, but I am not 100% sure. I am certain that many domains break when using the CA store hackney uses without using the `partial_chain` option.

[2015-06-24 14:59] benoitc commented on #196
@ericmj any example of usage of `partial_chain` in mind?

[2015-06-24 15:02] ericmj commented on #196
Only elixir code I am afraid: https://github.com/hexpm/hex/blob/master/lib/hex/api.ex#L59-L81.

It works but I don't know if it's correct. I haven't had anyone that know erlang ssl internals take a look it. It is all very poorly documented.

[2015-06-25 01:40] phongmh307 commented on #199
I tried to post data directly to Google Storage JSON API but unable to make it work. I will try it later

[2015-06-25 07:20] benoitc commented on #197
Thanks! I will have a look on it, since it can break others lib like couchbeam we should be careful on such changes.

[2015-06-25 08:38] benoitc commented on #196
I updated the PEMS to the one use in OSX (via keychain). It is now working.

Notes:
- I didn't have success with partial chains. Somehow it wasn't used at all.
- CAs from stock curl are not enough

[2015-06-25 09:26] benoitc opened #200 "Maintain our list of available trusted root certificates?"
Hackney used to build the root certificates file in PEM format using the data coming from Mozilla and the script from curl.  But it appears this list isn't enough for some domain and #196 has been fixed by extracting the trusted certificates from the Apple System Keychain. The full list is available there: https://support.apple.com/en-us/HT202858

Hackney may need have its own policy to trust some

[2015-06-25 09:35] ericmj commented on #196
I am afraid it is still broken. The reason it works with OSX's keychain is probably because it includes the root certificate of Twilio's certificate chain and curl's CA store only includes an intermediate certificate. The only way to get a fully working verification is to use `partial_chain` unless you use CA store which only have root certificates (which I doubt OSX's have).

curl and firefox use

[2015-06-25 09:41] benoitc commented on #196
Though I don't have any success using `partial_chain`, the function is not called at all, cf the thread on the mailing-list, and not sure why. Are you sure the function is called in the code above? If someone can give me a working example it would help.

I am not sure handling automatically partial chains is a good idea anyway, at list its usage should be explicit since in normal case you should t

[2015-06-25 09:45] benoitc commented on #196
@ericmj also partial_chain is not available in R16 so it's not a solution for 1.1x. I will try (if any success with it) to have it in 2.x. Let's do the quick fix first.

[2015-06-25 09:46] benoitc commented on #196
reopened the issue to see if we can achieved to have a better solution in 2.x

[2015-06-25 09:51] ericmj commented on #196
I am sure the function is being called, I just tested it for Hex. Can't give you more examples than the one above, sorry. I will take a look at the code in the ML later today.

By trusting a certificate you have implied trust for all certificates below. With PKIX you don't have trust everything in the chain, that's the point of it. What makes an explicitly trusted intermediate certificate less tru

[2015-06-25 09:55] benoitc commented on #196
well right. But I'm not including all the certificates, only the one trusted by Apple in Safari.

I will try to play more with this partial_chain feature.

[2015-06-25 09:58] ericmj commented on #196
There's a big chance that Apple includes many intermediates without their corresponding roots as well. I don't see why Safari would be different than every other HTTPS client. It's just chance that Apple happen to include Twilio's root.

[2015-06-25 10:14] benoitc commented on #196
@ericmj Well it's still odd Apple have it. But anyway I agree that a better solution should be found.

In term of action I see the following:
- how to handle partial_chain in version < 17 (for current 1.x version). A validate_fun may work but it will need some work. Maybe it could just be skipped for now in this version
- make partial_chain working... I don't understand why the function is not use

[2015-06-25 11:16] ericmj commented on #196
partial_chain was added around ~17.3, maybe that's why it didn't work for you? A specific root certificate policy is not needed if you use one of the stores linked from chromiums policy page and you update the store reasonably often so revoked certificates are updated for hackney for as well. curl is using mozilla's store for example.

[2015-06-25 11:45] #177 closed

[2015-06-25 12:24] #192 closed

[2015-06-25 12:26] phuesler commented on #192
:+1: :bow:

[2015-06-25 12:33] benoitc commented on #185
I am closing this issue since it is normal IMO:

Since you're not reading the body the sockets won't be put back in the pull. At some point you got over the system limits and the system can't reuse more ports. Which must explain your error.

If you think there is another issue let me know I will check.

[2015-06-25 12:33] #185 closed

[2015-06-25 12:58] benoitc commented on #194
@mkurkov i merged #193 . I will take care 2.0.0 about improving the specification support and API improvements. Since 2.0 will be 18 only, maps could be used there.

[2015-06-25 13:16] benoitc commented on #187
I tried manually with latest master to call the URLs but I wasn't able to reproduce it. Can you eventually update?

    3> hackney:get("http://pubsub.pubnub.com/subscribe/demo/hello_world/0/0").
    {ok,200,
        [{<<"Date">>,<<"Thu, 25 Jun 2015 13:07:32 GMT">>},
         {<<"Content-Type">>,
          <<"text/javascript; charset=\"UTF-8\"">>},
         {<<"Content-Length">>,<<"24">>},

[2015-06-25 13:18] benoitc commented on #191
me either. And I tried hard.... can you try the latest master?

[2015-06-25 13:33] mkurkov commented on #194
@benoitc great! Regarding API, mostly I need silent cookie support - session should keep them, expire and use properly with respect to specs, manipulation of cookie store could be useful though. I think internally it can use records for cookie information, as it has well defined structure without need of dynamic maps features.

[2015-06-25 13:58] benoitc commented on #184
I added the option [with_body] to do it. It will be available in next release:

    2> hackney:get("https://friendpaste.com", [], <<>>, [with_body]).
    {ok,200,
        [{<<"Server">>,<<"nginx/0.7.62">>},
         {<<"Date">>,<<"Thu, 25 Jun 2015 13:48:27 GMT">>},
         {<<"Content-Type">>,<<"text/html; charset=utf-8">>},
         {<<"Transfer-Encoding">>,<<"chunked">>},
         {<<"Connectio

[2015-06-25 14:02] #184 closed

[2015-06-25 14:23] Kozlov-V opened #201 "Error compile"
==> hackney (compile)
Dependency not available: idna-1.0.2 (undefined)
Dependency not available: ssl_verify_hostname-1.0.5 (undefined)

[2015-06-25 14:32] benoitc commented on #201
I don't reproduce it. What's your command line?

[2015-06-25 14:50] #201 closed

[2015-06-25 14:53] benoitc commented on #201
So this error was due to the new usage of rebar3  which I now advise. 2.0 will require it.

[2015-06-25 14:53] benoitc commented on #201
thanks for the feedback anyway... I would have forgotten :)

[2015-06-25 17:26] Kozlov-V commented on #201
@benoitc Benoit, thank you!

[2015-06-26 21:38] deadtrickster commented on #200
I think it depends on usage. For example if I'm building API client I will be using certificates provided by vendor itself (like here https://github.com/stripe/stripe-ruby/tree/master/lib/data).
For general case I believe using system-wide repository can be a good idea.

[2015-06-27 09:42] benoitc commented on #196
@ericmj i tested it on 17.5.6 and 18 with same results so I am not sure yet. I am probably doing something wrong. Will put more cycles on it over the coming week.

As for the certificate I agree. I will probably continue to generate them from apple store and add the needed makefile line for all. It will still possible to use the mozilla store.

[2015-06-28 21:50] unitymind commented on #191
Similar issue, but different pattern matching case:

[code]

Reproducing: trying to get request using **http** schema in url (e.g. http://127.0.0.1:2376) where is 2375 port is TLS/SSL. If change url to **https** schema - works as expected.

Sometimes no information about http or https schema on the end-port. The best solution: transparency switch from http to https. But just handle this case in pa

[2015-06-29 04:06] benoitc commented on #191
@unitymind thanks for the tests. The error should happen during handshake then, I will have a look on ho to catch the error in the coming release.

[2015-06-29 04:26] unitymind commented on #191
Currently I am use workaround:

[code]

[2015-06-29 04:47] benoitc commented on #191
Thanks :) The error is happening on connect, with the new connection api it
will be easier to fix it. New release is planned this week. it will be
partly based on the `hackney_socks` release.
On Mon 29 Jun 2015 at 06:26 Vitaliy V. Shopov <notifications@github.com>
wrote:

[2015-06-29 05:56] benoitc commented on #200
unfortunately not all vendors make them accessible. For example on osx they
have to be exported from keychain. Thinking more of it you should have the
same experience using hackney on each platform wherue Erlang is supported.
It imply then to ship the same default store. The question is more how to
build it now.
On Fri 26 Jun 2015 at 23:38 Ilya Khaprov <notifications@github.com> wrote:

[2015-06-29 15:36] unitymind commented on #191
Thanks for your efforts! )

[2015-07-03 19:08] jasonwebster opened #203 "Discrepancy between docs and implementation re: `use_default_pool`"
The README implies that in order to use the default pool, you must first set the application env key `use_default_pool` to true: https://github.com/benoitc/hackney/blob/master/README.md#use-the-default-pool

However, in the code, the default is true:
https://github.com/benoitc/hackney/blob/b5282d1e911fc5b8b70d47ac6bc7f577284a2591/src/hackney_connect/hackney_connect.erl#L266-L272

And the .app file

[2015-07-08 22:56] awetzel opened #206 "dual-stack resolution and connection strategy"
Hi Benoît,
The destination ip address selection in hackney may be problematic in some dual stack environment. Since behavior in these environment is not configurable in hackney and sometimes incompatible with other libs, I will describe all of this below.

The address selection algorithm between ipv6 and ipv4 is currently the combination of
https://github.com/benoitc/hackney/blob/4584f8798277ec756

[2015-07-14 13:44] egobrain opened #211 "Xref issues"
$ ./rebar3 xref
===> Verifying dependencies...
===> Compiling hackney
===> Running cross reference analysis...
===> Warning: hackney_exometer_metrics:delete/1 calls undefined function exometer:delete/1 (Xref)
Warning: hackney_exometer_metrics:new/2 calls undefined function exometer:ensure/3 (Xref)
Warning: hackney_exometer_metrics:notify/3 calls undefined function exometer:update_or_create/4 (Xref

[2015-07-15 08:29] #211 closed

[2015-07-16 23:59] jfis opened #214 "redirects not followed when streaming the request body"
maybe this is intentional, or I'm missing something?

v 1.2.0
please forgive elixir syntax, not sure how to load hackney into erl
## normal request returns redirect

[code]
## with follow redirect

[code]
## with stream request body

[code]
## post

[code]

(destination taken from https://github.com/benoitc/hackney/issues/170)

[2015-07-17 09:44] hamann opened #215 "'unknown ca' with https://data.mixpanel.com"
hackney: 1.2.0
ssl_verify_hostname: 1.0.5
otp: 17.5

We cannot make requests to https://data.mixpanel.com with hackney. Browsers don't have any problems with the certificates (chrome,ff,safari..)

[code]

whereas https://mixpanel.com works
[code]

The difference between the two domains is that data.mixpanel.com is providing a (wrong?) root certificate. Maybe that's the problem here?

ssllabs tests

[2015-07-20 07:52] hamann commented on #215
I can reproduce this error if a server is providing a root certificate. We tested it with our wildcard certificate and included [this bundle](https://knowledge.rapidssl.com/support/ssl-certificate-support/index?page=content&actp=CROSSLINK&id=SO26459)

[2015-07-20 08:17] benoitc commented on #215
@hamann what do you mean by `a server is providing a root certificate` exactly? Trying to figure what I should fix at the end. The error looks similar to #196 for me. There should eb an intermediary step in hackney to validate if we have the whole chain or not. something like it.

[2015-07-20 08:27] benoitc commented on #206
@awetzel Thanks for the ticket and the description of the issue it helps :)

 I had a look at the [simple happy eyeball strategy](https://tools.ietf.org/html/rfc6555#section-6) and it seems pretty easy to implement. So let's add it for the next release. I will also propose a way to force to ipv6 or ipv4 when needed.

[2015-07-20 08:49] hamann commented on #215
@benoitc I mean when the server is configured to send the main, intermediate and root certificate. Afaik the root cert isn't necessary and should be ignored by clients, see [1], but some servers are doing it anyway, like https://data.mixpanel.com, or https://track.gaug.es for which hackney is failing, too.

Please have a look at the results from ssllabs.com as posted above and compare the certific

[2015-07-21 00:03] awetzel commented on #206
thanks a lot to take it into consideration, your work is very helpful so happy to help a little. I missed it but there is an erlang implementation referenced in the RFC : http://www.viagenie.ca/news/index.html#happy_eyeballs_erlang

[2015-07-21 15:19] hamann commented on #215
Some update to this...
I'm no SSL expert but I think know what's happening here.

[code]
This reports three certificates. The main, ending on `CLTABcU=`, the intermediate (`mJMcCaY`) and a root cert `7mHyhD8S`.

I've put the reported root cert in a file to get the fingerprint:
[code]
, opened a browser to get the sha1 fingerprint for 'Geotrust Global CA' => 'DE 28 F4 A4 FF E5 B9 2F A3 C5 03 D1 A3

[2015-07-22 08:52] tuscland commented on #155
+1 :)

[2015-07-23 13:37] #196 closed

[2015-07-23 13:38] benoitc commented on #215
fixed via 99434ee79076c014945e0785101c0d229515fb78 . Thanks for all the feedback!

[2015-07-23 13:38] #215 closed

[2015-07-23 14:04] benoitc commented on #196
thanks all for the useful feedback :)

[2015-07-27 13:05] RJ opened #219 "Don't use infinity as default timeout"
There is a default 'infinity' `recv_timeout` in [hackney:request](https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney.erl#L245)

infinity makes a poor default, imo.

[2015-07-27 14:24] timCF opened #220 "OTP18 compile error"
hi
it not compiles on OTP18

[code]

[2015-07-27 14:27] #220 closed

[2015-07-27 14:29] benoitc commented on #220
what was your fix ? :)

On Mon, Jul 27, 2015 at 4:27 PM timCF <notifications@github.com> wrote:

[2015-07-27 18:02] timCF commented on #220
mix deps.update httpoison

:)

[2015-07-28 06:07] benoitc commented on #220
ahhhh OK, thanks for the feedback!
On Mon 27 Jul 2015 at 20:02 timCF <notifications@github.com> wrote:

[2015-07-29 08:02] edgurgel commented on #219
Interesting that I got a similar comment on HTTPoison https://github.com/edgurgel/httpoison/issues/64

[2015-07-29 13:17] #219 closed

[2015-07-29 13:41] benoitc commented on #219
It's now set to 5s :) Not sure right now what is the best value for it.

[2015-07-29 13:47] benoitc commented on #219
Also in the next version it shouldn't freeze anymore the pool.

[2015-07-29 13:56] #203 closed

[2015-07-29 13:56] benoitc commented on #203
Thanks!

[2015-07-29 13:57] benoitc commented on #200
for now let just use the mozilla list now that partial certificates are handled.

[2015-07-29 13:57] #200 closed

[2015-07-30 11:27] RJ commented on #219
@benoitc great :)
did you make another change related to the pool freezing, or are you just referring to the default timeout?

for the record, we started seeing connections (to s3) hanging indefinitely after upgrading from 0.13.0 to 1.1.0

[2015-07-30 13:30] benoitc commented on #219
Pool locking will be handled in  the next release. Basically there won't be
any locking or freezing waiting for a connection to be released. Instead we
will only make sure to maintain a max of reused connection with a maximum
time given to a connection to be kept alive. This version will be available
sometimes this week.

On Thu, Jul 30, 2015 at 1:27 PM Richard Jones <notifications@github.com>
wro

[2015-08-01 06:47] benoitc commented on #214
You should go next to actually redirect the reauest. Redirection should probably handled before though. It will be fixed in the next release.

[2015-08-03 12:50] seantanly commented on #171
:+1:

Any chance {file, Name, Path, ExtraHeaders} will be implemented and released soon? Not being able to name the file input field name seems like a missing critical feature.

Meanwhile, I have tried using ExtraHeaders with [{<<"name">>, <<"source">>}], but can't that to define the file input name. Is there a workaround for this?

[2015-08-03 14:16] benoitc commented on #171
@seantanly Not sure if there will be another option yet.  Anyway, you can change the name by setting the disposition header:

https://github.com/benoitc/hackney/blob/master/src/hackney_lib/hackney_multipart.erl#L232

Something like

``erlang
Disposition = {<<"form-data">>,
                       [{<<"name">>, <<"file">>},
                        {<<"filename">>, <<"\"", FName/binary, "\"">
[code]

[2015-08-03 14:51] seantanly commented on #171
Cool, that works, thanks for the quick reply!

Nevertheless, I do hope the custom input name support will be added, as it is quite a common use case .

Also, looking at the [README#Send a body](https://github.com/benoitc/hackney#send-a-body), there is no mention of the {file, Path, Disposition, ExtraHeaders} option. It seems to be a mouthful to explain to new users how to achieve this with the cod

[2015-08-11 17:36] cs-codesocial opened #223 "Async https request from behind proxy fails."
Erlang 18.0 / Elixir 1.0.5

```:hackney.request(:get, "https://example.com", ["Connection": "keep-alive"], [], [:async, insecure: true, proxy: "http://127.0.0.1:9001"])```

[code]

Is this supported? Or am I doing something wrong here?

Thanks

[2015-08-11 18:45] vishnevskiy opened #224 "{:tcp, ...} message sent to wrong process when using async"
I had this problem on hackeny 1.1.0 and hoped it would be fixed by upgrading to 1.3.1 but still occurring. I don't have a repro case and it just occurs randomly in production.

Basically I have a process that uses hackney to watch etcd node changes and it will randomly stop doing anything and in my log I will have a "Unexpected message: {:tcp, #Port<0.2975>, etc..." so it means its somehow hitting

[2015-08-11 19:06] benoitc commented on #224
do you have any message before ? can you share a snippet of code?
On Tue 11 Aug 2015 at 20:45 Stanislav Vishnevskiy <notifications@github.com>
wrote:

[2015-08-11 19:08] benoitc commented on #223
sounds like a bug. will try to reproduce it until tomorrow
On Tue 11 Aug 2015 at 19:36 cs-codesocial <notifications@github.com> wrote:

[2015-08-11 19:09] vishnevskiy commented on #224
https://gist.github.com/vishnevskiy/22b0cf68593320ce075a

That is the code of the process that is having a problem.
Looks like "Unexpected message: " is within the hackney code.

[2015-08-11 19:20] cs-codesocial commented on #223
Hey benoitc, thanks for the quick response.
If it helps I've tested under OSX 0.10.3 as well as freebsd 10.1.
Don't have access to a linux box today, but I should be able to run a quick test tomorrow morning.

Thanks again.

[2015-08-12 04:23] zyro opened #225 "Custom client certificate and CA"
I'm integrating an external service into my application and due to constraints from the 3rd party I'll have to use:
* A custom client certificate, similar to `cURL`'s `-E` or `--cert` option.
* A custom CA, similar to `cURL`'s `--cacert` option.

Is there a way I can specify these? Ideally this would only be for requests going to this remote host, of course.

[2015-08-12 05:45] benoitc commented on #225
yea you can pass any ssl options at the request using the ssl_options
setting. it.accept the list of properties described in the ssl module.
On Wed 12 Aug 2015 at 06:23 Andrei Mihu <notifications@github.com> wrote:

[2015-08-12 12:18] cs-codesocial commented on #223
Same result on ubuntu lts using hackney master.

[2015-08-13 09:20] benoitc commented on #225
@zyro did it answer to your question?

[2015-08-13 09:21] benoitc commented on #223
what is the proxy used?

[2015-08-13 10:07] cs-codesocial commented on #223
Mitmproxy or any regular squidproxy setup.

[2015-08-13 14:40] flupke opened #226 "Implementing follow_redirect in async requests is hard"
`To` in `{redirect, To}` and `{see_other, To}` is passed untransformed in async requests, and so it may be a relative path.

The naive implementation to follow the redirect is to start another async request with `To`, which leads to a confusing `exit(badarg)` somewhere in `gen_tcp` if you have a relative redirect.

The correct implementation is to transform the relative URL to an absolute URL.

I'

[2015-08-13 19:18] zyro commented on #225
Yep, looks like exactly what I need. Thanks!

[2015-08-13 19:18] #225 closed

[2015-08-15 01:21] vishnevskiy commented on #224
Any ideas? :(

[2015-08-15 16:14] benoitc commented on #224
i am woring on an update this we. should land on monday anyway.

- benoît

On Sat 15 Aug 2015 at 03:21 Stanislav Vishnevskiy <notifications@github.com>
wrote:

[2015-08-15 21:14] vishnevskiy commented on #224
Thank you, looking forward to it.

[2015-08-17 19:06] zyro commented on #183
@benoitc Is using the `with_body` option on every request a decent way to ensure this happens?

[2015-08-18 10:14] tnt-dev opened #229 "Allow force 303 redirects if the method is not a POST"
Now non-POST 303 redirects are forbidden and client gets `invalid_redirection` error. Maybe we can allow this when `force_redirect` is enabled?

[2015-08-20 09:09] ajiyoshi-vg opened #230 "hackney_pool leaks sockets when half-closed sockets are checkin-ed"
(I fixed this issue. I'll send a Pull Request for this problem later.)

I found my system's file descriptor leak.`lsof` result below. One of the `can't identify protocol` meanings is "it's a half closed socket".
half-closed sockets will usually disappear from `lsof` result soon, but we have some FDs that are never removed and leak forever.

[code]

and I found that these FDs are owned by hackney_p

[2015-08-20 12:56] cs-codesocial commented on #223
Hey benoitc, any updates on this?

[2015-08-20 22:05] benoitc commented on #223
@cs-codesocial i will release hackney 1.3.2 tomorrow that should fix it.

[2015-08-20 22:07] #230 closed

[2015-08-20 22:09] benoitc commented on #229
What would be your use case for it?

[2015-08-20 22:17] benoitc commented on #183
zyro using this option will have the same result as getting the body. So yes once the body is fetch the socket is released to the pool.

[2015-08-21 09:37] #223 closed

[2015-08-21 19:27] benoitc commented on #214
Did some test. I was wrong. Since you are streaming the body, it's not kept around and there are no way yet to resend it. So the status is simply returned and you should handled the redirection by yourself.

At that point I am not sure what to do:

1. Keep the current way, ie simply return the status.
2. As above but to ease the work we may want to retrieve directly the body and release the socket

[2015-08-21 19:30] benoitc commented on #224
Are you using a proxy? I wonder if it's not the same issue found in #223 ?

[2015-08-21 19:31] benoitc commented on #224
Also could you test witht the latest master ?

[2015-08-21 19:35] jfis commented on #214
i think it's probably best to keep it as is and not allow :stream with :follow_redirect, but it should be noted in the docs

[2015-08-21 19:35] benoitc commented on #229
I mean it doesn't seems legal to get a 303 for anything but post. But we can add it for sure. Just curious when it happen, I never encountered this issue

[2015-08-21 19:38] benoitc commented on #181
this option is available in latest master.

[2015-08-22 07:55] vishnevskiy commented on #224
I was not using a proxy. Would this have any effect on master still?

[2015-08-22 08:17] benoitc commented on #224
i am not sure. the message come from the hackney_stream module. However I added a way to trace it in the latest master. Maybe you could try to reproduce it with the trace enabled?  To enable the trace you can do it somwhere in your code or in the shell by running the following command line:

    hackney_trace:enable(max, io)

[2015-08-22 19:00] vishnevskiy commented on #224
Alright I will try it out in our next release.

[2015-08-22 20:58] zyro commented on #155
+1 Would be great to see this handled transparently for both requests and responses.

[2015-08-25 05:21] benoitc commented on #224
@vishnevskiy ok let me know. I think it is solved in current master. I will release the 1.3.2 today anyway.

[2015-08-26 11:18] tnt-dev commented on #229
In my code I make requests to different URLs and one of them returns 303 after GET. It's not my server and I can't change something on it but I have to check its state and it is problem for me when I get `{error, ...}`. So it would be convenient to have a way to handle this situation as normal.

[2015-08-26 14:37] eproxus opened #233 "Clarification: what happens to a lost body ref?"
I couldn't find anything in the documentation about `hackney:body(BodyRef)` being mandatory or not. What happens if I don't call it for a response I'm not interested in?

[2015-08-27 09:30] eproxus opened #234 "Hackney 1.3.2 is not on Hex.pm"
Sorry if this is something you already have planned to do, I just noticed that Hackney 1.3.2 is [missing on Hex.pm](https://hex.pm/packages/hackney).

[2015-08-27 09:59] benoitc commented on #234
i will have a look at it. Thanks for the notice

[2015-08-27 13:53] benoitc commented on #233
Losing body_ref? In which case?

Anyway, a request is living until the process is alive. If you loose the request reference, data will be kept in the current process (in 1.3.x) and a metadata will stay in the hackney_manager ETS. If the process exit all metadata and buffers will be closed. The socket will also be closed.

Hope I answered to your question.

[2015-08-27 13:55] eproxus commented on #233
So not calling `hackney:body(BodyRef)` from a long running process is usually a bad idea? (Leading to some temporary memory leak)

[2015-08-27 14:00] benoitc commented on #233
If you don't call it the socket will never be released to the pool neither closed. It may also be the cause of a memory leak if many process are doing the same. Note that the buffer is relatively small since hackney is streaming all the request.

If you don't need the body, you can either fetch it when doing the request using the `with_body` option , or cal the function `hackney:skip_body(Ref)` if

[2015-08-27 14:05] benoitc opened #235 "add an API to skip the body asynchronously"
While answering to #233 it came to my mind that we could have an option to skip the body asynchronously. The following can be added to the API:

- add the `skip_body` option to a request. It will read the full body and discard it asynchronously. The request will only return `{ok, Status, Headers}` like an `HEAD` request.
- add `hackney:skip_body/2` supporting an `async` option to read the full bod

[2015-08-27 14:14] eproxus commented on #233
Make's sense. Thank you for the clarification.

[2015-08-27 21:55] edgurgel commented on #235
:+1:

[2015-08-27 21:57] edgurgel commented on #234
I was sending PRs for each version: https://github.com/hexpm/community/pulls?q=is:pr+author:edgurgel+is:closed

We can move the ownership to @benoitc if wanted. I'm pretty sure @ericmj and @MSch would love :)

I supposed https://github.com/hexpm/rebar3_hex is totally capable of dealing with this from the erlang side.

[2015-09-01 08:51] eproxus commented on #183
I had a similar problem, not getting bodies for all requests thus consuming the whole pool eventually. Would it be possible to raise an exception in this case in stead of timing out forever? That would have helped a lot in troubleshooting.

[2015-09-01 10:41] ericmj commented on #183
I've also had similar problems. I've worked around it by doing all requests without a pool.

[2015-09-01 10:49] lexmag commented on #183
I think we need to use anything else instead of `infinity` timeout value on [checkout here](https://github.com/benoitc/hackney/blob/master/src/hackney_connect/hackney_pool.erl#L67).

The problem comes from `noreply` [return here](https://github.com/benoitc/hackney/blob/master/src/hackney_connect/hackney_pool.erl#L262) what makes `gen_server:call/3` to hang with `infinity` timeout.

[2015-09-01 11:51] ericmj commented on #183
@lexmag That's not a solution to the underlying problem (if I understand the problem that is). The problem is that all sockets in the pool are busy because they hang somewhere, the pool is essentially empty forever. Adding a timeout to the checkout wont help because the checkout would never work until the pool is restarted.

Non-infinity timeouts are almost always the best idea, but with this desi

[2015-09-01 12:06] lexmag commented on #183
@ericmj I'm actually not saying it'll solve this problem anyhow. :smile:
I just replied how we could improve feedback to user. Sorry if I wasn't clear on this.

[2015-09-01 13:33] benoitc commented on #183
right now the pool expect that all requests release or close their sockets . the max limit really means that you can't have more sockets out of the pool until you release them or notify the pool to ignore them (close). this is how it was redesigned years ago to answer to some users needs (not running out of fds).

I do not think it should be handle that way today. There are probably better solutio

[2015-09-04 21:22] okeuday commented on #71
Might want to look at https://github.com/erlang/otp/pull/612

[2015-09-05 18:26] tjgillies opened #238 "Trying to send emoji from HTTPoison"
Trying to send emoji via HTTPoison, but https://github.com/benoitc/hackney/blob/master/src/hackney_client/hackney_request.erl#L338 is preventing me because emoji characters don't translate to valid iolists

[2015-09-05 19:19] tjgillies commented on #238
User error I was passing in a char list from the beginning

[2015-09-05 19:19] #238 closed

[2015-09-05 22:14] benoitc commented on #234
sorry missed that ticket... @edgurgel could it be done directly from the hackney repo? I am fine if you're doing it for now. Full rebar3 support will come in next major version. Which should come very soon now.

[2015-09-05 22:15] benoitc commented on #233
@eproxus thanks for the feedback! Closing the issue now. Feel free to comment if you have more questions :)

[2015-09-05 22:15] #233 closed

[2015-09-05 22:16] benoitc commented on #224
bump

[2015-09-05 22:18] vishnevskiy commented on #224
Sorry have not had a chance to deploy to prod due to busy last 2 weeks. I will get back to you about this as soon as I can.

[2015-09-07 01:12] vishnevskiy commented on #224
Looks like someone else changed it so we don't use async and just have another process do a blocking call to resolve the problem and that is in prod now. I was only able to repro this bug before on prod due to the high concurrency of things going on. I am probably not going to be able to do that without reverting our code. Feel free to close this if no one else is reporting it.

[2015-09-07 09:04] edgurgel commented on #234
It seams totally doable if we use rebar3 and rebar3_hex. We can set this up for the next major version :+1:

[2015-09-08 07:50] benoitc commented on #234
Good. Let's keep open this ticket as a reminder.

@edgurgel can you in the mean time send the last stable version to hex? would be good to have it since it solves many issues experimented by some users.

[2015-09-08 07:52] benoitc commented on #224
@vishnevskiy ok no pb.

Anyway I am pretty sure that the issue has been solved in last stable release. Also the problem will definitely go in next release with the connections supervision improvement. So closing the issue.

[2015-09-08 07:56] benoitc commented on #71
@JonGretar no but looking at https://github.com/msantos/gen_unix it should be feasible to add it. I will add it once the work on the pool engine is done

[2015-09-08 07:59] edgurgel commented on #234
The last one was already sent by someone else and it was already published: https://hex.pm/packages/hackney/1.3.2

[2015-09-08 08:15] benoitc commented on #234
pretty cool :)

[2015-09-08 16:16] cs-codesocial opened #239 "hackney_http_proxy:connect_proxy/5 alternative."
Hey benoitc,

"hackney_http_proxy" seems to be missing/removed.
Is there any other way to establish connection references which can be reused in
subsequent serial requests over a proxy?

Thanks

[2015-09-09 13:43] smeevil opened #240 "Ssl certificate verification failing for a _valid_ cert"
Hi there,

Using :

[code]

Results into an error :

[code]

While curl verification shows the cert is actually valid :

[code]

[2015-09-09 15:16] benoitc commented on #240
i have the same issue on Erlang 18. I checked and one of the certificate at least is in the list of supported certificate so not sure what is happening for now. Working on it anyway.

[2015-09-09 15:18] benoitc commented on #239
`hackney_http_connect`is replacing it. What are you trying to do exactly?

[2015-09-10 09:05] benoitc commented on #240
It seems related to Erlang or maybe to our certificate file (but that one should be the same than the one in curl... :

    15> ssl:connect( "rest-api.pay.nl", 443, [{verify,verify_peer},{server_name_indication,"rest-api.pay.nl"},{depth,2},{cacertfile, "priv/ca-bundle.crt"}] ).

    =ERROR REPORT==== 10-Sep-2015::11:01:31 ===
    SSL: certify: ssl_handshake.erl:1476:Fatal error: bad certificate

[2015-09-12 12:28] benoitc commented on #239
did it answer to your question?

[2015-09-12 13:58] #234 closed

[2015-09-12 16:28] cs-codesocial commented on #239
Hey benoitc,

apologies for the late reply, been a bit busy over here.
Yes, this answers it, was just a little confused as the readme mentioned a non-existing function.
Your pointer + looking at the sources got me sorted out though.

Thanks again

[2015-09-13 10:12] benoitc commented on #239
@cs-codesocial np, thanks for the feedback :) The README will be edited ASAP. There will be be a lot of change sin coming 2.0 related to #243 .

Closing it and keeping a link in #243

[2015-09-13 10:12] #239 closed

[2015-09-14 17:44] flupke commented on #224
I still encounter this bug in production with hackney 1.3.2. Here is one I just had while running a test (it happens maybe on 1/10 run, it's a simple test with 1000 concurrent async queries)

[code]

[2015-09-14 17:50] flupke commented on #224
Hmm sorry this is my code, I'll try removing the catch-all clause in my receive.

[2015-09-14 17:55] flupke commented on #224
If I remove my catch-all clause it ends up with a timeout, and errors I see in production are hackney error logs:
[code]

[2015-09-15 07:45] flupke commented on #224
I should be able to extract the code and make a small (Elixir) app that illustrates the bug if you want.

[2015-09-15 13:01] benoitc commented on #187
I didn't reproduce the issue also no feedback since. Closing the issue no. Feel free to open a new one that link to it if it can be reproduced. Thanks for the ticket anyway!

[2015-09-15 13:01] #187 closed

[2015-09-15 14:04] benoitc commented on #224
@flupke yes please :) I will try it ASAP!

[2015-09-15 14:10] benoitc commented on #163
The pool have been improved to make sure the connections are correctly closed in the poo, I failed to reproduce. Closing that issue.

If there is anything new to add please feel free to ask me to reopen the issue.

[2015-09-15 14:10] #163 closed

[2015-09-16 08:48] flupke commented on #224
To reproduce:
[code]
Note that I don't always get the same bug, sometimes just an error log from hackney followed by a timeout in Task.await:
[code]
And sometimes the unexpected message reaches my code:
[code]

[2015-09-16 09:21] flupke commented on #161
I implemented retries in my download code, it's fairly complete (backoff factor + number of retries, or user-defined function), feel free to use it if you want: https://github.com/flupke/hackney_message_bug/blob/master/lib/hackney_message_bug.ex

[2015-09-16 12:33] benoitc commented on #224
@flupke hrm i didn't reproduce it yet. Can you tell me which OS you're using?

[2015-09-16 12:36] flupke commented on #224
Ubuntu 14.04 with erlang 18

[2015-09-16 12:37] benoitc commented on #224
Thanks! ok let's try with an ubuntu then :)

[2015-09-18 11:02] shurkus commented on #240
I had a similar problem.
Sometimes sertifekate had ^L^K instead of ^S^N.

The solution was to change in public_key
(/usr/local/lib/erlang/lib/public_key/asn1/OTP-PUB-KEY.erl)
lines
%%================================
%%  CommonName
%%================================
'enc_CommonName'(Val) ->
    'enc_CommonName'(Val, [<<19>>]).

to

%%================================
%%  CommonName
%%===============

[2015-09-28 07:47] X4lldux commented on #181
How to use it then?
I tried to pass {ip, inet:ip_address()} using `connect_options` in `hackney:request` but that didn't work out.

[2015-09-28 08:51] benoitc commented on #181
hrm sorry I closed it too fast.  Indeed the option isn't exposed yet:
https://github.com/benoitc/hackney/blob/master/src/socket/hackney_tcp_transport.erl#L30-L31

 Will fix that in the coming release.

[2015-09-30 05:41] flupke commented on #224
I couldn't reproduce this on OSX either, so I tried with Vagrant and didn't reproduce until I upped the number of CPUs for the box in the `Vagrantfile`:
[code]

[2015-10-01 21:33] silviucpp commented on #183
Hello,

Any news on this problem or workaround . We are using the library in production and we have found a lot of processes blocked by this issue

Silviu

[2015-10-02 03:33] benoitc commented on #183
@silviucpp do you let any requsts open? (ie not reading the socket? i have a coming patch but it took more time than expected.

[2015-10-02 05:38] silviucpp commented on #183
No I don't :)

I just call :

hackney:request(post, Url, Headers, Payload, Options),

And this method is never return time to time. Looking to the process where is blocked I see
gen_server:call(..., {checkout, ...})

Silviu

[2015-10-02 06:31] skirino opened #246 "Unwanted encoding of "$" in URL path"
Similar to https://github.com/benoitc/hackney/issues/176 but this time is about `$`.

I'm trying to access to a URL whose path contains `$`, e.g.
[code]
hackney converts `$` to `%24` before sending request and results in 404 NotFound error.

For reference:
- http://tools.ietf.org/html/rfc3986#section-2.2
- http://stackoverflow.com/questions/20050114/what-does-dollar-sign-do-in-url
- https://github

[2015-10-02 06:48] rlipscombe commented on #183
`hackney:request(post, Url, Headers, Payload, Options)` leaves the request open. You need to read the request body by using either the `with_body` option, or by calling `hackney:body(Ref)`.

[2015-10-02 06:50] rlipscombe commented on #183
fwiw, I finally found one spot in the system tests (mentioned in the original description) where we weren't correctly reading the body. Being able to control the timeout, or being able to inspect the pool statistics would be incredibly useful.

[2015-10-02 07:15] silviucpp commented on #183
Thanks for feedback ! make sens we are reading the body only in case the result was 20x but not for errors :)

I will review my code

[2015-10-02 07:29] silviucpp commented on #183
I checked my code and looks like:

<pre>
{ok, StatusCode, _RespHeaders, ClientRef} = hackney:request(Method, Url, Headers, PayloadJson, Options),
{ok, Body} = hackney:body(ClientRef),
</pre>

So the body is not executed only if:

1.the hackney throw an exception
2.the expression not match (this happen when you have connection time out).

I don't think in this case you need to call body/1...
So I'm

[2015-10-02 19:35] benoitc commented on #183
@rlipscombe you can use the metrics but it can be definitely improved. Which kind of timeout? the connect timeout?

@silviucpp how many connections do you requests at the same time? Current implementation block at max pool size until a connection become available.

i will have a new connection system available for tests by tomorrow anyway. will update the thread asap with it

[2015-10-04 05:24] edgurgel opened #247 "hackney_pool:find_pool/2 adds new child to supervisor"
Is it intentional that [`find_pool/2`](https://github.com/benoitc/hackney/blob/master/src/socket/hackney_pool.erl#L193) starts a new child if the pool does not exist?

I'm asking this cause I thought that the "correct" ways would be to include the child to the user's supervisor or to call `start_pool` before using it.

[2015-10-04 12:39] benoitc commented on #247
Good catch...

Coming version (it's a matter of hours) of the pool doesn't start the pool if it is not existing. Though the new function `start_pool/2` start it in the new `hackney_pool_sup` supervisor.  I guess i could add a `pool_spec/2` function that create a specification to add to your own supervisor. Would that work for you?

[2015-10-04 20:41] edgurgel commented on #247
Yes! That would work! :+1:

[2015-10-05 22:07] silviucpp commented on #183
Hello,

My pool looks like:

ok = hackney_pool:start_pool(?HACKNEY_POOL, [{timeout, 150000}, {max_connections, 20}, {follow_redirect, true}, {max_redirect, 3}]),

I see processes freezed in `gen_server:call(..., {checkout, ...})` for more than 10 days and I'm sure we never run 20 connections at the same time..

Also I see other connections running fine so only some of the get freezed..

The big ti

[2015-10-05 23:12] ericmj commented on #183
@silviucpp I was seeing exactly the same with hex.

[2015-10-06 05:05] benoitc commented on #183
which timeout are you talking about?

[2015-10-06 05:08] silviucpp commented on #183
The one from start_tool `{timeout, 150000}`

[2015-10-06 05:09] benoitc commented on #183
the default keepalive timeout  can be changed in the application environment. It's the "timeout" setting.

[2015-10-06 05:11] benoitc commented on #183
@silviucpp did you try to change it?  also did you enable the metrics? i would be interrested by the pool metrics.

[2015-10-06 06:54] silviucpp commented on #183
No I didn't tried to change this. I have metrics enabled in production using folsom. Let me know what exactly do you need.

Silviu

[2015-10-06 10:01] benoitc commented on #183
if you can provide me a sample of the connect time and the metrics from the
pool (take_rate, no_socket, in_use_count) that would help me to figure
what's going on.

I will be blocked in a flight during the next 11h anyway so will have
plenty of time to work on it.

On Tue, 6 Oct 2015 at 08:54, Silviu Caragea <notifications@github.com>
wrote:

[2015-10-06 17:33] silviucpp commented on #183
Hello,

On the default pool I see at this moment on the node where the stats are generated around 10 frezeed processes.

Stats are:
[code]

[2015-10-06 17:43] silviucpp commented on #183
Something intersting as wel. I removed my node from production and just looking to the following stats:

folsom_metrics:get_metric_value([hackney, nb_requests]).
63
folsom_metrics:get_metric_value([hackney, total_requests]).
62408
folsom_metrics:get_metric_value([hackney, finished_requests]).
62345

I'm sure at this moment there is no request in progress and I was expecting nb_request to be 0...
I

[2015-10-07 23:37] deadtrickster commented on #246
excerpt from rfc:
[code]
I'm not sure $ has any special meaning in http context. looks more like url parsing/routing failure on the server-side

[2015-10-15 08:45] shankardevy opened #250 "Does hackney use ets table per connection?"
I am using ibrowse at the moment and it works fine. However, I have hit the ets table limit since ibrowse uses 1 ets table per server/port combination. see https://github.com/cmullaparthi/ibrowse/issues/135

how does hackney approach this issue? does it also use ets table and have similar limitation? My requirement is to have GET requests to several thousands of urls/min (most of them are unique t

[2015-10-16 05:29] benoitc commented on #250
Sorry for the late answer.

Hackney in its current version and the next one is only using 1 ETS per pool of sockets. Each new endpoint is added to the pool ETS and you will never have more than the max_connections in a pool. Most of the time you won't need more than a pool, but when you need more concurrency it can be useful to share your connections between different pools.

Hope it answers to yo

[2015-10-19 04:46] shankardevy commented on #250
thanks @benoitc for your reply. It's a quick reply, indeed.

For my requirement of fetching snapshots from IP camera, I would need at least 5000 concurrent calls to different camera (different ip addresses, ports). So in this case, how would hackney's pool behave?

also if you could forgive my naive question, why does ets come into picture here? what kind of information does hackney store in ets a

[2015-10-19 15:41] skirino commented on #246
@deadtrickster Thank you for your comment.
I believe that [Sean B. Durkin's answer in stackoverflow](http://stackoverflow.com/questions/20050114/what-does-dollar-sign-do-in-url?answertab=votes#tab-top) is correct, i.e. `$` has no special meaning in the URI syntax.
Actually [http_uri:encode/1](http://erlang.org/doc/man/http_uri.html#encode-1) does not convert `$`:
[code]

[2015-10-21 08:39] benoitc commented on #246
The hackney URI parser is based on the chromium one and http_uri does less.

Reading the [RFC 3986](http://tools.ietf.org/html/rfc3986#section-2.2) , reserved characters should be percent encoded `unless these characters are specifically allowed by the URI scheme to represent data in that  component`.

Passing a list of reserved chars to the request may be a solution. Thoughts?

[2015-10-21 09:18] dtykocki commented on #246
@benoitc -- I have a potential fix to this issue on a local branch. If y'all decide not to go down the reserved chars path, I'll submit a PR.

[2015-10-23 05:18] skirino commented on #246
@benoitc
Thank you for your response!
Adding an option to control character encoding sounds great, as it resolves not only this issue but also potential issues when interacting with "exotic" web apps.

[2015-10-23 09:32] benoitc commented on #246
@dtykocki :+1:   feel free to send early so we can play with the patch :) I am myself working on hackney today

[2015-10-25 11:48] benoitc commented on #250
The pool is here to cache the sockets connections, ie to keep them alive. If you set the limit to 5000 it will works in current version. Next version will cache more efficiently the connections. You can have a look of the current design here:

http://www.erlang-factory.com/static/upload/media/1394461730695138benoitchesneau.pdf

and the video:

http://www.infoq.com/presentations/erlang-http-connect

[2015-10-26 19:07] bipthelin opened #253 "SSL Problem with valid cert"
We're seeing strange problems with Hackney. We've been using `0.13.0` for a long time and decided to upgrade. We rolled a new release of our sw using Hackney `1.3.2` but immediately started seeing weird issues with SSL, we get a `{error,{tls_alert,"certificate unknown"}}` when we try to connect to our internal https-service. The site in questions serves well over `curl` and what we found is that i

[2015-10-26 19:14] bipthelin commented on #253
Also, this is on erlang 17.5 and the error messages indicates this line: https://github.com/erlang/otp/blob/OTP-17.5/lib/ssl/src/ssl_handshake.erl#L438

[2015-10-27 10:01] benoitc commented on #253
@bipthelin it's probably due to an issue under erlang 17.5. With OTP 18:

[code]

[2015-10-27 21:09] Kozlov-V opened #254 "Failed to solve release dependency certifi"
I'm migrate my web-app to Cowboy 2.0 and Erlang 18.1
But i have problem with solve release when i add Hackney app to my_application.app.src file
[code]

When i do ```make``` i have this error:
[code]
Thank you!

[2015-11-02 14:14] akeating opened #255 "Error evaluating rebar config script"
When I attempt to use Timex or Calendar in a new PhoenixFramework app, I see this in my compile output:

[code]

It's not clear to me whether this is a bug issue with hackney or configuration issue. Any insights appreciated.

[2015-11-02 18:26] zyro commented on #255
I've also seen this same issue. Happens in hackney 1.4.0, does not happen in 1.3.2. All other dependencies, versions, and config are the same.

[2015-11-03 02:06] akeating commented on #255
Thanks @zyro. I can confirm that requiring hackney 1.3.2 fixed the problem.

[2015-11-03 05:19] benoitc commented on #255
thanks for the ticket. how can i reproduce the error? are you adding dirextly hackmney to your project?

[2015-11-03 08:33] #255 closed

[2015-11-03 12:39] HashNuke opened #256 "Timeouts when making POST requests to chromedriver"
Making a POST request to the chrome driver fails. Here are steps to reproduce.

### Requirements

* Install chromedriver (from homebrew if Mac `brew install chromedriver`) or download from http://chromedriver.storage.googleapis.com/index.html?path=2.20/

* Start the chrome driver with `chromedriver --verbose`

### Reproducing the error

The original code is in Elixir, so I'm just pasting it as is.

[2015-11-03 13:05] benoitc commented on #256
@HashNuke you probably want to `post` here. `get` is only able to fetch :)

In erlang:

'''
1> application:ensure_all_started(hackney).
{ok,[idna,mimerl,certifi,hackney]}
2> hackney:post("http://localhost:9515/session", [{<<"Content-Type">>, <<"Application/Json">>}], <
<"{\"desiredCapabilities\": {}}">>).
{ok,200,
    [{<<"Content-Length:242">>,<<>>},
     {<<"Content-Type:application/json; charse

[2015-11-03 13:10] HashNuke commented on #256
@benoitc thank you ~! facepalm. Sorry didn't notice that I was passing `:get` to hackney. Confirmed that this is a httpoison problem.

[2015-11-03 13:10] #256 closed

[2015-11-05 04:50] shankardevy opened #257 "System limit reached"
I am using HTTPoison and hoping that this error comes from hackney, I am creating an issue here.

[code]
I am getting the above error after fetching about 3000 unqiue urls for every minute for several hours. What is the system_limit that has been reached and how can I increase it?

Thanks

[2015-11-05 09:12] benoitc commented on #257
it's probably the fd limit. try to increase it with ulimit -n
On Thu, 5 Nov 2015 at 05:50, Shankar Dhanasekaran <notifications@github.com>
wrote:

[2015-11-09 15:39] mosic commented on #257
Hi @benoitc, thanks for the suggestion (we work on the same project). We tried increasing the limit and we're still seeing `:system_limit` errors after running the application for several hours.

Here is the current configuration we use:

[code]

[code]

Any ideas?

[2015-11-11 10:06] huoshiqiu commented on #155
+1 :)

[2015-11-11 17:07] shankardevy commented on #257
@benoitc could this be a possible bug in hackney similar to this?
http://mail-archives.apache.org/mod_mbox/couchdb-user/201009.mbox/%3CAANLkTinyvMW+Ucg2R-O0jfwP0wpfV5VhivOM8EsMsRLj@mail.gmail.com%3E

I mean is there a possibility that hackney doesn't close a connection properly or something like that? I just throwing some random ideas and would greatly appreciate if you could share your wisdom.

I

[2015-11-11 17:39] benoitc commented on #257
are you always reading the body?

[2015-11-11 19:52] shankardevy commented on #257
@benoitc what do mean reading the body? using `response.body` somewhere in the code? I have a few calls that make a post request and doesn't do anything with the response and a few requests where I only read the header value. does it have any effect?

[2015-11-11 19:58] benoitc commented on #257
@shankardevy definitely, you need to do something with the response. Or the socket won't be released.

[2015-11-11 21:07] shankardevy commented on #257
@benoitc it looks like `HTTPoison` already reads the body of every request
https://github.com/edgurgel/httpoison/blob/master/lib/httpoison/base.ex#L401

However, what I noticed is that it takes about 120-150 seconds to free up an used port. why is it? is that configurable?

[code]

[2015-11-16 14:31] jlouis commented on #197
I'm interested in this one as well. I think I have an upload which breaks `cowboy` due to this thing. I'll make a test with the above patch and see if it fixes the problem. I've also seen the `{file, ...}` api break due to this, but I'm guessing it is a buffering problem.

I'll make some investigation, but have you done any in advance on this problem?

[2015-11-16 16:33] jlouis commented on #197
Relevant RFCs:

https://www.rfc-editor.org/rfc/rfc2388.txt
https://www.rfc-editor.org/rfc/rfc7578.txt (PROPOSED, Obsoletes 2388)

I haven't read through them yet, but will do so.

[2015-11-17 11:45] jlouis commented on #197
RFC 7578 just punts to

http://www.rfc-editor.org/info/rfc2046 and
http://www.rfc-editor.org/info/rfc2047

Because the boundary is specificed inside those documents. You don't get any rules on boundary encoding from reading 7578 alone.

[2015-11-17 11:55] jlouis commented on #197
RFC 2046, Section 5.1.1 Common Syntax states the following:

[code]

This sets up the rules of the general boundary. A later paragraph describes the last boundary:

[code]

Since the last boundary has to be *identical* to other boundaries, it is logical it ends with a CRLF to indicate end of the boundary. So this issue is at least correct with respect to the RFC as I read it. In other words, it is

[2015-11-17 13:50] eminarcissus commented on #197
Interesting, so indeed this part does really have a bug here. I'm being kept patching this file by myself in order to use this lib, don't know why it didn't get confirmed yet(so I think there should be quite some of web servers does not recognize this kind of request).

[2015-11-17 13:53] jlouis commented on #197
Well, I think @benoitc is at a conference right now, and I'm currently just investigating what the right™ thing to do is. I'll probably start working on the PR in earnest later this week -- for now I'm just trying to get a grip at who is right and who is wrong.

[2015-11-17 13:55] eminarcissus commented on #197
Great thx for the help :)

[2015-11-19 10:40] benoitc commented on #257
The socket is put in a pool and reused. Maybe you're achieving the maximum sockets there? How can I reproduce it?

[2015-11-19 10:42] benoitc commented on #254
well. I am not a user of erlang.mk myself. How does erlang.mk solves the dependencies? It looks like it try to guess which one to use depending on which file is available. So maybe it's a matter of providing an erlang.mk file?

[2015-11-19 11:29] #254 closed

[2015-11-19 11:30] benoitc commented on #253
bump.

[2015-11-19 11:30] benoitc commented on #250
hopefully the issue has been answered. Closing the ticket then. (if not feel free to contact me directly).

[2015-11-19 11:30] #250 closed

[2015-11-19 11:33] bipthelin commented on #253
Let's close this issue. We downgraded Hackney and now everything is working. We'll try upgrading again when we can move to 18

[2015-11-19 11:33] #253 closed

[2015-11-19 11:38] benoitc commented on #229
according the RFC 7231:

I am not sure hackney should automatically redirect to it until it is forced. I propose the following change:

1. By default instead of returning `{error, {invalid redirection, Resp}}`, we should instead return a `{see_other, Location, Body}`
2. If the optiob `force_redirect` is set to `true` then do the redirection if it happens.

Thoughts?

[2015-11-19 11:40] benoitc commented on #197
@jlouis thanks for the all the informations and research! I will have a look on the source later in the afternoon and provides a new release today with fixes if needed on it.

Anyway expect a new release, so people can use hackney again with erlang.mk

[2015-11-19 11:40] Kozlov-V commented on #254
Thank you!
I`ll test it

[2015-11-19 13:49] jlouis commented on #197
@benoitc I'm working on a test case for it at the moment. I'll avoid actually hacking the fix up. Then we can check if the fix solves the problem.

[2015-11-19 14:19] jlouis commented on #197
Ongoing work on https://github.com/jlouis/hackney/tree/jl/hackney-multipart-fix for interested parties.

[2015-11-19 15:23] jlouis commented on #197
I'm now ready for testing when you get to the point where you have something which works. I'm not sure my code works in entirety, but I can reproduce the error I saw inside Cowboy with Hackney now, under the above knowledge Hackney is doing it wrong.

[2015-11-19 22:19] edgurgel commented on #257
I suggested him to tweak the params to hold connections and also check if it's a good usage of the pool (if every request may be to a different host there's no much need to hold the connection open, I suspect):

https://github.com/edgurgel/httpoison/issues/98#issuecomment-156023267

[2015-11-19 22:22] benoitc commented on #257
@edgurgel there is a coming change: https://github.com/benoitc/hackney/compare/new_pool that should improve a lot the pool. I need to plug it to the rest asap. Not until next week i guess though.

[2015-11-20 08:52] jlouis commented on #197
PR added with the failing test-case, neatly squashed so the merge is simple.

[2015-11-20 14:46] benoitc commented on #253
hrm do you mean you downgraded Hackney? Why not simply using the insecure option?

[2015-11-21 21:37] jlouis commented on #197
I've made up a solution for the boundary error here. The test almost passes, but it fails on Travis CI for release 15B3 since cowboy doesn't support these old versions anymore. I can confirm that this solves interoperability with cowboy.

I've not done anything about the content-disposition error, since I have yet to read the RFC in order to determine what is allowed there and what is not :)

[2015-11-22 11:32] tjsousa commented on #114
+1

[2015-11-22 11:44] tjsousa commented on #114
I ran into an issue when using `HTTPoison`, a popular Elixir client that uses Hackney, and headers from a Plug connection, which are lower-cased by default.

More info here: https://github.com/slogsdon/elixir-reverse-proxy/issues/2

[2015-11-22 20:16] jlouis commented on #197
RFC 2183 is where I ended up with-respect to the Content-Disposition question in the following code blurb:

[code]

The rules are that they are `quoted-string` which in turn means they are either ASCII (7bit) in which case we can omit the quotes, or they are UTF-8 encoded (preferably) in which case you need quoting in order to correctly handle the field. I don't know how you handle a quote in the

[2015-11-23 12:03] benoitc commented on #114
i will handle that i the next release. for now you can do `hackney_headers:new(Headers)` to use the module [hackney_headers](https://github.com/benoitc/hackney/blob/master/doc/hackney_headers.md) and get and an header case insensitively.

[2015-11-23 13:35] tnt-dev commented on #229
I think it's a good variant. This way we can control behavior and handle errors when required.

[2015-11-23 16:56] bitwalker opened #259 "Cowboy is always in rebar2 deps"
See [here](https://github.com/benoitc/hackney/blob/master/rebar.config.script#L25).

It looks to me like you intended to only add cowboy under `TEST`, but it's always in the deps being appended to. This is currently causing a problem in an Elixir project of mine when mix tries to compile hackney and it can't find the cowboy dependency. I've resolved it locally by rolling back to hackney 1.4.4, but

[2015-11-23 17:00] jlouis commented on #259
Does the project work if you remove that line you refer to?

[2015-11-23 18:01] bitwalker commented on #259
@jlouis Yes it does

[2015-11-23 19:03] jlouis commented on #259
It looks like a fairly easy fix then :)

[2015-11-23 19:09] antipax commented on #259
:+1:

[2015-11-23 19:21] bitwalker commented on #259
Closing this since the fix was merged. Thanks!

[2015-11-23 19:21] #259 closed

[2015-11-24 02:03] hpyhacking opened #261 "compile deps `certifi` for error"
Use new version compile error, fixed when force using 1.4.4 version.

[code]

[code]

[2015-11-24 08:43] benoitc commented on #261
should be solved in latest master. Can you give it a try?

[2015-11-24 18:29] curtislinden commented on #261
on master

urtis:blocksworld-play-site/ (master✗) $ mix deps.compile hackney                                                                                           [10:29:10]
WARN:  Expected /Users/curtis/dev/blocksworld-play-site/_build/dev/lib/mimerl to be an app dir (containing ebin/*.app), but no .app found.
WARN:  Expected /Users/curtis/dev/blocksworld-play-site/_build/dev/lib/certifi to b

[2015-11-24 18:39] benoitc commented on #261
you probably need to update the registry.
On Tue, 24 Nov 2015 at 19:29, curtislinden <notifications@github.com> wrote:

[2015-11-24 18:45] curtislinden commented on #261
what is the registry?

[2015-11-24 18:47] ericmj commented on #261
The registry is always automatically updated with mix.

Using master won't test if this works because it only breaks when using mix and hex, using git master doesn't use hex of course.

I cannot reproduce @curtislinden errors, but I get other errors when using mix and hackney master, the issue is this line: https://github.com/benoitc/hackney/blob/master/rebar.config.script#L7. Mix doesn't support

[2015-11-24 18:54] curtislinden commented on #261
reverted to hackney 1.3.2 for the moment.

@ericmj  thx for the input.

[2015-11-24 19:21] benoitc commented on #261
@ericmj well how does mix get the dependencies? Is there a way to tell it to not use git but hex packages?

[2015-11-24 19:49] #261 closed

[2015-11-24 19:59] curtislinden commented on #261
awesome - working now - thxn!

On Tue, Nov 24, 2015 at 11:49 AM, Benoit Chesneau <notifications@github.com>
wrote:

--
Curtis J Schofield | Senior Systems Analyst | U2U
Skype robotarmymade | Second Life Curtis Linden | C 415.632.6001

Linden Lab | Makers of Shared Creative Spaces

[2015-11-25 16:16] ramka001 opened #264 "dependency is unable to support erlang 18.0"
Hi I'm currently trying to use hackney, but i'm getting a compile time error saying that one of the dependencies is not compatible with erlang 18.0.

[2015-11-25 16:21] benoitc commented on #264
i am running hackney on 18.1. Can you paste the error you have? Or at least tell me which dependency is not compatible?

[2015-11-27 11:25] ramka001 commented on #264
the  {mimerl, "1.0.0"},  deps was failing

[2015-12-01 06:16] jflatow commented on #246
:+1: For better or worse, there are APIs that use suspicious characters. For instance, I can't use the LinkedIn API with Hackney because they use "(" and ")" in their URLs: https://developer.linkedin.com/docs/signin-with-linkedin :(

[2015-12-01 08:43] benoitc commented on #246
@jflatow you mean they don'decode urls?

i thin the best solution for that would be offering a mode letting the users to encode the urls the way they want and a strict mode, the default. thoughts?

[2015-12-01 08:56] jflatow commented on #246
Right - yes - I agree that would be a good option.

[2015-12-01 10:43] benoitc commented on #264
@ramka001 so you're using rebar2 right? I will test. With rebar3 I can't reproduce it.

[2015-12-01 10:55] ramka001 commented on #264
Yes I'm using rebar 2
On 1 Dec 2015 18:43, "Benoit Chesneau" <notifications@github.com> wrote:

[2015-12-01 11:06] benoitc commented on #264
Just tried the latest master with rebar 2. So far I don't reproduce the issue, so not sure what is happening for you. Can you try to use rebar with the debug logs?

[code]

[2015-12-02 22:46] silviucpp opened #265 "nb_requests issue"
Hello,

When I'm stopping my app I would like to wait for all in progress hackney requests.
For this I was thinking to wait for nb_requests to hit 0 so I implemented the following:

[code]
I observed that for some reason this metric returns wrong results. Even if I don't have any request in progress I get a big number which never decrease. I have no idea what queries breaks the stats and why.

Any

[2015-12-09 23:59] priestjim opened #267 "badarg received when using async"
On a very high HTTP call volume server, using async to "fire and forget" continuously produces this message in the error logger:

    2015-12-09 23:56:17 =ERROR REPORT====
    Error in process <0.3450.45> on node '[...]' with exit value:
    {badarg,[{erlang,port_info,[#Port<0.148406>,connected],[]},{inet,tcp_controlling_process,2,[{file,"inet.erl"},{line,1522}]},{hackney_stream,stream_loop,4,[{fi

[2015-12-10 00:18] priestjim commented on #267
I'm gonna assume hackney is trying to give the socket back to the parent, but the socket is already closed remotely (by the remote server) hence the badarg. This situation should be managed in the same manner as the synchronous call.

[2015-12-10 03:56] jsvisa opened #268 "folsom not added as dependence"
Seems you use folsom to record metrics, but not add folsom as an dependence, can't understand

[2015-12-10 10:52] benoitc commented on #268
Thanks for asking! I should probably make it more clears in the doc. Metrics are completely optional. You can use either folsom or exometer or none this why it's not part of the dependency. You need to add them in your own app.

[2015-12-10 10:52] #268 closed

[2015-12-10 10:53] benoitc commented on #267
@priestjim

How do you mean? Return an error?

[2015-12-10 17:32] priestjim commented on #267
After further digging, I saw that this error should be getting caught here:

    try
        stream_loop(Parent, Owner, Ref, Client#client{parser=Parser,
                                                      response_state=on_status})
    catch Class:Reason ->

but it's not. I have no idea why!

[2015-12-10 19:26] brigadier opened #269 "serious memory leak with ssl with default options on R16B03"
`1> hackney:start().`
ok
`2> Url = "https://www.dan.me.uk/torlist/".`
"https://www.dan.me.uk/torlist/"
`3> L = lists:seq(1, 100).`
[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,
 23,24,25,26,27,28,29|...]
`4> memory().`
[{total,23401608},
 {processes,5202720},
 {processes_used,5202680},
 **{system,18198888}, %% 18M**
 {atom,264505},
 {atom_used,258344},
 {binary,1822080},
 {code,677604

[2015-12-10 19:29] jlouis commented on #267
This may not be related to the above at all, but has the stream_loop called `proc_lib:hibernate/3` at any point? That would explain the problem, since if the process hibernates, that catch is effectively gone forever from the call stack. I don't know exactly what would happen with the backtrace from get_stracktrace() though, so it could be non-related. I'm somewhat positive that code will never wo

[2015-12-10 20:03] priestjim commented on #267
I think it does in multiple points. Lines 99, 140 and 241 can all be called while in the stream_loop function.

@benoitc is there any critical reason to hibernate at those points?
@jlouis you saved the day again :)

[2015-12-10 20:07] jlouis commented on #267
But does it happen in your case that they are called? It could explain the problem you are seeing. Add a helper function to the module which calls hibernate, then use `dbg` to trace if that function gets called in production, I'd say. This should at least make it feasible to check for the case.

[2015-12-10 20:17] priestjim commented on #267
I am almost sure it does. The problem is that this happens only on extremely high number of requests, trying it locally never triggers the issue. I'll give it a shot though.

[2015-12-10 20:21] benoitc commented on #267
@priestjim all this code should be simpler. I some code on the machine for it. I will try to finish the new_pool branch and do a release until the week-end with it. The general idea is to simplify the loop and the flow between the requester and the stream.

@jlouis i guess hackney_trace when enabled should be able to catch it. It may worth a try.

[2015-12-13 05:25] priestjim commented on #267
Please do, we're dying over here - we got ~350K calls/sec at one point :)

[2015-12-13 19:08] benoitc commented on #267
@priestjim should land on tuesday, i made good progress on it :)

[2015-12-16 16:18] bradfordw commented on #269
Curious with the release of [18.2 ](http://www.erlang.org/news/97) it mentions one of the fixes being:
 ssl: Add configurable upper limit for session cache.

Curious if that resolves this or not for you; assuming of course that you're able to upgrade OTP.

[2015-12-16 23:04] brigadier commented on #269
I fixed the issue on R16B03-1 with running erl with `-ssl session_lifetime 120` and using `{ssl_options, [{reuse_sessions, false}]}`. Cert check is disabled, but in my case it is not needed.

[2015-12-16 23:45] benoitc commented on #269
thanks, that is definitely interesting :) I will add it to the readme asap.

[2015-12-18 06:43] Anonyfox commented on #155
+1 on this :)

[2015-12-19 20:57] benoitc commented on #264
no answer since, also not reproduced. closing the issue.

[2015-12-19 20:57] #264 closed

[2015-12-30 20:39] terinjokes commented on #240
@benoitc I'm also running into the aforementioned issue, this time with the cert from https://registry.npmjs.com

[2016-01-02 20:36] rlipscombe opened #270 "rebar.config.script references different version of idna"
See https://github.com/ninenines/erlang.mk/issues/471

[2016-01-03 09:03] #270 closed

[2016-01-03 09:05] benoitc commented on #270
fixed. Thanks!

[2016-01-04 11:48] priestjim commented on #267
@benoitc any progress on the new pool arch? Need a hand?

[2016-01-04 20:04] cwc commented on #191
Any update on this?

[2016-01-08 10:53] benoitc commented on #191
@cwc a nrew release of hackney will land on next monday.

[2016-01-08 10:55] benoitc commented on #265
do you actually close the requests? Or read the body?

[2016-01-08 16:05] silviucpp commented on #265
Yes . All the time

On Friday, 8 January 2016, Benoit Chesneau <notifications@github.com> wrote:

[2016-01-09 08:16] smeevil commented on #74
This is exactly what I'm looking for as well. Currently I have no options as far as I know to give user feedback on their upload progress when they are uploading a (bunch of) file(s) in the (web)interface.

Thanks for considering this :)

Gerard.

[2016-01-13 16:28] jschniper commented on #265
I'm going to piggyback on this issue since I'm seeing a similar problem. I've started collecting stats on the hackney_pool and I've been seeing the in_use count grow as though some of the sockets are never getting released. Eventually, if left unchecked, this causes any requests to stay in the queue forever. Originally I had a number of requests all using the same default pool, but I broke them ap

[2016-01-13 16:47] jschniper commented on #265
I wanted to go ahead and include the charts as well. The first one shows the pool metrics on one of the servers. The scheduled job stops the pool that is getting filled up every six hours. All of the other pools have been left running for the duration shown on the graph.

The second chart is for the same time frame and shows that even though the pool gets flushed it looks as though there are still

[2016-01-13 18:43] jschniper commented on #265
I went back and replaced the call to HTTPoison with a call directly to hackney and it looks as though it might have resolved the issue. I'm going to keep monitoring it for a day or two but I wanted to let you know to keep you from chasing phantom bugs.

[2016-01-15 09:46] rlipscombe commented on #270
Related: https://github.com/benoitc/erlang-idna/issues/10.

[2016-01-17 20:10] mrhooray opened #271 "does this flamegraph show anything interesting that can be optimized?"
Hi,

I'm new to elixir/erlang and here's a cpu [flamegrah](https://dl.dropboxusercontent.com/u/6255364/eflame.svg) of simple api server talking to downstream via hackney. Do you see anything within hackney can be further optimized?

Thanks

[2016-01-19 06:17] sikanhe opened #272 "Strange behavior with :POST request"
Hey so it seems like i am hitting some kind of bug with POST request.
In all my other languages, i can successfully make the follow request to the url(should return 403)

https://EXERW3T3UB-dsn.algolia.net/1/indexes/*/queries

but with hackney its returning 404,i think it might have something to do with the * asterisk in the url, because that is only url that has it and the only one thats causing

[2016-01-20 00:19] kostya commented on #155
+1

[2016-01-22 08:58] edgurgel opened #273 "Proxy configuration not used when using follow_redirect"
Apparently using `follow_redirect` and a proxy won't work for the following requests.

Initially reported by https://github.com/edgurgel/httpoison/issues/112

[2016-01-24 19:42] benoitc commented on #272
Right `*` will be url encoded. This issue is similar to #246 . Normally the server should decode it but... I will take about that in next release.

[2016-01-24 19:51] benoitc commented on #240
@terinjokes afaik one of the root certificate is expired which cause the issue. For no there is no hope in the current released version of Erlang. Hopefully it will be solved with the latest patch in Erlang  that landed on the ml.

[2016-01-24 20:45] maruks opened #274 "hackney stops sending after 50 requests"
if I don't invoke hackney:body(ConnRef)
then hackney stops working after sending 50 requests

is it {max_connections, 50} ?

[2016-01-24 22:37] benoitc commented on #274
@maruks you need to release the socket in the current version. Either by reading the body or skipping it. If not the limit of connections will be achieved. This is at least the current behaviour.

[2016-01-25 10:01] benoitc opened #275 "hackney 2.0 roadmap"
Tasks for the hackney 2.0 version

- [ ] new manager to reuse connections #276
- [ ] full ipv6 support, eyeball strategy #206
- [ ] relax URL encoding #277
- [ ] improve proxy support
- [ ] improve HTTP 1.1 support

[2016-01-25 10:18] benoitc opened #276 "new manager to reuse connections"
## Old design

Current version of Hackney is using a classic pool system. Ie. the **connections are added to a pool** that handle all sockets messages and **retrieved from the pool** on demand or  created if no connection is available/has been released.

There is also an hard limit to the number of running connections: if the number of running connections (not released to the pool or closed) is gr

[2016-01-25 10:25] benoitc opened #277 "relax URL encoding"
url path encoding is very strict for now and partially based on the code found in chromium:
https://github.com/benoitc/hackney/blob/master/src/http/hackney_url.erl#L367

A lot of server don't decode all the URL like they should which trigger the issues #246, #272.

New version of the code will allows people to use their own encoding schema by providing the following options:

- possibility to tell

[2016-01-25 10:28] benoitc commented on #257
supersed by #276 . Thanks all for the feedback :)

[2016-01-25 10:28] #257 closed

[2016-01-25 10:38] benoitc commented on #271
What are the units? Not sure I totally understand that graph but as far I can see these improvements could be done:

- use [erlang-idna-nif](https://github.com/benoitc/erlang-idna-nif) instead of the pure erlang decoder/encoder [erlang-idna](https://github.com/benoitc/erlang-idna) . It will be a lot faster but should probably be an option or a way should be provided to have it running in platforms

[2016-01-25 10:48] benoitc commented on #183
supersed by #276 . Thanks for all the feedback. WIP :)

[2016-01-25 10:48] #183 closed

[2016-01-25 10:49] benoitc commented on #267
@priestjim #276 is the ticket to track it. It should land sometimes next week. In the mean time I may have a quick fix about the hard limit.

[2016-01-25 10:50] benoitc commented on #78
superseded by #276

[2016-01-25 10:50] #78 closed

[2016-01-25 10:51] rlipscombe commented on #276
Sounds interesting. Do you have any pointers to documentation (blogs/papers) with more details about this "flow-based pattern", particularly as implemented in Erlang?

[2016-01-25 10:51] benoitc commented on #74
@smeevil i will provide the needed metrics for that

[2016-01-25 10:57] benoitc commented on #276
@rlipscombe you have similar design implemented in [varpool](https://github.com/okeuday/varpool) or [sbroker](https://github.com/fishcakez/sbroker) .

The wikipedia is also a good introduction for it:
https://en.wikipedia.org/wiki/Flow-based_programming

[2016-01-25 11:01] rlipscombe commented on #276
Some stuff to read :) Thanks.

[2016-01-25 20:39] edgurgel commented on #276
:+1:

[2016-01-25 20:56] edgurgel commented on #275
:+1:

[2016-02-05 18:40] lazedo commented on #275
@benoitc Hi, maybe this would be a good time to introduce `min_pool_size` or `min_available`. sometimes there are a lot of simultaneous requests and i think we could benefit in performance if we had  `min_pool_size` connections ready. thoughts ?

[2016-02-05 18:41] lazedo commented on #276
can you check https://github.com/benoitc/hackney/issues/275 regarding `min_available` ?

[2016-02-06 08:02] benoitc commented on #275
@lazedo how would it works? preconnecting resources? or something else?

[2016-02-06 10:07] lazedo commented on #275
@benoitc yes, preconnecting resources and keep them alive

[2016-02-07 06:41] maca opened #278 "[error] SSL: :certify: ssl_handshake.erl:415:Fatal error: certificate unknown"
Hi,

I am having problems consuming an API I am developing. The problem I have is specific to my development environment, I created a CA certificate and used it to sign a host certificate, the process is greatly simplified using etcd-ca. In my linux laptop I've installed and trusted the CA certificate so curl, wget, chrome and firefox trust the certificate and I get no errors and a green bar in th

[2016-02-07 08:14] benoitc commented on #278
can you paste the whole options list you give to hackney? how did you create the certificate?

[2016-02-08 04:36] maca commented on #278
I am using [etcd-ca](https://github.com/coreos/etcd-ca) to ease the creation of certificates. So it goes  more or less like this:

$ etcd-ca init
$ etcd-ca new-cert myapi.local -domain '*.myapi.local'
$ etcd-ca sign myapi.local
$ etcd-ca export --insecure myapi.local > myapi.local.tar

That last command generates a tarball with the key that I can use with ngix to serve with ssl.

At this point if

[2016-02-08 04:46] maca commented on #278
I would expect the `insecure` option to skip the certificate validation, just as the `-k` curl flag does.

[2016-02-08 07:41] benoitc commented on #278
@maca so you have the same error with the ìnsecure` setting ?

[2016-02-08 17:27] maca commented on #278
Exactly the same error, the only difference between passing `insecure` and `ssl_options`, `cacertfile` is that when passing cacertfile there is an [info] printed.

[2016-02-09 21:14] benoitc commented on #278
@maca are you sure the remote certificate chain is correct? Which version of Erlang are you using?

[2016-02-09 21:16] benoitc commented on #275
@lazedo well there will be pre-connection, but keeping a minimum alive may create a network congestion. Servers don't like to have too much connections to them from the same origin. I add it to the todo list.

[2016-02-10 01:10] maca commented on #278
@benoitc

Since I installed the CA certificate on my linux machine curl doesn't complain, and I get a green bar in firefox. I'ts only from Elixir/Erlang that I have issues. In chromium I had to manually install the CA certificate but from that point on I get a green bar and no warnings.

I am using Elixir 1.2 with Erlang 18

`Erlang/OTP 18 [erts-7.2.1] [source] [64-bit] [smp:4:4] [async-threads:10

[2016-02-10 01:11] maca commented on #278
The ideal situation for me would be for hackney to ignore CA warnings with `insecure` since is in my development environment where I have issues.

[2016-02-10 01:50] maca commented on #278
I don't know if it is related to this: http://bugs.erlang.org/browse/ERL-33

This is the template that etcd-ca uses to generate the certificates:

https://github.com/coreos/etcd-ca/blob/master/Documentation/certificate_template.md

[2016-02-10 08:32] terinjokes commented on #246
@benoitc I'm also running into a situation where a service outside my control expects certain characters to not be URL encoded.

[2016-02-10 16:49] benoitc commented on #278
@maca unfortunately ignoring is not possible. Can you eventually send me a certificate so I could test?

[2016-02-10 22:24] maca commented on #278
I've sent you the certificates by email. Thanks!

[2016-02-11 07:53] nOmi7 opened #280 "Utf8 not soruced properly"
I want to read unicode chars but hackeny does not read it properly

{ok, StatusCode, RespHeaders, ClientRef}=hackney:request(get,"http://www.gazeta.ru",[],<<>>,[]).

Title i get is

[<<"Ãëàâíûå íîâîñòè äíÿ - Ãàçåòà.Ru">>]

where as it should be
<meta property="og:title" content="Главные новости дня - Газета.Ru" />

Thanks

[2016-02-11 16:51] brado opened #281 ""unknown ca" error on GET request -- ssl_options / cacert options discarded"
I originally posted this in the httpoison project issues, as that is the library I am using directly to make my POST request. However, httpoison uses hackney, and I believe this problem is coming from hackney. Here's is the issue posted to httpoison, for reference:

https://github.com/edgurgel/httpoison/issues/119

Anyway, I am getting the following error when I attempt a GET operation:
[code]
I h

[2016-02-11 17:12] brado commented on #281
One more note, executing the following:
[code]
gives me this:
[code]
So this is definitely happening within hackney...help is greatly appreciated!

[2016-02-11 17:44] brado commented on #281
More data -- as mentioned, I'm experiencing this problem on OS X (El Capitan). I have tested this (not using hackney, but showing certs with OpenSSL) on Windows, and it is able to properly grab the certs from the host in question.

As stated, Safari is working just fine, as is Paw (my OS X HTTP client app) are working just fine, as they leverage OS X's Keychain, into which our root CA which valida

[2016-02-12 03:27] brado commented on #281
I have spent the day with this, and I believe I've solved the problem, and it dealt with hackney not being able to see root certs. I have been able to successfully test this from httpoison (which as you'll recall is where this issue began, and I drilled down into hackney. Unfortunately, I'm stuck on a newbie syntax issue, and while I can get the call to work using httpoison, I don't seem to be abl

[2016-02-12 20:13] brado commented on #281
I have further troubleshooted this issue, and have discovered that I had made the foolish assumption that options on GET operations were being handled similarly to options on POST operations. They are not, and there is a problem here. Keep in mind, I'm coming from a higher layer up, using httpoison, which is using hackney (but the problem appears to be in hackney). When using :dbg, looking at the

[2016-02-12 21:25] benoitc commented on #281
i don't see in the code where the options could be skipp d though... what let you think that?

[2016-02-12 22:02] brado commented on #281
Well I'll admit I'm not the expert yet at deciphering the hieroglyphs, but here is what I see in the debug output for a hackney GET:
[code]
In the output above, the **maybe_proxy** call has no options associated. But if you issue a POST to the same host:port with the exact same options, here's what I see in the **maybe_proxy** line of the debug output:
[code]
The difference is pretty clear -- the

[2016-02-12 22:33] benoitc commented on #281
hrm i think  that's because you're not passing the options to the right place. If you use `hackney:get/2` the second argument is an header. Try instead `hackney:get(URL, Headers, <<>>, Options)` . It should work. let me know, I will testi myself in the morning.

[2016-02-12 23:46] brado commented on #281
That was it....strange it didn't manifest itself sooner in the food chain. That problem was passed all the way through httpoison to hackney and even looking at the debug output it wasn't immediately clear what the problem was. Thanks for much for your help.

[2016-02-12 23:46] #281 closed

[2016-02-13 06:02] benoitc commented on #281
@brado i reckon it could be improved. also logging that the connnection is insecure which would have give you a hint. I will work on that soon. Thanks for the feedback anyway!

[2016-02-13 07:13] miskolc opened #283 "Is Hackney able to connect to multiple SOCKS5 circuits at a time"
I'm using [Hackney][1] in an Elixir Project where I try to connect to multiple Tor circuits at a time via SOCKS5. I'm making this requests to a site that simply return the IP address in the response body and nothing else.

The problem is that when I make a request via one of the Tor processes and then **immediately** another one via another Tor process, I get the same IP address( so almost cetainl

[2016-02-13 08:57] benoitc commented on #283
It's probably because you get the socket from the pool. Bypassing the pool (by setting it to`pool` in the request options would do the trick).

If you want to reuse the connection you can also use the following:
https://github.com/benoitc/hackney#reuse-a-connection

Let me know if it works for you :)

[2016-02-13 16:34] brado commented on #281
I really appreciate you taking the time to look into this -- I appreciate the work you've done on this library, and though I'm new to phoenix / Elixir / Erlang, I am now using it heavily, and plan to be using hackney by extension heavily for the foreseeable future. Any help I can lend I'd be glad to. I hope this weird use case issue will help improve things going forward. Cheers!

[2016-02-14 14:05] miskolc commented on #283
If by setting it to `pool` in the options you mean doing something like this

     {:ok, "one.ip.add.ress\n"}

     {:ok, "one.ip.add.ress\n"}

or like this

     {:ok, "one.ip.add.ress\n"}

     {:ok, "one.ip.add.ress\n"}

then it doesn't work.

However I also tried to create one pool for each of my tor port and then it seems to work:

     {:ok, "first.ip.add.ress\n"}

     {:ok, "second.ip.add.

[2016-02-15 13:04] jaseemabid opened #284 "Hackney dies after too many 404 responses"
The following line of code never returns.

`[hackney:get("http://google.com/i-am-a-404") || _ <- lists:seq(1,50)].`

For comparison, apache bench completes the task in about 9s on the same machine.

[code]

[2016-02-18 11:56] ln5 opened #285 "Request with Chunked Transfer Coding"
Am I supposed to be able to make Hackney send a request using "Chunked Transfer Coding" as described in RFC2616 section 3.6.1 by simply setting the "Transfer-Encoding" header to "chunked"? What I observe doesn't look like what I'd expect. IIUC chunking should happen over the body rather than the full request.

Client end:

Server end:

This is a simplified example. My real case for using chunking

[2016-02-18 16:52] benoitc commented on #285
if you want to stream the request don't pass a body but a stram atom or a
function. Looks at the readme.

I will have a closer look on the timeout issue when i'm back at my desk.
can you eventually send me a trace by enabling hackney_trace?

On Thu, 18 Feb 2016 at 12:56, Linus Nordberg <notifications@github.com>
wrote:

[2016-02-18 17:09] ln5 commented on #285
OK, I'm using hackney wrong. Will look into 'stream'.

Don't mind the timeout -- there were no real HTTP server at the other end.

Thanks.

[2016-02-20 13:18] swvist commented on #284
Update:

This line doesn't wait indefinitely:

[code]

This does:
[code]

This happens because hackney pool is by default on with `max_connections` set to 50. A socket is returned to the pool only when a request is made *and* the body is consumed. Since, this a two step process, and for someone who is only interested in the status code, it is not immediately obvious that one *has* to call `hackney

[2016-02-20 15:09] benoitc commented on #284
if you're only instered in the status why not making an head request then ? Other than that you could also do smth like : `hackney:get(URL, [], <<>>, [with_body])` .

Hopefully it will help, let me know :)

[2016-02-20 17:19] swvist commented on #284
Had not used the head request before. That is indeed what we should be using. Missed the with_body part in the docs as well. This solves it for us. Thanks @benoitc :)

@jaseemabid, close the issue?

[2016-02-21 09:11] jaseemabid commented on #284
Yes. We must ideally update the docs to make this behaviour clear. It will just deadlock otherwise and it's not trivial to debug.

[2016-02-23 11:49] jsvisa opened #286 "Argument error in src/socket/hackney_pool.erl:497"
Seems there is an error [here](https://github.com/benoitc/hackney/blob/master/src%2Fsocket%2Fhackney_pool.erl#L497)

The third element in the returning tuple of `queue_out/2` is an `dict:dict`, while you use it as an `queue:queue`, code snippet as below, also [here](https://github.com/benoitc/hackney/blob/master/src%2Fsocket%2Fhackney_pool.erl#L459-L472)

[code]

[2016-02-24 15:38] benoitc commented on #286
thanks will fix it in the tomorrow release

[2016-02-24 15:40] benoitc commented on #284
@jaseemabid that would be nice! Don't forget that the readme is generated from `doc/overview.edoc` though :)

[2016-02-24 15:41] benoitc commented on #280
which headers do you get? Trying to see if i could detect it and then possibly return an utf8 binary

[2016-02-24 15:41] benoitc commented on #283
i nz

[2016-02-24 15:42] benoitc commented on #283
I meant settings the pool to none so it's not used :)

[2016-02-25 09:51] benoitc commented on #285
closing the issue since I guess it has been answered :)

[2016-02-25 09:51] #285 closed

[2016-02-25 09:52] benoitc commented on #278
@maca got side tracked trying to find it in my mails, thanks! I will let you know asap

[2016-02-25 10:21] benoitc commented on #286
actually do you have any error case? I am not sure to see the error here.

[2016-02-28 15:55] benoitc commented on #286
@jsvisa not sure <hat you mean there Q2 is indeed a queue there, and Queues2 is expected to be q dict. What did I miss?

[2016-02-28 15:58] benoitc commented on #280
@nOmi7 tried the following:

[code]

It seems the charset is windows-1251, is the remote server expected to return an UTF-8 response?

[2016-02-28 15:59] benoitc commented on #280
Also make sure your application is able to handle UTF8:
http://erlang.org/doc/apps/stdlib/unicode_usage.html

By itself hackney doesn't do any transformation there.

[2016-02-29 12:16] jsvisa commented on #286
@benoitc Yeah, `Q2` is a `queue`, while `Queue2` is a queue `dict`, so actually `Queue2` is a `dict`, you can't  in queue to a dict [here](https://github.com/benoitc/hackney/blob/master/src%2Fsocket%2Fhackney_pool.erl#L497)

[code]

[2016-02-29 12:16] jsvisa commented on #286
It's hard to reproduce the error again, try it later.

[2016-02-29 12:19] benoitc commented on #286
Oh then it' s in the deliver function, I see the error now:  in  `NewQueues = queue:in_r({FromWaiter, Ref}, Queues2),` . I will fix it asap later today.

[2016-02-29 12:21] jsvisa commented on #286
@benoitc :+1:

[2016-03-01 13:16] nOmi7 commented on #280
This can be closed it was not the header but the Body , i had to convert it manually
I am good thanks .

[2016-03-01 13:16] #280 closed

[2016-03-01 13:55] benoitc commented on #280
thanks for the feedback!
On Tue, 1 Mar 2016 at 14:16, nOmi7 <notifications@github.com> wrote:

[2016-03-02 11:37] cbarratt commented on #273
I think I'm currently hitting this problem. I need HTTPoison to follow redirects as I get back a 302, but then I end up with a timeout as it can't follow the redirect.

[2016-03-02 12:18] martinkoch opened #287 "dependency on metrics should be erlang-metrics"
I believe line 23 of `rebar.config.script` should read:

`               {git, "https://github.com/benoitc/erlang-metrics",`

[2016-03-02 12:19] #286 closed

[2016-03-02 12:20] #287 closed

[2016-03-02 15:09] #181 closed

[2016-03-02 16:17] shribe opened #289 "proper handling of expect 100"
1) On a post, request returns status code 100 & headers, I see no indication in the docs as to the proper way to now send the body and wait for the response.

2) Is there an option to disable the adding of the "Expect: 100-continue" header? Consider an "intermediate" node in some micro-services setup, where it is proxying out a request that has been validated, sanitized, & normalized such that the

[2016-03-02 20:49] benoitc commented on #289
@shribe for now it is expected to send the body immediately and then automatically answering. Your usage makes perfect sense for me, I think we could add an option to not return it. Not sure about the wording yet though :)

[2016-03-02 20:54] benoitc commented on #273
@edgurgel I need to write a test for it. Maybe we could  use [mitmproxy](https://mitmproxy.org/)  for it  ? What do you think?

[2016-03-02 22:12] edgurgel commented on #273
Awesome idea. If you are busy I can set up a failing test and send a PR so we can investigate. I can send the PR this weekend!

[2016-03-02 22:39] benoitc commented on #286
hackney 1.5.0 has been released. It contains the fix above.

[2016-03-02 23:22] benoitc commented on #273
@edgurgel that would be very helpful. I will wait over the week-end then and work on other parts :)

[2016-03-03 00:19] edgurgel commented on #273
:ok_hand:

[2016-03-07 13:04] silviucpp opened #291 "Typo in mod_metrics"
Hello,

In

[code]
There is typo on  `{ok, dummy} -> metrics_dumy;`

Should be `metrics_dummy` (double m)

Silviu

[2016-03-07 14:01] #291 closed

[2016-03-07 21:52] silviucpp opened #292 "multipart needs more examples"
Hello,

I'm trying to send an email via mailgun.com using the hackney and I have some issues sending attachments (which requires multipart).

https://documentation.mailgun.com/api-sending.html#sending

Basically my interest fields are:
- from
- to
- subject
- text
- attachment File attachment. You can post multiple attachment values. Important: You must use multipart/form-data encoding when sendin

[2016-03-10 11:40] cbarratt commented on #273
Awesome stuff guys, now if I only was able to wrap my head around Erlang I'd attempt to fix this!

[2016-03-10 15:38] jesteracer commented on #278
Had similar issues and also used insecure. And It looks like hackney memoizes this option. Is that so?

[2016-03-10 20:18] jesteracer commented on #278
@benoitc I have a module, that has 2 functions, that go to an api (one the same server) - when I added insecure to one of the calls, the other one did not get an error.

[2016-03-12 01:54] enilsen16 opened #294 "Mix can't find certifi-0.3.0 in registry"
Similar to #261

[code]

I am not sure if this is related to httpoison still using hackney 1.4.10.

[2016-03-12 02:38] benoitc commented on #294
odd it's there: https://hex.pm/packages/certifi

maybe you need to update your cache or a local index ?
On Fri, 11 Mar 2016 at 17:54, Erik Nilsen <notifications@github.com> wrote:

[2016-03-12 04:01] enilsen16 commented on #294
I tried `mix hex.registry fetch`, didn't seem to fix anything. How do i update local cache?

[2016-03-12 07:30] ericmj commented on #294
I think this is a rebar3 bug, but have you tried running `rebar3 update` as the error suggests?

/cc @tsloughter

[2016-03-12 10:00] enilsen16 commented on #294
@ericmj No rebar3 is not installed. What is weird is that it seems to download hackney from hex fine, it's just fails once it tries to compile it.

[code]

Maybe this is Hex related?

[2016-03-12 11:42] ericmj commented on #294
@enilsen16 You have rebar3 installed, it's just not in your path. Can you run `mix local.rebar` to update it and then you can verify with `~/.mix/rebar3 -v` that the version is correct, for me it prints `rebar 3.0.0+build.272.ref7d29b74 on Erlang/OTP 18 Erts 7.2.1`.

Check if it works after you've updated, otherwise run `~/.mix/rebar3 update` and try again. Also, what elixir version are you using?

[2016-03-12 19:52] silviucpp commented on #292
More or less this seems to be a hackney bug/limitation.

Seems when you send a file the name is hard-coded to "file" and you cannot change it into something else. : like for example attachment as required by mailgun.

I also found this code where hackney is doing this:

Disposition = {<<"form-data">>,
                   [{<<"name">>, <<"\"file\"">>},
                    {<<"filename">>, <<"\"", FN

[2016-03-12 20:11] enilsen16 commented on #294
@ericmj After updating rebar3.
[code]

[code]

[code]

[2016-03-12 20:24] enilsen16 commented on #294
When run with `DEBUG=1`-
[code]

[2016-03-13 07:01] ericmj commented on #294
Looks like it fails when loading hackney's rebar.config.script. Can't help you any more than that unfortunately, going to need some input from rebar3 maintainers.

[2016-03-13 07:02] enilsen16 commented on #294
Let me move the issue. Thanks for all your help @ericmj

[2016-03-13 07:03] ericmj commented on #294
@enilsen16 You might have missed my last edit; it seems like it's a hackney issue.

[2016-03-13 07:04] enilsen16 commented on #294
Ah awesome. :+1:

[2016-03-13 16:50] tsloughter commented on #294
It is this in any `rebar.config.script` people have :(. https://github.com/benoitc/hackney/blob/master/rebar.config.script#L3

When using stable 3.0.0 there is no `-`.

[2016-03-13 22:27] benoitc commented on #294
fixed  via 667278100f870f0bbd700fc967cd04287701e867 . Thanks all for the feedback :)

[2016-03-14 01:43] #294 closed

[2016-03-15 05:04] parsifal-47 opened #300 "Something is missing in documentation"
Hello,
I'm trying to figure out how keepalive works and here:
https://github.com/benoitc/hackney#make-a-request

section ends unexpectedly

[2016-03-15 18:50] linearregression opened #301 "rebar.lock and rebar.config.script is causing trouble in compilation as part of the deps"
I have to remove rebar.lock and rebar.config.script to make it compile as deps
===> Evaluating config script "/Users/etsang/splunk/nevro/_build/default/lib/hackney/rebar.config.script"
===> Uncaught error in rebar_core. Run with DEBUG=1 to see stacktrace
===> Uncaught error: {badmatch,
                            {error,
                              {44,file,
                              {error,

[2016-03-15 19:33] benoitc commented on #301
which version of hackney are you using? I don't reproduce it there.

[2016-03-17 07:18] linearregression commented on #301
1.5.0

[2016-03-17 12:22] benoitc commented on #301
yeah you should use the 1.5.2 or 1.5.3 that should solve your issue. the
format of the rebar3 version string changed when it became stable.
On Thu, 17 Mar 2016 at 08:18, edwardttril <notifications@github.com> wrote:

[2016-03-18 14:58] benoitc commented on #301
fixed in latest master

[2016-03-18 14:58] #301 closed

[2016-03-18 19:43] zyro opened #302 "Error with Elixir and 1.5.4"
Upgrading from Hackney 1.5.2 to 1.5.4 crashes my Elixir 1.2.3 application with this error:

[code]

Perhaps an issue with starting the `:hackney_pool` ETS table?

[2016-03-18 19:54] benoitc commented on #302
did you start the application?
On Mar 18, 2016 20:43, "Andrei Mihu" <notifications@github.com> wrote:

[2016-03-18 19:55] zyro commented on #302
Yes, it's on the list of applications being started.

[2016-03-18 19:56] benoitc commented on #302
can you share some code to helpe to reproduce the issue?

On Fri, Mar 18, 2016, 20:55 Andrei Mihu <notifications@github.com> wrote:

[2016-03-18 20:02] zyro commented on #302
Looks like the new `mix.exs` packaging doesn't define an application module to start. I'll put together a quick PR.

[2016-03-18 22:52] benoitc commented on #302
@zyro hackney 1.5.5 is released. Thanks for the patch!

[2016-03-18 22:52] #302 closed

[2016-03-18 23:20] zyro commented on #302
Awesome, thanks! :+1:

[2016-03-19 08:16] tallakt opened #304 "hackney breaks on Elixir with new application definition in mix.exs"
In Hackney 1.5.5 there an `application` function was defined in `mix.exs`. This will replace the contents of `srv/hackney_app.src` and hackney will no longer work. I suggest reverting this commit c6b540aa7e018100c237369be875173a23ac9c1d

[2016-03-19 08:19] benoitc commented on #304
I'm confused. The change was introduced recently to #302 . Which error do you have?

[2016-03-19 08:20] tallakt commented on #304
[code]

[2016-03-19 08:21] tallakt commented on #304
because `application:get_env` now returns `undefined` for all keys defined in `src/hackney.app.src`

[2016-03-19 08:29] benoitc commented on #304
I see... @edgurgel any idea how both tickets can be answered then?

[2016-03-19 08:30] nigelramsay commented on #304
There is a temporary workaround here (httpoison)

https://github.com/edgurgel/httpoison/issues/126

[2016-03-19 09:25] benoitc commented on #304
ok so mix qt

[2016-03-19 09:35] benoitc commented on #304
so when adding this application, mix is not looking at the .app to load the env?

[2016-03-19 10:08] #304 closed

[2016-03-20 20:17] sikanhe commented on #272
Is there an immediate fix for this ? I just need to support  "*" badly right now, could you guide me to a workaround ?

[2016-03-21 09:26] #277 closed

[2016-03-21 09:29] benoitc commented on #272
@sikanhe new master has now the possibility to set your own path encoding function. Normally servers are supposed to decode path correctly though... Let me know if if it works for you. I will make a new release tomorrow.

[2016-03-21 09:38] #246 closed

[2016-03-21 09:38] #272 closed

[2016-03-21 09:39] benoitc commented on #272
addionnaly added the "*" case.

[2016-03-21 12:07] DoomyTheFroomy commented on #278
@maca @benoitc had the same problem with `erica push`, updated my erlang version to 18.2, because of [this](http://bugs.erlang.org/browse/ERL-33) bug report. And it solve my problem (after re-installing erica). Perhaps this will also solve your problem?!

[2016-03-21 21:53] tjsousa opened #305 "Hackney dies on :metrics.update_histogram/2 under system stress testing"
Doing some load testing on Phoenix app in Elixir and found out [an error in this line](https://github.com/benoitc/hackney/blob/ac13cf61e8c0184a441e69eac982cd3736aa2b6a/src/hackney_pool.erl#L260):

[code]

[2016-03-21 21:54] tjsousa commented on #305
Seems that a wrong call is being placed to the aforementioned function. I'm happy to open a pull request.

[2016-03-21 22:09] tjsousa commented on #305
Sorry, my bad, it is already fixed in https://github.com/benoitc/hackney/pull/296

[2016-03-21 22:09] #305 closed

[2016-03-21 23:18] sikanhe commented on #272
@benoitc thank you so much!

[2016-03-22 05:51] sikanhe commented on #272
Hey I tried out the master branch, it didn't seem to recognize the function I put in as an option at.. So i dug in the code and traced the bug to hackney_url:normalize(Url, Fun), in which the function didnt actually apply to the url, it always uses hackney_url:pathencode/1

https://github.com/benoitc/hackney/blob/master/src/hackney_url.erl#L104

So I forked it and made the change to actually use t

[2016-03-22 08:39] benoitc commented on #272
i merged the pr. sorry for that...

[2016-03-23 09:22] benoitc commented on #292
`file` is indeed a specific case if it's your question. It's acting like most server are expecting it.

Nothing prevent you to use your own solution either in stream or in the given body using `{Name, Bin, Disposition, ExtraHeaders}` .

The code that handle the file is here:
https://github.com/benoitc/hackney/blob/master/src/hackney_multipart.erl#L57-L77

and the mp file header:
https://github.com

[2016-03-23 10:08] silviucpp commented on #292
Hello,

I think adding the possibility to customize the name and file name on the existing file support  [{file, ...}] support will provide developers more freedom.

Silviu

[2016-03-23 10:33] benoitc commented on #292
well this is exactly what you can do here:

https://github.com/benoitc/hackney/blob/master/src/hackney_multipart.erl#L232

For example:

[code]

I am not sure it needs another case. I already handle too much specific cases already :)

[2016-03-27 23:19] shribe commented on #289
On Mar 2, 2016, at 1:49 PM, Benoit Chesneau <notifications@github.com> wrote:

The problem here is that although a careful reading of RFC2616 makes it clear that the client does not have to wait, there are servers which fall over if the body is sent immediately. Not to mention that there is absolutely no point in sending Expect: 100-continue and immediately sending the body. If it's not going to b

[2016-03-28 09:05] benoitc commented on #289
@shribe Patches are always welcomes

Anyway the current implementation does the following:

- if an expect result is expected it will wait fro at most 1second from the server if a response come. If it timeout then it sends the body:
https://github.com/benoitc/hackney/blob/master/src/hackney_response.erl#L59-L70

in other cases the response stop, you will receive the current Expect response and can

[2016-03-28 09:21] benoitc commented on #289
There is actually an issue with streamed body. Right now you will have to ask by yourself to get the expected response (using hackney_response:expected_response/1) and continue on it or not. The implementation should provides a better workflow to support the [RFC 7331](https://tools.ietf.org/html/rfc7231#section-5.1.1).

I am thinking to the following:

On data: return {expect_response, ExpectBody

[2016-04-05 08:07] #271 closed

[2016-04-05 08:08] benoitc commented on #271
@mrhooray did it answer to your question?

[2016-04-05 08:42] mrhooray commented on #271
@benoitc yeah i didn't find any oblivious low hanging fruit from the flamegraph so posted it to see your observation. it is actually pretty fast just not as to the extend of some other stacks. on the other hand hackney/erlang otp does more and provides some niceties isn't it :)

[2016-04-06 09:48] tnt-dev commented on #229
Closing this since #307 was merged. Thanks!

[2016-04-06 09:48] #229 closed

[2016-04-07 21:54] benoitc commented on #300
oh thanks. will fix it before the we.

[2016-04-09 14:27] alexshavelev opened #309 "calls undefined function ssl:seed/1"
==> hackney (xref)
src/hackney_pool.erl:207: Warning init/1 calls undefined function ssl:seed/1

[2016-04-09 22:25] saa commented on #276
Any news?

[2016-04-09 23:17] benoitc commented on #276
@saa it will land next week.

[2016-04-09 23:18] saa commented on #276
@benoitc very cool

[2016-04-10 13:12] benoitc commented on #309
which vrsion of erlang?
On Sat, 9 Apr 2016 at 16:27, Alexander Shavelev <notifications@github.com>
wrote:

[2016-04-10 13:13] alexshavelev commented on #309
i've tried with 18.2
r15b03-1
r16b03

[2016-04-10 17:37] alexshavelev commented on #309
as i've mentioned this function is from old erlang packages, now 'old_ssl' (http://erlang.org/documentation/doc-5.8.5/lib/ssl-4.1.6/doc/html/old_ssl.html) and doesn't apperars in newest http://erlang.org/documentation/doc-5.4.13/lib/ssl-3.0.11/doc/html/ssl.html()

[2016-04-11 07:39] edgurgel commented on #155
Can I help with this? I would be glad to follow some guidance and help with this feature.

[2016-04-11 08:30] ColdFreak opened #310 "Get HTTPS page through proxy"
I have problem to get `https` resource through a proxy

When I `get` a  `http` resource, it works fine
[code]

But When I `get` a `https` resource through proxy, it returns `false`, **the proxy is using `http`**

[code]

The typespec of `request` is below, `false` is not in it, am I doing something wrong?
[code]

[2016-04-14 09:42] ZeWaren opened #312 "Queued request to a different destination hangs forever if no previous request to the same destination completes"
## Introduction

When all the connections of a pool are in use, new requests are put in a queue and wait for a request to complete.
Problem: queued requests only get a connection when a request for the same destination completes. If the queued request is the first to a specific host, it will stay there forever.
## How to reproduce:
1. Start a pool of size N.
2. Start N requests to a specific desti

[2016-04-14 09:44] ZeWaren commented on #312
Here's a sample app that reproduces the bug: https://github.com/ZeWaren/hackney_pool_debug

[2016-04-14 16:30] benoitc commented on #312
@ZeWaren thanks I will have a look tonight and will try to reproduce it :)

[2016-04-14 16:37] benoitc commented on #155
@edgurgel thanks! It should probably be added to the function receiving the body, if you wrap them and keep the state it should be OK. Anyway betetr to wait over the we, with the new recv and recv_multipart functions :)

[2016-04-15 23:54] suprafly commented on #240
I am running into this issue, albeit through Elixir's HTTPoison library.
For me, I am attempting to POST to an SSL and providing the :insecure option. The issue is intermittent.
Error:
    ** (HTTPoison.Error) {:tls_alert, 'bad certificate'}

[2016-05-05 13:54] asakura opened #314 "Encode "(" and ")" in path segment"
Should "(" and ")" be "percent" encoded in path segment (see example below)?

[code]

If yes, how can I workaround this and send <<"GET /v1/people/~:(id,num-connections,picture-url)?format=json .... (ie skip any URL normalization) instead?

Thanks in advance.

[2016-05-05 16:53] nateless opened #315 "Slow work with hackney_pool"
Hey,

I've been trying to move Ruby's code to elixir. The task is simple pass a range 1..1_000_000 to a pool of let's say 200 workers and they should fetch pages in parallel receiving new task as soon as at least some workers are finished.

Here's simplified gist: https://gist.github.com/nateless/2e4cd9ed6171987a640499b23b6c9952

It works, but very slowly, with a pool of 200 workers it's able to d

[2016-05-05 16:57] benoitc commented on #315
@nateless you need to read the body in your tests. Try with the option {with_body, true} to get the body directly in the response or by using the `hackney:body/1` function. Let me know if it doesn't.

That said the new version of hackney that will finally land over the week-end contains a more efficient pooling system ;)

[2016-05-05 17:09] nateless commented on #315
It worked thanks :) Have around 500 ops right now. May I ask why reading the body has so profound effect? And what new will be released with next version? :)

[2016-05-05 17:10] #315 closed

[2016-05-05 17:13] benoitc commented on #314
If you want a custom normalization you can pass the option `{path_encode_fun, Fun}`

To completely ignore: `fun(Path) -> Path end.` The current function is here:
https://github.com/benoitc/hackney/blob/master/src/hackney_url.erl#L368

[2016-05-05 17:23] benoitc commented on #315
@nateless The current design blocks when the maximum of connections is achieved until one is released. Reading the body release the connection at the end and the pool then serve another connection. You can bypass this limit right now by using [hackney_pooler](https://github.com/benoitc/hackney_pooler)

In the coming release hackney won't block anymore and will only keep alive a limited number of c

[2016-05-05 17:26] benoitc commented on #315
updated the comment above.

[2016-05-05 17:27] nateless commented on #315
Thank you very much for the information, will read about jobs and will await new hackney's version :) Speed is astonishing comparing to Ruby 👍

[2016-05-05 19:14] asakura commented on #314
That is totally working solution, thanks!

[2016-05-05 19:14] #314 closed

[2016-05-17 12:55] ericmj opened #316 "rebar3 check for deps should include mix"
This check should include mix https://github.com/benoitc/hackney/blob/master/rebar.config.script#L1. A possible solution would be to check for rebar2 instead.

[2016-05-20 15:18] dtrce opened #318 "Ignoring cache"
Is there a way to ignore the caching even when the response of the http request is requesting to cache with header `Cache-Control`. ?

[2016-05-23 13:35] alexshavelev opened #319 "improve multipart documentation"
Hi!
i need make this request - https://core.telegram.org/bots/api#sendphoto and attach file via multipart, but can't find the way how can do it in docs

can you help me and i will make pull request for docs?
Thanks

[2016-05-23 14:07] alexshavelev commented on #319
@silviucpp maybe you can help with it

[2016-05-23 15:44] benoitc commented on #319
@alexshavelev maybe this can help: https://github.com/benoitc/hackney/blob/master/doc/hackney_multipart.md#encode_form1 ?

[2016-05-23 17:02] alexshavelev commented on #319
@benoitc maybe. but as a result i will get {Bin, Len}. what have to do next with id? which func call?

[2016-05-23 18:53] benoitc commented on #319
can you paste a snippet of your code ? not sure iunderstand what's you're doing right now

[2016-05-23 19:14] alexshavelev commented on #319
@benoitc [{<<"descr">>, <<"sunny day">>}, {<<"file">>, <<"path/to/file"}]
i need to send file and 1-2 additional fields with descriptions

[2016-05-25 03:11] #318 closed

[2016-05-25 04:42] benoitc commented on #318
did you find an answer?

[2016-05-25 13:23] dtrce commented on #318
Yes, I decided to use cache busting technique to get around it. This way I force the CDN/server fetch a response every time.

On May 24, 2016, 11:42 PM -0500, Benoit Chesneau<notifications@github.com>, wrote:

[2016-05-26 16:33] danabr commented on #310
See PR #320 for a fix for the return value.

Your proxy sent something unexpected back to hackney. Either check your proxy's logs, or trace [hackney_http_connect:check_status/1](https://github.com/benoitc/hackney/blob/master/src/hackney_http_connect.erl#L182).

[2016-05-28 13:21] filipecabaco opened #322 "SSL session being reused when reuse_sessions: false"
It seems that sessions are being reused even when the ssl options flag reuse_sessions: false is set.

Thanks to this we are able to successfully make a HTTPS request with a invalid cert and key if previously a valid cert and key was used to make a request.

See https://github.com/filipecabaco/ssl_test to see a very small use case.

Am I missing something? I tried to debug it but the flag seemed to

[2016-06-01 01:22] ColdFreak commented on #310
Thank you for the PR link, I should check the proxy's log first.

[2016-06-16 15:26] ctreatma opened #323 "Typo in exometer instructions & `mod_metrics`"
The instructions for setting up metrics with exometer in the README specify that exometer metrics should be enabled by specifying `{mod_metrics, exometers}`.  However, `mod_metrics` expects the first term in the tuple to match `folsom`, `exometer` (no 's'), or `dummy`.

If `{mod_metrics, exometer}` is configured, hackney attempts to initialize a module called `metrics_exometers`, but the module de

[2016-06-27 16:02] uri commented on #240
Is there a anyway to fix this besides passing the `insecure` option? Can I update the certs that erlang provides or something? I'm on 18.3

[2016-06-28 16:35] dkarter opened #327 "Cannot install with OTP 18"
[code]

Getting this when trying to install hackney from another dependency in my project. I'm quite new to Elixir so I'm not sure what to do short of downgrading my system erlang version.

[2016-06-28 16:59] benoitc commented on #327
this dep is using an old version of hackney. Maybe you can force it in mix by depending directly on hackney?

[2016-07-01 01:32] allyraza opened #328 "can't compile hackney with mix"
Hi I am trying to build hackney with httpoison keep getting this

`** (Mix) Could not compile dependency :hackney, "/Users/al-razi/.mix/rebar3 bare compile --paths "/Users/al-razi/work/merchant/_build/dev/lib/*/ebin"" command failed. You can recompile this dependency with "mix deps.compile hackney", update it with "mix deps.update hackney" or clean it with "mix deps.clean hackney"`

[2016-07-01 02:28] ericmj commented on #328
Please include the full output. The actual error was probably a few lines up.

[2016-07-01 06:37] allyraza commented on #328
[code]

[2016-07-01 10:55] ericmj commented on #328
Hard to say what's wrong. Try updating with `mix local.rebar` or run with `DEBUG=1` to see if rebar gives you some more information.

[2016-07-01 11:26] benoitc commented on #316
@ericmj how to check mix?

[2016-07-01 11:29] allyraza commented on #328
I updated rebar like 5 times before posting an issue

[2016-07-01 11:31] benoitc commented on #328
@allyraza which version of hackney?

[2016-07-01 11:34] allyraza commented on #328
1.6.0

[2016-07-01 11:39] ericmj commented on #316
Hum, I'm not sure what the best way is. One solution would be to instead try to check for rebar2 with `function_exported`, then you would have this check: `if rebar2 { rebar2 deps } else { rebar3 or mix deps }`.

[2016-07-01 11:59] benoitc commented on #316
@ericmj just to make sure I understand the issue. But why mix is using rebar.config if `mix.exs` present in the source?

[2016-07-01 12:09] benoitc commented on #328
hrm I don't reproduce it:

[code]

or directly with mix:

[code]

[2016-07-01 12:15] ericmj commented on #316
If you use it from hex it should just work since we ignore the deps in rebar.config(.script) then. But when used from git we have different rules. If hackney is a dependency of another rebar3 dependency we will also treat hackney as a rebar3 project (because some people leave mix.exs files for package publishing in their project even though it doesn't compile with mix).

I don't recall exactly wha

[2016-07-01 12:38] allyraza commented on #328
okay I will help you reproduce it
elixir 1.3.0
erlang 18

1. checkout out the following repo https://github.com/era/pay
2. cd into it and run mix deps.get
3. run iex -S mix or just run the tests

[2016-07-01 12:45] benoitc commented on #328
@allyraza hrm sorry I couldn't reproduce it either :( It's probably something in your installation. See the log below:

[code]

[2016-07-01 14:12] allyraza commented on #328
well I uninstalled elixir, erlang and setup a new mix project issue still persists

[2016-07-01 14:13] ericmj commented on #328
Do you update rebar with `mix local.rebar`?

On Fri, Jul 1, 2016 at 4:12 PM, al-razi <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-07-01 14:13] allyraza commented on #328
yes I did

[2016-07-01 14:19] allyraza commented on #328
I guess this has to do with rebar

[code]

[2016-07-01 14:20] allyraza commented on #328
why is it going to `/home/tristan/Devel/rebar3/_build/`

[2016-07-01 14:20] allyraza commented on #328
I don't have that directory

[2016-07-01 14:21] ericmj commented on #328
It's just where the source files were located when rebar was built.

On Fri, Jul 1, 2016 at 4:20 PM, al-razi <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-07-02 21:31] heri16 opened #329 "Options used to limit TLS versions and ciphers"
Hi there, could we have documentation on how to limit the TLS version and ciphers used by hackney? Specifically, we would like to pass in versions, ciphersuites, and secure_renegotiate from here: http://erlang.org/doc/man/ssl.html

[2016-07-02 22:03] heri16 opened #330 "Security: better defaults for ssl_opts"
Hackney currently fails security tests on SSLlabs. https://www.ssllabs.com/ssltest/viewMyClient.html

[2016-07-02 22:10] benoitc commented on #330
it is failing 1 test apparently i will check what is this issue. thanks for
the test.
On Sun, 3 Jul 2016 at 00:03, heri16 <notifications@github.com> wrote:

[2016-07-02 22:13] benoitc commented on #330
can you please post the test you did? to make sure i can reproduce it ?
also which erlang version?
On Sun, 3 Jul 2016 at 00:10, Benoit Chesneau <bchesneau@gmail.com> wrote:

[2016-07-02 22:13] benoitc commented on #329
ssl_options accecpt all ssl options from the erlang module.
On Sat, 2 Jul 2016 at 23:31, heri16 <notifications@github.com> wrote:

[2016-07-02 22:17] heri16 commented on #330
Just do a https request to that page with hackney and it should return HTML results which you could write to a file and view in any browser.

[2016-07-02 22:27] dkarter commented on #327
Thanks for your advice! :) I ended up using another web scraping package that uses ibrowse.

[2016-07-02 22:27] #327 closed

[2016-07-02 23:57] heri16 commented on #330
Just send a https get request to https://www.howsmyssl.com and the results would be in html

[2016-07-03 00:00] heri16 commented on #330
Alternatively, use the JSON api at  https://www.howsmyssl.com/s/api.html . It provides a rating.

[2016-07-06 11:15] gleber opened #331 "hackney:body/1,2 type incorrect"
It happens that `hackney:body/1,2` returns `{error, {closed, Body}}`, which is not mentioned in it's type.

[2016-07-10 09:29] heri16 opened #332 "Support use of faster TLS module"
Support usage of hardware-accelerated async TLS module like Etls.
Etls also uses BoringSSL, which is practically used by Google in Chrome and throughout backend servers.

Benchmarks:
https://github.com/kzemek/etls

The main (and very important) benefit of using this module instead of Erlang's built-in ssl is hardware acceleration. etls module achieves an order of magnitude higher bandwidth when en

[2016-07-10 17:19] benoitc commented on #332
Sounds like a good idea, there is also [fast_tls](https://github.com/processone/fast_tls) from Processone.

How do you think it could be set though? A request option?

[2016-07-11 05:49] #310 closed

[2016-07-11 06:15] benoitc commented on #310
@ColdFreak was it solved?

[2016-07-14 06:38] heri16 commented on #332
I think it is alright as long as it is as simple as setting the default
pool. Fast_tls is great, but is it an async NIFs? Is it true that NIFs that
are not async affect other processes on the BEAM scheduler?

On Monday, 11 July 2016, Benoit Chesneau <notifications@github.com> wrote:

[2016-07-14 11:58] jlouis commented on #332
`fast_tls` is not a NIF but an Erlang driver. If it is written correctly, it shouldn't affect the schedulers at all.

[2016-07-21 00:13] lukeed commented on #328
I had this while trying to compile [HTTPoison](https://github.com/edgurgel/httpoison) v0.9.0, using Hackney 1.6.

The `mix local.rebar` worked for me, thanks!

Before that, I updated my erlang & elixir (and therefore mix) packages via brew. I'm not running 1.3.2 & everything is compiling smoothly.

[2016-07-22 22:02] deadtrickster commented on #332
Hey!

Quote from BoringSSL [page](https://boringssl.googlesource.com/boringssl/)

[code]

Moreover etls author basically just maintains his own BoringSSL [copy](https://github.com/kzemek/etls/tree/a5939b277e5ce705e397a4153a5f0d5248a9b277/c_src/deps/boringssl) (why not git submodule?). Not sure this is right thing to do and should be trusted.

So at least please leave standard ssl as default :-).

[2016-07-23 06:02] heri16 commented on #332
Standard SSL will be left as default. This is provided as a
configuration for those that require a 10x increase in performance. The
disclaimer on that you quoted from Google is outdated. These days the ABI
is stable and many other projects use it for modern encryption. There is a
good reason why Google forked OpenSSL, which is full of unreviewed code
written by many unknown third parties all over

[2016-07-23 06:26] rubencaro commented on #328
`mix local.rebar` worked for me too!

[2016-07-23 08:42] deadtrickster commented on #332
@benoitc May I ask you to not introduce this feature at all?

Let me explain with an example: Someone builds API wrapper library and wants `more performance` so he decides to use etls for example. Now each user of the library is forced to use etls as well. Moreover most of them I suspect will be simply unaware they use non standard ssl implementation which brings a lot more issues with security fi

[2016-07-23 16:51] deadtrickster commented on #332
On other hand ssl implementationfor hackney  could be set globally (just like [fuse metric plugins](https://github.com/jlouis/fuse/tree/32c1e18c743e64805e88719cdc7d1903e08b1eca#using-a-plugin)).
So if one wants to use custom ssl stack he explicitly sets respective hackney environment entry and all requests form all libs that use hackney will go through that ssl stack.
This however will require 3d

[2016-07-24 08:12] gmile commented on #328
I have been seeing the issue for a few days as well. `mix local.rebar` helped, thanks!

[2016-07-26 23:23] Frogglet opened #339 "SSL Handshake failure"
Any reason why hackney wouldn't be able to complete the handshake with the server at https://rev-int.api.us.fleetmatics.com? When I try to connect I get `{:error, :closed}` with no other info. I've run the server through the ssl labs test and it passes all handshake tests. Also, I can connect to it via node and curl just fine.

I'm not a networking guy, but in wireshark, it appears that right afte

[2016-07-27 05:06] benoitc commented on #339
which version of erlang? also can you shareme the snippet of the request
you're doing so o can try to reproduce?
On Wed, 27 Jul 2016 at 01:23, Alex Payne <notifications@github.com> wrote:

[2016-07-27 07:30] Frogglet commented on #339
I'm using Erlang 19 and hackney 1.6.0, and the simplest code to reproduce is just going to be

    hackney:request(get, <<"https://rev-int.api.us.fleetmatics.com">>, [], <<>>, []).

HTTP data should be irrelevant since the error is occurring before the SSL connection is established. From that command I would ordinarily expect a 4xx http error response.

FWIW I've just tried this with inets:

    h

[2016-07-27 07:37] Frogglet commented on #339
Since this doesn't appear to be hackney specific, I'll close this and try to raise this issue elsewhere. Do let me know if I'm just missing something obvious.

Thanks,

[2016-07-27 07:37] #339 closed

[2016-07-27 08:13] benoitc commented on #339
@Frogglet it can probably be solved by using alternative SSL transport like one suggested in #332 . I will open a repo for it and let you now :)

[2016-07-27 20:37] Frogglet commented on #339
Okay great, thanks!

[2016-07-29 10:46] emilsoman commented on #71
@JonGretar looks like some work's being done on #336 for this 👍

[2016-08-04 17:32] jaimeiniesta commented on #240
I'm having the same issue, here's another example, the server cert should be valid:

[code]

[2016-08-08 17:29] #265 closed

[2016-08-08 23:59] vmarcetic opened #341 "rebar3-3.1.1 compile issue"
Hi. I tried to install timex but there was an error compiling hackney. You can read about the issue I opened here https://github.com/bitwalker/timex/issues/207 .

I think that the problem is in hackney compiling with rebar3. If I run `DEBUG=1 rebar3 compile` in `deps/hackney` I'll get:

[code]

Or without `DEBUG=1`

[code]

Thanks.

[2016-08-09 02:16] benoitc commented on #341
You need to run `rebar3 update` to fetch the hex registry. Unfortunately it's not automatic.

[2016-08-09 09:52] vmarcetic commented on #341
That helped. Thanks a lot 👍

[2016-08-16 12:32] tobz opened #343 "Per-request metrics?"
Hey there!

Just want to say "thanks!" for a great project that is the underpinning of so many libraries. :)

I'm looking to use hackney as the underlying component for connecting to external hosts so that I can measure uptime, latency, etc.  I've seen that hackney has aggregated metrics (per host, etc) but no metrics on a per-request basis.

Is this something you'd be willing to consider as an ad

[2016-08-18 16:38] miskolc commented on #328
mix local.rebar worked for me three!

[2016-08-18 19:34] #341 closed

[2016-08-18 19:37] benoitc commented on #343
@tobz i wouldn't be against such addition, could be pretty interesting even. One thing i'm worried is the performance impact it could create since I guess you would base it on urls. Anyway better to discuss over the code, so go ahead :)

[2016-08-18 20:34] tobz commented on #343
Understood.  I'll close this and see if I can come up with a proof of concept.

Thanks!

[2016-08-18 20:34] #343 closed

[2016-08-19 20:46] benoitc commented on #309
fixed in latest master

[2016-08-19 20:46] #309 closed

[2016-08-19 20:47] #71 closed

[2016-08-19 20:48] #72 closed

[2016-08-24 16:21] docapotamus opened #344 ":tls_alert, 'handshake failure', https://www.bbc.co.uk"
Hello,

I originally posted this in the HTTPoison repository but I was informed it is as issue with hackney/ssl (https://github.com/edgurgel/httpoison/issues/164). Please feel free to point me in the right direction if I am wrong again.

I am trying to check `https://www.bbc.co.uk` from HTTPoison and receiving:

`[error] SSL: :hello: ssl_alert.erl:97:Fatal error: handshake failure`

With the follo

[2016-08-24 18:16] ericmj commented on #344
What OTP version are you using?

[2016-08-25 08:05] docapotamus commented on #344
Erlang/OTP 19 [erts-8.0] [source-6dc93c1] [64-bit] [async-threads:10] [hipe] [kernel-poll:false]

Is this whats needed?

[2016-08-25 12:32] ericmj commented on #344
Can you try checking if OTP 18 works? I have seen a similar regression on OTP 19.

[2016-08-25 13:32] docapotamus commented on #344
@ericmj I get the same issue with 18.3.4 from Erlang Solutions

Erlang/OTP 18 [erts-7.3.1] [source-25741fd] [64-bit] [async-threads:10] [hipe] [kernel-poll:false]

[2016-08-25 14:39] benoitc commented on #344
@docapotamus can you retry with the latest master? I don't reproduce it right now:

[code]

[2016-08-25 16:14] docapotamus commented on #344
I just used the Rebar example from the README

[code]

Still have the same issue.

I am still trying on OTP19. I am using a fresh install of Debian with all updates each time on Digital Ocean just so I know I'm not breaking anything.

[2016-08-26 07:19] benoitc commented on #344
@docapotamus i reproduced it with erlang 19 (was using erlang 18). I am checking which change could cause this error...

[2016-08-26 08:35] docapotamus commented on #344
Thanks @benoitc. I should have tested it with Erlang 18 really.

[2016-08-26 09:34] #344 closed

[2016-08-26 09:35] benoitc commented on #344
@docapotamus it should now work with erlang 19:

[code]

[2016-08-26 10:28] benoitc commented on #329
now you can pass any options using `{connect_options, TransportOptions}` or `{ssl_options, SslOptions}` they will all pass.

[2016-08-26 10:28] #329 closed

[2016-08-26 10:31] benoitc commented on #328
should be fixed with latest version of mix.

[2016-08-26 10:31] #328 closed

[2016-08-26 10:35] benoitc commented on #278
I can't reproduce this issue. As for now you can pass any ssl options or transport you need using `{ssl_options, _}` or `{connect_options, _}` settings to the request.

Closing this ticket. If you have more info or a working example that could help to reproduce the issue if it's still exist please create a new ticket with it.

[2016-08-26 10:35] #278 closed

[2016-08-26 10:35] #235 closed

[2016-08-26 10:35] #275 closed

[2016-08-26 10:35] #276 closed

[2016-08-26 10:36] #75 closed

[2016-08-26 10:36] #147 closed

[2016-08-26 12:42] docapotamus commented on #344
@benoitc Thank you very much.

[2016-08-26 13:52] #300 closed

[2016-08-26 13:54] benoitc commented on #284
closed via 74fa2a1a412d6b8451442e1180614db1567029eb

[2016-08-26 13:54] #284 closed

[2016-08-26 13:58] benoitc commented on #197
fixed in current master

[2016-08-26 13:58] #197 closed

[2016-08-26 14:00] #331 closed

[2016-08-26 14:03] benoitc commented on #323
appear to be fixed in last master

[2016-08-26 14:03] #323 closed

[2016-09-06 23:32] ajvondrak commented on #328
This is still happening for me. 😕

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Any ideas?

[2016-09-09 07:30] MVilstrup commented on #328
I'm having the same problem as ajvondrak. Whenever I run mix test it says:

And when I run the command with DEBUG=1 I get:

`===> Expanded command sequence to be run: []
===> Expanded command sequence to be run: [{default,app_discovery},
                                                  {bare,compile}]
===> Uncaught error in rebar_core. Run with DEBUG=1 to see stacktrace or consult rebar3.crashdum

[2016-09-09 07:43] lukeed commented on #328
@ajvondrak @MVilstrup Did you both try `mix local.rebar` ? That seems to be the fix for everyone.

[2016-09-09 08:01] MVilstrup commented on #328
Yes. I have tried several times, but it does not change anything :)

[2016-09-09 15:36] ajvondrak commented on #328
@lukeed Afraid so, as seen in my prior comment (and why I thought it necessary to point out):

[code]

I also do not have a separate `rebar3` on my PATH, as in [this issue](https://github.com/elixir-lang/elixir/issues/4970).

One thing I notice is that rebar 3.2.0 does not seem to be the latest version, which on https://www.rebar3.org/ is 3.3.1. Is Mix's CDN out of date, or is 3.2.0 intentional?

[2016-09-09 15:40] ajvondrak commented on #328
Meh, still no dice with rebar 3.3.1 :-/

[code]

[2016-09-12 07:54] aeons commented on #240
Any update on this?

I am running into this as well.

[code]

[2016-09-12 10:26] benoitc commented on #240
@aeons your issue is not related. In your case hackney is connection via https to https://oauth.withings.com and then get in return an absolute url using http instead of https (which should be, the behaviour of `withing`s is quite unsecure here). ON which hackney is trying to connect via SSL. I will fix it asap.

@jaimeiniesta well the handshakingof the server  is not good:
https://www.ssllabs.com

[2016-09-12 10:49] deadtrickster commented on #339
Hello Gentlemen!

Erlang's SSL is strange but not always bad :-)

Given "C" rating from SSLLabs for the domain in question it's not a big surprise it doesn't work by default: https://www.ssllabs.com/ssltest/analyze.html?d=rev-int.api.us.fleetmatics.com

[code]

My ball park guess is that server always tries to negotiate using sslv3 which isn't enabled by default.

[code]

Cheers!

[2016-09-12 11:24] benoitc commented on #339
@deadtrickster true. It should work with the latest master though:

[code]

using the latest master that contains:
https://github.com/benoitc/hackney/commit/873ea3da8cac0238a2eb7f89429acd5456a3c3f3

[2016-09-12 11:37] aeons commented on #240
Oh man, I didn't even notice that. That is horrible.

Thanks for looking into it.

[2016-09-12 11:44] aeons commented on #240
However, according to https://www.ssllabs.com/ssltest/analyze.html?d=oauth.withings.com , shows `Chain issues	Incorrect order`.

Could that be the cause?

[2016-09-12 11:46] deadtrickster commented on #339
Yeah you explicitly list versions, why no tlsv1.2?

[2016-09-12 18:24] benoitc commented on #339
because it's consired insecure.

[2016-09-12 18:31] benoitc commented on #339
actually maybe not. i need  to verify again.

[2016-09-12 18:47] deadtrickster commented on #339
Ssl v3 deprecated last year. TLS v1 isn't PCI compliant since May 2016. I believe TLS v1.2 still the most secure option.

Get Outlook for Android

On Mon, Sep 12, 2016 at 9:31 PM +0300, "Benoit Chesneau" <notifications@github.com> wrote:

actually maybe not. i need  to verify again.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the t

[2016-09-13 00:56] ajvondrak commented on #328
@MVilstrup After enough issue browsing, I seem to have fixed my local build.

- https://github.com/benoitc/hackney/issues/341 indicates you need to run `~/.mix/rebar3 update`, which was failing with the same error for me
- so I started googling around for rebar3 issues with the `package_index_write` error being thrown, which landed me on https://github.com/erlang/rebar3/issues/1296

It turns out o

[2016-09-13 04:28] MVilstrup commented on #328
Thank you @ajvondrak! I turned out to have the exact same problem. Your solution fixed it on my computer as well 👍 👍

[2016-09-21 16:41] whitepaperclip commented on #344
Any way to bump hackney to 1.6.2? It's a pretty critical fix for us Erlang 19 users.

[2016-09-28 09:11] deadtrickster commented on #339
any news on tlsv1.2?

[2016-09-28 12:09] benoitc commented on #339
sure looks at 533254f1bc615550aa6a88e30d2a1785e5e3a93d

[2016-09-28 12:12] deadtrickster commented on #339
Awesome! It's being a while since the last hex release so I thought it's worth asking

[2016-09-28 12:13] deadtrickster commented on #339
Not sure having sslv3 enabled by default is a good idea though.

[2016-09-29 14:10] MSch opened #348 "Bump idna"
It looks like there's already a version of idna out that doesn't require NIFs, but the current release of hackney still requires an old NIF-based version. Would it be possible to bump the idna dependency and release a new version?

[2016-09-30 08:26] dcy opened #349 "hackney_url:qs error"
Hi!
I use `hackney_url:qa` to urlencode, when the value is a list, it will be wrong.

[code]

In Python:

[code]

[2016-10-03 01:23] henry40408 opened #350 "deprecation warning"
`src/hackney_pool.erl:213: Warning: crypto:rand_bytes/1 is deprecated and will be removed in a future release; use crypto:strong_rand_bytes/1`

`src/hackney_multipart.erl:271: Warning: random:uniform/1: the 'random' module is deprecated; use the 'rand' module instead`

Erlang version: **19.1**
Elixir version: **1.3.3**
`hackney` version: **1.6.1**