[2016-10-04 15:39] flupke commented on #224
Hey, any updates on this issue? Can I help in any way?

[2016-10-05 07:46] flupke commented on #224
I read that #276 should fix this issue, so I retried my little experiment with hackney master but the errors are still there.

[2016-10-05 16:42] benoitc commented on #224
@flupke i will revisit the way the async worker is working later this week, expect an update over the week-end :)

[2016-10-05 18:33] benoitc commented on #350
It should be fixed in latest master. Let me know :)

[2016-10-05 18:34] benoitc commented on #349
how would you expect to have it encoded? As multiple k/v ?

[2016-10-05 18:35] benoitc commented on #330
fixed in ltest master

[2016-10-05 18:35] #330 closed

[2016-10-05 18:36] benoitc commented on #316
I didn't reproduced it so closing it now. Feel free to reopen it if needed.

[2016-10-05 18:36] #316 closed

[2016-10-05 18:40] benoitc commented on #189
`hackney:request/{1,5}` accept a full `#hackney_url{}` record. Instead of having a custom hook, I think a better solution would be parsing first the url using `hackney_url` and then filter it if needed or not. So we can keep the code simple.

I will be happy to revisit it if needed but closing it for now as "won't fix". Thanks for the report anyway.

[2016-10-05 18:40] #189 closed

[2016-10-05 18:42] benoitc commented on #224
@flupke do you have any reproducible way to test it btw?

[2016-10-05 18:44] benoitc commented on #348
The current version of hackney don't require any nif version but the 1.2.0:
https://github.com/benoitc/erlang-idna/tree/40c682fef283b7c3871c4b59aa0469304c6613ef

which version are you referring to?

[2016-10-05 18:46] flupke commented on #224
Yes, the elixir project above still reproduces it.

Le mer. 5 oct. 2016 à 20:42, Benoit Chesneau <notifications@github.com> a
écrit :

[2016-10-05 19:25] ericmj commented on #316
I'm guessing you can't reproduce because you use hackney as a hex dependency. You need to add it as a git dependency to reproduce.

[2016-10-05 20:21] edgurgel commented on #349
I'm not sure if there's a standard for lists in query strings. So my guess is that Python decided for one approach and that's it.

[2016-10-07 13:26] henry40408 commented on #350
Would it be published as next release, such as `1.6.2`?

[2016-10-08 02:36] dcy commented on #349
@benoitc because the other server api require i send urlencoded list.
After i use
[code]
to format DeviceTokenList, ```hackeney_url:qs``` works.

[2016-10-09 05:17] benoitc commented on #349
mmm why closing it? is it fixed? actually i  was thinking that instead of flattening the list we should indeed use its representation like python (or others) do. I will make the change.

[2016-10-16 19:35] fp commented on #269
I can confirm that this:
- happens with the latest hackney (1.6.1 and master)
- when running on R16B03-1
- allowing `ssl_otp_cacertificate_db` ETS table to grow out of control (> 150GB of memory)

Specifying `ssl_options, [{reuse_sessions, false}]}` as part of the request `Options` parameter does prevent this ETS table from growing at all.

This does not happen on Erlang 18+, likely because of the

[2016-10-16 19:39] benoitc commented on #322
@filipecabaco whatr let you think ssl sessions are reused?

[2016-10-17 09:26] filipecabaco commented on #322
In the small demo made in Elixir, the test makes a call with a valid certificate and then another one with a incorrect certificate, I would expect it to fail on this second request but it doesn't so it seems that it's retaining some kind of state from the first request:
https://github.com/filipecabaco/ssl_test/blob/master/test/certs_test.exs

The flag of `reuse_sessions` is set to false here https

[2016-10-18 14:46] benoitc commented on #319
duplicate of #292

[2016-10-18 14:46] #319 closed

[2016-10-18 15:17] edevil commented on #161
@benoitc Did this feature ever get implemented? It seems it wasn't since the issue is open, but @edgurgel is referring to a bug introduced by it?

In another note, are there plans to include a feature like this?

[2016-10-18 15:27] benoitc commented on #322
It is probably just reusing a socket in the pool imo.  I need to fix that behavior. Can you try with setting the pool to none ?

[2016-10-18 16:55] benoitc commented on #161
it's not implemented yet :) but any patch doing that is welcome :)

[2016-10-18 19:32] filipecabaco commented on #322
Made some changes to my code since this was some time ago and it was lacking stability even with such simple tests...

https://github.com/filipecabaco/ssl_test/blob/master/lib/cert.ex#L13

Passed the option to set `:pool` to `nil` which I would expect to avoid the usage of pools but the tests still fail meaning that I was able to successfully make the call with the wrong key

Should I set it do a

[2016-10-22 08:17] benoitc commented on #350
hackney 1.6.2 has been released :)

[2016-10-22 08:17] #350 closed

[2016-10-22 08:21] benoitc commented on #269
I suggest to upgrade to the latest version of Erlang. (anything > 18) .

Next major version of hackney will remove any version of Erlang < 19, the 1.x branch will only support bug fixes.

[2016-10-22 08:21] #269 closed

[2016-10-22 08:23] benoitc commented on #274
closing the issue since it has been answered (at least I will considered the silence as an OK).

[2016-10-22 08:23] #274 closed

[2016-10-25 07:46] benoitc commented on #312
actually this is how the pool it supposed to work. The pool is a limiting pool. The current solution is to use your own pooling strategy or not using a pool. This will be fixed in next release.

[2016-10-25 07:51] benoitc commented on #322
`nil` is not expected. You need to pass `false` to the pool or set the environment setting `use_default_poo`l to `false` . Then it shouldn't use a pool.

[2016-10-25 07:58] benoitc commented on #348
closing issue. hackney don't use a nif version of idna.

[2016-10-25 07:58] #348 closed

[2016-10-25 22:27] filipecabaco commented on #322
Setting the pool to `false` in the hakney options was enough, now it throws `{:error, %HTTPoison.Error{id: nil, reason: {:keyfile, {:badmatch, []}}}}` which was the desired result.

Thank you so much for the help with the issue.

[2016-10-25 22:30] #322 closed

[2016-10-26 21:41] rhruiz opened #354 "Version 1.6.2 in hex.pm has version = 1.6.1 in mix.exs"
The version 1.6.2 of the tarball in hex.pm (https://repo.hex.pm/tarballs/hackney-1.6.2.tar) is published with `version: "1.6.1",` in its `mix.exs` file.

So when I have in my `mix.exs` file:

`{:hackney, ">= 1.6.2"},`

it will download the correct tarball:

[code]

but running my app fails with:

[code]

[2016-10-27 07:32] #354 closed

[2016-10-27 07:33] benoitc commented on #354
@rhruiz fixed and uploaded to hex. Thanks!

[2016-10-27 11:04] ananthakumaran opened #355 "pool cannot be used along with http proxy"
when pooling is used along with http proxy, hackney reuses the wrong connection and sends the request to different domain than intended.

Example

make request to s3
make request to mailgun

For the second request, instead of creating a new connection to mailgun, hackney reuses the connection to s3 and sends the payload there.

I have attached the trace of hackney_pool:checkout with and without pr

[2016-10-28 11:50] benoitc commented on #355
confirmed. I will fix it over the week-end

[2016-10-28 16:34] teamon opened #357 "Can't overwrite Host header"
It is impossible to override `Host` header.

[code]

The header is sent with value "google.com" taken from URL but it should be "nope.org" as given in function arguments)

[2016-10-28 16:39] teamon commented on #357
NVM, I should have used "Host" instead of 'Host'.

(btw, thanks for adding unix sockets support just when I need them!)

[2016-10-28 16:39] #357 closed

[2016-11-05 08:56] loguntsov opened #358 "Bad SSL logic for Erlang 18.0 and hackney 1.6.3"
We uses hackney 1.6.1 with Erlang 18.0.
Everything works fine with HTTPs.

When i updated hackney for 1.6.3, i got this error:

[code]

I tried reproduce it for my local Erlang (18.3):

[code]

And my Erlang for development (18.0):

[code]

So see the main issue was fixed in Erlang.
But right now i expects that requirements for hackney 1.6.3 will be like Erlang 18.3 or higher.

So could you help m

[2016-11-06 18:49] jakesgordon commented on #344
I'm still seeing this issue with hackney 1.6.3 on Erlang/OTP 19 (via Elixir 1.3.3 on Ubuntu 16.04).

I also see the same problem just doing `:ssl.connect`

    iex> :ssl.connect 'www.bbc.co.uk', 443, []
    {:error, {:tls_alert, 'handshake failure'}}

(while browsers and cURL can connect to "https://www.bbc.co.uk" just fine)

So maybe this is a problem in underlying erlang ssl library?

[2016-11-08 05:56] ianwalter opened #359 "Application crashes when configuring mod_metrics to exometer"
I have the following config:
[code]

When I try to start my Phoenix application I get:

[code]

If I comment out the config, the application starts up and the exometer reporter works.
I'm using Hackney 1.6.3, exometer_core master, exometer_influxdb master, and Erlang/OTP 19.
Anyone have any ideas on what I'm doing wrong?

[2016-11-08 13:56] AlimovSV commented on #339
The same problem:
[code]
but
[code]
Rank B: https://www.ssllabs.com/ssltest/analyze.html?d=vpic.nhtsa.dot.gov
[code]

[2016-11-09 13:40] brainlid opened #360 "Unable to use couchbeam with hex mix.exs, wrong version for 1.6.2"
Installing couchbeam ~> 1.4 requires version 1.6.2 of hackney. The hackney mix.exs file for version 1.6.2 reports hackney version as 1.6.1. So compilation fails.

Please correct the 1.6.2 branch's mix.exs file to report the correct version of hackney.

Here's a link to the 1.6.2 branch of hackney. The mix.exs file reports version 1.6.1.

https://github.com/benoitc/hackney/blob/1.6.2/mix.exs#L7

[2016-11-10 00:35] ianwalter commented on #359
I created a repo that reproduces the issue in case it may help:
https://github.com/ianwalter/hackney_metrics

[2016-11-10 05:01] namjae opened #361 "crash in hackney_http:te_chunked"
i'm using hackney via [httpoison](https://github.com/edgurgel/httpoison).
and i got following error.
[code]

i think there's something wrong with web page or the host.
but `te_chunked` should have the clause for `'poorly_formatted_size'` from `read_size`. i think.

[2016-11-10 07:41] benoitc commented on #360
this has been fixed in 1.6.3 of hackney.  I will check if couchbeam need to be updated. Thanks for the report anyway :)

[2016-11-10 07:41] #360 closed

[2016-11-10 16:39] fp opened #362 "handshake failure - malformed_handshake_data on Erlang 19.1, Mac OS Sierra, Homebrew Openssl"
The explicit specification of the cipher list in `hackney_ssl.erl` causes TLS handshake error with AWS S3 endpoint

[code]

which ultimately comes down to the following in hackney_ssl:

[code]

but if we remove explicitly setting the `{ciphers, ?DEFAULT_CIPHERS}` option:

[code]

This occurs on Mac OS Sierra w/homebrew latest openssl, but it seems like it would not be limited to just this platform

[2016-11-10 16:54] fp commented on #362
This appears to be related to Erlang being compiled with `-DOPENSSL_NO_EC=1`:

[code]

and if I explicitly take out all of the EC ciphers from the explicit list, then it works:

[code]

[2016-11-10 16:56] benoitc commented on #362
mmm so I probably need to check if these ciphers are available first. Thanks for the info. Patch is coming :)

[2016-11-12 07:39] benoitc commented on #359
thanks I will have a look at it.

[2016-11-15 19:36] gmile opened #363 "Stream multiple files during POST"
Looks like currently it's not possible to re-use the same client to stream multiple files in a single POST request.

This [code](https://github.com/benoitc/hackney/blob/533254f1bc615550aa6a88e30d2a1785e5e3a93d/src/hackney_multipart.erl#L229) suggests that, in case of uploading files, the key in the multipart form will always be "file", meaning it's not possible to specify multiple files.

I've tes

[2016-11-16 03:43] benoitc commented on #363
@gmile I can reproduce it too. (see below). Normally sending multiple file should work. However maybe the headers passed to httpbin are not understood by it. I need to check what is happening since apparently it receives some data without name. I will test it locally to check the raw request. Waiting that you may want to stream by yourself the request, either by sending raw multipart or just strea

[2016-11-16 10:55] gmile commented on #363
@benoitc it looks like it's not the fault of hackney, but fault of httpbin (to some extent). I just tried to reproduce this using a different service, http://requestb.in/ and I see both files in the body received correctly on their end.

This raises a question for me: if both streamed files are stored under "file" key in multipart form, how should I access both files separately?

[2016-11-16 10:56] gmile commented on #363
@benoitc a side question – when you mention I can send raw multipart, what do you mean exactly? Can you show an example? I might actually prefer this option.

[2016-11-16 15:13] gasparch opened #364 "upgrade idna package"
idna v.1.2.0 consists of huge .erl files with all unicode table in them. They cannot be compiled with HiPE in any reasonable time.

Newer versions of idna load unicode lookup table from file to map and use map, which greately decreases erl code size and improves compile time.

Please upgrade idna to newer version to make possible compiling with HiPE projects that rely on hackney.

[2016-11-19 05:40] dustinsmith1024 commented on #362
I think I am having a similar issue. I started a new project and it was using 1.6.3.  I rolled it back to 1.6.1 and things seem to work now.

[2016-11-19 06:04] benoitc commented on #362
It seems we are too strict for some servers. Will go for a less strict mode
asap
On Sat, 19 Nov 2016 at 06:40, Dustin Smith <notifications@github.com> wrote:

[2016-11-21 03:26] benoitc commented on #358
The issue is the new ciphers requirements setting. I will remove it for the 1.6.x branch.

[2016-11-21 03:59] tlvenn commented on #155
Any update on this feature ?

[2016-11-21 09:01] benoitc commented on #363
@gmile you can use the lower function in streaming the multipart (just send a part and st the header) using the hackney_multipart module.

When yo get 2 "file", you need to use the file name as a key. This is how servers work normally.

[2016-11-22 03:12] tslcjames commented on #355
@benoitc I also saw `:closed` exception when I call `post` method,
but it's not always happened
is it related?

[2016-11-23 09:25] timmak commented on #354
Don't know if this is a hex issue but this is still a problem

[2016-11-23 09:27] benoitc commented on #354
@timmak what is the issue? hex has 1.6.3.

[2016-11-23 09:38] timmak commented on #354
1.6.2 tar file still as has 1.6.1 in the config. Couchbeam use 1.6.2 which is cause a dependency issue.

[2016-11-23 09:39] benoitc commented on #354
@timmak well then couchbeam needs a patch.. Can you open a ticket for it? For sure 1.6.2 will stay 1.6.2 :)

[2016-11-23 17:23] ianwalter commented on #359
This was caused by application order I believe. Having a different issue but closing this one.

[2016-11-26 01:02] silviucpp commented on #332
Hello,

Starting from the fact that you should believe only your own benchmarks I started working on  a project to compare the erlang tls libs (https://github.com/silviucpp/tls_bench). Project is still in development so might have bugs. any feedback and help is appreciated.

Idea is that I found few problems that make me believes that etls benchmark is not realistic:
https://github.com/kzemek/etls

[2016-11-29 20:05] loicvigneron commented on #155
+1 :)

[2016-11-29 20:20] loicvigneron opened #367 "Hook to process the whole request/response instead of each part separately"
I would be cool to have some hook that allow to process the whole request or response instead of status code, body and headers separately.

For example, when I want to define a domain specific HTTP client, I need check if the _status_ code is not >= 400 and if it's the case, raise an error with the content of the _body_. At this time, it's only possible to check the body or the status code separat

[2016-11-29 20:21] #367 closed

[2016-12-01 13:15] zhongwencool opened #369 "Delete mix.exs and mix.lock"
https://hex.pm/docs/rebar3_usage
Publish to hex by rebar3.

[2016-12-14 13:39] dustinsmith1024 commented on #362
Had any luck with the patch? Anything we can do to help?

[2016-12-22 00:17] drozzy commented on #328
I'm getting the same error. When I try to compile a project in CentOS7 that depends on `ssl_verify_fun` as follows:

[code]
Trying to run compile gives me this rather strange error:

[code]

[2016-12-22 00:19] drozzy commented on #328
Nevermind, `mix local.rebar` fixed it.

I was using the long form before `mix local.rebar rebar rebar3` - that didn't work.

[2016-12-22 12:00] michalmuskala commented on #362
Any updates on this? It generally makes the 1.6.2 and 1.6.3 versions unusable.

[2016-12-22 15:36] nickjacob commented on #359
@ianwalter I'm having the same issue / with same setup. I'm also starting hackney (httpoison) after exometer in mix.exs. What did you change in application order to get it to work?

[2016-12-22 16:55] benoitc commented on #362
i don't reproduce it on macosx sierra with latest openssl from homebrew. but a  fix is coming.

[2016-12-22 16:56] #362 closed

[2016-12-22 16:57] benoitc commented on #369
how is this an issue?

[2016-12-22 16:58] nlfiedler opened #371 "Pool running out of connections, but why?"
I've written a client library for Google Cloud Storage in Erlang, and I'm using hackney for the HTTP calls. There are various types of calls (e.g. get, put, post, patch, delete), and in testing this all seems to work fine. However, with a long running application that is uploading many files to the cloud, I eventually run out of connections in the pool. I'm using the default pool and default setti

[2016-12-22 17:10] #364 closed

[2016-12-22 17:13] #369 closed

[2016-12-22 17:17] benoitc commented on #371
@nlfiedler It can happen if you're not reading the body or you have a long response to receive. I will try to have a look at your code by tomorrow to check what's happening

[2016-12-22 17:19] benoitc commented on #358
this is fixed in 4f86b6a91d32f1d7e890d161e92e533b332a545. so machines that have not openssl built with ecc will still be able to connect. A warning will be displayed. Assuming this is what you really want ;)

[2016-12-22 17:19] #358 closed

[2016-12-22 17:32] nlfiedler commented on #371
I was just wondering if I'm supposed to call `hackney:body` or `hackney:skip_body` every time, otherwise maybe the client is left hanging around. That wasn't obvious from the README and module reference. I'll give that a try. Thanks.

[2016-12-22 17:41] michalmuskala commented on #362
Thank you.

[2016-12-22 20:51] gasparch commented on #364
thanks :)

[2016-12-22 21:09] benoitc commented on #367
?

[2016-12-22 21:11] benoitc commented on #371
Things will change soon makiing the api more explicit about it.

Anyway, apparently you got your answer :) Closing the issue then :)

[2016-12-22 21:11] #371 closed

[2016-12-23 00:48] ericmj opened #372 "No dependencies in Hex package"
Seems like the last publish was broken: https://hex.pm/packages/hackney/1.6.4

[2016-12-23 05:05] benoitc commented on #372
it seems that the version of rebar3 i'm using is broken somehow and unable to get the list of dependencies. I'm trying with the new one. Thanks for the notice!

[2016-12-23 05:28] benoitc commented on #372
opened a ticket on the rebar3 project related to it: erlang/rebar3#1427

[2016-12-23 05:41] benoitc commented on #372
fixed. Somehow rebar3_hex plugin needed to be updated.

[2016-12-23 05:41] #372 closed

[2016-12-23 05:41] benoitc commented on #372
1.6.5 has been released

[2016-12-23 16:46] nlfiedler commented on #371
Yep, I made the fix and it ran all night without any problems. Thanks for your help.

[2017-01-01 07:44] mwean commented on #105
@benoitc did you get a chance to fix the issue with redirects to Amazon URLs failing if the initial request had an Authorization header? I couldn't find any option to modify the behavior.

[2017-01-02 04:45] ananthakumaran opened #376 "redirect to relative url with proxy fails"
[code]

This happens only on redirect to relative url with proxy option. Hackney tries to convert the relative url to absolute, but `hackney_http_connect` transport type is not handled in `hackney_url` module.

[2017-01-04 19:29] rhruiz commented on #355
👍

Had to disable `use_default_pool` because of this.

[2017-01-04 20:35] benoitc commented on #355
a new version of hackney is landing sometimes this week that will fix that.

[2017-01-09 08:09] evidsibi commented on #328
Hi am having a similar issue. tried all the above fixes gen_smtp always throws and error when compiling

** (Mix) Could not compile dependency :gen_smtp, "/home/ubuntu/.mix/rebar3 bare compile --paths "/apps/eresident/_build/dev/lib/*/ebin"" command failed. You can recompile this dependency with "mix deps.compile gen_smtp", update it with "mix deps.update gen_smtp" or clean it with "mix deps.clean

[2017-01-09 08:43] benoitc commented on #328
@evidsibi imho this issue is not related to hackney but with mix. Did you check with their developers?

[2017-01-09 11:10] evidsibi commented on #328
@benoitc raised it with them

[2017-01-11 21:09] sumerman opened #378 "Current chunked encoding implementation triggers extensive copying"
When `hackney` fetches a chunked response, it uses the very same binary to [accumulate incoming data](https://github.com/benoitc/hackney/blob/master/src/hackney_http.erl#L138) and [match for a chunk size](https://github.com/benoitc/hackney/blob/master/src/hackney_http.erl#L481). In general, it is a [clearly documented anti-pattern](http://erlang.org/doc/efficiency_guide/binaryhandling.html#id66216

[2017-01-11 21:37] sumerman opened #379 "There is no way to specify an upper bound for the chunk size."
When `hackney` consumes a chunked response, it always waits until an entire chunk is available before sending it to a client process even when used asynchronously. I do understand why it might be desirable in many cases, yet sometimes, it might be either absurd or even a security threat.

Consider a service that produces large chunked responses behind Nginx configured as in the following snippet:

[2017-01-11 22:27] benoitc commented on #378
In which case I can reproduce it?

I'm also not sure what you mean by "inside chunk". Can you elaborate?

[2017-01-11 22:37] benoitc commented on #379
do you mean receiving immediately a partial chunk? Normally it is expected to receive the whole chunk , not really for security reason but because some API just use it as a way to stream chunks (with metadata in headers). ( I would also not have expected to get a chunk that large ;)

Anyway we could have an option for it. The default would be waiting for the chunk and raises an issue if it's over

[2017-01-11 22:44] benoitc commented on #378
Anyway i'm not sure it is that clearly documented ;) I think a better way instead of parsing the whole binary would be waiting for the end of the line using the socket options so we wouldn't have to accumulate in a binary. However it wouldn't allow the possibility to send a partial chunk.

i'm curious about the patch you have in mind. can you at least paste it there if you don't feel comfortable t

[2017-01-11 22:50] #312 closed

[2017-01-13 21:36] sumerman commented on #379
I suggest to send a chunk as soon as either it's complete or bigger than a certain threshold. The threshold value should be passed as an option. The default might be either `infinity` (any integer is smaller than an atom) or a sufficiently large integer value.

[2017-01-13 21:46] sumerman commented on #379
In the case of sending an incomplete chunk the same logic applies for its leftovers: either it gets split again or the remainder is smaller than the threshold and gets send.

[2017-01-16 10:56] sumerman commented on #378
The setup described in #379 is pretty much how I ran into this.

Currently `te_chunked` does not use it's "state" (like `te_identity` does for instance). Instead of repeatedly inspecting insides of a binary the number of bytes to be received might be kept in this internal state. This way binary matching will only be necessary for the first and the last steps. It is also compatible with the chunk-s

[2017-01-25 15:09] garryh opened #380 "Enhancement: Provide for optional reconnection hooks"
In most cases, Hackney's reconnect feature is a good thing. But in certain security applications it is necessary to have more control over the reconnection process. For example, when using [Single Packet Authorization(SPA)](http://www.cipherdyne.org/fwknop/), a connection cannot be made without first sending an SPA packet to open up a temporary pinhole firewall. For the initial connection, we can

[2017-01-26 18:51] barttenbrinke opened #381 "malformed_handshake with Docker Engine API v1.13"
I'm using hackney to connect to Docker machine. This worked like a charm in version v1.12.5, until today. The latest version of docker is giving me the following issue:

[code]

This is a new machine on digital ocean, installed through the docker-cli. I understand the issue might be hard to reproduce for you, so please let me know what extra information you need. Thanks!

[2017-01-26 19:24] barttenbrinke commented on #381
This is probably related: https://github.com/docker/docker/issues/20085

[2017-01-28 17:44] fp opened #382 "host header invalid for `http+unix://` url values"
TLDR; when sending a `http+unix://` request, the `host:` header should be url encoded.

Assuming a request like the following is made is made to a unix domain socket:

[code]

This results in a `400` response from cowboy (correctly) because the host header is sent as the unix domain socket file name, but not url encoded.  The full trace:

[code]

[2017-01-28 17:44] fp commented on #382
PR coming to fix this coming later today.

[2017-01-28 22:02] fp commented on #382
This fixed makes the hackney side of things correct, and also requires a corresponding changes to `cow_http_hd:reg_name/2` to accept the percent encoded value according to the specs: https://github.com/ninenines/cowlib/issues/53

[2017-01-30 13:45] anronin commented on #381
I have exactly the same problem after upgrade to docker 1.13

[2017-01-31 12:30] barttenbrinke commented on #381
No, that is not the issue as I am specifying the cacert. There has recently been a fix in Erlang which looks simular: http://erlang.org/pipermail/erlang-questions/2016-November/090785.html . I've compiled Erlang master using kerl and the issue seems solved there. Will need more investigation to be sure though.

[2017-01-31 13:01] barttenbrinke commented on #381
This is fixed in Erlang 20. You can easily install this by buidling git,master using https://github.com/kerl/kerl . If you are lazy and use homebrew you can move it to /usr/local/Cellar/erlang/19.2/lib/erlang and everything will work again 👍

[2017-01-31 13:01] #381 closed

[2017-01-31 14:31] barttenbrinke commented on #240
This issue is fixed in Erlang master.

[2017-01-31 14:34] barttenbrinke commented on #240
Erlang master has fixed some of the above SSL issues. https://qoolife.com and https://rest-api.pay.nl work fine now. oauth.withings still gives me errors.

[2017-01-31 17:27] hauleth opened #384 "Update hackney dependency on `metrics`"
Currently supported version is `1.0.1` but current release is `2.2.0`.

[2017-02-01 12:25] #382 closed

[2017-02-01 12:26] benoitc commented on #384
it won't be possible until hackney drop support for Erlang < 18. But it's on the pipe.

[2017-02-01 12:26] #384 closed

[2017-02-03 06:55] palm86 opened #385 "Race condition in pool resurrection?"
If a connection pool is supervised as follows:

`children = [
    :hackney_pool.child_spec(:my_pool, [timeout: 15000, max_connections: 1000])
]`

and if requests in which a pool (:my_pool) is specified create the pool if it doesn't exist, what guarantees that the supervisor brings the pool back up before some request brings it up (possibly with different max_connections and timeout)?

[2017-02-05 19:39] amokan commented on #273
i've run into this same issue

[2017-02-10 10:27] stevegraham commented on #155
What's the status of this issue?

[2017-02-10 13:33] benoitc commented on #385
Supervisors are gen_server, so you will get the old pool resurrected. There is a new connection system in progress, but I have been side tracked by a work. Will go back on the new release of hackney sometimes next week.

[2017-02-10 13:34] benoitc commented on #155
No work have been done on my side yet. But any help is appreciated. Anyway I expect that this feature will land after the current rework of the internals.

[2017-02-16 13:08] Zert commented on #355
Is this bug fixed yet?

[2017-02-24 02:45] sunboshan commented on #155
+1. Just encountered this issue that some server send gzip content and Hackey returns bitstring in body. Finally figure the root issue with lots of people's help. Though it would be really good if Hackey can transparently unzip the body based on `Content-Encoding`. :)

[2017-02-26 10:25] benoitc opened #386 "hackney should send headers as is."
Right now hackney send multiple identical headers by appending them on the same line like the test below shows. Instead we should still send line by line as it prevent the target server to refuse them because the line is too long.

[code]

[2017-02-26 11:56] gVolop commented on #362
any updates?

use hackney 1.6.6 but still receive same error:
`[error] SSL: :certify: tls_connection.erl:704:Fatal error: handshake failure - malformed_handshake_data`
[code]

macosx sierra
OpenSSL 0.9.8zh 14 Jan 2016
Erlang/OTP 19
Elixir 1.4.2

[2017-02-26 12:24] benoitc commented on #362
can you try the latest version of hackney?
On Sun, 26 Feb 2017 at 12:56, Gittel Volpo <notifications@github.com> wrote:

[2017-02-26 12:26] gVolop commented on #362
i'm use it. 1.6.6 (tagged 2 hours ago..)
https://github.com/benoitc/hackney/releases/tag/1.6.6

[2017-02-26 12:28] gVolop commented on #362
[code]
----> `[error] SSL: :certify: tls_connection.erl:704:Fatal error: handshake failure - malformed_handshake_data`
__________________________________________________________________________________________

[code]
-----> all fine

[2017-02-26 12:49] benoitc commented on #362
@gVolop did you change the version of **Erlang**? Which version of openssl is installed on your system?

So far I need a way to reproduce this issue. The only change in the current version is that hackney is now more strict and use latest certificates from the Mozila project. Is this a public server? Is there any link I can test? If not what is the SSL configuration of your server?

Also can you e

[2017-02-26 12:50] benoitc commented on #362
@gVolop also this ticket is closed. It may be not the same issue. I would appreciate a new ticket with all the info above if you can that would help a lot :)

[2017-02-26 13:11] gVolop opened #387 "handshake error with hackney 1.6.2 and up. MacOSX sierra"
use hackney 1.6.2 and up cause TLS handshake error

i'm working on elixir project with HttpPoision, upgrade to last httpPoision version caused me the error. when i override hackney to 1.6.1 - all it okay. but all others hackney versions still raised the error when i try to call to https server.

i tried post request to https://www.googleapis.com/oauth2/v3/token to generate access token to google a

[2017-02-26 13:14] gVolop commented on #362
@benoitc [here is the new ticket](https://github.com/benoitc/hackney/issues/387)
hope all is there. if you have need additional details i would be happy to help. =)

[2017-02-26 20:09] benoitc commented on #387
@gVolop thanks for the report

When I try to post on that url though I get an error but not an ssl one (which is normal i don't send a correct header):

[code]

Can you eventually try thtat directly in the erlang shell and let me know about your return? (I'm using Erlang 19.2.3)

[2017-02-26 20:10] benoitc commented on #387
I updated the comment above with the POST request I wanted to paste.

[2017-02-26 20:45] gVolop commented on #387
here is the result...

[code]

[2017-02-26 20:52] benoitc commented on #387
hrm so there is definitely something odd. I'm also on osx sierra:

[code]

using latest tagged version of Erlang built with kerl:

[code]

[2017-02-26 22:14] gVolop commented on #387
what could it be????
@benoitc, any idea?
[code]

erl - 19.2

[2017-02-27 16:08] xinz opened #388 "Duplicated Content-Type when set this field"
Hi,

I'm using httpoison client occur the following issue, when add the "Content-Type" key-value pair in the http request header, we will get the duplicated content-type as an invalid case, e.g.

[code]

[code]

The update `Headers` key-value pairs will use the `<< OldValue/binary, ", ", Value/binary >>` to splice them, but I think here should be replace the old value with the new value, any advis

[2017-02-27 16:28] xinz commented on #386
Hello @benoitc , this issue is the similar issue https://github.com/benoitc/hackney/issues/388 in my opinion, do you have suggestion to fix it ?

[2017-02-27 17:49] benoitc commented on #388
SO previous behaviour was replacing the old header which was unwanted. (see last commit). The question is why do you have the header twice?

[2017-02-27 17:50] benoitc commented on #387
@gVolop i suspect an issue with your local build of Erlang. Maybe you can rebuild it using the options above and let me know?

[2017-02-27 17:50] jayjun commented on #388
This change broke ExAws, see CargoSense/ex_aws#366.

[2017-02-27 17:55] benwilson512 commented on #388
Can someone clarify exactly what has changed? To my knowledge I wasn't relying on hackney to clobber headers for me. However if I was in fact specifying headers twice that's a bug on my end.

[2017-02-28 00:41] jayjun commented on #388
@benwilson512 See CargoSense/ex_aws#368 for a downstream fix.

[2017-02-28 02:04] xinz commented on #388
@benoitc , I want to call a POST request with XML string, the server side expects to receive the "Content-Type: text/xml", when I using httpoison (base on hackney), set the `Content-Type` field in the header of the client, the hackeny will append `Content-Type` base on the request `body` by default, so once you set the `Content-Type` when initialize http client, the server side will receive a dupl

[2017-02-28 06:59] benoitc commented on #388
@benwilson512 the change related is https://github.com/benoitc/hackney/commit/29eae2bfc9abbb8015a308a3aebdf0776b9d9bee

the http specs specify that we have to send the multiple headers fiels, either appended or merged in one line separated by a comma. Curremt implementation does the second but will be changed soon to send headers line by line. see #386.

Anyway previous impementation was replacing

[2017-02-28 07:02] benoitc commented on #388
@jayjun good catch. i will fix the update to make it case insensitive

[2017-02-28 07:03] benoitc commented on #388
@xinz hum  i don't understand. who is setting this duplicate header?

[2017-02-28 09:55] xinz commented on #388
@benoitc , sorry that I didn't make it clear for you.  The `hackney` will set the duplicated(unexpected) value for the same key field in the HTTP header once when we custom the HTTP header field to send the HTTP request, it's easy to reproduce:

1, Step 1, we set the expected `Content-Type` in the HTTP header when send this post request

[code]

2, Step 2, the server side will receive the content-

[2017-02-28 13:00] benwilson512 commented on #388
Right, so it seems that the issue that affects ExAws specifically is that I specify a "host" header, but hackney adds a "Host" header after the fact, and the two get concatenated together.

[2017-02-28 13:10] benoitc commented on #388
@xinz please send me a full trace so I will be able to see what's happening:

In Erlang: `hackney_trace:enable(max, io)`

[2017-02-28 13:11] benoitc commented on #388
@benwilson512 on it. The patch will make in a way that hackney will only add an header if it's not exist.

[2017-02-28 15:37] rlipscombe commented on #388
It appears to be _duplicating_ headers, not adding arbitrary ones:

[code]

...results in...

[code]

...where localhost:15160 is...

[code]

[2017-02-28 16:54] benoitc commented on #388
a new version will land tonight, i've been sidetracked.
On Tue, 28 Feb 2017 at 17:51, Grafikart <notifications@github.com> wrote:

[2017-02-28 18:16] gVolop commented on #387
ok!
it's works!!!
i don't know what was with my old installation of erlang.. but after i completely remove it, and reinstall with brew all works properly.

many thanks @benoitc !

[code]

[2017-03-01 13:47] benoitc commented on #388
Can anyone affected by this issue test #390 . It should be fixed now, let me know.

[2017-03-01 14:53] benoitc commented on #388
@xinz sounds like it works now:

[code]

and the json received:

[code]

[2017-03-01 17:14] benoitc commented on #388
1.7.0 is now available on hex.pm

[2017-03-01 18:36] xinz commented on #388
@benoitc , thanks for your work, it works now for my test.

And I find there are some syntax need to take care.

In the hackney 1.7.0, send an POST request in Erlang required as

[code]

Before the hackney 1.7.0, we can set the key-value pair in header as string to send an POST request in Erlang

[code]

The above syntax difference is in the 1.7.0 release, it requires using `binary` type to match

[2017-03-02 01:29] arteepa commented on #328
`~/.mix/rebar3 update` did it for me.

[2017-03-02 03:51] benoitc commented on #388
@xinz i will look at it, thanks for the report

[2017-03-02 04:31] benoitc commented on #388
@xinz the regression has been fixed in 1.7.1 .

[2017-03-02 07:26] xinz commented on #388
@benoitc , verified, thank a lot for your prompt update. With 1.7.1, the following Elixir code can work now.

[code]

[2017-03-03 23:24] BillSmargiassi commented on #387
Getting the same error with 19.2 for the Mac (Sierra 10.12.3) downloaded yesterday (2017-03-02) from Erlang Solutions as well:

[code]

The same code is working fine on Centos 7.3.

[2017-03-04 10:07] benoitc commented on #387
@BillSmargiassi Erlang needs to be compiled with openssl (the one coming with brew or ports) and not with the crypto lib installed with default OSX. I guess the version of Erlang Solutions is based on it.

I'm actually wondering though if there is a way to get more info about this handshake failure to report it upstream though. It would worth to have it to understand clearly the issue. Also which

[2017-03-04 16:30] nerdyworm opened #391 "Pool Checkout - Timeout Required"
Good Morning!

This may be some other issue, however, it is completely possible for the checkout call to cause an entire system to hang indefinitely until the process is killed.

https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L66

[2017-03-04 21:20] gVolop commented on #387
@BillSmargiassi
the installation of erlang solution didn't solve the issue for me. only after i completely uninstall Erlang, and i also manually remove all the files associated with.
then i installed erlang with brew and the problem disappeared

[2017-03-06 15:56] BillSmargiassi commented on #387
Once I deleted the Erlang Solutions version and installed from Homebrew, the problem disappeared. We're using hackney 1.6.2.

[2017-03-07 21:12] jrichocean commented on #361
+1

[2017-03-08 13:54] benoitc commented on #391
@nerdyworm 👍 if you have some time for it don't hesitate to send me a PR for it, otherwise I will do that sometimes this week

[2017-03-09 13:50] gmile opened #394 "Receiving chunks from stream are being cut / incomplete"
I'm connecting to Twitter Stream API, and seeing a weird behaviour when receiving data from twitter server.

It looks like `hackney` does not respect the size of chunk, or it cuts this half way sometimes. Or likely I'm doing something wrong.

While some responses are fine, I'm seeing this a lot:
![image](https://cloud.githubusercontent.com/assets/207112/23752758/4dd7ce3a-04df-11e7-930b-a6f649a5368

[2017-03-10 15:35] surik opened #395 "The simple request crashes on 1.7.1"
This request
[code]
crashes with the following error:
[code]
but works on 1.6.6.

[2017-03-10 18:57] santif commented on #395
+1

[2017-03-13 13:49] frahugo opened #396 "Update hackney package"
Tests are failing because hackney 1.6.6 introduced a bug with HTTP headers.

[code]

We had to stick with 1.6.5.  But the AppSignal upgrade required hackney 1.6.6.

[2017-03-13 13:49] #396 closed

[2017-03-13 13:49] frahugo commented on #396
Sorry.. opened this in the wrong project

[2017-03-14 19:59] Cohedrin commented on #179
I can't be sure this is what was being originally referred to, but from what I can gather I believe the issue is [this](https://github.com/benoitc/hackney/blob/ea2012f0d4d97c1ec1a50e840168dff5b48ab97d/README.md#metrics-per-pool) states that the pool metrics are prefixed with `hackney`, but the actual metric is prefixed with `hackney_pool`, as can be seen [here](https://github.com/benoitc/hackney/b

[2017-03-21 08:41] etnt opened #397 "git clone then make fails"
According to the README I should be able to run make after cloning.
Well, it doesn't work; no Makefile exist.

Also, if I want to use a minimal client from an escript, can I do that?

[2017-03-21 15:07] brettwise commented on #387
I wasn't sure about where the files were that @gVolop & @BillSmargiassi mentioned deleting.

On MacOS deleting `/usr/local/lib/erlang` and then running `brew install erlang` seems to do the trick.

May need to `brew update` first.

[2017-03-21 19:00] BillSmargiassi commented on #387
Yes @brettwise, that's what I meant.

[2017-03-28 12:07] ijunaid8989 opened #398 "%HTTPoison.Error{id: nil, reason: :closed}"
Hello, Everyone.

We are using HTTPoison in our code base for the post and get requests while using the hackney pool. Posting here is just because I want to get some opinions from all the experts.

We are working with a lot of cameras, where, from each camera, we are getting images, And then all those images, we are saving them to[ seaweedFS](https://github.com/chrislusf/seaweedfs) servers.

We ar

[2017-03-29 09:09] pacoguzman commented on #359
I'm having this issue too. I get the following error on an elixir umbrella project:

[code]

If I have the following apps configured to be started

[code]

It does not work, but work if I change the order

[code]

Any suggestion in how can I avoid this error. This is the exometer configuration that I'm testing

[code]

Thanks in advance

[2017-03-29 09:49] benoitc commented on #359
You will need to start exometer first. It's needed so hackney can init the metrics at startup.

[2017-03-29 11:26] pacoguzman commented on #359
Cool thanks!

[2017-03-29 21:06] shribe opened #399 "problematic "normalization" of paths"
Hackney should NOT attempt to encode provided URLs, at least not without being asked to. At this level the library should assume that the URL is already properly encoded. The reason for this is that attempting to mimic the "convenience" of browsers introduces all sorts of ambiguities. (That functionality could be exposed via utility functions for clients that need it.)

For just one example, from

[2017-03-29 21:29] benoitc commented on #399
You can  pass your own encoding function to Hackney with the setting `path_encode_fun` if the default behaviour doesn't work with the API you're trying to call.  On which URLs the current encoding function was an issue?

Hackney has different goals from others "libs". We can of course relax the way the url are encoded or provide an option. I'm not sure this feature should not be the default though

[2017-03-29 21:42] shribe commented on #399
Here's an example URL that had a problem:

http://us.rd.yahoo.com/finance/external/investopedia/rss/SIG=12kf3hrkl/*http://www.investopedia.com/news/microsoft-tests-chat-transcription-xbox-one-msft/?partner=YahooSA

The fundamental issue is that it is not possible to know whether a URL passed into hackney is already encoded. You can guess, and be right nearly all the time, but there will be rare oc

[2017-03-29 21:46] deadtrickster commented on #399
related?

https://github.com/benoitc/hackney/issues/246
https://github.com/benoitc/hackney/pull/249
https://github.com/benoitc/hackney/issues/176
https://github.com/benoitc/hackney/pull/251

I feel like some people want to encode and others don't.

[2017-03-29 21:56] benoitc commented on #399
@shribe you read the algorithm wrong. What is does is considering that the normal case is that you pass an unencoded URI end encode it following the RFC 2732. But still do its best to detect the case where some are still passing partially encoded URI.

There is nothing wrong in doing it it. This is a choice made by Hackney that you apparently dislike that much. It actually helped in a lot case. Al

[2017-03-29 21:57] benoitc commented on #399
i will let the ticket open until the action above are done.

[2017-03-29 22:00] benoitc commented on #397
@etnt mm i will update the readme. Thanks to pointing it.

As an escript, yes of course :) This exactly what I did for [Erica](https://github.com/benoitc/erica)

[2017-03-29 22:03] shribe commented on #399
I don't believe I am misreading it. You can have a URL where hackney will literally encode some "%" characters but not others. That's just flat-out wrong. (And, in my opinion, a good example of why trying to "detect" whether a URL needs encoding is a bad idea for a library.)

[2017-03-29 22:04] shribe commented on #399
I should also have said that, as far as I am concerned, an option to not attempt to encode the URI solves it.

[2017-03-29 22:07] benoitc commented on #399
@shribe yeah I heard your opinion.

The plan is:

- [ ] add an option to disable uri encoding in config and setting for 1.x . (no breaking change)
- [ ] ask long time users what should be the default for the next major release

[2017-03-29 22:09] benoitc commented on #399
@deadtrickster thanks for the links, was looking at it. I will check them again.

[2017-03-29 22:11] benoitc commented on #399
@shribe just to not be misunderstood, i'm taking your suggestion in consideration. But it need to be done step by step.

[2017-03-29 22:15] shribe commented on #399
I understand that it is the way it is right now, and that you have to be careful about changing the behavior.

[2017-03-31 05:35] mgumz commented on #398
@ijunaid8989 in general it is a good idea to keep long-standing connections (handled by a pool) because otherwise you will have some overhead (tcp handshake) + you will burn your sending ip:port for a while (30s+) since the kernel will not pick the same ip:port for a while (see TCP_WAIT). especially if you have a high rate of requests towards the other service, you will exhaust your available ip:p

[2017-03-31 08:05] netDalek commented on #395
+1 !

[2017-04-02 20:16] egeersoz commented on #387
Completely removing erlang and reinstalling the latest version didn't fix this for me.

[2017-04-02 20:26] benoitc commented on #387
@egeersoz how did you install it?  also can you tell me how can I reproduce it? would help.

[2017-04-02 20:34] egeersoz commented on #387
I use homebrew. First I did `homebrew uninstall --force` to uninstall Erlang (had to use the force command because I have Elixir, which depends on Erlang). Then I did `brew update` followed by `brew install erlang` which installed Erlang 19.3.

I'm using HTTPoison, which is an Elixir library:

[code]

This results in:

[code]

There's a few tickets on HTTPoison on this but they are all closed sayi

[2017-04-02 21:06] deadtrickster commented on #387
https://www.ssllabs.com/ssltest/analyze.html?d=neutrinoapi.com&hideResults=on

[2017-04-02 21:15] deadtrickster commented on #387
Also:

[code]

so nothing new :-)

[2017-04-02 23:23] gVolop commented on #387
@egeersoz
ru sure u completely uninstall erlang & elixir? for me, after homebrew uninstal still had erl command. so i had to remove it manually and after the cleanup - i had install rlang & elixir with brew

[2017-04-03 00:04] egeersoz commented on #387
I didn't uninstall Elixir, since the problem is caused by Erlang. However, I uninstalled all versions of Erlang using `homebrew uninstall erlang --force`, and verified that it was gone by running `iex`, which gave an error saying it couldn't find `erl`.

[2017-04-06 02:33] pwightman opened #400 "Error in hackney_headers_new"
hackney lib version: 0.7.1
httpoision lib version: 0.11.1

Using the `follow_redirect` option with a URL that redirects (`https://google.com/` redirects to `https://www.google.com/`) fails inside hackney's header parsing. It seems related to the recent header parsing refactor for duplicate headers (#234 and related).

HTTPoison code (tried to reproduce in only hackney but couldn't quite figure it

[2017-04-06 03:04] pwightman commented on #400
Updated the Stacktrace above with actual parameter list passed into `hackney_headers_new.do_fold`.

[2017-04-06 03:57] pwightman commented on #400
It would appear it has to to do with the `follow_redirects` option, even this fails with the same error:

[code]

[2017-04-06 04:05] pwightman commented on #400
Initial issue updated to reflect minimum reproduction case.

[2017-04-11 20:00] ctrlShiftBryan commented on #391
@benoitc How did you envision fixing this? I've run into this issue because :hackney.body/1 is not called until the pool maxes out and things never get checked back in. Could you add a timeout to the amount of time something is not checked back in or is that best left for a pool handler?

[2017-04-13 14:24] ctrlShiftBryan commented on #391
I ended up just respecting the connect_timeout option

[2017-04-14 07:33] jechol commented on #273
Same issue here.

[2017-04-18 09:05] edevil commented on #400
Me too:
[code]

[2017-04-19 17:56] phylake commented on #391
Bump. By default hackney can only make [50](https://github.com/benoitc/hackney/blob/362f062794342c1a29cd70cdabc808b0ab02afa1/src/hackney.app.src#L23) requests before it blocks completely.

[2017-04-19 18:24] phylake commented on #391
That is to say this is a non-starter since we only get to 51

[code]

[2017-04-19 20:37] benoitc commented on #391
@phylake you need to read the body. If not the socket won't be released to the pool.

Try the following:
[code]

[2017-04-19 20:47] phylake commented on #391
The issue is present for `post` (and presumably `put`) as well which is how we originally discovered it

[2017-04-19 20:49] phylake commented on #391
@benoitc do you consider the default `get` behavior a bug? Not all GETs have a body (e.g. on a 304)

[2017-04-20 03:11] lrouquette commented on #395
+1

[2017-04-20 03:57] #395 closed

[2017-04-20 04:00] benoitc commented on #400
are you sure about the version of hackney? Latest is 1.6.2 ...

When I tried your request it's working:
[code]

[2017-04-20 04:28] #400 closed

[2017-04-20 06:07] benoitc commented on #391
@phylake same for all connections. You need to read the response in any case to release the socket. This is how it works currently to prevent any resource consumption. (you can by pass the pool if you need to also).

304 and such cases are already covered :)

[2017-04-20 13:25] #397 closed

[2017-04-24 19:30] jeromedoyle opened #403 "File download hangs infinitely"
I have been using HTTPoison (which uses hackney under the hood) to download hundreds of files per day asynchronously using the `stream_to: self()` option. I've recently encountered a file that stops receiving after the headers are received. I tried it directly in hackney and get the same result.
The url is http://engine.edocbuilder.com/include/fileDownload.aspx?p=TlP1kM4If79%2fS5yf5VAZfuSSS2SI862s

[2017-04-25 18:16] benissimo commented on #387
Reverting to 1.6.1 of Hackney solved the problem for me:

` {:hackney, "1.6.1", override: true }, `

That's the only change I made (didn't reinstall erlang, etc.)

[2017-04-26 08:11] gVolop commented on #387
maybe it's solved the issue. but override to old versions it's not so recommended.

[2017-04-26 08:15] benoitc commented on #387
Also the reason it is happening is because hackney is more stric now (which is a good thing). Which ssl version are you using?

[2017-04-26 09:20] benissimo commented on #387
I had Apple's openssl:
OpenSSL 0.9.8zg 14 July 2015

Today I upgraded that, and removed and then reinstalled erlang:
[code]

I then stopped overriding the version of Hackney, reinstalled dependencies in my Elixir app and:
[code]

[2017-05-02 09:44] bernardd opened #405 "Passing non-binary values as headers"
Somewhere between v1.6.6 and 1.7 the implicitly accepted type (as determined by dialyzer) for `Headers` in `hackney:request/5` changed from a proplist with strings or binaries to one with binaries only. Is it intended that the `Headers` parameter should only ever be `[{binary(), binary()}]` or should `[{list(), list()}]` also be allowed? The spec for `request/5` only specifies `list()`, and the do

[2017-05-03 08:29] benoitc commented on #405
@bernardd hrm sounds like a regression for an 1.x version.
I expect in the future to only use binaries as headers since it makes things more efficient, but I guess the current release should be fixed. Thoughts?

[2017-05-04 12:10] bernardd commented on #405
I'd agree - assuming you're following a roughly semantic versioning approach where minor version changes shouldn't break APIs, I'd say it's definitely a regression that should be fixed. If the docs had been clear about being binary-only that would be one thing (even if the code had been more liberal in what it accepted) but given that evidently at least some other library authors were using other

[2017-05-09 12:18] benoitc commented on #403
what do you mean by "hang"?

[2017-05-09 13:07] jeromedoyle commented on #403
The call to `{:ok, body} = :hackney.body(ref)` doesn't return and cpu spikes.

[2017-05-09 13:56] benoitc commented on #403
@jeromedoyle I reproduce the issue.

I thought first that it was an issue with  the pathe encoding as curl is sending me a 500 error but it's not the case. I still reproduce it. Tracing the request return the following below. I will have a closer look on it today.

[code]

[2017-05-09 14:03] jeromedoyle commented on #403
Awesome, thank you!

[2017-05-09 17:28] jyurek opened #406 ""handshake failure" Erlang 19.3, CentOS 6.4, hackney 1.7.1"
I'm trying to use hackney via HTTPoison in Elixir. I'm making an HTTPS request to a public URL. I get this in my logs:

    13:18:20.936 [warn] hackney_ssl: ECC not enabled
    13:18:21.110 [error] SSL: :certify: tls_connection.erl:715:Fatal error: handshake failure - malformed_handshake_data

If I change the URL I attempt to get to HTTP instead of HTTPS, it works, so it's not that there's a serve

[2017-05-12 20:02] suprafly commented on #114
Still seeing this issue.

[2017-05-19 08:15] alinpopa commented on #406
Getting exactly the same error (but on Erlang), and I'm having the following setup:
- Macos 10.12.4
- Erlang 19.3
- Tried using Hackney 1.6.5 and 1.8.0 (both raise the same error)
- Used the "Simple example" from the README https://github.com/benoitc/hackney#simple-request, so doing a request exactly like in that example, no funny business.

[2017-05-19 14:08] aweiker commented on #387
I just had this issue as well. It turns out that I had a rogue erlang solutions install hanging around in `/usr/local/lib/erlang`.

[2017-05-19 14:37] benoitc commented on #406
@alinpopa looks at #387 for a solution to your issue.

@jyurek  I guess it's same issue, your openssl installation doesn't have curve ciphers which is detected by hackney there. Maybe the server you want to achieve needs them?

[2017-05-19 14:53] benoitc commented on #406
@jyurek can you provide the url on which it happened?

[2017-05-19 15:13] benoitc commented on #385
answered

[2017-05-19 15:13] #385 closed

[2017-05-19 15:27] monkeygroover commented on #387
Ok, going to dump a series of observations here hopefully to clarify what seems to have happened.

1) Apple stopped shipping newer versions of openSSL after 0.9.8
2) homebrew used to work, but at some point they decided to stop symlinking the library into the global path as it can mess up other apps.

[2017-05-19 16:50] benoitc commented on #114
@suprafly next major release may have it though why not using the `hackney_headers` module?

[2017-05-19 16:54] benoitc commented on #403
so the error apparently is that it got the full body but wait for the next bit until it timeout (and return the  body). Not sure why yet. I will take care over the we.

[2017-05-19 16:58] jeromedoyle commented on #403
Awesome, glad you found the issue. Is there anything you need from me?

[2017-05-19 17:21] suprafly commented on #114
@benoitc Thanks. I found a work around, I messed around with using the `hackney_headers` module, however my problem with is that I am using hackney via the HTTPoison library in Elixir. It was not obvious how I could pass headers generated with that module down into hackney.

[2017-05-20 19:14] benoitc commented on #405
closing the issue. headers using a string as a key are accepted at the moment .

[2017-05-20 19:14] #405 closed

[2017-05-20 19:23] benoitc commented on #363
answered.

[2017-05-20 19:23] #363 closed

[2017-05-20 19:23] jimdigriz opened #408 "idna bump explodes"
[idna bump](https://github.com/benoitc/hackney/commit/9d524a3dafd265c66fa148f144305198621adca6) breaks things.

[code]

No idea where `unicode_util` comes from, maybe I am doing something wrong.

[2017-05-20 19:30] jimdigriz commented on #408
Running 19.3, I see unicode_utils is meant to come from R20 and there is some fallback mechanism.  I guess it is not working.

[2017-05-20 19:42] jimdigriz commented on #240
MaxCDN have the incorrect chain order problem when you try to pull https://www.maxcdn.com/one/assets/ips.txt ([SSL Labs](https://www.ssllabs.com/ssltest/analyze.html?d=www.maxcdn.com))

[2017-05-20 20:45] benoitc commented on #408
how did you build it?

[2017-05-20 20:48] benoitc commented on #408
also how can I reproduce the issue?

[2017-05-20 20:50] benoitc commented on #408
it seems to work there:

[code]

[2017-05-21 10:55] jimdigriz commented on #408
[code]

[code]

[2017-05-21 11:01] jimdigriz commented on #155
I have a shim wrapper for this that works for default/gzip and even when calling `stream_body/1` that I can put up here if or anyone wants to see the moving parts that are involved?  It is not a hackney fork though.

[2017-05-21 20:36] benoitc commented on #408
i guess erlang.mk doesn't use rebar 3 but still rebar 2 which could explain why or maybe do smth else.  i will have a look, for now only buuilds with rebar3 are supported.

[2017-05-22 09:58] #408 closed

[2017-05-22 11:05] benoitc commented on #408
fixed in hackney 1.8.3. Thanks for the report!

[2017-05-22 15:51] benoitc commented on #408
@jimdigriz did it solve your issue?

[2017-05-23 09:29] jimdigriz commented on #408
Yes, thanks!

[2017-05-23 22:42] notriddle opened #409 "Hackney has dialyzer warnings"
[code]

[2017-05-24 10:16] lasseebert commented on #409
I also have dialyzer warnings in my own project with the latest version of hackney. I can confirm that the fix in https://github.com/notriddle/hackney/commit/85ec163d6771a629a1f43c95fdd0ba274fb39280 fixes it for me.

[2017-05-31 16:29] Zert opened #411 "Too many sockets in CLOSE-WAIT state"
I have a system which makes a large amount of async requests using hackney. Thank you for this library!
But I have a strange behaviour only for HTTP and not for HTTPS. When hackney works without default pool (proxy issues, btw), it does not close connection after request completion.

Script for this missbehaviour:

[code]

Each `Call()` adds one linked port to `hackney_manager`. These sockets are

[2017-05-31 21:10] Zert commented on #411
It seems sockets leak for HTTPS too, but linked with another process, not `hackney_manager`.
This is the `process_info` output of this process, if it can helps you (Elixir, sorry):
[code]

So, there is ports leakage somewhere in hackney :(

[2017-06-01 06:26] benoitc commented on #411
I guess this is because the server send a keepalive, so the connection will be kept. Using `hackney:close/1` should fix it.

Let me know :)

[2017-06-01 06:55] Zert commented on #411
Yes, but it doesn't. My code sample has `hackney:close(Ref)`. I have this problem only in async mode.

[2017-06-01 07:01] benoitc commented on #411
hrm I think you amso need to use `hackney:stop_async/1` but will try later in the day. Thanks for the feedback

[2017-06-01 12:03] Zert commented on #411
Have no changes with `hackney:stop_async/1`

[2017-06-01 12:04] lasseebert commented on #409
This was fixed in https://github.com/benoitc/hackney/commit/f78aa54c8fe4f8a807185bd9a9fa98d9aef2e1dd

Thanks, @notriddle and @benoitc :)

[2017-06-01 12:59] #409 closed

[2017-06-02 11:48] Zert commented on #411
Hello, Benoit! Did you try it?

[2017-06-05 15:55] benoitc commented on #411
@Zert sorry quite busy last week. I will have a look later tonight. Thanks for the patch anyway :)

[2017-06-07 05:14] Zert commented on #411
Have no more problems on my production with this patch since yesterday

[2017-06-07 13:28] AntoniBertel opened #413 "Idna: module unicode_util is not available"
HI,

I saw the https://github.com/benoitc/hackney/issues/408, but even with 1.8.5 version I get an error.

My system dependencies are:
Erlang/OTP 19 [erts-8.3] [64-bit] [smp:4:4] [async-threads:10]
Elixir 1.4.4

Part of my project dependencies:
diplomat ~> 0.7
goth ~> 0.4

Please look at the stacktrace
[code]
Any advices how to solve the issue?

[2017-06-07 22:39] benoitc commented on #413
can you provide me an easy way to reproduce it? it will help a lot

On Wednesday, June 7, 2017, AntoniBertel <notifications@github.com> wrote:

--
Sent from my Mobile

[2017-06-08 14:39] AntoniBertel commented on #413
I roll-back my previous changes, but issue is not reproducible. I flushed local cache and rebuild project, but no luck to reproduce. the issue Looks like problem was in cached dependencies/something like that.
The problem is gone after I re-build project under Ubuntu and today I can' reproduce it.

[2017-06-08 14:39] #413 closed

[2017-06-12 06:53] benoitc commented on #411
fixed in latets master. Thanks for the patch @Zert

[2017-06-12 06:53] #411 closed

[2017-06-12 06:54] benoitc commented on #406
bump?

[2017-06-12 15:58] jyurek commented on #406
Oh sorry. The URL is https://www.mbta.com/uploadedfiles/MBTA_GTFS.zip

[2017-06-14 15:00] ngw opened #415 "econnrefused for no reason"
I'm developing a Phoenix app using the oauth2 lib and I'm trying to authenticate against a Rails powered provider.
The problem I'm facing is that I get an econnrefused for reasons I really can't understand.

    iex(3)> :hackney.request(:post, "http://127.0.0.1:3000/oauth/token", [], "client_id=2591bfa87c44ac8a2d9b6089c924be729ede5ffe639dc1cc2c2ecc6775cbbea7&client_secret=54a8ec90912eb9a89253d0618

[2017-06-15 21:19] fertapric commented on #328
In my case, I fixed it by instaling `erlang-parsetools`.  I was building a Docker container based on `alpine:3.6`. Hope it helps!

[2017-06-18 12:15] zkessin opened #416 "Problem with unicode_util_compat on Erlang 20"
When you try to build a release with erlang 20 using Hackney it complains that unicode_util_compat is included twice which prevents the release from being built

[2017-06-20 17:42] MSch commented on #415
@ngw we are seeing a similar problem, what version of hackney are you using?

[2017-06-21 08:41] ngw commented on #415
Hi, I solved it, it was a misconfiguration of my linux machine

https://github.com/scrogson/oauth2/issues/94

[2017-06-21 08:41] #415 closed

[2017-06-23 10:32] gmile commented on #416
Seeing this as well.

[2017-06-25 16:07] benoitc commented on #416
I'm not reproducing it unfortunately using the latest stable of erlang 20. Can you share a simple case that reproduce it?

[2017-06-25 16:12] gmile commented on #416
@benoitc I don't have a quick repro repo right now, but here's a log from a failed Travis build, maybe it will give some clues: https://travis-ci.org/Nebo15/ehealth.api/builds/246116286#L2441

[2017-06-26 20:52] skosch commented on #416
FWIW, I just ran into the same issue (using distillery) and was able to get everything working again after a quick `mix deps.clean --all && mix deps.get`.

[2017-06-28 10:29] merqlove commented on #413
Hi, i have same error currently:

InFactApi.Parsers.Search.request("Some", %{}, "sfsafas4", self())
[debug] Search options: %{fields: ["_internal.extension", "_internal.language", "author", "language", "pub_date", "source_site", "source_type", "url", "polarity"], from: 0, highlightFields: [], mappingDefinition: %{index: "news_actual", type: "news"}, query: "Some", size: 15, withId: true, withRank:

[2017-06-28 10:31] merqlove commented on #413
I think this error can present, when you have updated ERTS, but not restarted REPL.

[2017-07-07 09:55] binarytemple opened #418 "Feature request - Unix domain socket support"
Unix domain sockets are very useful for communicating with the Docker daemon. The advantage is principally that you don't need to organize any authentication (generating certs, installing, restarting daemon, etc).

When working with curl, it is possible to use the '--unix-socket' argument in order to use Unix domain socket. [Here](https://medium.com/lucjuggery/about-var-run-docker-sock-3bfd276e12f

[2017-07-09 12:17] benoitc commented on #418
@binarytemple there already limited support for it. <for calling unix socket in the current version you will need to use such uri: `http+unix://httpbin.sock/mypath`.

[2017-07-09 16:28] binarytemple commented on #418
Ah, thanks. The conflation of the socket path and URL are kind of weird though. I mean taking this as an example:

[code]
The socket path is : '/var/run/docker.sock' but the URL path is '/containers/create'.

Any suggestions?

[2017-07-09 16:29] binarytemple commented on #418
(I've been reading through the integration tests btw ( hackney_integration_tests.erl )

[2017-07-11 12:15] jimdigriz opened #420 "after several days pools hang"
Hi,

Looking for help on how to track down a glitch (I am using version 1.8.6) where after several days of use the `hackey_pool` (traffic is low at ~100 requests per minute) just seems to stop working; everything just times out and `tcpdump` shows zero traffic on the wire (also the output of `ss`/`netstat` shows no open sockets to the destination server).

I am pretty certain below is not enough i

[2017-07-11 20:14] jimdigriz commented on #420
Looks like on my memory usage graphs, RAM used dropped substantially after restarting the pools (three different servers shown) at around 1330 today as per the graph below.  Interesting the graphs show a general upwards trend for the week; the hanging started about 30 hours before I 'fixed' it.

![memory-usage](https://user-images.githubusercontent.com/2567406/28088444-99b7d142-667d-11e7-94b0-0c3e

[2017-07-12 09:58] efexen commented on #416
Can confirm just had this with the following setup:

Erlang/OTP 20 [erts-9.0] and Elixir 1.4.4

Failed with:
[code]

When running the `mix release` task from Distillery and @skosch recommendation to do `mix deps.clean --all` solved it 👍

[2017-07-16 18:00] binarytemple commented on #418
Solution - URL encode the socket path. I considered modification, but it's much simpler just to go with it.

[2017-07-16 18:00] #418 closed

[2017-07-17 00:42] mustafaturan commented on #240
Not recommended but:
You can disable it with the disable option: {server_name_indication, disable}

[2017-07-22 09:23] jimdigriz commented on #420
Just happened again, do you have any recommendations on things I should poke/inspect when it reoccurs?

[2017-07-24 15:15] mkarnebeek commented on #420
Same issue here. `nb_waiters` keeps growing. But in my case also `queues` is growing with the same amount, and `clients` is at its max all the time.

This results in a deadlock since https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L264 does not return in that case, and only replies when another connection returns.

Will investigate further in the next days, but restarting the p

[2017-07-26 15:37] dannote commented on #420
I'm experiencing the same issue.

[2017-07-26 16:40] maartenvanvliet commented on #416
Had the same issue, also with distillery. The @skosch recommendation worked for me as well.

However, I forgot to add the `deps` directory to my `.dockerignore` so in the following excerpt the `deps` directory was overwritten, retriggering the error. Adding the directory fixed it to the ignore-file fixed it.

[code]

[2017-07-26 20:32] axelson opened #423 "news/changelog is out of date"
Is it possible to get the `NEWS.md` file updated? It only lists releases up to 1.6.2 when the latest release is 1.8.6. The changelog is helpful for end users to understand new code that is being introduced when upgrading.

[2017-07-27 19:30] dspencer001 opened #424 "Unknown CA while Proxying"
I am having an issue with proxying and verifying peers over ssl. When I make the request without the proxy it succeeds, when proxying it fails. I have this issue using squid and mitmdump. I am using HTTPoison, but the error happens as well when calling hackney directly. Any idea what's happening?

We are not using connection pools and have disabled the default pool.

EDIT: This is on hackney 1.8.0

[2017-07-27 19:48] benoitc commented on #424
there is a new version of certs that is coming. I will check that in the morning. Thanks!

[2017-07-27 19:50] benoitc commented on #420
[code]

[2017-07-27 19:53] benoitc commented on #416
this issue clearly related to the way mix is handling builds using rebar3. can someone provide a reproducible example? I will have a look on it over the we.

[2017-07-27 19:54] dspencer001 commented on #424
Why would it work without the proxy if it was a missing certs issue?

[2017-07-27 20:49] dspencer001 commented on #424
I updated the initial post with elixir and erlang version info.

[2017-07-28 09:44] benoitc commented on #355
no. the bug would be closed either way. Planned for coming month.

[2017-07-28 09:45] benoitc commented on #424
I missed the part with the proxy. It should be related to #355 . I will  have a look on it asap. probably over the week-end.

[2017-07-28 11:06] jimdigriz commented on #420
Yes, surely otherwise `hackney_pool:count(example_pool)` would be non-zero?

[2017-07-28 13:49] tverlaan opened #425 "idna 5.0.2 has minimum otp version 18"
idna 5.0.2 states that R18 is the minimum OTP version. Hackney however states in the README:

rebar3 is checking the minimum OTP version of all dependencies and stops compiling idna & hackney for anything <R18. This is preventing me from moving a project (travelping/exometer_influxdb#42) to rebar3 and using hex.pm as a source for packages. How should we go about solving this?

- Lower idna require

[2017-07-28 13:56] dspencer001 commented on #424
I actually ran into that issue previously when redirecting, so in my application I have disabled the default connection pool. If it is somehow trying to find a cert for localhost though that would explain why it can't find one.

[2017-07-28 16:50] ericmj commented on #416
Using unicode_util_compat 0.2.0, Elixir 1.5.0 and OTP 20. I can not see the `unicode_util` module being compiled by unicode_util_compat. You can check in `_build/dev/lib/unicode_util_compat/ebin`. Mix creates it's own rebar.config that it passes to rebar before compilation, you can check if it's correct by looking at `_build/dev/lib/unicode_util_compat/mix.rebar.config`, it should not have `pre_ho

[2017-07-29 09:30] benoitc commented on #423
Right. thanks for the report, I will take care about that in next major release. waiting for it there is always the commit log: https://github.com/benoitc/hackney/compare/1.6.2...master

[2017-07-29 09:33] benoitc commented on #425
should be fixed in 16c29440c6d407cd84ef2d06aeca6f54663fe3f0 . I didn't test idna 5.1.0 with version < 19 though, so let me know.

For your info the next major release will only handle Erlang >= 19, only  fixes will be backported. So it may be better to make sure your code is compatible with latest Erlang.

[2017-07-29 09:35] benoitc commented on #416
fixed in 16c29440c6d407cd84ef2d06aeca6f54663fe3f0 . I applied last pr from @ericmj . Thanks again for the patch.

[2017-07-29 09:35] #416 closed

[2017-07-30 16:01] tverlaan commented on #425
Thanks for fixing!

[2017-07-30 16:01] #425 closed

[2017-07-30 16:54] benoitc commented on #423
fixed in 305fbff4e92312bace149716a1d5afa44f70a68a

[2017-07-30 16:54] #423 closed

[2017-07-30 18:47] bonyiii opened #426 "Complie issue"
I tried to install hackney (v1.8.6) on a linux box under elixir as a dependency of HTTPoison but got this error:

    ===> Compiling hackney
    ===> Compiling src/hackney_url.erl failed
    include/hackney_lib.hrl:6: syntax error before: '�'
    include/hackney_lib.hrl:24: syntax error before: '�'

    ** (Mix) Could not compile dependency :hackney, "/home/user/.asdf/installs/elixir/1.4.5/.mix/re

[2017-07-31 18:57] dspencer001 commented on #424
So it turns out mitmproxy is inserting a cert, which is causing requests to fail when made through it. Squid though does not, and for some reason requests to https://search.atomicjoltbetaapps.com through it work now. I'm not sure what changed, but I'm fairly certain that it was nothing with hackney. Given that I can't replicate the issue anymore with squid, and mitmproxy is failing correctly due t

[2017-07-31 18:57] #424 closed

[2017-07-31 19:12] axelson commented on #423
Fantastic, thanks!

[2017-08-01 08:30] benoitc commented on #424
thanks for the feedback @dspencer001

[2017-08-02 09:58] edevil commented on #155
Have the internals been reworked?

[2017-08-04 09:41] minhajuddin commented on #420
I too am getting `{:error, :connect_timeout}` errors. The following code reproduces it:

[code]

I know that this isn't reading the body of the response, but shouldn't that not cause a `:connect_timeout`, but be queued instead and then processed once our pool has free connections?

[2017-08-13 12:31] paul-bell opened #428 "Noobish runtime question"
Hello,

Several years ago I knew barely enough Erlang to write some lengthy programs. But they were all simple, one module affairs. Since then I've done nothing with Erlang but am trying to get back into it.

I successfully (I think) built hackney using rebar3. I then started a shell via the _erl_ command. Following some examples I found on the Web, I did this:
[code]
So I added to the runtime pat

[2017-08-14 09:02] orestis opened #429 "Why 307 POST redirects are not followed?"
By my understanding of https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/307 , there's no reason to not follow a 307 redirect even with a POST method (and should explicitly preserve the method).

I can't figure out a way to make hackney (used via HTTPoison) to explicitly follow a 307 redirect (vs returning a `:maybe_redirect` `AsyncResponse`).

[2017-08-14 16:29] jeromedoyle commented on #403
Any chance this is related to #420?

[2017-08-15 14:56] InoMurko commented on #398
So who keeps the connections open and makes the pid being reused? Is it the pools problem or the server? If it's the server, what should be setting on the server be?

We had so many problems with pooling in hackney that we decided to disabled them completely.

[2017-08-19 06:31] mfclarke opened #430 "With follow_redirects, location/1 doesn't return correct redirected url"
It seems `location/1` returns the request host with the redirected path, rather than the full redirected URL.

I'm an Elixir guy, so this is in `iex`:

[code]

It should be returning the location from the 301 headers (`{"Location",
   "http://www.factmag.com/2017/07/28/kendrick-lamar-rihanna-partners-crime-loyalty-video/"}`) but seems to be just appending the new path to the old `bit.ly` host.

[2017-08-20 13:23] jacktang commented on #420
Any progress on the issue?

[2017-08-20 14:01] benoitc commented on #420
@minhajuddin the request  :
[code]

doesn't return the body but a reference on which you need to read the body.  Until you don't read it the  socket is not released.

@jacktang yes there are slow progress on it. A new release of hackney will happen at the end of the month.

[2017-08-20 14:04] benoitc commented on #420
@jimdigriz that doesn't answer to my question. Are you sure that you explicitly read the body in your code.

anyway the current system is about to be changed with the coming release.

[2017-08-20 14:14] benoitc commented on #224
not reproduced .

[2017-08-20 14:14] #224 closed

[2017-08-20 14:19] benoitc commented on #428
sorry for the late answer. if you want to have hackney and its dependencies loaded , the easiest way is to use `rebar3 shell` in your application. It will do the work for you. Also don't forget to add hackney to the applications lists in you `.app.src` file.

[2017-08-20 14:19] #428 closed

[2017-08-20 14:28] #426 closed

[2017-08-20 17:26] IanLuites commented on #420
@benoitc I'm not sure if @jimdigriz is reading the body, but we experience the same issue, where depending on traffic the pool fills up and connections are no longer release.

We can semi-guarantee that the body is being read, because we use the `:with_body` option.
The pool seems to be filling up, when the connection can not be established to the target.
(This is the reason we started creating ou

[2017-08-20 21:21] paul-bell commented on #428
Thanks very much for your reply.
I had no idea that I could use the rebar3 shell in my application.

[2017-08-23 03:22] smokinguns opened #431 "ca authority error"
First off, great library. Longtime developer, but still new on the erlang and elixir front.
I see where you can pass in the ca authority as a file path, which seems to get me past the unknown ca authority error. My question is why the use of certifi, when it looks like erlang ssl server has an option to verify the ca authority as well as configure the vm from the command line to look at the correc

[2017-08-23 08:12] ericmj commented on #431
How do you configure the VM to find a cacertfile?

[2017-08-23 08:36] benoitc commented on #431
@smokinguns certifi makes it easy to use the official bundle from mozilla to check the certificate. Plus it will cache it in the heap and allows you to use it via an escript.

Otherwise you will have to get it by yourself and cache it . Which is still possible in hackney by using the ssl options :)

[2017-08-23 12:56] smokinguns commented on #431
ok, l'm still somewhat of a noob in reading elrang...and well bouncing between both erlang and elixir can be a little taxing at first. We are unfortunately stuck behind a firewall that carries out an allowed man in the middle attack, so we will need to validate our cert, not the mozilla cert. I appreciate all the work that has been done on the repo. Also, thanks for taking the time to respond.

[2017-08-23 12:56] #431 closed

[2017-08-23 14:43] benoitc commented on #431
@smokinguns  like i said you can pass any ssl options even your own ca to hackney in ˋssl_options`. it will replace the defaults.

[2017-08-23 14:44] benoitc commented on #431
https://github.com/benoitc/hackney/blob/master/doc/hackney.md#request-5

[2017-08-30 19:22] paul opened #432 "rebar3 compile error"
Hi, I'm getting a compile error when trying to build this. It began when trying to use hackney as part of an elixir/phoenix project, and I've been chasing it down. It fails to compile the 1.9.0 released package in mix with the rebar3 version installed by mix, 3.3.6.

I grabbed a newer rebar3 3.4.3 and cloned this repo, and I get the same error:

[code]

I'm still pretty new to elixir, and almost c

[2017-08-30 19:39] paul commented on #432
Well, appearently just installing `erlang` on Fedora isn't enough. I installed `erlang-rebar`, and it installed a couple dozen other `erlang-*` packages, and now hackney compiles as expected, even using the mix-provided rebar.

Error messages here could be better, but totally not hackney's problem.

[2017-08-30 19:39] #432 closed

[2017-08-31 04:07] benoitc commented on #420
@IanLuites

[code]

[2017-08-31 07:08] jimdigriz commented on #420
Was @mkarnebeek onto a red herring?

[2017-08-31 07:12] benoitc commented on #420
@jimdigriz what do you mean?

[2017-08-31 07:21] jimdigriz commented on #420
@benoitc Yes I am reading the body using `hackney:stream_body/1`.  There may be occasions where I do not read the *whole* body, maybe when `zlib:inflate` explodes half way, or the client disconnects or something else explodes but surely there would be references to the connection still in the pool?

Currently @mkarnebeek and I seem to be looking at a connection pool with zero connections in there

[2017-08-31 07:21] jimdigriz commented on #420
Well @mkarnebeek seemed to have identified a deadlock, or maybe I mis-understand?

[2017-08-31 07:24] benoitc commented on #420
@jimdigriz oh. i missed it... sorry. i will jave a closer look on it and report.

[2017-08-31 08:38] mkarnebeek commented on #420
I'm experiencing the same issue, but the genserver state is different. We've identified a case where we are doing a lot of requests to a server which is having issues, so the case @IanLuites found might have a relation to this.

Currently, i've made the pool larger and implemented a workaround which checks the `nb_waiters`. If that is not 0, then I restart the pool. Since we are only experiencing

[2017-08-31 16:18] benoitc commented on #420
@jimdigriz sorry i meant to answer to you  with more info but then was sidetracked. I think i've found the issue. expect a fix until monday. One detail i'm missin is if the processes starting fhe connection are still alive after the failure?

[2017-09-06 18:14] lessless opened #433 "Add digest auth support"
Hello,

I saw it on the roadmap and want to strengthen the idea of handling digest authorization on the hackney level.

It will be really, really great :)

[2017-09-08 10:14] andreausu opened #434 "204 with no body hangs on second attempt after reading body"
Hi,

we've run into a very weird issue using hackney (via HTTPoison), basically we're getting an error whenever we make two requests towards the same IP address in quick succession where the first request return 204 with an empty body.

I setup a public test url where you can reproduce the issue, here's the controller code (it uses phoenix):

[code]

Heres the public test url: `https://backoffice-

[2017-09-14 07:19] amilkr commented on #420
@benoitc any update on this? I'm experiencing the same problem.

[2017-09-18 14:26] javobalazs opened #435 "Documentation: too many pending clientrefs unless you use hackney:body."
This is not a bug but something that should be emphasized in the documentation. The case: it seems a bit strange but in a certain project we simply discarded what was returned from `hackney:request` (actually, `:hackney.request` because it was an Elixir-project). This was something like a keep-alive, and the result (or whether it was successful at all) was not interesting. A certain dedicated proc

[2017-09-20 14:02] jacktang commented on #420
I want to downgrade hackney version. Anyone know which version is stable?

[2017-09-20 14:36] benoitc commented on #420
@amilkr there is an update planned on 27/09, i will have cycle for it. The change was larger than expected.

Until someone sponsor it, it will have a low priority unfortunately.

[2017-09-20 15:01] benoitc commented on #435
@javobalazs I agree. The way keepalive will be handled in the month release will make it more explicit. Thanks for the feedback!

[2017-09-20 19:53] robmadole opened #436 "Error which indicates an issue with SNI but I can't tell what this means"
I am working with the PayPal API using HTTPoison 0.13.0 and hackney 1.9.0.

I've got a very strange situation here. In my tests everything works as expected and I get a response. However when running this using `mix phx.server` something changes and I get:

[code]

If I disable `server_name_indication` using `ssl: [server_name_indication: :disable]`:

[code]

I have not been able to track down any

[2017-09-23 23:14] yyzzz6000 opened #437 "Anyway to get rid of content-type and content-length in every form data field for multipart"
Hi,
I met an issue when uploading a file to a cloud service by posting form data because the request includes content-type: application/octet-stream and content-length: xxx for each form data field.
<img width="1342" alt="screenshot 2017-09-23 13 31 28" src="https://user-images.githubusercontent.com/11425534/30777839-387b7132-a079-11e7-824d-4d6bcc980d59.png">
Is it possible to get rid of them? The

[2017-09-26 15:42] odarriba commented on #403
Any news on this? We are having the same issue :(

[2017-09-27 15:42] andyleclair commented on #420
@benoitc we've been seeing this crop up a bunch in production, is there any way I could help? Thanks for everything, by the way!

[2017-09-27 17:22] robmadole commented on #436
OK, I figured this out.

Turns out I was giving hackney an incomplete URL like `https:///path/to/somewhere` and it was manifesting with this error. My dumb mistake.

[2017-09-27 17:22] #436 closed

[2017-09-28 00:49] youroff opened #438 "Capturing custom headers sent on CONNECT by proxy server when accessing https host"
I'm trying use this proxy service with hackney: http://docs.proxymesh.com/article/7-request-response-headers#https
It reports current IP with custom header. When I call http host, it's appended, but this is obviously not the case when I call https. I managed to connect manually:
[code]
I assume somehow custom header is returned at this point (though it doesn't show in trace), but how do I get it?

[2017-09-29 17:51] Nagasaki45 commented on #403
I think that I'm facing the same issue. In my case, however, it doesn't hang forever, but takes way to much time to return.

Running the following script takes 384 seconds on my machine, compared to 43 seconds that it takes for `wget` to download the same 54MB page.
[code]

Elixir: 1.5.1
Erlang: 20
Hackney: 1.9.0

If it's unrelated to the issue please ignore and accept my apologize for interfering

[2017-10-04 09:54] chenxsan commented on #355
Just add

[code]
to `dev.exs` to disable `use_default_pool` until this is fixed :)

[2017-10-05 14:30] Hinidu commented on #420
@benoitc could you please at least publish your partial solution or explain the cause of the problem and your supposed solution so someone could help you resolve this issue faster?
We want to release our system next month and even now during development this issue is quiet annoying under load testing :disappointed:

[2017-10-05 15:52] Hinidu commented on #420
How much money do you need to change this issue priority to high? I can't promise anything but maybe it could be possible.

[2017-10-05 16:54] g-andrade opened #439 "Response specifying connection is about to close is sometimes ignored"
Hi,

There appears to be an edge case in the way clean connection shutdowns are handled; sometimes, due to nondeterministic delays and concurrency, hackney is attempting to synchronously receive (`hackney_tcp:recv/2`) either the status line or the response headers and it gets `{error, closed}` because the connection has, well, closed.

Now, the issue here is that this may happen _even_ when we've

[2017-10-05 17:39] g-andrade commented on #439
Using async didn't help; most of the time the connection gets closed while I'm waiting either for the status line or the response headers. I suspect this is due to the way active mode is toggled back and forth in `hackney_stream`; it provides windows of opportunity for the connection to close without dispatching all the received data.

[2017-10-07 22:01] benoitc commented on #420
Let me first describe the plan. Will do in the morning as it’s already late there, then maybe I could open a bounty or such.

Benoit

[2017-10-08 10:01] jimdigriz commented on #420
Slight concern is that the tone of this ticket implies that the only ways to have this bug fixed are:
 - @benoitc finds resourcing
 - fork project

Being open source and all, I really wish there was the option of "patches welcomed" but it seems to being sidestepped, but maybe I am mis-reading things?

This ticket is referring to a bug, but your reply is more aligned with "requires architectural/co

[2017-10-08 14:18] benoitc commented on #420
@jimdigriz This is quite an unfair comment.

No PR is actually proposing anything to fix above. There is really no need to fork. Just propose a PR if you want to have it fixed faster, I will review it. Of course, my time is counted though, so I'm dedicating my time where and when I can.

Until now my plan have always been to rather work on hackney 2 which may be a completely different lib though n

[2017-10-08 14:22] gamache commented on #420
Thanks @benoitc, this is very helpful.

[2017-10-08 14:47] benoitc commented on #403
@Nagasaki45 Not it seems related, thanks for that new link. This chunked encoding definitely needs some love.

 I've looked at the trace using `hackney_trace` and it seems to hang for a while on the first chunk (7665\r\n\n\n\n\n\n\n ...). Not sure  why, maybe the size given is not ok, or maybe the time to receive it was too long. Checking.

[2017-10-08 14:50] benoitc commented on #406
sorry for the late response :( I tested it with the latest version of hackney + certifi) on latest Erlang without reproducing it. Closing the issue then

[2017-10-08 14:50] #406 closed

[2017-10-08 22:26] jimdigriz commented on #420
Okay, I think I understand what the underlying problem is.  I wished I had put on my big-boy pants earlier and looked more into it when I first opened this ticket.

I have a commit (https://github.com/jimdigriz/hackney/commit/086f77de80f68f9e0f3ca9500301b1acc75d098f) that probably works around this problem, though it is untested.  I'm going to put it into production for me and see what happens.

I

[2017-10-10 16:51] Hinidu commented on #420
Thanks @jimdigriz! I will use your branch in our project and I will report here whether it works for us or not.

What is the race condition you are talking about?

[2017-10-10 17:08] jimdigriz commented on #420
It is remotely possible for the cast call for `checkout_cancel` to occur *after* a socket has been found.

For this to happen though you would need:
 - initial request would have had to wait and timeout for `ConnectTimeout` (defaults: 8000ms)
 - *immediately* after the timeout (within milliseconds, maybe less) a socket would become available, arguably unlikely
 - the execution of the cast for `che

[2017-10-10 18:45] Hinidu commented on #420
@jimdigriz Thank you for explanation!

Will it cause other side effects except `checkout_cancel` being `NOOP`? For example what will be the future of this socket? Will it be leaked? If it have no other side effects then I don't see the reason to avoid this race condition.

[2017-10-10 21:54] jimdigriz commented on #420
Yes the socket will be leaked, as it currently is without my branch.  What my branch does though is make it really unlikely to occur.

Side effects, I expect zero as it *only* occurs on the code path where this problem was a 100% certainty before.

[2017-10-10 23:04] Hinidu commented on #420
Ok, so it will leak but much less often. Perhaps it’s already good enough for us but it’s a bit scary - we are going to make thousands requests per second so quite rare and unlikely could become not so rare... I will try to dig more into this issue in a few days.
@benoitc could you please give some feedback on this patch?

[2017-10-11 07:30] jimdigriz commented on #420
@Hinidu ...then promote the `?report_trace()` to a full `io:fwrite(standard_error,"...")` so you can get visibility on this.  As for the scariness, if this race becomes and often problem for you, as the triggering for it can be completely detected this case, just hack into the source a `spawn()` that restarts the pool.

As for asking @benoitc for feedback, I do not think any of us are in a positio

[2017-10-11 07:43] benoitc commented on #420
@Hinidu I will do that later today

@jimdigriz can you send a PR to make the review easier?

[2017-10-11 10:51] obmarg opened #441 "Memory leak in hackney_manager when using async responses."
I've been doing some load testing of an Elixir service we've written, that makes
a lot of HTTP requests with hackney, using async responses. I noticed that after
about a million requests, the hackney_manager process ended up using about 500MB
of memory. This memory use did not go down when I turned the load testing off,
and the application was sitting totally idle.

Looking into the state of the p

[2017-10-15 19:48] benoitc commented on #439
did you try with the `with_body` parameter?

[2017-10-15 20:30] g-andrade commented on #439
I did; the test case I attached to the opening comment replicates the issue using `with_body`. It's a tricky situation to solve - if one reacts to `{error, closed}` when calling `gen_tcp:send` / `ssl:send` before either A) setting the socket to active mode or B) doing so but nevertheless ignoring the process inbox, the response will be lost. I believe it's necessary to make the connection process

[2017-10-17 10:04] benoitc commented on #439
@g-andrade sorry I missed the link. I will test. imo the right fix would be maintaining the socket in its own process . So it will continue to receive the sockets events and queue them locally (until some level).

[2017-10-18 07:11] #420 closed

[2017-10-18 10:24] #441 closed

[2017-10-19 21:20] scohen opened #445 "Hackney leaks manager refs"
I updated to master two days ago and observed a tremendous number of client references in the `hackney_manager_refs` ets table.
I've been able to reproduce quite easily, to the point where I wonder if there's something I'm doing incorrectly, but the documentation hasn't changed.

The following test shows the problem
[code]

Under 1.9.0 we get `{0, 1, 0}`, which is the correct response.
I used git

[2017-10-19 21:26] #445 closed

[2017-10-19 21:26] benoitc commented on #445
should be fixed in latest master. Thanks for the ticket!

[2017-10-19 23:11] lrascao commented on #387
[code]
did the trick for me

[2017-10-20 06:35] benoitc commented on #387
@lrascao it means that one of your server is not really secure. Hackney ensure a strict handhake. I guess you could have the same result by using the setting `insecure` also.

[2017-10-20 12:37] obmarg opened #447 "Deadlocks and excessive CPU consumption with async responses."
I've (again) been load testing a proxy application that makes use of async responses, against the latest master branch of hackney.

I'm basically spinning up 1000 clients that talk to our service, each of the requests those clients make will kick off a request using hackney.  After a reasonably small number of requests (8000-9000 pre `1ab27d4`, _seems_ to be more after that) things start going wro

[2017-10-20 12:39] benoitc commented on #447
@obmarg is this with 0.10.1 ? Pb should be fixed in this version . Let me know.

[2017-10-20 12:50] obmarg commented on #447
Yes, this is with 0.10.1.  The fix you made in 0.10.1 does seem to have made the error condition less likely, but it still happens sooner or later.

[2017-10-20 12:51] benoitc commented on #447
@obmarg can you share a snippet of your code? I would like to understand what it does.

[2017-10-20 13:06] benoitc commented on #447
not sure how you get that error on line 525 though... I don't see how it can happen right now.

[2017-10-20 13:11] benoitc commented on #398
this should have been fixed now.

[2017-10-20 13:13] benoitc commented on #447
@obmarg also what is in the supervisor queue? Did you look at it? (erlang:process_info or observer should do the trick)

[2017-10-20 14:07] obmarg commented on #447
The code itself is reasonably simple, so sure.  I've got this in one function:

[code]

Then there's the receive response function:

[code]

It's usually when the `raise Securi.Exceptions.DeadlineExceeded` code path is hit that triggers this issue.  Though not every time it is hit...

Here's a snippet of the supervisor queue.

[code]

It's mostly just repeats of this from that point on.

[2017-10-20 14:17] obmarg commented on #447
Not sure if it's relevant, but it also appears that there's a bunch of `Elixir.HTTPoison.transformer` processes still around as well.  (That's the intermediate process that HTTPoison uses to transform the hackney async messages into HTTPoison messages).

Though I suppose that might make sense if we're expecting hackney_sup to successfully restart stream processes so they can continue sending...

[2017-10-20 14:27] obmarg commented on #447
I've added a bit of logging to the `monitor_child` function:

[code]

Which gives me the following output:

[code]

[2017-10-20 16:24] lrascao commented on #387
that's interesting, i get the same error using the example on README.md
[code]
... but only on OTP19, it works fine in OTP20
i built both OTP's in the same way, in the same machine (MacOS)

[2017-10-20 16:27] benoitc commented on #447
i will have a closer look tonight. i still don’t understand from where this error is coming. The pattern matching should have take care about it.

[2017-10-20 16:27] benoitc commented on #447
also noproc is handled in the master now.

[2017-10-20 17:23] scohen opened #448 "Remove 0.10.0 from hex"
I think the memory leak is severe enough to warrant retiring that version.
`mix retire hackney 0.10.0 invalid` should do it.

[2017-10-20 18:42] dspencer001 opened #449 "Hackney doesn't send SNI when proxying"
Hackney: 1.8.0 (it appears on 1.10.1 as well)
Erlang: 19.3
Elixir: 1.3.4

When doing a GET to https://nationalinterest.org/ through squid as a proxy, Hackney fails with a tls_alert error because the client handshake failed. It looks like it doesn't send the SNI when proxying.

I couldn't find the ssl option to send the SNI anywhere in the code, so I have no idea how it works when not proxying.

Ad

[2017-10-23 02:04] jacktang commented on #420
I put the code into production env, and after 3 days, the pools hang again, does anyone has the same issue?

[2017-10-23 06:31] benoitc commented on #420
@jacktang please open a new issue describing your issue, logs and which version you're using. THat will help :)

[2017-10-23 06:33] benoitc commented on #447
@obmarg this should be fixed in master. I believe the issue was due to `noproc` not beeing matched. Let me know.

[2017-10-24 11:58] benoitc commented on #448
there is not such command in rebar3 unfortunately cc @tsloughter i will try to do that with another user on my machine (last time mix had overwritten the local hex conf ...)

[2017-10-24 11:59] benoitc commented on #447
@obmarg ping . did you reproduce it with latest master ?

[2017-10-24 11:59] benoitc commented on #420
@jacktang bump?

[2017-10-24 12:46] jimdigriz commented on #420
For reference, I noticed the problems still occur but the fix here means hackney now actually recovers.

The Real World(tm) problem, for us, is the HTTP server being queried, as it starts to struggle and timing out it of course starts chewing through the the connection limit of the pool size.

I suspect the fix here for @jacktang is to set the response read timeout to be lower than the connection

[2017-10-24 14:31] obmarg commented on #447
@benoitc The `noproc` match seems to have fixed the crash and the excessive CPU consumption that happened immediately afterwards.

However, I'm now seem to be getting a different issue: after a while, all my processes crash with a timeout when calling `hackney_manager:start_async_response`.  Looking at `hackney_manager` in observer, it appears to be stuck in `wait_async_response/1`.

[2017-10-24 15:57] jacktang commented on #420
@benoitc the ops team rolled back version immediately when the problem came up, so that I didn't collect the detailed connections and the pools information. The code version is tags/1.10.1. And we use the `default` pool with options `[{timeout, 60000}, {max_connections, 5}]`. Now we migrate the code to testing env. If the problem is re-produced, I would like open the issue with more information.

[2017-10-24 16:04] jimdigriz commented on #420
No sure what your use case is but the timeout of 60s is quite outrageous
for S2S :-)

Crank the timeout down to 1.5x of what is *acceptable* and connect timeout
to maybe less than that.

If the other end is struggling, they probably are getting listen queue
drops and so the connect timeout would be safer at a much lower value,
order of 500ms maybe?

See if you can tune hackney to handle the other

[2017-10-25 05:38] reith commented on #420
@jacktang did you find which version works?

[2017-10-25 07:12] benoitc commented on #420
@reith are you experimenting an issue with the latest version? If yes’ please open a ticket with the details to help to reproduce it. Your error may be different :)

[2017-10-25 07:31] reith commented on #420
@benoitc no, I just realized I forgot to skip body, sorry... I'm on 1.9.

[2017-10-25 18:23] msmykowski commented on #359
I am still having this issue. I am having a difficult time resolving it. I am starting exometer (elixometer) before hackney (httpoison) in my mix file, but am seeing the following error --

`** (Mix) Could not start application hackney: exited in: :hackney_app.start(:normal, [])
    ** (EXIT) an exception was raised:
        ** (MatchError) no match of right hand side value: {:error, {:shutdown, {

[2017-10-26 06:54] benoitc commented on #449
@dspencer001 thank for the report. Only issue with this option is that it's only available on erlang > 19 so we need a way to handle it. I'm thinking to add a flag via rebar.config for now. Thoughts?

[2017-10-27 06:32] byronpc opened #452 "case_clause issue on cancel_checkout"
I'm receiving this crash on my server

`{case_clause,0},[{hackney_pool,handle_cast,2,[{file,"src/hackney_pool.erl"},{line,312}`

Not sure if this is related to a memory leak we're experiencing when this crash occurs.

Upon checking the code, I can see `del_from_queue` can return `{Queues, 0}` where 0 is supposed to be a boolean for `Removed`. I think it should be `false` right?

[2017-10-27 11:25] byronpc commented on #452
@jimdigriz

[2017-10-27 13:26] jimdigriz commented on #452
Eugh, badly refactored, sorry!

When I moved from passing back an integer to a boolean I forgot to fix up the `error` path.  Can you try https://github.com/benoitc/hackney/pull/453

[2017-10-27 20:19] dspencer001 commented on #449
I'm not very familiar with erlang, so I don't know what would be best. It looks like the option is supported on erlang > 17 though according to the [docs.](http://erlang.org/documentation/doc-6.0/lib/ssl-5.3.4/doc/html/ssl.html)

[2017-10-29 23:19] cgorshing commented on #155
I'm working on a ueberauth strategy for StackOverflow and I would love to have this feature completed so I don't have to wire it into OAuth2's handling of the response.

I have some time available to actively help develop, test, or otherwise pitch in. How might I be able to lend a hand? Is a branch started for this that I can begin looking at?

[2017-10-29 23:24] jimdigriz commented on #155
Curious what the benefit of gzip/deflate is for Oauth2 flows?

On 29 October 2017 11:19:57 p.m. Chad Gorshing <notifications@github.com>
wrote:

[2017-10-29 23:42] cgorshing commented on #155
Responses from StackOverflow are gzipped. Ueberauth hands off the request to the OAuth2 library, that just calls Poison for the deserialization of the body. The OAuth2 library does not pass the headers to Poison, just the body.

I'm getting around this by creating my own serializer to gunzip the body before handing off to Poison (https://github.com/scrogson/oauth2/blob/master/lib/oauth2/serializer

[2017-10-30 08:39] jimdigriz commented on #155
Surely only when you include a `accept-encoding: gzip, deflate` header though?

[2017-10-30 17:58] dspencer001 commented on #449
I would be happy to open a PR though if you can point me to an example of how you'd like it done.

[2017-11-03 04:23] byronpc commented on #452
@jimdigriz there seems to be an issue with checkout_cancel in general. I'm not sure where but it seems to get stuck in the messagequeue of the pool from time to time causing all succeeding checkouts to the pool to fail.

[2017-11-03 10:39] jacktang commented on #420
I checked out version `1.10.0` which did not remove ref in hackney_manager_ref ets table and it made the pool hang, and version `1.10.1` works fine util now, thanks 👍

[2017-11-04 10:29] jimdigriz commented on #452
...stuck for ~8 seconds (the default for `connect_timeout` unless you have it set to something else) before being immediately replaced with new `checkout_cancel` cast message?

[2017-11-06 01:56] byronpc commented on #452
the thing is, i'm not sure if the message queue stacking up happens because of load. If it is because of load, I will occasionally see the message queue warnings and timeouts growing. But in this case it happens only once in a while (like once in an hour or so) but when it happens, all succeeding calls will timeout (like i get thousands of timeouts and only lasts for around 2 seconds) and the mess

[2017-11-06 10:56] jimdigriz commented on #452
@byronpc how do you expect hackney to behave if you have a connect timeout set to (for example) 8 seconds, the pool size limited to 10 and the response timeout set to 60 seconds?  What should hackney do if the upstream HTTP server, given these constraints you may have set, takes 30 seconds to reply whilst you are sending ~100 requests per second?

The problem is the *upstream* HTTP server is under

[2017-11-07 20:44] #449 closed

[2017-11-07 20:48] benoitc commented on #447
@obmarg hrm i need to look at it. I will do that sometimes tomorrow

[2017-11-11 16:34] fenollp commented on #155
@jimdigriz Can you share your shim with us?

[2017-11-12 09:18] jimdigriz commented on #155
Okay...it is ugly as sin though.  Attached is code you will just have to adapt to fit into your setup.

[zlib-shim.txt](https://github.com/benoitc/hackney/files/1464469/zlib-shim.txt) - lets call this the `http` module

So instead really what you want is:

 - `hackney:get` -> `http:get` (you cannot use the get body option here)
 - `hackney:body` -> `http:body`
 - `hackney:stream_body` -> `http:str

[2017-11-20 21:55] scohen opened #458 "Hackney halts code_server"
Hackney has several issues that will absolutely destroy an erlang distribution. The worst is that it recompiles its metrics module whenever a connection is created. This is incredibly expensive operation that requires that all processes wake up and handle a message, and reply to it. The code server will not continue until all messages are received from all processes. This can take a long time on V

[2017-11-28 10:53] jimdigriz commented on #452
@byronpc did the https://github.com/benoitc/hackney/pull/453 fix the `case_clause` for you?

[2017-11-28 10:54] jimdigriz commented on #155
Anyone tried https://github.com/benoitc/hackney/pull/456, it has been in production for my use case for two weeks.

[2017-11-28 13:39] #452 closed

[2017-12-02 23:55] nlfiedler opened #459 "Document the use of basic_auth option"
The `basic_auth` option does not appear in the documentation, but searching the repo I can find the test code example. That works, but having its usage mentioned in the docs would be ideal.

[2017-12-04 14:09] lattenwald opened #460 "SOCKS5 proxy broken by PR #454"
Pull request #454 breaks socks5 proxy support. Run tor on port 9052 and check this:

[code]

With this commit reverted, everything works:

[code]

[2017-12-11 05:17] wk8 commented on #267
Seeing the same here :-( randomly getting a `badarg` on async requests, about 1 every 1000 requests.

[2017-12-11 15:06] GalaxyGorilla opened #461 "Metrics: Request vs. Response Timings"
Hey, I just wrapped my head around to get the difference between `request_time` and `response_time`. Can someone explain that? From the code ist seems to be non-trivial to see what `request_time` is about.

[2017-12-12 16:39] jtomaszewski commented on #420
Hackney 1.10.1 .

If I run the code from https://github.com/benoitc/hackney/issues/420#issuecomment-320206127 , it fails. If I add `with_body: true` option to it, it works.

Is it the desired behavior? We have to remember about getting the body and clearing the connection from the pool on our own, right?

If yes, I think we should add info about it to README, it seems like a serious thing to remem

[2017-12-13 14:57] jtomaszewski opened #462 "Connections aren't released from the pool, causing a deadlock"
Sometimes on production, when we run a lot of requests at the same time (hundreds per second), after a few thousands it's possible that they clutter all the connection pool.

Then, each next request always returns `connect_timeout` error. The problem never goes away; even if you wait; the connections are never released from the pool.

The only way to fix it then is one of the following ones:

- re

[2017-12-13 15:24] silviucpp commented on #462
We faced the same issues on production with GCM and only solution was to migrate to gun.

[2018-01-11 12:30] naag commented on #447
We're also seeing this issue after upgrading from Hackney 1.8.0 to 1.10.1 (via HTTPoison 0.11.2 to 0.13.0) using the streaming function. Any update on this or do you need more information / support?

[code]

[2018-01-11 12:34] benoitc commented on #447
@naag can you let me know if latest master fix it for you. I can do a release today.

[2018-01-11 12:44] naag commented on #447
We've got no way to reproduce the issue :-( It only came up after several days of successfully processing requests (this is also a kind of proxy application). As a hotfix, we restart our application currently once the issue is hit.

Do you have any hints on how we could force the issue to pop up?

[2018-01-12 00:14] gdamjan opened #463 "hackney_headers:get_value ain't working in erlang 20.2"
[code]

[2018-01-12 03:33] benoitc commented on #463
To get the headers you should do the following with the current version:

[code]

But it's unclear for me if you expected it to behave differently or if you think it's a regression. Can you elaborate?

[2018-01-12 03:52] benoitc commented on #462
@silviucpp that's not helped to solve the issue in hackney apparently...

@jtomaszewski  When do you get the timeout? Is this returned when you do the request or before that? In last case it should normally recreate a connection for you, is this on the latest release?

There are different  possible reason to that timeout:

- the elasticsearch cluster close the connection without shuttding it down

[2018-01-12 03:54] benoitc commented on #460
i will check later today, sorry for the late feedback, i didn't receive/see the notification.

[2018-01-12 03:57] benoitc commented on #458
I agree it shouldn't rebuild the module each time, sounds like a bug in metrics. I will release today with your fix and revisit later the update to latest version of metrics that should fix it.

[2018-01-12 04:19] scohen commented on #458
👍

[2018-01-12 09:25] silviucpp commented on #462
@benoitc I perfectly understand this. we opened ticket at some point in hackney but some peoples start telling that's a problem with the server and not with hackney. The fact that we migrated to another client and all problems gone now we have the confirmation that something behaves wrong in hackney.

[2018-01-12 09:40] benoitc commented on #462
Thanks for your answer!  on the other hand it can also be that gun is doing some magic reconnection behind. Anyway if you have still the info or the issue number that would be much appreciated.

[2018-01-12 10:17] silviucpp commented on #462
You can check the comments from https://github.com/benoitc/hackney/pull/453

[2018-01-12 14:39] gdamjan commented on #463
hrm, my bad then, I see that I'm still on hackney 1.8 too. I'll have to upgrade and test this.

[2018-01-12 14:51] benoitc commented on #463
On hackney 1.8 you can do that by doing the following:

[code]

[2018-01-15 14:22] paulswartz opened #464 "unhandled `{ssl_closed, _}` message when using `async`"
I see the following message in my Elixir logs periodically:
[code]

That looks like a close message from the SSL socket, which I'd expect hackney to manage the same as a close of the TCP connection (which are handled properly). I'm using the `async` option to stream the response data as it comes in.

[2018-01-16 21:05] gdamjan commented on #463
Thanks.

[2018-01-16 21:05] #463 closed

[2018-01-16 22:28] benoitc commented on #463
did it work?

[2018-01-23 08:56] benoitc commented on #461
Sorry for the late response,

`request_time` is measuring the time a complet request takes including the response where the `response_time` only measures the time took to receive the response after the request has been sent.

[2018-01-23 08:56] #461 closed

[2018-01-23 09:25] benoitc commented on #448
a little too late and didn't want to fight once again with mix to do it :) I wish it could be easier....

So let's close that ticket latest release is now 0.11.0 anyway :)

[2018-01-23 09:25] #448 closed

[2018-01-23 09:30] benoitc commented on #447
@naag no not really , i don't reproduce it myself. I would advise to go to latest stable 0.11.0 . Next major version will focus on making streams more simpler.

[2018-01-23 09:33] benoitc commented on #462
@jtomaszewski you didn't answered to my comment... anyway please try the latest stable version 0.11.0 which fix the queue deletion in the pool. Let me know if it's fixes your issue or if more investigation are needed.

[2018-01-23 09:35] benoitc commented on #458
@scohen 0.11.0 is out with your fix. Sorry for the delay ....

[2018-01-23 17:27] scohen commented on #458
No problem, glad it's in there!

[2018-01-23 17:27] #458 closed

[2018-01-23 17:58] matthewoden commented on #464
I can reproduce this - I'm also using the async library. It seems that my chunk gets mixed in with it, as the last argument.

```Unexpected message: {:ssl, {:sslsocket, {:gen_tcp, #Port<0.8780>, :tls_connection, :undefined}, #PID<0.380.0>}, <<250, 148, 222, 99, 116, 39, 82, 167, 182, 77, 245, 137, 189, 33, 60, 168, 182, 240, 30, 55, 235, 210, 208, 103, 217, 48, 245, 8, 29, 92, 27, 76, 134, 173, 10

[2018-01-23 20:34] benoitc commented on #464
hrm it's probably happening on close. @paulswartz is your code similar to the one posted by @matthewoden ?

[2018-01-24 12:28] jtomaszewski commented on #462
Thank you for the fixes.

Unfortunately we won't be able to reproduce it, at least not now, because we managed to fix it already with a workaround (we debounce connections sent to hackney on our own with [flow](https://github.com/elixir-lang/flow), as not to throttle it too much). I'll comment here again if I have a moment to rollback our changes and try to reproduce it again.

FYI: We've no more

[2018-01-28 13:42] tmaciejewski opened #468 "hackney_url:parse_url/1 does not handle non-HTTP URLs"
For non-HTTP URLs (`file://', `ftp://`) function `hackney_url:parse/1` treats them as partially qualified addresses:
`2> hackney_url:parse_url("http://foo.com/bar").
{hackney_url,hackney_tcp,http,<<"foo.com">>,<<"/bar">>,
             <<"/bar">>,<<>>,<<>>,"foo.com",80,<<>>,<<>>}
3> hackney_url:parse_url("ftp://foo.com/bar").
{hackney_url,hackney_tcp,http,<<"ftp:">>,
             <<"//foo.com/bar">

[2018-01-30 14:55] paulswartz commented on #464
I'm using hackney via [httpoison](https://hex.pm/packages/httpoison), but here's the relevant code: https://github.com/edgurgel/httpoison/blob/master/lib/httpoison/base.ex#L369-L387

[2018-01-30 15:27] matthewoden commented on #464
If it matters, I've done a quick port on my code over to `:ibrowse`, and the issue hasn't come up again. The receive block is basically the same (though ibrowse combines status and headers into a single message).

I'd prefer to use hackney, so just let me know if you need any other usage info.

[2018-01-30 15:42] benoitc commented on #464
well the issue is that a message is still on the process heap after cloising the socket. I have a fix for it. Will take care of it later today. Thanks for the code!

[2018-01-31 01:49] kuon commented on #447
I don't know if this is related, but I use quantum to schedule jobs, and if I use [fastimage][1] in my job, the next invocation will hang on `hackney_manager:wait_async_response`.

In my job I do:

[code]

Both calls work the first time, but on next call, the `HTTPoison.get` call hang indefinitely. And looking with the observer, `hackney` is stuck on `hackney_manager:wait_async_response`.

I use h

[2018-01-31 02:31] kuon commented on #447
I made an app that hang, I hope it will help you debug the issue:

https://github.com/kuon/hackney_lock

[2018-01-31 07:52] benoitc commented on #447
I tried your example but I get the following:

± |master U:1 ✗| → iex -S mix
Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:20:20] [ds:20:20:10] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Compiling 1 file (.ex)
Interactive Elixir (1.6.0) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)>
08:47:34.005 [info]  Performing job

08:47:34.006 [info]  Making plain get request

08:47:3

[2018-01-31 12:30] kuon commented on #447
The point is that it hangs on the next "plain request", which is unrelated to fastimage. Fastimage is using hackney stream and is causing the deadlock.

The issue is not present with hackney 1.9.

[2018-01-31 13:28] stephenmoloney commented on #447
I have some time in the second half of February allocated to do some work on Fastimage so I should have time to resolve this by March.

In the meantime, I'll have a quick look and post back.

[2018-01-31 13:35] benoitc commented on #447
@kuon ah ok. I will have a look in fastimage to see what is happening. (cc @stephenmoloney).

[2018-01-31 13:50] stephenmoloney commented on #447
@kuon  I took a look at your repository

Ok, here is a more understandable error:

[code]

[2018-01-31 14:00] stephenmoloney commented on #447
@kuon  I took a look at your repository

Ok, here is a more understandable error:

[code]

Seems like image url is protected by some sort of auth, hence the 403 error.

I think it crashes [here](https://github.com/stephenmoloney/fastimage/blob/master/lib/fastimage.ex#L123)

So because there is a 403 forbidden, Fastimage is just raising a runtime error.

One of the things I have planned for the wor

[2018-01-31 14:01] stephenmoloney commented on #447
This is not a hackney problem.

[2018-01-31 15:04] kuon commented on #447
@stephenmoloney The problem is that it will put hackney into a state that will hang on the next process. In my original code, I do catch the fastimage exception in a try/rescue.

[2018-01-31 15:10] kuon commented on #447
I made an update to my demo repository with the actual URL list I had when encountering the issue. I know that some URL are invalid, but now I catch the fastimage error, and no exception is raised.

You will notice that after having looped into all the URLs, it will hang on the second job run, here:

[code]

[2018-01-31 15:36] stephenmoloney commented on #447
@kuon If it stops there that means your opengraph fetch is hanging... Otherwise you should see
`[info] Making stream request using fastimage`

[code]

I don't think the hanging is due to fastimage.

[2018-01-31 15:41] kuon commented on #447
It is not fastimage call that is hanging, what is hanging is the `HTTPoison.get` at the top (the one accessing google).

Fastimage is causing hackney to lock on next call from another process.

Basically, the sequence is the following:

- spawn process A (first invocation of job by job scheduler):
- http get: works
- fastimage call: works
- http get: works
- fastimage call: works
- ... (repeat the

[2018-01-31 15:48] stephenmoloney commented on #447
Ok, can you add this line just before the `raise` and retry...

See [here](https://github.com/stephenmoloney/fastimage/blob/master/lib/fastimage.ex#L101)

[code]

[code]

and see if that makes any difference?

I'm not 100% sure if that will help.

[2018-01-31 18:31] kuon commented on #447
@stephenmoloney Your patch fixes the issue. Now I don't know if it's a bug in hackney (as it was working with 1.9) or should be expected.

[2018-01-31 18:45] stephenmoloney commented on #447
yeaglad to hear it, I think it's a problem with `fastimage`... so maybe let's move this patch over there... I believe the stream should be closed...
I'll merge a PR if you make one.

[2018-01-31 20:34] kuon commented on #447
I still think there is something happening in hackney that should be fixed (as the OP of this issue is encountering).

[2018-02-06 01:15] pcorey opened #471 "External API not specifying content-length"
Hello,

I'm using `hackney` via Elixir's `httpoison`.

I'm trying to query an external JSON API. Specifically, I'm trying to `GET` the following endpoint:

[code]

In the browser and with curl, it returns a JSON response:

[code]

Unfortunately, the response doesn't specify a `content-length`. It looks like version `1.11.0` of `hackney` [changed how unspecified `content-length` works (and now defa

[2018-02-06 11:59] PatNowak commented on #471
I experienced the same thing today, it ruined my scrum review session :/

[2018-02-07 14:44] atanych opened #474 "Problems with proxy and {:error, :closed}"
Hi Guys,

I caught weird behavior when I worked behind proxy.

Server 1 (behind proxy):
OS: Redhat.
`Erlang/OTP 20 [erts-9.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe] [kernel-poll:false]`

[code]
![image](https://user-images.githubusercontent.com/10116909/35922016-71279900-0c2d-11e8-8278-9ae7ee01b52e.png)

[code]
![image](https://user-images.githubusercontent.com/10116909/

[2018-02-07 20:11] atanych commented on #273
Guys, any news?

[2018-02-07 21:30] atanych commented on #474
I figured out issue.

Was two problems:
- old elixir and erlang packages
- proxy is not used when follow_redirect is true

[2018-02-07 22:09] benoitc commented on #474
yeah i should make sure we use the proxy on follow redirect. I will have a look tomorrow as it’s late herr already. Thanks for the report anyway!

[2018-02-07 22:26] atanych commented on #474
yeah, thanks. It is related issue: https://github.com/benoitc/hackney/issues/273

[2018-02-14 16:55] jknipp opened #475 "Empty response body when Content-Length and Transfer-Encoding headers are omitted"
Beginning with v1.11.0, if the response from the server omits both the `Content-Length` and `Transfer-Encoding` response headers, the body of the response is not parsed and returned.

### v1.11.0 Response Body

<img width="983" alt="screen_shot_2018-02-14_at_10_40_38_am" src="https://user-images.githubusercontent.com/84280/36216631-ee447290-1174-11e8-8dba-88aba95d57b0.png">

### v1.10.1 Response B

[2018-02-16 18:31] AnilRedshift commented on #475
This is a breaking bug for us, we've had to pin our hackney at an old version to mitigate it.

[2018-02-22 00:28] benbro opened #476 "ssl_cipher,hash_algorithm(aead) error in erlang/otp master"
I'm teting hackney 1.11.0 with erlang/otp master and getting an error in ssl_cipher:has_algorithm/1

[code]
Error:
[code]

[2018-02-22 08:47] #476 closed

[2018-02-22 13:03] benoitc commented on #476
thanks!

[2018-02-23 22:07] Aaron-Benson opened #477 "exception error: no case clause matching {error,{poorly_formatted_size,"AAE "}}"
For a few URLs, we are seeing the following error when reading the body of a hackney client request: `** exception error: no case clause matching {error,{poorly_formatted_size,"AAE "}}`

The specific URLs that create the above issue:
https://www.zawya.com/uae/en/story/Oman_opens_new_concession_area_bids_for_oil_and_gas_exploration-SNG_107248923/
https://www.zawya.com/mena/en/story/OPEC_daily_baske

[2018-02-24 15:20] critch opened #479 "Unexpected message when using async once"
I wrote a very simple test case in elixir. From best I can tell, my example is nothing more than your documented async example, just with stream_next called to handle the once argument, and a timer.sleep of about 1000 to simulate a work load being made on the results.

Best I can guess, there must be a race condition that is easier to cause when there is a sufficiently large delay between the stre

[2018-02-25 02:31] critch commented on #479
This may be related to #464

[2018-02-26 14:39] benoitc commented on #447
@kuon not sure what you mean by " (as the OP of this issue is encountering)." can you clarify ? I would be interested by some traces anyway. Can someone experimenting the issue enable trace fromt he hackney tracing module?

[2018-02-26 14:45] kuon commented on #447
OP said "Hackney seems to be deadlocked somehow", that is what I am referring to, it is based on feeling and no hard technical data. The issue is not present in 1.9, that is why I think hackney is at fault, and my hackney is deadlocking when using streams, that is where my feeling comes from, but again, I have no hard evidence.

I pinned hackney 1.9 in my codebase, and I am working on something el

[2018-02-26 15:36] stephenmoloney commented on #447
I'll try to get to the tracing if I can get the time in the next few days ... but off which version... `1.11.0` seems like the best idea?

[2018-02-26 19:12] ConnorRigby commented on #475
I just ran into this issue also with `Httpoison`

[2018-02-26 20:39] benoitc commented on #475
@jknipp good catch!

Is the server sending an HTTP 1.0 response ? 1.1 normally expects to have a content length. Can you check it?

I propose indeed to fix it by checking if the client receive an http 1.0 response and then read until a max. Thoughts?

[2018-02-27 00:12] AnilRedshift commented on #475
@benoitc: Unfortunately, a lot of the internet doesn't follow specifications (HTTP 1.1 or otherwise). It would be beneficial for a client library to be as flexible as possible in this regard.

The spec actually doesn't require Content-length to be set. Instead, if the header is not sent, then the client must close the connection after it is completed.

[2018-02-27 06:45] benoitc commented on #475
this is only for backward compatibility. I will only set a max to receive then. Fix release will land today.

Sent from my iPhone

[2018-02-27 09:00] ericmj commented on #475
The server is following the spec, as @AnilRedshift a missing content-length is valid and closing the connection will signal the end of the response body.

[2018-02-27 09:34] benoitc commented on #475
well the server should do its best to send a content-length. I will fix it anyway.

[2018-02-27 21:14] #460 closed

[2018-02-27 22:03] benoitc commented on #475
can you test #481 ? It shoudl fix your issue. Let me know :)

[2018-02-27 22:27] benoitc commented on #464
can you try #482?

[2018-02-27 22:28] benoitc commented on #479
can you try #482 ?

[2018-02-28 05:05] benoitc commented on #471
#481 should fix it. Can you test and let me know?

[2018-02-28 06:56] PatNowak commented on #475
Hi,

I just tested. Value in response is correct, but the whole response is returned as an "error response". I use email decryptor service, so body returned is an email.
Please take a look:

Response from `hackney` 1.10.0 via HTTPoison (default use case)

	{:ok,
		%HTTPoison.Response{
		body: "[\"empty11@o3.pl\"]",
		headers: headers,
		request_url: "URL",
		status_code: 200
	}}

Response from `ha

[2018-02-28 07:27] PatNowak commented on #475
It was url from private network, so it will not work for you. I can find an example that will be available publicly :)

[2018-02-28 08:14] benoitc commented on #475
@PatNowak I pushed ce32d21fa3fe4b9fb64d8d44a158181eb4aa40e8 in the PR that should fix your issue. Let me know :)

[2018-02-28 09:57] artempankov opened #483 "How to implement always connected client?"
i need always opened connection to https server to reduce latency on connection opening when i make request

it looks like hackney sometimes reconnects sockets:

[code]

but sometimes not:
[code]

i have tried to reuse connection manually but with no success, after second sleep there is no socket for reusing:

[code]

which is the best way to ensure that socket is always connected? may be some man

[2018-02-28 14:29] nicolasmd87 opened #484 "Hackney does not compile because of "certifi" dep (undefined parse transform 'ct_expand')"
DEPEND certifi.d
ERLC   certifi.erl
src/certifi.erl: undefined parse transform 'ct_expand'

[2018-02-28 16:31] benoitc commented on #484
is this with erlang or elixir?

Sent from my iPhone

[2018-02-28 16:34] critch commented on #479
As a bit of help, I modified the 3 instances of the unexpected message logs and found this one is on line 151.

[2018-02-28 16:46] nicolasmd87 commented on #484
erlang

[2018-02-28 17:06] benoitc commented on #484
the ci pass though. Which version are you using?

Sent from my iPhone

[2018-02-28 18:43] nicolasmd87 commented on #484
Hackney - master
Erlang - OTP 20

[2018-02-28 21:26] benoitc commented on #484
I don’t reproduce it. can you describe the steps you use to compile it?

[2018-02-28 22:37] nicolasmd87 commented on #484
I'm using erlang.mk and using hackney as a dep on the makefile of my app, it was working fine and then when I deleted the deps and brought them back hackney was throwing that error on compile.

[2018-03-01 10:59] fenollp commented on #484
Fixed on mentioned PR.

[2018-03-01 11:07] #484 closed

[2018-03-01 15:19] benoitc commented on #483
HTTP 1.1 doesn't support aan always connected client by itself. Hackney handle keepalive but you need to manage reconnection when the server close the connection and/or to make sure to send a message to the server before the connection close.

If the connection close you will get a timeout or close message and can probably reconnect from it or now. I will thinkj to add such feature soon.

[2018-03-01 15:20] benoitc commented on #464
can anyone provides me a link on which I can reproduce the issue?

[2018-03-01 15:21] benoitc commented on #477
fixed in latest master

[2018-03-01 15:21] #477 closed

[2018-03-01 15:21] benoitc commented on #471
duplicate of #475. Please refer to it for more info.

[2018-03-01 15:21] #471 closed

[2018-03-01 15:22] benoitc commented on #475
@PatNowak ?

[2018-03-01 15:25] matthewoden commented on #464
I can't provide our source, but I'll see if I can get #482 out in a test environment today or tomorrow.

[2018-03-01 20:37] stephenmoloney commented on #464
This `https://github.com/stephenmoloney/fastimage/pull/24` reproduces it everytime.

[2018-03-01 20:41] benoitc commented on #464
@stephenmoloney do you mean the link? I need to reporduce it apart of the another lib ...

[2018-03-01 22:03] stephenmoloney commented on #464
@benoitc sorry, I don't full understand... When the tests run, that error is printed...

`https://travis-ci.org/stephenmoloney/fastimage/jobs/346210674`

I still didn't get time to try the tracing.

[2018-03-02 09:04] as-gennadiy-n commented on #483
@benoitc How could we receive in background a message about the server closing the connection? We'd like to reconnect at the moment when the connection is closed but not when our request is unsuccessful. Could you please share some examples or help us to build such behaviour using hackney?

[2018-03-02 09:35] essen commented on #484
@nicolasmd87 As a workaround for now you can add the certifi version you want as a `BUILD_DEPS` of your top level project and I'll have a fix up in a few days.

[2018-03-02 12:12] nicolasmd87 commented on #484
Thx already did :) , using certifi Tag 2.2.0

[2018-03-02 13:41] benoitc commented on #483
that's not easy todo for now. What you can do is to retrieve the socket using `hackney:request_info/1` and give the control of  the socket in active mode to another process and possibly wait for the closed message.

next version of hackney will handle pre-connections btw.

[2018-03-05 05:28] yurgon commented on #376
Hi
Any new about issue ?

[2018-03-05 12:26] essen commented on #484
Most recent Erlang.mk can now build hackney again. To update Erlang.mk you can run `make erlang-mk`. Cheers!

[2018-03-05 13:06] nicolasmd87 commented on #484
Thx , cheers !

[2018-03-05 13:21] artemk opened #486 "switch between interfaces"
is there any possibility to use specific interface that are available in system? For instance I have 30 interfaces with different ip assigned to it. Can I manually set what interface to use for request. Thanks.

[2018-03-06 20:40] critch commented on #464
@benoitc Take your example of async receiving in the documentation, convert to require stream_next, and put a sleep of a second or more between requesting stream_next. This is how I have done it via elixir with only hackney. There is something possibly a race condition of receiving the last of the web request and the receiving a message to stream_next. The stream has fully closed, but the buffer h

[2018-03-06 21:02] rozap commented on #479
I'm observing the same thing. I've tried #482 but it doesn't seem to do the trick. I'll continue looking at what's going one.

[2018-03-06 21:56] benoitc commented on #464
@critch thanks. Quite possible indeed. I think that rather than pausing i should rather receive actively at some point. I will have a closer looks, thanks for the reproducible way.

[2018-03-08 15:27] benoitc commented on #475
bump.

[2018-03-14 17:45] aaronrenner commented on #462
Unfortunately, I'm continuing to get this issue on hackney 1.11.0. I'm using the Elixir [Honeybadger client (0.8.0)](https://github.com/honeybadger-io/honeybadger-elixir/tree/v0.8.0) and when too many errors are reported at the same time, the pool hangs. Here's the state of the pool:

[code]
Please let me know if there's other tracing/logging I can provide. Thanks!

[2018-03-16 08:37] filmor commented on #475
@benoitc, in the meantime, would you please retract the package from Hex?

[2018-03-16 14:50] benoitc commented on #475
@filmor Only mix has this feature. Anyway did you test the PR, it would help to have some feedback...

[2018-03-16 20:00] aaronrenner commented on #462
Looks like the behavior I pasted above is actually an issue with honeybadger: https://github.com/honeybadger-io/honeybadger-elixir/pull/133. Hackney is working as expected!

[2018-03-16 20:10] filmor commented on #475
I think you can ping the hex admins (support@hex.pm), I'll test the PR on Monday.

[2018-03-17 11:50] jonzlin95 commented on #462
I (think) that I am still facing this issue on the latest version (1.11.0) of hackney (through use of the HTTPoison library.

I've set the pool to 500 connections, but still noticing that they're getting exhausted over time.
```no match of right hand side value: {:error, %HTTPoison.Error{id: nil, reason: :connect_timeout}}```

Going to try bumping the connection count, and will report back in.

[2018-03-21 13:28] take-five opened #490 "Requests to airbrake.io fail with {:error, {:tls_alert, 'bad certificate'}}"
Hello.

Not long ago we stopped receiving Airbrake reports from our Elixir projects. We use https://github.com/adjust/airbax as Airbrake client which uses hackney under the hood.

In the end I was able to reproduce an error with this minimal code:
[code]

However, if I pass an empty list in `ssl_options`, I get what I expect
[code]

My environment:
* Erlang 20.2/20.3
* Elixir 1.5.3/1.6.2
* hackney

[2018-03-22 01:02] andersondanilo commented on #328
Me too (with Elixir 1.6.3 OTP 20)

[2018-03-22 15:00] dmarkow opened #492 "Requests fail after hot code upgrade"
Since 98f5ac60b1e67a5fbbb3fa9b002ff699ca429c97 was merged (which moved the `metrics:init` call into start/2), a hot code upgrade of my app results in failed hackney calls until I fully restart my elixir application.

I traced this back to following line in hackney_connect.erl returning `undefined` after the reload:

[code]

I believe this is because the new `set_env` call is reset by the app confi

[2018-03-25 01:06] anthonylebrun commented on #314
Fantastic. I was using https://github.com/scrogson/oauth2/ which is powered by hackney and this was the issue I was facing :)

Just to others who had the same issue as I:

[code]

[2018-03-31 03:10] redink commented on #492
ME TOO.

before upgrade, I can get all env of hackney:

[code]

but, after upgrade, the `metrics` env lost:

[code]

[2018-04-01 15:40] benoitc commented on #429
You can set force_redirect to true. It should work. If not please post me the log so I can have a closer look.

[2018-04-01 15:46] benoitc commented on #486
You can do it using the `connect_options` setting that accepts soem of the `inet:setopts` / `gen_tcp:connect/2` options:

http://erlang.org/doc/search/?q=inets%3Asetopts&x=0&y=0

Hope it helps.

[2018-04-01 15:46] #486 closed

[2018-04-01 16:07] #429 closed

[2018-04-01 20:01] benoitc commented on #490
This looks like an error with erlang, or an option is missing , I'm still investigating:

[code]

In temean time you can also use {insecure, true} as a an option to the request.

[2018-04-01 20:19] benoitc commented on #490
for the record, the cacert file shipped with certifi looks OK:

[code]

[2018-04-02 07:25] take-five commented on #490
Thanks for investigation @benoitc !

Are you planning to add support for such chains to hackney or should I send a bug report to Airbrake so they could fix it on their side?

[2018-04-02 07:32] benoitc commented on #490
@take-five i'm not sure yet if reordering is now feasible with the erlang ssl lib It will require a bump in the supported version of Erlang at least or maybe switching the ssl library. I'm still investigating. In any case it  airbrake can fix the chain, it would be better :)

[2018-04-02 08:41] benoitc commented on #490
to add more material, I just did a test with cipherscan and got the following results

[code]

which confirm the error: **has intermediate with bad ordering ssl/tls**

[2018-04-02 09:04] deadtrickster commented on #490
@take-five you shouldn't empty ssl_options, you should report the error to that service. You don't won't to give your data to a company that can't handle simple ssl setup.

[2018-04-02 09:06] benoitc commented on #475
@filmor ping?

[2018-04-02 09:08] take-five commented on #490
@deadtrickster I have reported to Airbrake about a problem :) Clearly they have to fix it on their side.

[2018-04-02 12:49] #475 closed

[2018-04-02 12:51] benoitc commented on #387
closing issue as it's not an hackney issue per see.

[2018-04-02 12:51] #387 closed

[2018-04-02 12:52] benoitc commented on #398
no answer since. closing issue then. feel free to reopen a new one if the problem still exists and hass not been reported since.

[2018-04-02 12:52] #398 closed

[2018-04-02 17:25] benoitc commented on #492
I'm not sure about the change in the PR, [the module is created when the `hackney` application is started ](https://github.com/benoitc/hackney/blob/master/src/hackney_app.erl#L23 )to make sure it's already compiled.

You're right however this env will be reset. I propose then to compile it and maintain it in it's own ets instead so we can be sure it will be kept..

[2018-04-02 17:46] benoitc commented on #492
fixed in 9604828584457724d1502a535edc8cc8b0f43b94 . Thanks for the initial patch!

[2018-04-02 17:46] #492 closed

[2018-04-02 18:59] josevalim commented on #462
@jonzlin95 @aaronrenner are you using Task.async/await?

@britto and @ulissesalmeida have recently found an issue where Hackney is no reclaiming timed out connections when the process that terminates the request terminates due to a link. Take for example this Erlang code:

    spawn_link(fn ->
      hackney:request("somewherethatwilltimeout")
    end),
    timer:sleep(1000),
    exit(timeout)

The

[2018-04-02 19:04] jonzlin95 commented on #462
Not using Task.async/await, but I'm using the parallel_stream library.

[2018-04-02 19:44] josevalim commented on #462
@jonzlin95 that would likely introduce the same sort of problem, yeah.

[2018-04-02 22:33] rozap commented on #462
@jonzlin95 the thing i've noticed is that with @josevalim's example - that the exit needs to happen *while the request is waiting for a connection from the pool*. Otherwise it doesn't leak.

[code]

For example, running this many times over and over doesn't result in a leak
[code]
But running this just once, results in around ~300 leaked connections - which never complete and therefore block all s

[2018-04-03 08:06] benoitc commented on #462
@jtomaszewski thanks for the example,it helps! The process exit should be catched by the manager and then released in the pool. It looked a case is missed. I'm having a look on it.

[2018-04-03 09:06] benoitc commented on #462
I'va added the test in 505c06c5f4644963e25eacbd8543d94e1ac816ca and was able to reproduce it. At the end of the test I get the following stats (using the new `hackney:get_stats/1` function):

[code]

So it seems that the queue is not freed. I'm looking at it.

[2018-04-03 10:19] benoitc commented on #462
@jtomaszewski @jonzlin95  #497 shoudl fix your issue. Can you test it? If it pass I will do a release today with it.  Let me know :)

[2018-04-03 10:21] benoitc commented on #447
please test #497 and let me know about the result.

[2018-04-03 11:02] benoitc commented on #483
Closing the issue since no answer since. you can see an example there: https://github.com/benoitc/hackney_pooler btw.

[2018-04-03 11:02] #483 closed

[2018-04-03 11:05] lpil commented on #240
Hello! We're having a similar problem on Erlang 20 with Ubuntu 16.04, current OSX and current Alpine Linux.

[code]

The cert seems to be OK https://www.ssllabs.com/ssltest/analyze.html?d=airbrake.io

Is there a know problem or fix here? We're not sure how to proceed.

Thanks,
Louis

[2018-04-03 11:11] benoitc commented on #447
just tested it and it fixes the issue.

[2018-04-03 11:20] #462 closed

[2018-04-03 11:21] benoitc commented on #447
fixed via f81ed84c8afca1bde5a03241f818ba17bb4abfe3

[2018-04-03 11:21] #447 closed

[2018-04-03 11:49] benoitc commented on #240
@ipil as reported above the chain order is not OK which is an issue with the Erlang implementation.
We could probably trick the order as it has been reported on the ml. This code posted on the ml could help: https://github.com/Vagabond/erl_crl_example/blob/master/src/client.erl

However it would be better if airbrake could fix their certificate in the mean time , as fixing the order is somehow hac

[2018-04-03 12:09] benoitc commented on #464
fixed in latest master.

[2018-04-03 12:09] benoitc commented on #479
should be fixed in latest master.

[2018-04-03 12:09] #479 closed

[2018-04-03 12:10] #191 closed

[2018-04-03 12:12] benoitc commented on #240
SORRY AS REPORTED IN #490 . I'm closing this issue in favour of the last one since it's the same.

[2018-04-03 12:12] #240 closed

[2018-04-03 12:14] benoitc commented on #490
for the record on the erlang ml @vagabond posted this link:
https://github.com/Vagabond/erl_crl_example/blob/master/src/client.erl

which may help us to reorder the chain.

[2018-04-03 12:16] benoitc commented on #380
duplicate of #161

[2018-04-03 12:16] #380 closed

[2018-04-03 12:17] benoitc commented on #391
@phylake late answer, but yes get should not accept a body. It will need some changes in the way CRUD calls are handled. I will take care about newxt release.

[2018-04-03 12:24] benoitc commented on #462
1.12 has been released with that fix. thanks @josevalim  & others for the reproducible way :)

[2018-04-03 12:30] obmarg commented on #447
@benoitc tested, and I'm still getting deadlocks.  The symptoms are slightly different from my initial report though, would you rather I raise a new issue with details?

[2018-04-03 12:38] lpil commented on #240
Ah! I misread the report. Thank you for your help and your super speedy reply :)

[2018-04-03 12:50] benoitc commented on #447
@obmarg yes please :) Makes sure also you're always reading the body...

[2018-04-03 14:11] obmarg opened #498 "Deadlocks in `hackney_manager:wait_async_response`"
I'm seeing deadlocks in `hackney_manager:wait_async_response` with the latest master branch of hackney.

The stack trace of the hackney_manager process is:
![image](https://user-images.githubusercontent.com/556490/38254061-295bb162-3750-11e8-929f-4b10ec770448.png)

I can reproduce this fairly consistently in the tests for a couple of private projects, but dont have an easy code sample to reproduce

[2018-04-03 14:50] obmarg commented on #498
I'd be happy to give you access to the repository with my failing tests if it'd help, but they do require a kubernetes cluster to run, so might be more hassle than it's worth.

Here's the diff that I changed:

[code]

Not at all sure it's the correct fix, but I have run 170000 requests without hitting the same deadlock after that change.

[2018-04-03 15:15] benoitc commented on #498
@obmarg can you try #499 and let me know?

[2018-04-03 16:32] rozap commented on #462
thanks @benoitc!

[2018-04-03 18:17] #498 closed

[2018-04-03 18:28] benoitc commented on #498
1.12.1 has been released. Thanks for the help!

[2018-04-04 18:38] NikitaAvvakumov commented on #490
Just got a note from Airbrake:

Cipherscan's `analyze.py` no longer reports bad ordering for airbrake.io and `:hackney.get("https://airbrake.io")` returns `{:ok, 200, [...]}`.

[2018-04-06 19:39] Stratus3D commented on #253
It looks like in my case httpc wasn't doing hostname checking at all. Whereas hackney was trying to. Configuring httpc to verify hostnames results in the same error as hackney, so clearly my issue is with my CA file the clients are using or the cert on the server I'm trying to connect to.

[2018-04-09 06:31] getong opened #500 "tag name error?"
I found the 1.12.1 tag in hex.pm, but found 1.2.1 tag in the github, not the 1.12.1. Is it wrong tag name?

[2018-04-09 17:21] ruanpienaar opened #501 "./rebar eunit fails on Master (e6d84f40a4d2d650659ac54dba99c0bcbbb86af4)"
[code]

[code]

[2018-04-11 13:15] feld commented on #500
I see the same thing

[2018-04-12 15:26] eproxus opened #502 "Use of TEST environment variable conflicts with other projects"
In [`rebar.config.script` on line 24](https://github.com/benoitc/hackney/blob/e6d84f40a4d2d650659ac54dba99c0bcbbb86af4/rebar.config.script#L24) the environment variable `TEST` is used for something. In our make system we use the same environment variable to select test cases to run. When we included Hackney as a dependency, this broke the build because the `rebar.config.script` could not handle th

[2018-04-14 12:27] critch commented on #479
finally able to test. So far it does appear to be fixed. Tried with a 10mb file using a 1 second delay in between messages. No issues.

Thank you for your effort.

[2018-04-20 17:00] benoitc commented on #500
i fixed the tag. (sorry for the delay) Thanks!

[2018-04-20 17:00] #500 closed

[2018-04-20 17:03] benoitc commented on #501
Not sure to follow, you can safely ignore this error, the test suit will finish normally with all tests pass:

<img width="1046" alt="screen shot 2018-04-20 at 19 02 13" src="https://user-images.githubusercontent.com/14498/39064060-5971f2aa-44cd-11e8-926e-44e3c7ea7090.png">

There is no plan yet to have integration tests work outside of the CI for now.

[2018-04-20 17:08] benoitc commented on #502
I think TEST is also a variable used by travis but I maybe wrong. In any case I'm not sure we still need to have that `rebar.config.script` . I will check, thanks!

[2018-04-20 21:12] ruanpienaar commented on #501
ok :) was just wondering whether you could maybe write a little erlang webserver or some easier fixture to show what exactly is being tested.

[2018-04-22 21:35] lypborges opened #503 "{:error, %HTTPoison.Error{id: nil, reason: "closed"}}"
I’m getting a strange error in HTTPoison. When I do two request to a server “A” in the second I get connection close.

[code]

 When I do this with other server it works.

[code]
So I think it was a error on the server “A” , so a did a manual call with curl 20 times and all work perfect in the server “A” and “B”.

[code]
I tried with the default options and with the options above `[ ssl: [{:versio

[2018-04-22 23:16] #503 closed

[2018-05-01 16:01] svileng opened #505 ":connect_timeout errors on initial batch of requests"
I've been following/commenting on some previous issues regarding `:connect_timeout` errors reported here, and recent 0.11/12 releases have reduced these dramatically 👏

However, I'm still experiencing an interesting issue using Hackney `1.12.1` and `HTTPoison 0.13.0`.

I make an initial batch of about ~80 requests to several hosts simultaneously. Of those, about half result in `%HTTPoison.Error{id

[2018-05-02 11:29] SteamRiC opened #506 "Newline character is not escaped in headers"
Example code using hackney `1.12.1`:

[code]

When inspecting the requests in Wireshark, I got the following results:

With `{<<"Custom-Header">>, <<"Value">>}` (without `\n` at the end)

[code]

With `{<<"Custom-Header">>, <<"Value\n">>}`

[code]

[2018-05-03 11:27] collegeimprovements commented on #474
How to enable proxy to follow redirects ?

[2018-05-03 11:27] collegeimprovements commented on #474
@atanych , @benoitc can you help?

[2018-05-03 18:09] desoulter commented on #505
Hello,

Same here (or as https://github.com/benoitc/hackney/issues/462). After a week on a production server, it hangs on `{error,connect_timeout}`. The only way to fix it is restarting the node.

Plain Erlang 20.1 (erts-9.2)
Hackney 1.12.1 (e6d84f40a4d2d650659ac54dba99c0bcbbb86af4).

I'll add a state of hackney pool here when it happens next time.

[2018-05-03 22:16] benoitc commented on #505
@svileng can you eventually provide a trace of your connections. It seems weird to return connect_timeout the first time. If the pool is empty or no host is already connected it should normally connect directly to it. Also how many distinct host do you have?

@desoulter ^^

[2018-05-04 09:25] svileng commented on #505
@benoitc Thank you for looking into this!

I would guess the pool is empty or at least nearly empty — as soon as my application starts, a GenServer schedules the first batch of requests after 2 minutes and they are made on the same interval after that. It might be possible that a few individual requests are made before the batch kicks in. The errors consistently happen the first 2 times (second ti

[2018-05-04 09:29] benoitc commented on #505
@svileng you can start to trace with `hackney_trace:enable/2`:

[code]

Put that line before starting all your requests and it should log to outpu. `io` can be replaced by a filename as a string.

Hope it helps.

[2018-05-05 15:05] desoulter commented on #505
@benoitc I repeated the issue with `{error,connect_timeout}` just after making about 20 requests.
Little information:  my application have a background [InfluxDB Reporter](https://github.com/travelping/exometer_influxdb) for `exometer` which also uses hackney as http-client.
So, here is a pool state:
https://gist.github.com/desoulter/4c8fca893c965f2fb57c600936a7c133
And a trace:
https://gist.githu

[2018-05-16 15:44] svileng commented on #505
@benoitc Apologies for the delay. I enabled the trace locally on my dev machine, where only 1 request is being made, and there is quite a lot of stuff printed out, including some that I cannot share if I run this in production (for example: Authorization headers, IP addresses, body and the actual URL).

What trace/debug information do you need specifically from the requests and how can I make `hac

[2018-05-16 16:50] benoitc commented on #505
@svileng @desoulter thanks, looking at it. I will revisit that issue sometimes tomorrow and provide more feedback

@svileng this looks standard. if you see anything weird related to the timeout just let me know. anything related to the pool actually

[2018-05-17 14:25] svileng commented on #505
@benoitc I see. I'll clean the log file I have and will post it today or tomorrow — you know best what to look for, I'll just clear up the sensitive info 👍

[2018-05-22 07:47] archSeer commented on #398
@benoitc To add more info to the conversation: We have an internal service we're using via HTTP, and the server has a 10min timeout. We made a new pool for it and set the timeout to 550s to bring it just a bit under 10min.

`[pool: :conn_pool]`

[code]

It seems to happen sporadically every 10mins (or more, our traffic varies during daytime, dropping off significantly during night time).

<img wid

[2018-05-22 08:53] markmeeus opened #507 "Document about default pool is somewhat confusing"
Hi There,

We recently had some issues regarding the pooling functionality, and the documentation seemed a bit confusing.
From the code it looks like the behaviour is as follows:

When using {pool, default} tuple => the default pool will be used.
When not passing any pool tuple, the use_default_pool environment key is checked. If true, the default pool is used, if not, it does not use the pool.

S

[2018-05-22 10:23] RodionGork opened #508 "hackney:request throws error not mentioned in spec when app was not started"
Hi Friends!

This is not crucial, but `hackney:request(...)` throws error like `{error, badarg, [...]}` if the hackney was not started due to some reason. However this can be either added to spec, or caught and converted to something like `{error, not_started}` as return value. This will also help to make the library more "dialyzer-friendly". Current workaround is to place "catch" before call :)

[2018-05-24 08:56] silviucpp opened #509 "Is rebar supported ?"
Hello,

Right now only `rebar3` seems working on master. old `rebar` is broken even if is still used in lot of projects.

Looking on the repo I think you are still support `rebar` as time in `rebar.config.script` some deps are specified.

But seems `idna` doesn't support it and `unicode_util_compat` fails to download.

Silviu

[2018-05-25 11:57] benoitc commented on #509
that's possible. Can you post the trace you had?

[2018-05-25 12:32] silviucpp commented on #509
[code]

Compile:

[code]

[2018-06-06 12:08] grepz opened #510 "Hackney pool overload"
Hello,

It is possible to overload hackney pool and render it unresponsive or even crash erlang node.
The case is like  this:
Some process sending simple http requests on a server that can handle not more then N RPS with rate N * k(k >= 2)
At some point hackney pool queue size begins to grow indefinitely(with my numbers its ~300 rps of receiving server and 600-700 rps for client).
Process info for

[2018-06-11 20:01] rozap commented on #464
I still see this happening with hackney `1.12.1`. It definitely seems to be a race condition, as it happens sometimes.

One thing I don't understand from `d4c4f3930d633a675a4224eb76149646c1e6cd74` is that the changes all seem to be around closing the socket, but I see this error happen long before the socket has closed - just after the response stream starts.

I'm going to keep looking into it.

[2018-06-11 21:23] rozap commented on #464
I've got two traces, one where it works and one where it crashes.

This is part of the working trace that differs from the broken one.
[code]

This is the broken one
[code]

If you look at them side by side, we see the working one has
[code]
But the broken one is missing that `ok` response from setting the transport opts - its next message is the first chunk of data.

So I think the `Transport:set

[2018-06-12 04:21] rozap commented on #464
Just going to leave a comment here if anyone else encounters this behavior: the reason for this seemed to be calling `stream_next` twice in a row without waiting for an ack after the socket was set up. Removing the duplicate call I had seems to have fixed it.

[2018-06-12 08:10] benoitc commented on #464
@rozap you mean 2 consecutive call without receiving the message? can you show a simple snippet for it?

just fyi  right after the next release i will revisit the stream code to make it simpler to handle, but if we can fix that issue firsy/

[2018-06-12 16:19] rozap commented on #464
I mean in my app code, I was accidentally calling stream_next twice without receiving a message, yes. A snippet probably won't be super useful, because there is some complexity about my app mixed in there :)

[2018-06-14 18:15] facundoolano opened #511 "cookie manipulation issues"
I have a situation where I want to extract the cookies from a response, parse them, and then use them as input to a separate response. Trying to use `hackney_cookie:parse_cookie` and `hackney_cookie:setcookie` resulted in some inconsistencies:

* `parse_cookie` parses all parameters while `setcookie` only accepts a subset of options and drops the rest
* `parse_cookie` returns binary keys while `se

[2018-06-20 17:58] brigadier opened #512 "parse_url incorrectly parses urls without path but with GET parameters"
For example
[code]

[2018-06-20 19:04] #512 closed

[2018-06-20 20:29] benoitc commented on #501
@ruanpienaar i did that in the past: https://github.com/benoitc/echohttp maybe we should put it back?

[2018-06-20 23:42] ruanpienaar commented on #501
Cool! i'll have a look

[2018-06-22 19:47] benoitc commented on #508
Hrm I think the erlang error may be more useful than returning an error. Imo this error must not be expected. What was your issue with it?

[2018-06-28 19:39] silviucpp commented on #509
Hello,

I tested today on the master and still not working with different error:

[code]

[2018-07-03 15:56] svileng commented on #505
@benoitc Apologies for the delay, please find the log file here: [hackney-log-cleaned.txt](https://github.com/benoitc/hackney/files/2160111/hackney-log-cleaned.txt)

I have removed the following information and replaced it with `[FILTERED]`, in case you're wondering what's going on:

- Host info for requests;
- Auth header values and some response headers;
- Request json body

As I mentioned befor

[2018-07-09 19:11] andreineculau opened #514 "support rebar2"
see https://github.com/benoitc/hackney/issues/509#issuecomment-401149674
issue on certifi: https://github.com/certifi/erlang-certifi/issues/29

request to schedule a release once certifi is fixed

[2018-07-10 13:18] benoitc commented on #506
mmm shouldn't trailing new line should rather stripped  instead of escaped? For line in the middle yes that should be encoded, but trailing new lines?

[2018-08-03 13:33] bbtdev opened #517 "module :certifi is not available"
Hello,
I try running this test, on other macbooks it works, I don't undestand what is the problem:

[code]

My knowlegde of certificates is very limited, I can't find any information about this certain issue

[2018-08-03 20:17] silviucpp commented on #509
Any news on this ?

[2018-08-03 21:02] benoitc commented on #517
seems like the application certifi has not been fetched by your mix build. Can you past me the full og of it if you have it?

[2018-08-03 21:04] benoitc commented on #509
@silviucpp see my answer in certifi/erlang-certifi#29 . I will take care of it and do a release on monday.

[2018-08-04 08:58] bbtdev commented on #517
@benoitc Hey thank you for your intereset, I deleted the local repo, cloned and did mix deps.get there is no problem now. I can't replicate it. If I encounter this I will reopen the issue.

Have a great weekend!

[2018-08-04 08:58] #517 closed

[2018-08-13 21:43] jeffrom opened #518 "Question: graceful shutdown for supervised connection pool"
Sorry if this is already answered elsewhere, but what happens to a supervised pool when it's application is stopped and there are active connections in progress? Will they be allowed to complete or are they killed mid-request?

the `:gen_tcp` documentation says:

[code]

This doesn't quite answer my question, as an HTTP request includes a send and a receive. Trying this out in console, it looks li

[2018-08-17 08:04] bismark opened #519 "Relative Location header resolution inconsistent with cURL"
Testing against the endpoint `https://webmention.rocks/test/23/page`:

[code]

cURL:

[code]

[2018-08-17 09:32] benoitc commented on #519
I see curl use "/" as a way to fix relative locations and step back for
"page". Interresting. I may have a fix for it ready for the next release
next week. Will update the ticket asap.

On Fri, Aug 17, 2018 at 10:04 AM Ryan Johnson <notifications@github.com>
wrote:

[2018-08-20 13:53] svileng commented on #505
@benoitc Have you had a chance to look at the logs from me and @desoulter above? Let us know if there's anything we could do to help investigate the issue. Thanks!

[2018-08-21 08:16] benoitc commented on #505
@svileng sorry i missed the initial notifications. I will have a look today. Sorry for the delay

[2018-08-21 13:04] leonardb opened #521 "crash in hackney_url:parse_qs"
When the query string fragment has leading ampersands hackney_url:parse_qs will crash with `no case clause matching []`

Cause is using `trim` as option to binary:split/3, should be `trim_all`

PR https://github.com/benoitc/hackney/pull/523

[2018-08-28 19:42] sublimecoder opened #524 "Cerfifi module not found"
It appears as though certifi not compiling properly with version 2.3.1 under certain circumstances. Could we bump it to 2.4.1 and see if that fixes this issue?

[2018-08-28 20:28] benoitc commented on #524
is this with rebar2?

On Tuesday, August 28, 2018, Jared Smith <notifications@github.com> wrote:

--
Sent from my Mobile

[2018-08-29 13:21] soundmonster commented on #361
I am receiving a similar error in the same function, but mine says `no case clause matching: {:error, :poorly_formatted_chunked_size}`.  I'll try to fix and submit a PR.

[2018-08-29 21:43] MarcusSky commented on #524
@sublimecoder just FYI, to fix this for now I added:
[code]

to my `mix.exs` file.

Hope it helps!

[2018-08-29 21:44] sublimecoder commented on #524
super helpful @MarcusSky thank you!

[2018-08-30 11:22] seanmcevoy opened #525 "rapid requests get deadlocked"
in our app we set up an application level session with a server (freshchat.com) and then in a short space of time make multiple http post calls to send it some relevant info.
every so often our automatic tests seems to cause a deadlock and we think it might be in the hackney client. the deadlocked processes look like the one below with a hackney record in the process dictionary that has no corresp

[2018-08-30 15:42] seanmcevoy commented on #525
ah, this looks like a duplicate of issue #462

[2018-08-30 15:42] #525 closed

[2018-08-31 07:18] benoitc commented on #525
do you mean you still reproduce it?

[2018-08-31 16:29] seanmcevoy commented on #525
we reproduced this yesterday on 1.6, upgraded to 1.13 today and haven't seen it yet, though only running a few hours so that isn't unusual.
will re-activate this thread if it reproduces with 1.13, though i'm fairly confident that it won't. the fix for 462 seems to have it convered.

PS. thanks for hackney!

[2018-09-02 19:06] dynamite-ready opened #526 "Do hackney_pools work with async requests?"
I looked at this example - https://github.com/benoitc/hackney/blob/master/examples/test_multiple_async.erl - but it appears that the connection pool option is unused here on line 26 - 34:

[code]

In this case, the process is added to `hackney_manager`.
I've tried the same code, and explicitly added `{pool, default}` to the request options, but the request process is still added to the `hackney_ma

[2018-09-03 06:50] benoitc commented on #526
@dynamite-ready

 What do you mean by this ^^ ? How do you observe this?

The manager is part of the things I would like to revisit soon to make the connection supervision lighter. Right now the way the stream process is added is done via the command `hackney_manager:start_async_response/1`:
https://github.com/benoitc/hackney/blob/master/src/hackney_manager.erl#L153

The command link the request t

[2018-09-03 06:53] benoitc commented on #509
change have been done in erlang-certifi. a release will land later today.

[2018-09-03 12:03] dynamite-ready commented on #526
I just make a long running request and use the application tab in Observer to see what children each process is spawning.

I can definitely see the pool process, which wasn't spawning anything.
But hackney_manager did, which was why I wanted to ask.

[2018-09-06 13:46] Hugo-Hache commented on #376
I have this exact same issue on my Elixir reverse proxy (using HTTPoison based on hackney). I'd like to help by opening by a PR, but I'm new to Elixir, and now even less about Erlang 😬

[2018-09-07 14:28] rahulm5000-r7 opened #527 "Supporting protocol'less URL's"
I've run into some issues trying to make a request to a protocol'less URL:
[code]

this results in the error message:
[code]

i guess we could solve this by making a modification to the parse_url/1 function in hackney_url.erl
something like the following:
[code]

what are your thoughts on this?

[2018-09-10 15:30] leonardb commented on #527
URLs like this 'generally' only appear in html and common browser behavior is to inherit the scheme from the page they're being displayed on. IE when page is https the URL is interpreted as https

This is probably pertinent should URLs in such form be received in `Location:` header. Yes, it's not strictly valid, but _maybe_ is should be supported (Inherit the scheme from the previous URL)

EG:
[co

[2018-09-10 15:33] leonardb commented on #521
fixed in https://github.com/benoitc/hackney/pull/522

[2018-09-10 15:33] #521 closed

[2018-09-11 19:04] micke opened #528 "Certifi module not found"
Getting this error when trying to use nostrum.
I'm pretty new to elixir and the beam so not 100% sure if this is the right place to file this issue.
From what i can gather it's the same issue as in #524. I've tried to override the certifi version in my mix.exs by using:
`{:certifi, "~> 2.4 and >= 2.4.2", override: true}`.

I currently fix it by running `mix deps.compile certifi`. But it feels like

[2018-09-12 10:08] yuchunc opened #529 "Option for Hackney to not append library headers"
Hi,

A third party API is very strict about request headers, it allows nothing but the ones documented. I’m using HTTPoison as REST client, but Hackney adds some header information, and the third party service would error. Is there some options I can set to disable this behaviour on Hackney? Or do I have to override the library module?

Thank you!

[2018-09-12 10:14] benoitc commented on #529
which headers are we talking about?

[2018-09-12 13:29] benoitc commented on #529
right now it's not posible. Some headers are added while performing the request:

https://github.com/benoitc/hackney/blob/master/src/hackney_request.erl#L37-L61

But an option can be added to only use user headers if needed. I would accept a patch for it. Just let me know.

[2018-09-13 05:29] getong opened #530 "hackney 1.14.0 tag not found in the github repo, please push the tag to github."

[2018-09-13 11:31] micke commented on #528
Hi @benoitc thanks for getting back so quickly. I just tried pointing hackney to the latest master and still getting the same error.

[code]

[2018-09-13 11:32] micke commented on #528
It's cumbersome because it's not happening consistently. But running tests or the iex enough times ends up with this error

[2018-09-16 17:59] yuchunc commented on #529
Hi @benoitc

I started #532 PR, sorry that I submitted it without tests, my erlang skill is very limited, and I couldn't figure out how to run erlang tests. The changes in this PR is the result of fiddling with code in `/deps` of my elixir project.

Are there some basic steps for getting the tests running (ie. install dependencies, execute test suite)? I can add the tests if I can just have a litt

[2018-09-16 21:17] mhanberg commented on #528
I am seeing the same error after upgrading to elixir v1.7.3 and erlang v21

[code]

Mine is throwing inside of a call to `DynamicSupervisor.start_child`, so I believe it rescues the error internally and returns it, which is why my error is a `MatchError`.

[2018-09-16 21:35] benoitc commented on #528
did you try with the latest version of hackney?

[2018-09-16 21:59] mhanberg commented on #528
Whoops, sorry for being that person 😅,  I ran `mix deps.update hackney` (which i didn't think to since its a dependency of a dependency) and now it looks to be working.

[code]

Sorry for contributing to the noise!

[2018-09-17 11:17] pedep opened #533 "Feature Request: body/2 error when body exceeds MaxLength"
Currently, when you process a request that exceeds `MaxLength`, the incomplete result silently returns.
This is not always that helpful, because an impartial result might not be parseable. Since no error gets returned by hackney, its not possible to distinguish between malformed responses and excessively large responses that have been cropped.

I am using hackney through `HTTPoison`, and would lik

[2018-09-17 17:00] aaronrenner commented on #528
I am also seeing this issue. It seems to work the first time or two after I compile my app, but then it stops working and I get the following error:

[code]

I know it says honeybadger, but it's using hackney under the hood. Here's the versions I'm running

Elixir: 1.7.3
OTP: 21.0.5
Hackney: master (commit daf085b)
Certifi: master (commit 4ad4051 (2.4.2))

The way I fix this is `rm -rf _build` and

[2018-09-18 18:25] dcgibbons opened #534 "UNIX domain sockets broken with new idna dependency change"
We have some common tests that use `hackney:request` to test both TCP and UNIX domain socket behavior. In the past week, the upgrade of hackney to the 6.0.0 version of benoitc/idna broke the URIs we pass into this request. Either we were broken in how we handled this before, or the hackney library isn't taking named sockets into account with the inda change.

In our specific test, our socket name

[2018-09-20 22:05] mhanberg commented on #528
I am actually running into this problem again, seeing the same behavior as @aaronrenner, with needing to destroy my `_build` directory everytime or run `mix deps.clean certifi; mix deps.get` on every build.

[2018-09-20 22:16] micke commented on #528
I'm no erlang expert but I'm pretty sure we are all experiencing the same error 😅.
The bug is very inconsistent. Sometimes i don't get it for a whole evening and the next day i have to recompile cacerts every time i restart iex.

[2018-09-27 09:24] cirka opened #536 "Establishment of SSL over HTTP CONNECT tunnel (sometimes) fails with {error,{tls_alert,"record overflow"}}"
A friend of mine has a really interesting case of hackney unable to reliably establish ssl session over HTTP proxy. I have an access to packet traces on the wire which unfortunately is something I can not freely share, but the traces let us to narrow down the difference between cases when connection establishment is successful and when it is not. In case whole HTTP response to CONNECT request retu

[2018-09-28 12:38] #534 closed

[2018-09-28 13:44] benoitc commented on #533
should be in hackney. I guess returning `{error, {partial_body, Body}}`  or similar would do the trick

[2018-09-28 14:04] benoitc commented on #536
can you test the patch above?

[2018-09-28 14:10] pedep commented on #533
Alright! :)
I mucked around with the idea downstream, and it seems to work fine (https://github.com/edgurgel/httpoison/pull/356)

Are you okay with changing the default behavior, or would it be better to provide a new function/an option?

I wouldn't mind writing a quick PR, but I'm not quite confident enough in my Erlang to guarantee anything good

[2018-09-28 14:38] benoitc commented on #533
i guess it should be an option for the current release version

On Friday, September 28, 2018, pedep <notifications@github.com> wrote:

--
Sent from my Mobile

[2018-09-29 00:30] rupurt commented on #528
Also seeing the problem on OTP 21/Elixir 1.7.3. It happens whenever I make a change to my source and then try to run `iex. I have been working around it by recompiling the dependencies before iex.

[code]

[2018-10-01 07:19] craigp commented on #528
This is happening to me as well, as of this morning. Upgraded hackney to 1.14.3 from 1.14.0 and it still happens. `mix clean` and `mix clean.deps hackney` had no effect, but as with @rupurt using `mix deps.compile` first seems to fix it, for a while at least

[2018-10-01 07:29] benoitc commented on #528
i still have to reproduce it. Do you have any simple example that i could test ? That would help a lot :)

[2018-10-01 19:03] cirka commented on #536
I had something like this in mind: https://github.com/benoitc/hackney/compare/master...cirka:fix_536
In error report i wrote (including new line) having in mind empty line ... basically <<\r\n\r\n>>.
My patch tries to match end of line from response/headers + empty line.

[2018-10-02 08:00] bartima3us commented on #536
I have tested both your fixes but @benoitc still fails. @cirka request freezes. I will make another tcpdump and send it to @cirka

[2018-10-02 08:07] benoitc commented on #536
which kind of proxy are we talking abou? Please not that generally speaking a proxy should send the response during the first packet. Is there a way I can reproduce it myself?

[2018-10-02 08:29] bartima3us commented on #536
HTTP proxy type. Hmm, it's a bit difficult because I can't send a tcp dump.

[2018-10-02 08:32] benoitc commented on #536
Is this a known proxy server?

[2018-10-02 08:37] bartima3us commented on #536
If you ask what kind of proxy server, so it's Apache. If you ask is it a public or a private, so it's a private, behind VPN.

[2018-10-02 08:38] benoitc commented on #536
If can you share some bits of the apache configuration you're using, I will test it :)

[2018-10-02 08:41] bartima3us commented on #536
Apache/2.2.12. What exactly options from configuration do you need?

[2018-10-02 08:43] benoitc commented on #536
@bartima3us the settings of mod_proxy you are using. It should be enough to reproduce it.

[2018-10-02 11:02] bugant commented on #528
Here is a simple repro:

[code]

[2018-10-02 14:10] bartima3us commented on #536
@cirka congrats! Problem solved. Make a PR. :)

[2018-10-02 14:36] bugant commented on #528
Here is my `mix.lock`

[code]

[2018-10-03 08:12] benoitc commented on #536
@bartima3us what error did you have with #537 though? A proxy must send 1 line and no other headers which should be handled by my patch. Can you send a trace?

[2018-10-03 09:12] cirka commented on #536
The proxy responds with 200 and additional header:'
HTTP/1.0 200 Connection Established
Proxy-agent: Apache/2.2.12 (Linux/SUSE)
'
followed by empty line. My proposed patch gathers all input until empty line is detected ( complete with \n\r matching).

[2018-10-05 11:06] benoitc commented on #528
Thanks but I was looking for a simple elixir project to test. I will try this afternoon anyway. I am actually wondering if something changed in the way elixir is loading projects but I will check.

[2018-10-05 11:15] micke commented on #528
I can invite you to my small elixir app that exhibits the problem if that would help.

[2018-10-05 11:35] micke commented on #528
@benoitc just added you. The error happens quite regularly when just running `iex -S mix`

[2018-10-05 11:36] benoitc commented on #528
@micke just saw it. I will update the tixket later in the afternoon. Thanks!

[2018-10-05 16:53] glanotte commented on #528
Just in the event this is helpful, I see the error when using elixir 1.7.x but not on 1.6.x

[2018-10-05 16:55] rupurt commented on #528
@benoitc you can try it out on my [project](https://github.com/fremantle-capital/tai)

- Run `EXAMPLES=true iex -S mix`
- Close the session
- Add a new line somewhere e.g. `IO.puts "Hello World"`
- Try to run the `iex` session again and you should see the `certifi` error

[2018-10-08 09:41] benoitc commented on #536
ok. I would prefer to have a version using `hackney_http` but let see how I can work around that one. Also a test would be useful.

[2018-10-10 20:22] squarism opened #539 "NO_PROXY env variable support?"
I see no issue or code that mentions the common (but perhaps at a different abstraction level) environment variables `no_proxy` and `NO_PROXY`.  These variables are probably in edge-case and annoying land but they allow for flexible security or are just plain expected.  Many http clients have these settings but woefully, are even less common than proxy options to begin with.  Hackney support proxi

[2018-10-11 16:39] seanmcevoy opened #541 "stats error, and overload instability"
when i overload a hackney pool i can reproduce some instability, generating large message queues in the pool process. eg, with a pool size of 50 and 1,000 workers making repeated requests i can see this output:

{hackney_pool:get_stats(default),process_info(proplists:get_value(default,ets:lookup(hackney_pool,default)),message_queue_len)}.
{[{name,default},
  {max,50},
  {in_use_count,50},
  {free_

[2018-10-11 16:41] seanmcevoy commented on #541
this may also help with issue: https://github.com/benoitc/hackney/issues/510

[2018-10-12 21:09] rupurt commented on #528
@benoitc I did a little digging and it looks like the problem is that the `certifi.beam` file gets deleted at some point. If you run `mix deps.compile` you should see something like this in your dependencies.

[code]

When I make a change it gets deleted. The timing seems to be a little sporadic but I can replicate the deletion every time by making a change, then starting a new `iex` session. I mo

[2018-10-14 11:46] benoitc commented on #528
it's not always reproducible. i am wondering if it's not an issue with the parse_transform, i will bump certifi and retest/ Expect a new release tomorrow anyway.

[2018-10-19 15:44] rupurt commented on #528
@benoitc I tested out the new changes in https://github.com/certifi/erlang-certifi/commit/00e3759068a4c7d075340f45a67aef5e4ed0bebe but unfortunately it didn't fix the problem :{

[2018-10-19 16:29] benoitc commented on #528
yes i’m still trying to figure what’s happening. i will have it fixed this
we i guess.

On Friday, October 19, 2018, Alex Kwiatkowski <notifications@github.com>
wrote:

--
Sent from my Mobile

[2018-10-19 17:46] rupurt commented on #528
@benoitc no worries. Thanks a million for looking into it. Is there any other way I can help?

[2018-10-26 09:38] bullno1 commented on #490
As of ssl-9.0.2, even though the release note says:

I still have problem connecting to websites with weird certificate order.

[2018-11-01 07:55] silviucpp commented on #509
Close this because works fine now !

[2018-11-01 07:55] #509 closed

[2018-11-06 19:37] sublimecoder commented on #528
Any further developments on this? I'm getting this error on several apps not sure how to go about fixing it.

[2018-11-07 09:51] benoitc commented on #528
@sublimecoder i will pend some cycle today and provide a version that will eventually fix it. I don't think it's related to certifi itself though but may be due to the current double support of rebar2/rebar3 that make use use a script file.

[2018-11-07 18:22] gutiago opened #544 "Reused socket closing connection"
Hello!
I am having some problems related to the sockets being reused in my pool. For some reason, it's returning `{error, closed}` when hackney calls `hackney_tcp:recv(Socket, Length, Timeout)`.

To illustrate the situation, I've created some test cases for my remote server. I perform some requests using hackney and after 5 seconds I start it again, so it's in a loop. In the low test, I make 3 req

[2018-11-08 10:32] benoitc commented on #528
hrm I couldn't reproduce it. Are you running mix with rebar3 installed?

[2018-11-08 10:54] dalhorinek commented on #528
I'm having same issue actually.

[code]

I have these versions of deps
[code]

If there is something else I could provide, let me know.

[2018-11-08 10:57] bugant commented on #528
@dalhorinek I noticed your elixir version has been compiled on Erlang/OTP 19 while you have Erlang/OTP 21 installed. Could that be the issue?

[2018-11-08 11:11] dalhorinek commented on #528
@bugant I've just noticed it as well when I was reporting the versions, I've just upgraded to 1.7.4 which is compiled with 21 and tried it again. It seems that this is not the issue.

[code]

Here's how I able to reproduce it
[code]

[2018-11-08 12:07] benoitc commented on #528
hrm i didn’t reproduced it today. do you have rebar3 installed?

anyway i’m making a minimal app to test.

On Thursday, November 8, 2018, Dal Horinek <notifications@github.com> wrote:

--
Sent from my Mobile

[2018-11-09 07:17] benoitc commented on #544
As a follow-up to our discussion on slack, just wanted to add more infos.

Current pool is checking if the socket is still active before returning it to the client. It may happen however that the socket is closed after that check.  It's not always possible to prevent an EBADF error. Does it happen on the first read or later? Maybe you could provide a coredump?

In any case check if remote is not c

[2018-11-09 07:28] #541 closed

[2018-11-09 07:32] Hinidu commented on #541
Thanks!
By the way, I’ve tested this patch yesterday evening and it didn’t help me too much. Our application still becomes unresponsive after heavy load if pool is enabled, but everything seems ok if pool is disabled.
I will continue my investigations.

[2018-11-09 08:18] benoitc commented on #541
@Hinidu if you have a way to reproduce your issue please open a ticket. ALso check if the request are correctly closed so the connection is released to the pool.

[2018-11-09 11:28] gutiago commented on #544
I discovered what was probably the main cause of the error. I should had provided a feedback, sorry.
What happened was that I am using cowboy on the remote as the listener of my service.
Cowboy has a option called **request_timeout** and according to the docs, it's definition is: _Time in ms with no requests before Cowboy closes the connection._

The default value of this option is 5000, the exact

[2018-11-27 19:31] alg commented on #528
I'm also having this issue, but it seems it's not specific to certifi in my case. The other day I was "losing" Cowboy in the very same way -- just couldn't start the app because some Cowboy module was missing. I had to delete its directory in _build and then start the app. Upon restart had to repeat it.

[2018-11-28 05:56] alg commented on #528
As a followup, by installing a dtrace probe I figured that it's beam.smp process that is deleting .beam files at some moments. I also noticed that it happens during recompilation when I change something in code.

I **omitted many lines** and posting just few of them to show which packages are affected. They seem to be the same every time.
[code]

[2018-11-28 14:07] benoitc commented on #528
@alg did you install rebar3 or just using mix that will fetch its own version?

[2018-11-28 16:39] rupurt commented on #528
@alg great insight. Do you mind posting a gist of how you observed that? I'd like to help figure this out but don't know where to start.

[2018-11-28 18:40] alg commented on #528
@benoitc I have rebar3 installed globally. Not sure which version is used by `mix` though.

@rupurt Sure, put the following snippet into a file (say, `trace.d`) and then call `$ sudo dtrace -s trace.d`. This piece watches what the "beam.smp" process deletes. You can play around with dtrace options to get to a specific file, for example. Unfortunately, I wasn't able to get the stack trace so far as

[2018-11-28 18:44] alg commented on #528
The curious thing is that I picked another Elixir project I worked on a bit ago and you know what? It suffers from the same issue and if I run `mix deps.compile` several times in a row, it compiles exactly the same set of dependencies. In my case they are (in this order):

[code]

[2018-11-29 12:03] benoitc commented on #528
@alg you only get the error with certifi?

[2018-11-29 12:07] benoitc commented on #528
what would be interresting to test to make sure it's not an issue with mix compilation would be testing the following cases:

* an app that only use certifi
* an app that is using hackney + certifi

also related to benoitc/erlang-idna#26 an app that is only using idna. I will try later today to do it but if someone can also do it on its side ... :)

[2018-11-29 19:20] alg commented on #528
@benoitc I started a new empty mix project and added `certifi` to it. Repeated `mix deps.compile` resulted in repeated compilation of `parse_trans` and `certifi`. Then I replaced `certifi` with explicit `parse_trans 3.3.0`. Now continuous recompilation of `parse_trans`.

Just to be sure I'm not going crazy and it shouldn't be like that, I added `jsx 2.8` and `ecto 3.0.1`. After the initial compila

[2018-11-29 20:16] alg commented on #528
A bit more progress. Lift your hands who use Vim with Ale plugin.

Even when I disabled its Elixir linter, it still triggered the recompilation in the background (that's how it gets error messages for display) and that ruined `.beam` files (I even noticed several *.crashdump files in deps).

It still doesn't explain continuous recompilation, but at least (as it looks after a few minutes of playing

[2018-11-29 20:38] benoitc commented on #528
I guess there is something with the way elixir is behaving with `parse_transform`. I may rever to the old code that generating the erlang file first to see if it's the root cause.

[2018-11-29 20:39] benoitc commented on #528
@alg thanks for the debugging btw. that helps a lot :)

[2018-11-29 20:51] dalhorinek commented on #528
I use vim with Ale, so this is possible.

Here is an output of ALEInfo after some code change.

[code]

And those number directories (268) are always created and then after some time removed ...
it contains something like this
[code]

So it compiles it into the temporary folder, then removes it, so that should not affect the build in main directory?

[2018-11-29 20:58] dalhorinek commented on #528
I can confirm that's ALE for sure. When I disable ALE using `:ALEDisable` I'm not able to reproduce it anymore the way I was able to reproduce it. When I enable it again `:ALEEnable`, the problem is back on.

@alg Nice catch!

[2018-11-30 05:45] alg commented on #528
@dalhorinek I also noticed that `vim` process is deleting files from some temp directory, but... before that `beam.smp` is removing exactly the same files from the deps. It gives me creeps actually. :)

So the issue forked into two different:
- some libraries keep recompiling slowing things down on start/restart quite a bit (I look at you, `parse_trans` and co)
- ALE misbehaving. I guess, this one

[2018-12-04 13:40] glanotte commented on #528
I just updated ale and haven't had the issue yet, looking at open issues over there. I think the issue might have been the mix linter, which is now disabled by default.

https://github.com/w0rp/ale/issues/2084

Very nice investigative work!

[2018-12-04 16:53] rupurt commented on #528
OMG! Also just updated Ale and haven't seen the problem yet. Thank y'all so much!!!

[2018-12-05 09:55] krystofbe opened #545 "connections get mixed up when using proxy and connection pooling"
Hello :)

I'm experiencing a strange issue with hackney in combination with a transparent http/https proxy and connection pooling.
I'm using ex_aws for different aws services. ex_aws uses hackney internally. i'm forced to connect through a transparent proxy with hackney. with proxy settings in hackney, i'm noticing that connections  get mixed up.

i'm seeing requests for `https://s3.eu-central-1.a

[2018-12-05 11:57] benoitc commented on #545
can you provide a snippet of the code/conf you’re using? it doesn’t have to be the real host. Which tool are you usjng for the transparent proxy? any specific conf?

[2018-12-18 19:34] billgloff commented on #464
Any updates on this as I'm still seeing this behavior in version 1.14.3?

[2018-12-19 13:31] benoitc commented on #464
@billgloff how does it happen? Can you open a ticket with more details if you can?

[2018-12-21 09:43] benoitc commented on #544
i think i'm agree with such solution, i aml also thinking a socket shouldn't be open too long in the pool to not exhaust the server resources or make it think of a bad behaviour . I propose to do the following change:

- [ ] default TTL in the pool for sockets shorten to 2 or 5 seconds (imo 2 seconds is a good timing)
- [ ] make this TTL configurable
- [ ] asynchronous requests should have an opti

[2018-12-21 09:44] benoitc commented on #544
@gutiago btw sorry for the delay to answer I was side-tracked too much...

[2018-12-21 13:03] paulswartz commented on #464
I'm also seeing this again; it appears to have started in earnest after updating to Erlang 21.2. I don't have more information at the moment but I'm investigating on my end.

[2018-12-27 23:13] 9mm opened #547 "Pool explanation"
Hey, can you explain a bit more in detail how the pool works?

Does it automatically open connections to match `max_connections` or does it organically open them when you make a request, and then lets them close if there is no request or response sent through the connection within the `timeout` value? Or does it do something else?

I'm trying to achieve 100's of thousands of outgoing requests on a

[2019-01-03 13:57] Hinidu commented on #547
hackney's pool doesn't and can't automatically open connections to match `max_connections` because connection can be opened to any host. So AFAIK it just puts opened by your requests connections when they become free in the pool until they will be closed by any way.

And I don't think that hackney's pool is suited for highload because it uses a queue of waiting processes and filters them using `O(

[2019-01-03 14:12] benoitc commented on #547
@Hinidu it all depends on how you're using the pool :) You can setup as many pool as many hosts you have, which is how you can actually scale it.  Feel free to ping me if you want more detail about it

Anyway, the current design of the pool is to limit the number of live connections using a pool. Since the number of connections to an host is supposed to be small (to prevent any network congestion)

[2019-01-03 14:39] Hinidu commented on #547
Btw I found a few minutes to think about this problem and I think it will be quite simple to defer the removal from this pending queue by storing pid in a hashtable and checking this hashtable after dequeueing the next pending process and skipping it if this process were "removed" from the queue. I hope I will find a few more minutes to implement and test this approach today or tomorrow.

[2019-01-03 15:54] Hinidu opened #549 "Pool queue usage optimization"
Follow up to discussions from https://github.com/benoitc/hackney/issues/547

I've replayed my old synthetic test with 500 processes making requests to `httpbin.org` in a loop using pool with 10 connections and `connect_timeout` and `checkout_timeout` both set to 10. And found that message queue of hackney pool do not grow indefinetely after this commit 74159da340a03f3a3a0cc944814ff4338ab07ce6 (it

[2019-01-03 15:56] Hinidu commented on #547
I've created another issue https://github.com/benoitc/hackney/issues/549 to track my progress and stop spamming this issue with not very much related comments :slightly_smiling_face:

[2019-01-03 21:20] 9mm commented on #547
Wow thats awesome @Hinidu thanks for the comments guys

[2019-01-04 14:35] benoitc commented on #549
@Hinidu I just released 1.15.0 to include 74159da340a03f3a3a0cc944814ff4338ab07ce6 . Should have been done a long time ago.

[2019-01-04 14:36] benoitc commented on #547
I just released 1.15.0 to include 74159da340a03f3a3a0cc944814ff4338ab07ce6 . Should have been done a long time ago.  cc @Hinidu @9mm

[2019-01-04 23:34] dbhobbs commented on #464
We've also started seeing this error in our logs after an update to Erlang 21.2

`{:ssl_closed, {:sslsocket, {:gen_tcp, #Port<0.1490365>, :tls_connection, :undefined}, [#PID<0.21817.64>, #PID<0.21816.64>]}}`

[2019-01-04 23:57] paulswartz commented on #464
It does seem related to that. There's a PR which may address it: https://bugs.erlang.org/browse/ERL-371

[2019-01-07 11:15] Hinidu commented on #549
@benoitc thanks! Great to hear that! Unfortunately I got sick so I've suspended my experiments for now.

[2019-01-07 21:12] 9mm commented on #547
awesome! thank you :D

[2019-01-08 14:01] idod opened #550 "Getting 500 response for valid url"

[2019-01-08 14:03] benoitc commented on #550
can you provide more informations: logs, trace or anything that could help to reproduce the issue?

[2019-01-08 14:09] idod commented on #550
Sorry,
I got an error on hackney and not on curl.
No I get it also on curl :)
No issue.

[2019-01-08 14:14] idod commented on #550
So there is an issue:
when trying to get the url of "https://assets.superbalistcdn.co.za/500x720/filters:quality(75):format(jpg)/spree/product/s/p/spree2018september12picslgzh0650.jpg" with hacnkey I get an error, although it is working fine on curl / browser:

when getting with hackney:
hackney:get(<<"https://assets.superbalistcdn.co.za/500x720/filters:quality(75):format(jpg)/spree/product/s/p/sp

[2019-01-09 08:19] aditrades commented on #550
Happens to me too :-\

[2019-01-09 08:30] joeyfeldberg commented on #550
If you remove the "filters:quality(75):format(jpg)" part of the URL it works, so might be a parser issue?

[2019-01-09 09:17] benoitc commented on #550
@joeyfeldberg good catch

Hackney will normalize the URL and encode `(` and `)`:

[code]

Normally the server must decode it. Anyway as a temporary solution @idod if you don't want to en,code the Url you can pass your own function:

[code]

I will figure about a better way to handle it.

[2019-01-09 14:01] gutiago commented on #544
I think It's a great solution! I don't really know about the cost of creating a new socket on the pool, but let the socket stay for a long time in the pool wouldn't be nice.
Making it configurable is even better, in my case I think that 5s or a bit higher would be better...
Anyway, thanks for the reply!

[2019-01-10 08:53] benoitc commented on #549
@Hinidu no pb I'm curious about the idea you had anyway. So feel free to share them when you feel better.

[2019-01-15 15:59] benoitc commented on #550
fixed in master via 4a501a0eb6adcce3c6ea3d90287fa8da18f5cd09

[2019-01-15 15:59] #550 closed

[2019-01-15 16:01] benoitc commented on #528
it seems an error due to tooling. Can anyone confirm so i can close this issue?

[2019-01-15 16:03] dalhorinek commented on #528
@benoitc It seems so, I have not encountered the error since upgrading ALE to version, where mix formatter/linter is disabled.

[2019-01-15 16:09] benoitc commented on #526
Sorry for the delay to answer.The pool doesn't spawn anything. instead a process will take  socket from it in its current version. The pool process will be rewritten in coming version sometimes this month anyway so closing the issue for now. Feel free to reopen it or open a new one if you have another question.

[2019-01-15 16:09] #526 closed

[2019-01-15 16:10] #501 closed

[2019-01-15 16:10] benoitc commented on #501
closing the issue now as no move has been made.. I will accept any PR replacing httpbin anyway.

[2019-01-15 16:13] benoitc commented on #518
I will close this issue, sorry for the delay to take care of it. As a short response, requests are not owned by gunicorn, so it will depends on your application. If you supervise each requests then you can probably gracefully stop each of them. However sockets idling in the pool are closed immediately.

[2019-01-15 16:13] #518 closed

[2019-01-15 16:15] benoitc commented on #437
Closing the issue. With ef3a9fb43b8786d85f402389e0cec3cc7fa0a467 you can post a file with a different multipart header.

[2019-01-15 16:15] #437 closed

[2019-01-15 16:16] benoitc commented on #435
fixed in latest versions.

[2019-01-15 16:16] #435 closed

[2019-01-17 14:23] benoitc commented on #528
@dalhorinek ok

Closing the issue then as it doesn't seem related to the build of hackney. It can be reopened if needed. Thanks all for the feedback.

[2019-01-17 14:23] #528 closed

[2019-01-17 14:26] micke commented on #528
@benoitc Thank you for your work and I'm sorry for having you spend time on debugging 👍
Really had no idea ale would be the culprit behind it all 😂

[2019-01-17 14:30] monkeydom opened #552 "Update mimerl dependency to ~>1.1 to let clients use the newer mimerl types"
Currently hackney requires 1.0.3 which disallows clients to use a newer version of mimerl themselves without overriding the dependency management.

[2019-02-03 11:42] nroi opened #554 "Connect to IPv6 addresses"
Hackney supports connecting to a client by providing the IPv4 instead of its hostname:

    hackney:request(get, '78.46.175.29')

It also supports connecting to IPv6 hosts:

    hackney:request(get, 'ipv6.xnet.space')

But it fails when attempting to connect to an IPv6 host by providing is IPv6 address:

    hackney:request(get, '2a01:4f8:c0c:1de8::2')

I've tried different IPv6 notations, but hac

[2019-02-05 02:35] binarylogic commented on #464
@dbhobbs we are experiencing the same issue, did you find a work around? I can also confirm this is specific to `21.2`, `21.1` does not have this issues.

@paulswartz that change, unfortunately, did not resolve the error. I have tested `21.2.5`, `21.2.4`, `21.2.3`, and `21.2.2`, all of which encounter this error.

I'm curious if anyone else has a fix or workaround?

[2019-02-06 14:17] paulswartz commented on #464
@binarylogic We haven't found a fix/workaround. Our application fetches very frequently (every few seconds) so having some prematurely closed connections is manageable.

[2019-02-07 04:33] dbhobbs commented on #464
@binarylogic we have not found a workaround. Fortunately for us the error occurs in our pubsub connection, so we just receive the message again after it fails. I've been waiting for a chance to update to 21.2.5 to see if that mitigates the issue at all.

[2019-02-08 08:47] benoitc commented on #554
normally the url should be given as hackney:request(get, "http://[2a01:4f8:c0c:1de8::2]"). But then there is an issue with IDNA that should be fixed.  I will take care of it later today :)

As eyeball, there is #206 opened long time ago . I aims to implement it but any PR is welcome :)

[2019-02-08 08:48] benoitc commented on #547
closing the issue as answered. Feel free to open  new one or participate to #549 for further enhancements :)

[2019-02-08 08:48] #547 closed

[2019-02-08 08:52] benoitc commented on #464
@binarylogic do you have a simple way to reproduce it? maybe a simple snippet showing  how the async request is handled is enough

[2019-02-08 09:24] benoitc commented on #554
idna error has been fixed in latest master.

[2019-02-12 12:08] bblaszkow06 commented on #464
Hi @benoitc! I'm also having this issue. I think it's time to reopen it :wink:
Anyway, here's the snippet that reproduces the problem (disclaimer - I don't know Erlang, so it's in Elixir):
[code]
This is Elixir 1.8 and OTP 21.2.3. I've managed to trace this message, it is received here:
https://github.com/benoitc/hackney/blob/2f55c0d37f9d5942b976272a1df5adecca4edc61/src/hackney_stream.erl#L152

Th

[2019-02-12 15:13] bblaszkow06 commented on #464
One more detail: there's no need to wait 10mins for `:ssl_closed` if there's no {"Connection", "keep-alive"} header.
[code]

[2019-02-13 07:00] benoitc commented on #464
thanks for the log. I think I know what’s going on. I will try a fix later today. cc  @bblaszkozwO6