[2019-02-20 15:27] tomciopp opened #556 "Multipart file upload for already read file"
I need to upload a file that is stored in S3 to another service via an API call. I don't have the ability to write to a temporary file and pass in its path because the server has a read only file system. I can get the contents of the file, the content type and a filename but just can't create an actual file. Based on what I have I don't believe I can upload a file using `hackney_multipart:encode_f

[2019-02-21 14:15] rlipscombe opened #557 ""Codepoint 95 not allowed" -- too restrictive"
[code]

Underscores are allowed in hostnames: https://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it

Related to #534.

[2019-02-21 14:20] rlipscombe commented on #557
Here's another counterexample:

[code]

(ignore the error JSON; that's just to prove that something's on the other end)

[2019-02-25 08:50] benoitc commented on #557
@rlipscombe hrm afaik IDN domain name can't include an underscore: https://tools.ietf.org/html/rfc5891#section-4.2.2 afaik `_` is in the disallowed chars.  You can use `-` in some conditions however. `docker-api-1.docker-default` is a valid domain.

Like some have said on the link you give, `_` is only used as prefix as described in [RFC 2782](https://tools.ietf.org/html/rfc2782)

But this service

[2019-02-25 08:53] benoitc commented on #557
@rlipscombe also I'm confused, unix names or IP usage skip the idna check:

https://github.com/benoitc/hackney/blob/master/src/hackney_connect.erl#L40-L49

Do you still see an error when using a UNIX socket?

[2019-02-25 08:53] rlipscombe commented on #557
Docker forces the underscores. I don't get to use `docker-api-1.docker-default`; it _is_ `docker_<foo>_1`.

[2019-02-25 08:53] rlipscombe commented on #557
I'm not using UNIX sockets.

[2019-02-25 08:55] rlipscombe commented on #557
Whether the standard says they should or not is, unfortunately, irrelevant. They _do_, and other client software works fine.

[2019-02-25 09:05] benoitc commented on #557
It's indeed interesting to see what curl does to bypass the spec there. Maybe it tries to resolve the domain after all.

I will check. Do you have a simple to reproduce this error? That would help. Can you at least provide the headers it sends to that docker env? If you can provide the results of the following  command lines that would also help:

* `curl -i  http://docker_api_1.docker_default:800

[2019-02-25 09:07] benoitc commented on #557
if you can't gprovide a simple example, can you at least procides me some indications on how to obtain   such url?

[2019-02-25 09:12] rlipscombe commented on #557
[code]

[code]

[code]

[code]

[2019-02-25 09:43] benoitc commented on #557
hrm it's a local host though. Anyway looking at url it seems to just ignore hosts that contains only ascii:
https://github.com/curl/curl/blob/7466d1a3083150da636251b156efbd520b01f1af/lib/url.c#L1728

which may explain why it works (though it shouldn't).

[2019-02-25 09:45] benoitc commented on #557
as a side note you can't indeed register a domain name that have an underscore in it :)

[2019-02-25 09:46] rlipscombe commented on #557
Only because I put it in `/etc/hosts` for demonstration purposes. I could wedge it into a dnsmasq config file... ;-)

My docker containers are down right now, because I'm in the middle of something else, so I can't demonstrate with those.

[2019-02-25 09:51] whysoserious commented on #557
It would be great if we could have a configuration option in :hackney which would let to not to follow IDNA specification so closely. It's not respected in many use cases. I have exactly the same problem with docker images as Roger.

Anyway, thanks for the great work Benoit!

[2019-02-25 10:00] rlipscombe commented on #557
One of my colleagues correctly pointed out that, inside the docker network, the `docker_foo-bar_1` name is resolvable with just `foo-bar`, because of the implied service alias.

But that doesn't (in my case) help when attempting to access a container from the host with its full `docker_foo-bar_1.docker_default` name.

It occurs that there's some context missing here, for those not familiar with do

[2019-02-25 10:00] rlipscombe commented on #557
Absolutely!

[2019-02-25 10:11] benoitc commented on #557
I see thanks for the explanation :) Please have a look in #558 and let me know if it works for you.

[2019-02-25 12:12] #557 closed

[2019-02-25 12:15] benoitc commented on #556
Sorry for the late answer. But you can stream a multipart using the stream api with a combination of [hackney:send_multipart_body/2](https://github.com/benoitc/hackney/blob/master/doc/hackney.md#send_multipart_body-2) and [hackney:stream_multipart/1](https://github.com/benoitc/hackney/blob/master/doc/hackney.md#stream_multipart-1)

Hope it helps.

[2019-02-25 12:16] benoitc commented on #557
fixed in master. I will make a release sometimes today.

[2019-02-26 08:04] #552 closed

[2019-02-26 16:12] tomciopp commented on #556
@benoitc Thanks for the help! I was able to get everything to work after some finagling.

[2019-02-26 16:12] #556 closed

[2019-03-01 13:50] kotsius opened #559 "1.15.1 fails on Windows"
I am developing a Phoenix 1.4 project on a Windows 10 workstation with Elixir 1.8.1. Since upgrading hackney to 1.15.1, mix compile fails with:

===> Compiling certifi
===> Package certifi-2.5.1 not found. Fetching registry updates and trying again...
===> Updating package registry...
===> Uncaught error in rebar_core. Run with DEBUG=1 to see stacktrace or consult rebar3.crashdump
===> When submit

[2019-03-05 19:49] indrekj commented on #510
I'm not sure if it's the same problem but my pools are getting stuck as well. I'm using hackney 1.15.0.  Running get stats on the pool returns:
[code]
in_use_count is 0 but the queue count is huge.

[2019-03-06 15:31] indrekj opened #560 "Free count hackney pool metric is sending a wrong type"
README says that `hackney.POOLNAME.free_count` is a counter.
doc/overview.md says that `hackney.POOLNAME.free_count` is a counter.
The metric however is [initialized](https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L604) and [updated](https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L424-L426) as a histogram.

I'm not sure if either of them actually are corre

[2019-03-16 12:46] binarylogic commented on #464
@benoitc do you mind sharing what you know? Maybe one of us can help? We're waiting on this fix as well. Happy to help if we can.

[2019-03-17 08:22] benoitc commented on #559
It seems like an issue with mix or rebar3 or a plugin you are using. Did you report it to them?

[2019-03-22 04:05] axelson commented on #517
Posting this potentially related issue for anyone stumbling here: https://github.com/benoitc/hackney/issues/528

[2019-03-26 10:58] kotsius commented on #559
Thanks for your reply. A number of unrelated issues pointed to a wider problem. Reinstalling Windows, drastic as it was, seems to have resolved every issue.

[2019-03-26 10:58] #559 closed

[2019-03-26 20:21] benoitc commented on #464
@binarylogicsorry got side tracked.  i think the socket isn't released during the redirection, but I may have to check. Also i also need to check if messages are flushed during close. I will have a look tomorrow.

[2019-04-04 16:02] tpitale commented on #464
I'm using OTP 21.3.3 and could not reproduce using @bblaszkow06 example script. But … I have seen these messages popping up unhandled. I'll continue to dig and see what I can find, if anything new.

[2019-05-06 07:33] larryweya commented on #505
This happens on 2 load balanced web servers once in a while and all http client requests to different hosts return :connect timeout on both web servers when it does. Enabled hackney trace and got the following. Restarting the process resolves this.

`[hackney trace 80 <9427.17789.8> 2019:05:06 07:23:32 4836] request
   Content: [{module,hackney},
             {line,293},
             {method,post}

[2019-05-10 17:33] nitinjain1105 opened #563 "Error Starting Hackney Manager"
Hi @benoitc

I am trying to enable the metrics feature of hackney (from my Elixir application)

config.exs
[code]

mix.exs
[code]

I am getting the following error. Please help

[code]

[2019-05-13 08:35] svileng commented on #505
@larryweya sounds like this is a slightly different issue than mine (but maybe related? @benoitc will know) since my `:connect_timeout` errors actually disappear after a few retries.

For the record, I'm still experiencing this in hackney `1.15.1`.

[2019-05-15 18:22] fogfish opened #564 "Fails to PUT chunked encoding"
I do feel this as duplicate to #285. Exactly same use-case and symptoms. However, I'd like to re-open issue for the discussion here. I do not think that it is a good idea to force usage of different client api depending on presence of HTTP header.

[2019-05-15 21:41] thang911pk commented on #355
Is this bug fixed yet?

[2019-05-16 13:38] thang911pk commented on #545
This is still an issue. Have you had a chance to take a look at it? We are using the latest version of hackney with HTTPoison.

[2019-05-16 16:25] thang911pk opened #565 "Connection mixed up when using proxy"
I experienced similar issue as https://github.com/benoitc/hackney/issues/545
I use the latest version of HTTPoison and Hackney. I had 2 end points. When I use Squid proxy to send HTTPS requests, all requests go to one endpoint. Hackney reused the same connection for both end points.
[code]

[2019-05-16 16:25] thang911pk opened #566 "Connection mixed up when using proxy"
I experienced similar issue as https://github.com/benoitc/hackney/issues/545
I use the latest version of HTTPoison and Hackney. I had 2 end points. When I use Squid proxy to send HTTPS requests, all requests go to one endpoint. Hackney reused the same connection for both end points.
[code]

[2019-05-16 19:09] #565 closed

[2019-05-17 04:28] benoitc commented on #565
why did you close it? also what was the issue exactly?

[2019-05-17 04:40] thang911pk commented on #565
I think I accidentally created the same issue: https://github.com/benoitc/hackney/issues/566 (maybe internet connection issue)

We use HTTPoison to send HTTPS Request through a Squid Proxy.  We experienced our messages got delivered to wrong endpoints.  I think it is similar to this issue: https://github.com/benoitc/hackney/issues/545
We are not sure if you fix it or not.

[2019-05-21 09:39] benoitc commented on #564
@fogfish I'm not sure to follow, can you clarify a little bit what you mean? The send_request API is/was to reuse a manually started request. You can get and fetch a chunked encoded request using the "standard" API normally.

[2019-05-21 20:28] thbar opened #567 "Easiest way to log "hackney.large_pool.free_count" in an Elixir app?"
Please bear with me as I'm just diving into hackney (I'm using it via [httpoison](https://hexdocs.pm/httpoison/readme.html#connection-pools))!

I _think_ my app (a "business proxy") could have reached a bottleneck in terms of connection pool (I'm using a supervised connection pool as suggested in the httpoison documentation).

To properly tune this, I'd need to be able to trace down `hackney.large

[2019-05-21 20:31] benoitc commented on #560
i agree. should be fixed.

[2019-05-21 20:54] benoitc commented on #267
hmm should have been closedby #276. There are 2 milestones coming also with a release of the 1.16 next week and the 2.0 that will only be erlang 21 and sup. The 2.0 is a complete rework of the connection handling.

[2019-05-22 20:40] bzmw commented on #566
@benoitc have you had any time to take a look at this issue?

[2019-05-23 11:55] benoitc commented on #564
bump :)

[2019-05-23 12:25] fogfish commented on #564
Sorry ;-) Let me clarify this one again.

I do have exactly same issue as #285

[code]

leads to the following message... The HTTP request headers are encoded with chunked encoding. It leads to rejection of the request by remote entity.

[code]

You made a proposal as a possible solution of the problem

function. Looks at the readme.

As I understood, there are a separate function at hackney clien

[2019-05-23 18:39] fogfish commented on #267
Are you saying that this bug is closed already? or Will it be closed after 2.0?

[2019-05-23 19:57] shonfeder commented on #464
@benoitc or @tpitale, have either of you discovered anything through your investigations so far? We seem to have an acute case of this cluttering our logs. Is there anything in particular I can do to help investigate or work towards a fix?

[2019-05-23 20:32] tpitale commented on #464
I haven’t, sorry.

[2019-05-23 20:52] benoitc commented on #464
there is a new version planned this month. I will recheck. Also the coming 2.0 in june will only support erlang >= 21.

[2019-05-23 21:24] nathanl opened #568 "URL params in relative redirect URL get mangled"
I have an "index" API endpoint that requires pagination params. If you request it without them, it redirects you to make the same request with pagination params.

Eg, `/api/v1/things` redirects to `/things?max_page=3&page=1&per_page=10&total_count=21`. The URL is correct in the `location:` header of the HTTP response (seen using `curl -v`), and a request to that exact URL with `curl` succeeds.

Ho

[2019-05-23 21:34] balexand commented on #464
I see this consistently with Erlang 21.3.8. It's coming from calls to `ExAws`, which uses `HTTPoison`, which uses `hackney`. I'm working around the issue by calling `ExAws` in a temporary process (Elixir `Task`).

[2019-05-24 17:43] DWvanGeest opened #569 "recv_timeout not respected when using a proxy to connect to a down host"
Hello!

We are using `hackney` via `httpoison`, and routing all requests through a Squid proxy. There seems to be a bug when attempting to send a request to a host that is not accepting connections. Namely, neither a `:timeout` nor a `:connect_timeout` is returned. Instead, once the proxy itself times out and returns 503, a `:proxy_error` is returned.

Demo:

[code]

While it kind of makes sense t

[2019-05-24 17:55] adamkittelson commented on #464
Is there any harm in just working around this by just handling the message in the process that receives it for now?

`def handle_info({:ssl_closed, _msg}, state), do: {:noreply, state}`

In other words is unexpectedly receiving this message the only real fallout of the problem or is it just a symptom of a larger issue? I'm getting this on a QA server where I've upgraded from Erlang 19.x to 22.0.1

[2019-05-26 06:57] chulkilee opened #570 "insecure option for a host is persistent in a pool"
It seems like hackeny does not handle request with different options for same host correctly.

Here is elixir code to demonstrate how `insecure` option is applied to future request for the same host in the same pool.

(env: hackney 1.13.0, elixir 1.8.2, erlang 22.0)

[code]

- Unfortunately, it's possible to "cancel" `insecure` - so there is no way to neutralize `insecure`
- Probably only way to r

[2019-05-26 21:09] chulkilee commented on #570
Hm seems like I have the same problem with httpc

[code]

[2019-05-26 21:20] ericmj commented on #570
Verifications happen when a connection is started. hackney and httpc use connection pooling which reuse connections so you wont get verification on each request. The erlang `:ssl` module also has an option `:reuse_sessions` which means even on new connections you wont get verification if it is reusing an existing session.

[2019-05-26 22:05] chulkilee commented on #570
If connection pool manager picks up previous connection with different connect opts, then that's bad behavior.

(I don't think httpc has built-in pool manager correct me if I'm wrong)

I passed `reuse_sessions: false` inside `ssl` option, but it still doesn't work (later request is picking up existing opts). Could you provide working code which makes three requests - verify, noverify, then verify?

[2019-05-26 22:10] ericmj commented on #570
Both hackney and httpc use connection pools by default. AFAIK neither of them use the request options to select different connections from the pool.

I would suggest you explicitly use different pools for different connection options or disable pooling and set `reuse_sessions: false` if you don't want this behavior.

[2019-05-26 22:30] chulkilee commented on #570
Oh, I think the real issue is HTTP connection reuse. If I add `connection: close` HTTP header to explicit stop reusing HTTP connection, it works without `reuse_sessions` (as it always recreate HTTP connection). Erlang [ssl](http://erlang.org/doc/man/ssl.html) doesn't say what's the default behavior for client side `reuse_sessions` - so probably it's up to how httpc or hackney calls ssl socket.

Th

[2019-05-27 04:07] benoitc commented on #570
@chulkilee you can  control connections per pool. Meaning you can start one pool for insecure connections and another cor secured one. Or if you want to use a single connection you can also use the `send_req` api  like in this [example](https://github.com/benoitc/hackney/blob/master/examples/test.ebin).

[2019-05-27 04:10] benoitc commented on #570
note that if all your connections are closing with the "Connection:close" headers, alls connections are never using the pool (checked in), so it should also work unless there is a bug. Can you share a snippet of what you're doing?

[2019-05-27 05:02] chulkilee commented on #570
I did find those workarounds (already mentioned in the body).

This is workaround to manage same SSL option per pool. However, single "bad request" (e.g. passing `:insecure` to "secure pool") will result in updating the pool config. See my (elixir) code in the issue body

This workaround is also mentioned in previous comment. Note that this comes with performance impact.

At least, ideally a conne

[2019-05-27 07:10] benoitc commented on #570
On Mon 27 May 2019 at 07:02, Chulki Lee <notifications@github.com> wrote:

ssl options are set per connection, not per pool. But in the current
versions options are not checked so connecting to the same  host + port
will reuse an available connection which may be secure or insecure. A
simple fix even if it's expensive is to check against these options. There
is a workaround for it in the release c

[2019-05-27 13:48] chulkilee commented on #570
Thanks a lot for the input and the update!

I think the naivest implementation is: dump ssl option into binary deterministic way (e.g. in elixir `"default_" <> inspect(ssloptions)`)  and use it in pool name.

(It can be used for ddos attack if ssl option contains user input (ssl cert) - so hashing might be better choice..  :)

My thought is also at https://elixirforum.com/t/strange-httpc-hackeny-b

[2019-05-28 16:16] adkron opened #571 "Support Async and an option to Hackney"
I need to stream mjpg, and the only want to make that work is to have support for async. If we utilize the ability of hackney to make async requests, we would be able to support a lot of other use cases. I was trying to think of an elegant way to deal with the callbacks that would need to be in place. One thought I had is when passing `async` to the adapter that we make the value a function, or mo

[2019-05-28 16:17] adkron commented on #571
I put this on the wrong project, sorry.

[2019-05-28 16:17] #571 closed

[2019-05-28 16:42] benoitc commented on #570
i will provide a fix for it on release coming this week.

[2019-05-28 16:52] benoitc commented on #567
you can provide your own backend for metrics. Plan for 2.0 is to replace it by opencensus.

[2019-05-28 16:54] benoitc commented on #567
Or we could also replace metrics by a backend using [hooks](https://hex.pm/packages/hooks)

[2019-05-28 17:44] thbar commented on #567
Thanks for the feedback - I saw `erlang-metrics` before, but I was unsure if this meant I could implement my own backend or not.

Now that it's confirmed, I googled a bit more and found [this blog post](https://www.rokkincat.com/blog/2015/06/05/monitoring-your-elixir-application-on-heroku-with-librato#hackney-monitoring).

It looks like this is the way to go. I'll try this out, and will report bac

[2019-06-12 22:22] adkron commented on #433
Digest authorization would be incredible. I'd love to help. I'm pulling down the project now, and trying to work my way through the internals.

[2019-06-13 20:29] freandre opened #577 "Encoding float form data"
Hi,

version: 1.15.1

Trying to post data containing some float, I encountered the following crash:

`
    (hackney) /home/melmoth/elixir/test_poison/deps/hackney/src/hackney_bstr.erl:35: :hackney_bstr.to_binary/1
    (hackney) /home/melmoth/elixir/test_poison/deps/hackney/src/hackney_url.erl:313: :hackney_url.urlencode/2
    (hackney) /home/melmoth/elixir/test_poison/deps/hackney/src/hackney_url.

[2019-06-17 11:53] jakubpawlowicz commented on #484
Got the same problem today with Elixir 1.5, hackney 1.15.1, and certifi 2.5.1 (but also 2.4.2). Turns out it was a missing `build_embedded: Mix.env == :prod` in `mix.exs`. Posting it here as it may help someone as this issue is a top hit (and only 1 of 2) for `undefined parse transform 'ct_expand'`.

[2019-06-20 16:53] chulkilee commented on #464
Still having this issue with hackney 1.15.1 via tesla 1.2.1 on elixir 1.8.2-otp-22, otp 22.0.4 (mac), when I use hackney from GenServer.

Tesla is not using async - just use `:hackney.request/5` - see [tesla code](https://github.com/teamon/tesla/blob/v1.2.1/lib/tesla/adapter/hackney.ex#L69)

For now, I'm just adding `handle_info` to the GenServer (as suggested in the previous comment).

However, i

[2019-06-22 05:27] mgwidmann commented on #359
This doesn't work when bundled into a release. Even setting the `:applications` explicitly and it still won't start up. 👎

[2019-06-22 05:44] mgwidmann commented on #567
This doesnt work.

Can't get hackney to start (same as #359) when bundled in a distillery release.

[code]

Same happens if I try to use exometer. Setting `:applications` like:

[code]

Can't you just add `:exometer` and `:folsom` to the dependencies list to fix this issue?

[2019-06-22 06:09] benoitc commented on #359
@mgwidmann can you be more explict. what is the error, how applications are started’ what is the result? That would help. Also this ticket is closed, please open a new one with the details :)

[2019-06-22 06:10] benoitc commented on #359
@msmykowski this error means tje process of exometer is not started. what version of elixir are you running?

[2019-06-23 21:34] benoitc commented on #567
@mgwidmann i will try tomorrow

[2019-06-24 13:27] mgwidmann commented on #359
@benoitc more details are in #567 so we can discuss further there...

[2019-06-24 22:33] madawei2699 opened #580 "pool cannot be disable with use_default_pool: false"
When I use a rotate proxy ip, I want to disable connect pool with use_default_pool to false, it does not work, but it works with pool: false.

[code]

[2019-06-26 06:58] #359 closed

[2019-06-28 15:40] mgwidmann commented on #567
Any update on trying this? I'm running Elixir version 1.8.1 Erlang 21.2 if that helps any.

[2019-06-28 19:24] benoitc commented on #567
@mgwidmann I still have to test an elixir application, but using an erlang application I don't reproduce the issue:

[code]

folsom is loaded before hackney. I will try ASAP with elixir.

[2019-07-01 09:30] benoitc commented on #567
@mgwidmann

no hackney doesn't really depend on them.

Do you have any other error loading folsom?

[2019-07-01 16:31] iguberman opened #581 "checkout_timeout when it is set to infinity"
I get `checkout_timeout` error even though it is set to `infinity`:

 There is a periodic POST request in my app (every 5 minutes).    It's ok initially but after some while  (i.e. overnight) I'm starting to see this error:
{error,checkout_timeout}

In hackney settings I have it set to infinity.    NOTE: that I have commented out `use_default_pool, false`   because I want to use the default pool.

[2019-07-02 08:08] benoitc commented on #581
@iguberman is this happening on latest version of hackney? ALso is this the only connection made?

[2019-07-02 08:19] #580 closed

[2019-07-02 08:20] benoitc commented on #580
fixed. Thanks!

[2019-07-03 04:27] benoitc commented on #581
@iguberman can you paste the full trace if you have it? It would be helpful

[2019-07-03 06:40] iguberman commented on #581
Hi Benoit,   thanks so much for looking into it!   I thought I was using "master" but I just double-checked and it's an old version! tag 1.5.1.   Not sure where this came from.   In any case,  I am running it overnight with default pool enabled to see if I can reproduce it, but probably not.   I think this version is too old for this setting to take effect.   So, my apologies for opening this issu

[2019-07-03 19:00] iguberman commented on #581
Yes, just confirmed again that it is indeed an issue with `master` branch as well.    After about 2 hours or so after starting my  app and `hackney:post` 2 requests every 5 minutes, it starts happening.

[2019-07-03 19:01] iguberman commented on #581
sys.config:
[code]

[2019-07-03 19:31] benoitc commented on #581
do you read the return of your request? It seems like there is no connection available in the pool, which should not happen with the rate you are describing.

[2019-07-03 19:56] iguberman commented on #581
Yes, I check the return value and if it's not 201 I display it in warning log:
[code]

   Is there something wrong with my hackney pool config maybe?    I assume using default pool is a good thing and I shouldn't run out of connections there as they should be happily reused especially at 2 connections every 5 minutes rate?   These are all called from the same process.  But I am running out of conn

[2019-07-03 20:03] benoitc commented on #581
ah but you don't read the body when you get a 201 so it won't return the socket to the pool. Can you try to [skip](https://github.com/benoitc/hackney/blob/master/doc/hackney.md#skip_body-1) or [read](https://github.com/benoitc/hackney/blob/master/doc/hackney.md#body-1) the body. You can also always retrieve the body using the `with_body` option.

Let me know.

[2019-07-03 20:10] iguberman commented on #581
Wow!  Had no idea. Thanks! Will try the skip_body.

[2019-07-11 12:31] nulian commented on #464
Same thing also with non async request as long as you are doing it in a different genserver then the base one it seems you have a chance of this occurring.

[2019-07-19 03:09] mgwidmann commented on #567
As I mentioned earlier, all works fine using the shell as you did. The problem is with an OTP release. **When bundled in a distillery release** folsom does not start up first.

[2019-07-19 06:20] sauvainr commented on #506
Facing the same issue.  Any follow up on this?

It can be potentially dangerous as it allows injection through header value.
[code]

Line break should be followed by space or tab character.
Any counter indication to parse & add space if missing?

[2019-07-22 22:28] joshchernoff commented on #464
Seen with
hackney  1.15.1
elixir         1.9.0
erlang      22.0.5

[2019-07-30 10:07] spieker commented on #464
I get the same error with

hackney 1.15.1
elixir 1.9.0
erlang 22.0.7

It works with

hackney 1.15.1
elixir 1.6.5
erlang 20.3.8.22

[2019-08-06 18:58] pdelanauze commented on #577
Just tried to fix this .. erlang's float to string logic is ... interesting:

[code]

[2019-08-07 13:12] paveltyk commented on #464
Leaking messages with:

Elixir 1.8.2
OTP 21.3.8.6
HTTPoison 1.5.1
Hackney 1.15.1

[2019-08-20 15:01] Kitton opened #585 "Telemetry support"
Hello, do you have any plans about adding support of `telemetry`?
From https://github.com/edgurgel/httpoison/issues/383

[2019-09-07 12:41] MichaelViveros opened #587 "Adding more SSL options for client certificates (Mutual TLS)"
Currently to get mutual TLS working with my client certificate I had to:
1. Manually add back the default SSL options for things like server certificate verification and maximum certificate chain length. I did it slightly differently than the readme [recommends](https://github.com/benoitc/hackney#use-ssltls-with-self-signed-certificates) by calling `:hackney_connect.ssl_opts/2`.
1. Manually append

[2019-09-20 04:01] yjh0502 opened #591 "Failed to send https request on OTP 22.1"
Hackney returns `{error,{option,server_only,honor_cipher_order}}` with https url, starting from OTP 22.1.

Here's a location on ssl library which causes a problem. It seems that `honor_cipher_order` have not been work on client connections so they started blocking it.
https://github.com/erlang/otp/blob/bf2dfb7f51fa50d832f4dc4e4e271e7a6df93629/lib/ssl/src/ssl.erl#L1703-L1706

Commenting following l

[2019-09-21 10:28] gmile commented on #591
FWIW I just noticed a similar line with `honor_cipher_order ` was removed from hex back in January https://github.com/hexpm/hex/commit/f34518e143a59118589d65494ab4dc5181e782db

[2019-09-22 18:07] MichaelViveros commented on #587
@benoitc

[2019-09-23 17:26] ruudk commented on #591
Is there a workaround to this issue?

[2019-09-23 17:31] lasseebert commented on #591
@ruudk, I think only workarounds are downgrade erlang or fork hackney.

[2019-09-23 18:06] benoitc commented on #591
or wait i merge the pr tonight.

[2019-09-23 21:52] benoitc commented on #591
fixed in latest master

[2019-09-23 21:52] #591 closed

[2019-09-23 21:56] benoitc commented on #585
There is a plan to use [hooks](https://github.com/benoitc/hooks) what telemetry does compared to it?

[2019-09-23 22:00] benoitc commented on #568
Right.  I should use the raw path and just append it probably. I will have a look in the next version.
However please note that the Location should be an absolute url normally, if you have any control on the server that would be good to pass it anyway :)

[2019-09-23 22:51] edgurgel commented on #585
@benoitc , from what I understand this lib can connect both: https://github.com/opencensus-beam/opencensus_telemetry . But I think this is just for metrics and not tracing?

So basically adding telemetry to hackney would enable people to use opencensus if they wanted to or something else completely.

[2019-09-24 03:12] benoitc commented on #591
@hernanat i will make a release today. Was too late yesterday for it :)

[2019-09-24 14:12] nathanl commented on #568
Thanks. :)

Yep, that might be more "normal". However, [MDN says](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Location#Directives) it can be relative, and in our case, the reason it's relative is that the service is running behind a reverse proxy. The reverse proxy translates the port and adds TLS.

So maybe you make a request to `https://mysite.com/foo`, but the reverse proxy hands

[2019-09-24 15:19] ggwc82 commented on #591
Hi, can you please increment the Hackney version so that we can pull in changes from Hex for this? Thanks

[2019-09-25 15:21] mdarby commented on #591
Can we get a new version cut? This is a big blocker...

[2019-09-25 16:03] ltj commented on #591
While waiting for a new hex release, you can point deps to the github master branch or downgrade to OTP 22.0.7. Both are perfectly viable options ;)

[2019-09-25 19:58] timbuckley commented on #591
If anyone is having problems down the chain on Elixir and finds yourself here, here's a quick fix for now: https://github.com/edgurgel/httpoison/issues/393

[code]

[2019-09-25 21:15] benoitc commented on #591
@mdarby just released the version 1.15.2 . Was side-tracked. Hope it helps :)

[2019-09-26 08:20] nocivus commented on #591
If you are using phoenix (cowboy), you might need to also override cowboy's version to 2.5+
`{:cowboy, "~> 2.5", override: true},`

[2019-09-26 13:54] ruudk commented on #591
Because nobody replied yet: Tested it and verified that it works. Thanks @benoitc ❤️

[2019-09-28 13:41] benoitc commented on #587
sorry i didn't see that ticket until know. I am not sure I like to have more options. You may also want later add more options.  Maybe an API explicitly manipulating the Client Options would also work in your case?

[2019-09-28 13:48] benoitc commented on #585
@edgurgel that something that could be don  with hooks long time before telemetry was existing :) And I don't like the implementation of telemetry . Dispatching events using ets is exactly what I replaced with hooks.

Anyway since it's used by some people I will add a support for it in next version, that will work with hooks  and some other additions.

[2019-09-28 14:08] MichaelViveros commented on #587
Sounds good, something like `:hackney_connect.client_ssl_opts(host, certfile, keyfile, client_chain, custom_ca)` which will just return the default ssl options + the client ones like my code above? And the last 2 args can be optional.

[2019-09-28 14:35] benoitc commented on #587
why not passing a map?

[2019-09-28 14:43] MichaelViveros commented on #587
True. How would you specify what the possible keys are to the user? Just in the docs? And 2 maps might be best, one for the normal ssl options where you can specify tls version, client cert and key, ... and one for the custom options I’m adding

[2019-09-28 15:32] benoitc commented on #587
hrm I will think a little about it , but yes we may need 2 maps,the default one can be reused directly so passing an atom `default` should be enough in such case.

[2019-09-29 14:07] MichaelViveros commented on #587
Get a chance to think about it some more? Perhaps it's best if I get started on the PR?

[2019-10-03 09:59] npkhoa2197 opened #593 "[Documentation] Hackney multipart/form-data. How to construct a POST request with multipart/form-data as Content-Type"
Hello,

I am trying to make a POST request with `Context-Type: multipart/form-data` but cant find any documentation about how to construct such a request body.

Postman:
![image](https://user-images.githubusercontent.com/18681086/66117591-1861e200-e5ff-11e9-8761-164bf4ce301f.png)
![image](https://user-images.githubusercontent.com/18681086/66117606-21eb4a00-e5ff-11e9-9f29-436de4e5dcd3.png)

Really

[2019-10-03 10:55] benoitc commented on #593
You can post with a property list. Just pass {form, Props} where each Key, Values are binaries. That should be enough :)

[2019-10-03 11:16] npkhoa2197 commented on #593
Thanks @benoitc for the quick response,

But in my case, I have a file upload, which is in `document_file`. So I think I must just `multipart/form-data`?

[2019-10-03 11:22] benoitc commented on #593
For a file, use the tuple `{file, Path}`, looks at the reference doc for
more options (make edoc).

On Thu 3 Oct 2019 at 13:16, npkhoa2197 <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-10-03 12:21] npkhoa2197 commented on #593
Dear @benoitc,

Please correct me if I am wrong.

Since the request I am making has 2 fields, one of them is a file. So, as far as I know, I can use neither `{form, Props}` nor `{file, File}` (`{file, File}` is just for a single file without other fields (text fields)).

Postman body:
![image](https://user-images.githubusercontent.com/18681086/66126130-e5c1e480-e612-11e9-938c-0a30bdc89fa8.png)

So

[2019-10-04 01:45] npkhoa2197 commented on #593
I log the request on the server and only receive the file but the text fied (which is `document_type`). Still working on it

[2019-10-04 03:39] npkhoa2197 commented on #593
Dear @benoitc,

For text fields in `multipart/form-data`, in my opinion, it is not necessary to have explicit `content-type` (comparing to other data).

After spending time reading the source code of `hackney`, I found that if a part (in `multipart`) is pattern-matched into `{Name, Bin}` (which is `{<<"document_type">>, <<"ABC">>}` in my case), the `Name` is used to determine the `content-type` of

[2019-10-04 18:18] chrisapa commented on #591
Worked for me, but first I had to update hex to the last version.

[2019-10-05 15:24] npkhoa2197 commented on #511
Hi @facundoolano,

Sorry for irrelevant question.
Can you show me how to extract cookies from a response?

Thanks in advance!

[2019-10-12 16:25] MichaelViveros commented on #587
Does that sound good @benoitc ?

[2019-10-15 22:59] binaryseed opened #594 "Match error in `hackney_pool:queue_out`"
I'm seeing a match error for somewhat sporadically... (Elixir stacktrace):

[code]

https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L504-L517

It looks like the call to `queue:out` on L509 is returning `{:empty, _queue}` but it's always expecting there to be a value

Hackney `1.15.2`
Erlang/OTP `22.1.3`

Any ideas what could cause this situation?

[2019-10-16 07:51] xpgdk commented on #568
I have been bitten by this bug as well. Simply skipping the normalization seems to be solving the issue for me.

[2019-10-18 23:28] binaryseed commented on #594
@benoitc any debugging pointers?

[2019-10-19 05:21] benoitc commented on #594
probably a race condition. i'm investigating

[2019-10-21 17:59] binaryseed commented on #594
FYI, I was able to create a situation where the errors stopped happening by increasing `max_connections` from the default value to 200. Looking at the metrics emitted by hackney that makes sense because `in_use_count` now never hits 200 so we never have to queue in the first place

It also makes me think it might be easier to reproduce by lowering `max_connections`...

[2019-10-22 22:33] DWvanGeest opened #595 "Basic Auth credentials passed via URL are not URL-decoded before encoding to Base64"
Hello,

Hackney allows you to pass basic auth credentials via a URL like this: `http://Aladdin:open@example.com`. These credentials are properly translated into a basic auth header like `Authorization: Basic QWxhZGRpbjpvcGVu`, which is sent with the request.

However, when a URL-encoded username or password is given, the resulting `Authorization` header is incorrect, because the username and passw

[2019-10-23 17:38] palimarrao commented on #464
Leaking messages with:

Elixir 1.9.2
OTP 22.1
HTTPoison 1.5.0
Hackney 1.15.1

If it makes sense, I can take a look at it. Also, is there any pattern of usage that sidesteps the issue?

[2019-10-24 21:56] ityonemo opened #596 "feat. Req: ability to suppress default content-type"
I have been mocking a (poorly written) HTTP request by a coworker and after a lot of debugging found that the request was failing to emit a content-type header, it might be nice to suppress the default content-type with an option or by pre-setting it to the atom undefined.

[2019-10-30 19:47] QuinnWilton commented on #566
I'm running into this issue in production too, also using a Squid proxy. Let me know if there's any additional info I can provide that would be helpful!

[2019-10-30 19:48] benoitc commented on #566
What is the issue?

[2019-10-30 19:53] benoitc commented on #566
hrm i was expecting the proxy would close the connection each time (which normally it should). What let you think the same connection is reused?

[2019-10-30 22:34] QuinnWilton commented on #566
I noticed it because a request to a Heroku app returned a Microsoft Azure 404 page, and a separate request to an Azure app returned a response from an app I have running on Gigalixir. As far as I can tell, all of the responses in question came back around the same time, and ended up associated with the wrong request.

I haven't had a chance to get a minimal reproduction to confirm that it's this e

[2019-10-31 14:26] bzmw commented on #566
This is exactly the behaviour that we saw. We got around it by disabling connection pooling in `hackney` entirely.
Which sadly caused a huge jump in CPU usage, but was something we had to accommodate.

[2019-11-01 10:05] benoitc commented on #566
The issue is that the connection of the proxy is not closed at the end of the session which should probably be, a trace should confirm it. Can one of you enable tracing in hackney and send me back a session. You can do it privately by mail if you need.

I may have a solution by monday.

[2019-11-01 22:53] QuinnWilton commented on #566
I've been trying to get a trace for you, but I'm having trouble reproducing it reliably in an environment where I have tracing enabled. I'll let you know if I get it working though. It's something I've seen in our logs, but not something I've managed to reproduce manually.

[2019-11-02 13:30] MichaelViveros commented on #566
I reproduced it locally by sending requests to 2 different [ngrok](https://ngrok.com/) endpoints (which tunneled to 2 local servers) and using a squid proxy [container](https://hub.docker.com/r/sameersbn/squid). The first local server returns `url 1` while the second returns `url 2` and the code breaks when it receives an unexpected response from a server (Ex. server 1 returning `url 2`).

[code]

[2019-11-02 14:54] MichaelViveros commented on #566
You could even use a site like https://httpstat.us/ which returns different status codes depending on the route instead of using ngrok + local servers.

[2019-11-02 15:00] MichaelViveros commented on #566
Actually that probably wouldn’t work since the requests would be for the same host

[2019-11-03 05:05] MichaelViveros commented on #566
Here's a trace.
[trace.txt](https://github.com/benoitc/hackney/files/3801264/trace.txt)

[2019-11-03 13:26] benoitc commented on #566
@MichaelViveros  thanks for the trace! So it's clear there what is happening. Since the response is not closing the connection (no close header), hackney will keep that connection to the proxy host open and reuse it. A quick fix is probably  to probably send a Close header while sending the request. On the long term it may be better to have a separate proxy pool. I will let you know when the first

[2019-11-03 14:43] MichaelViveros commented on #566
Awesome! And for my own knowledge, why does the connection with the proxy
have to be closed? I thought connection pooling meant you kept the
connection open and reused it. Perhaps the connection to the proxy is
actually a connection to the proxy + destination server which you wouldn’t
want to reuse?

On Sun, Nov 3, 2019 at 8:26 AM Benoit Chesneau <notifications@github.com>
wrote:

[2019-11-03 16:13] dowusu opened #598 "How to disable pooling"
I'm new to Hackney,  I plan using it extensively. I was wondering if I can disable connection pooling. I understand hackney starts a default pool on startup. How can I disable this pool. I want a new connection everytime. Secondly how do I post xml to http using hackney in Elixir.

[2019-11-05 09:10] benoitc commented on #566
Closing a connection ease the management of a sesion. It used (o be the default on proxes lique squid.  I think a better solution is explicitley naming a connection as tunneled. Like `http/proxyhost/proxyport/http/targethost/targetport` if it follows the [multiaddr](https://github.com/multiformats/multiaddr) format.

[2019-11-05 09:14] benoitc commented on #598
just set the pool to false or none. for the pool. not sure wht-y you mean for the second, can't the xml be added as a body to the post request?

[2019-11-05 20:13] dowusu commented on #598
Thanks for the swift response, initially had a challenge posting the xml, it was an oversight on my side. It's fine now. Keep up the good the work.

[2019-11-05 20:13] #598 closed

[2019-11-05 22:27] toddholmberg opened #599 "Add `peercert/1` function like `peername/1`"
Is it possible to add a `peercert/1` function that returns the peer SSL certificate via `ssl:peercert/1`?

[2019-11-05 23:21] toddholmberg commented on #599
Ideally, this would be exposed at the top-level `hackney.erl` module.

[2019-11-12 12:47] astutecat commented on #464
We're getting this when using it with `oc_reporter` (see @bipthelin 's PR above from september)  - the failures are happening frequently enough that it brings down the VM. We're keem to see a fix for this too.

[2019-11-12 13:35] bipthelin commented on #464
This commit fixed it for us: https://github.com/opencensus-beam/oc_google_reporter/commit/bb578a5de7b3d986d77e4ad093ae0b82e220c22d

It seems that if you don't close hackney either explicitly with `hackney:close(Ref)` or implicitly by reading the body the pool will eventually get exhausted. This seems to be a problem in how `hackney` get's invoked and it should probably be some info about it on the

[2019-11-16 12:01] MichaelViveros commented on #566
Any update @benoitc?

[2019-11-19 10:44] messutied commented on #490
Hi,

I'm having similar problem with the URL: https://zimbra-login.net, reproducible with `:hackney.get("https://zimbra-login.net")`.

- Hackney: 1.15.2
- Erlang: 20.3.6
- Elixir: 1.7.4
- OpenSSL: LibreSSL 2.8.3

I tried only SSL check tools and they don't detect issues with the certificates.

[2019-11-19 11:56] aboroska commented on #490
@messutied you seem to found another "incorrect order cert chain" which is discussed currently on the Erlang mailing list: http://erlang.org/pipermail/erlang-questions/2019-November/098752.html
The patch presented there might solve it for you.

[2019-11-19 12:09] messutied commented on #490
Thanks @aboroska, but in general is this something that I should look into patching? or is it preferred to have the order corrected?... I don't fully understand if it's really an error on the certificate or not, as most tools seems to not detect it.

[2019-11-19 12:39] aboroska commented on #490
@messutied this a missing feature / bug in Erlang. The Erlang team provided the mentioned patch, but haven't released a new version yet. So you have 3 options:

- Connect without CA checking by using the `insecure` option
- Patch your Erlang (mind you that the patch is for Erlang 22 or master)
- Wait for new Erlang release

[2019-11-19 12:54] benoitc commented on #490
it's better to have it in correct order (thr chain of trust). i will look
if anything can be done on hackney side.

Benoît

On Tue 19 Nov 2019 at 13:09 Eduardo Messuti <notifications@github.com>
wrote:

--
Sent from my Mobile

[2019-11-27 05:42] garthk commented on #484
For anyone else Googling this one after running into trouble switching Elixir releases, try:

[code]

If you're using VS Code with the `jakebecker.elixir-ls` extension, shut it down and add `.elixir_ls` to the `rm` arguments.

[2019-11-28 14:19] MichaelViveros commented on #566
Any update @benoitc?

[2019-11-28 16:46] benoitc commented on #566
@MichaelViveros a branch will land over the week-end...

[2019-11-28 18:13] MichaelViveros commented on #566
Awesome, merci!

[2019-11-29 05:00] liamwhite commented on #566
Are there any workarounds that we could use in the meantime, before a new version is cut with the fix?

[2019-11-29 13:43] benoitc commented on #566
you can set an Header "Connection: close" to your requests. That should fix the issue temporarely. I expect to have that new version ready this we anyway.

[2019-12-04 21:32] benoitc commented on #549
closing issue since no discussion happened since a long time. Also coming connnectiion reuse is quite different.

[2019-12-04 21:32] #549 closed

[2019-12-04 22:28] benoitc commented on #577
using binary is maybe better. I will test.

[2019-12-04 22:33] benoitc commented on #566
@MichaelViveros so the fix will land by friday, i have been busy in refactoring some parts to allow to isolate the proxy.

[2019-12-04 22:41] benoitc commented on #563
exometer need to be started before hackney is

[2019-12-04 22:41] #563 closed

[2019-12-04 22:42] benoitc commented on #545
discussions continue in #566

[2019-12-04 22:42] #545 closed

[2019-12-04 22:47] benoitc commented on #508
Discussion ended a long time ago. I am closing the issue then. As a side note, having such error would imply to check if hackney is started or not to return it. I think the current message is OK somehow since it is very unexpected the application have not been started.

[2019-12-04 22:47] #508 closed

[2019-12-05 16:05] OvermindDL1 commented on #577
Seems correct, what's interesting about it?

[2019-12-05 21:26] ericmj commented on #577
You can use `io_lib_format:fwrite_g/1`.

[2019-12-07 10:17] benoitc opened #601 "Which versions of Erlang OTP are you using with Hackney?"
I am doing some refactoring and I am wondering what is the common version to support. So please answer to the poll :)

[![](https://api.gh-polls.com/poll/01DVFXTTGD83TNWFZT8DAVHXSJ/OTP%2019)](https://api.gh-polls.com/poll/01DVFXTTGD83TNWFZT8DAVHXSJ/OTP%2019/vote)
[![](https://api.gh-polls.com/poll/01DVFXTTGD83TNWFZT8DAVHXSJ/OTP%2020)](https://api.gh-polls.com/poll/01DVFXTTGD83TNWFZT8DAVHXSJ/OTP%20

[2019-12-07 16:34] liamwhite commented on #566
:crossed_fingers:

[2019-12-10 02:18] sebbean commented on #591
thanks boize @lxqnt  appreciates

mucho calor!

[2019-12-10 14:21] benoitc commented on #566
So a quick fix is not possible, imo, I will come with a plan later today with a possible fix during the week.

When you read the body with no redirection, the code should actually work until you make sure to always use the same proxy.

[2019-12-12 18:17] eahanson commented on #490
The [recently-released OTP 22.2](https://github.com/erlang/otp/releases/tag/OTP-22.2) may have fixed this:

[2019-12-13 00:16] benoitc commented on #490
@eahanson i will test thanks for the head up :)

[2019-12-18 21:03] Kuroneer opened #603 "Leading newlines are not ignored in responses"
Responses like
```<<"\r\nHTTP/1.1 200 OK\r\n\r\n">>```
Are not stripped of the leading newlines, so it fails to parse them.

[2019-12-19 08:25] alinpopa commented on #594
@benoitc any update on this? I've started to see this issue myself with the default pool in `1.15.1`. Thanks.

[2019-12-19 22:28] benoitc commented on #594
@alinpopa how/when does it happen? More generally there is a WIP on fixing connection reusing, i will provide a more detailled status tomorrow, should have been earlier but I've been side-tracked.

[2019-12-20 08:50] alinpopa commented on #594
@benoitc it's a bit difficult to know exactly how it happened, but the only thing I can tell you (from my logs), is that at that time we had a high requests load (again, don't really have numbers to back me up on this), and then it crashed with this:

[code]

Hope this helps. Thanks.

[2019-12-21 08:44] zeekff commented on #349
Hi! @benoitc  :smiley:

The `hackney_url` functions (e.g. urlencode/2) seem to accept `binary()` and `string()` as arguments.
To implement the Python approach above, it is convenient to accept `[binary()]` instead of `string()`. Is there any plan?

[code]

[code]

[2020-01-14 08:50] D4no0 opened #605 "Process exit signal when a invalid port is specified"
When making a TCP request with a bad port, exit signal is chained to the parent process.

### Environments:

[code]
### Code:

` HTTPoison.get "http://example.com:6500000"`

### Output:
Output of the caught exit signal:
[code]

Output of error:
[code]

[2020-01-16 06:00] ananthakumaran opened #607 "regression related to fully qualified domain names"
[code]

## Hackney 1.13.0

[code]

idna:to_ascii used to remove the trailing dot and the ssl module will always get the hostname without the trailing dot

## Hackney 1.15.2

[code]

the call to idna:to_ascii has been removed and the hostname is passed with trailing dot to ssl module. ssl module use the hostname [with the trailing dot](https://github.com/erlang/otp/blob/eaaf721457bac35c18980c5ad48b

[2020-01-16 12:26] Kuroneer commented on #603
Also, the trailing CRLF of the chunked responses must be parsed successfully in order to avoid having leading `\r\n` or only `\n` in front of the next responses in the connection (in case it is a persistent connection)

[2020-01-17 18:16] Kuroneer commented on #603
I have split the PR related with this ticket (#604) in two: #608 and #609.

[2020-01-17 18:16] #603 closed

[2020-02-06 21:43] venkat-xaptum opened #610 "Issue with hackney:request/5 method"
I am facing an issue with hackney. I have the following code:

[code]
When this code is exercised through common test, once in a while `hackney:request/5` method returns
`{ok, 200, <<>>, ref}`; the atom `ref` instead of a`#Ref<>`. This seems to happen only in my CI environment.

I would grateful for any pointers on how to debug this issue.

[2020-02-08 21:03] benoitc commented on #610
i don't see right now how it can happen. which version of hackney are you using?

[2020-03-09 16:45] 1player opened #612 "Hackney doesn't send SNI (in some cases)"
Using Hackney 1.15.2:

[code]

Specifying the SNI manually works:

[code]

The erlang ssl documentation (http://erlang.org/doc/man/ssl.html#type-sni) says about the `server_name_indication` option: "If not specified it will default to the Host argument of connect/[3,4] unless it is of type inet:ipaddress().". Since Hackney parses the host into an ipaddress, it should perhaps set the SNI hostname w

[2020-03-12 07:07] ananthakumaran commented on #607
erlang 22.3 might come with a fix for this issue https://bugs.erlang.org/browse/ERL-1135

[2020-03-12 08:16] benoitc commented on #610
ping? can you evenuallt send me a trace?

[2020-03-19 10:32] furqanaziz commented on #464
Hi @benoitc
any update about
`Unexpected message: {:ssl_closed, {:sslsocket, {:gen_tcp, #Port<0.9056>, :tls_connection, :undefined}, #PID<0.10027.10>}}`

[2020-03-24 11:02] ludwikbukowski commented on #394
we are experiencing the same problem. Is that resolved?

[2020-03-24 13:24] benoitc commented on #394
@ludwikbukowski can you provide me a way to reproduce it?

[2020-03-24 17:15] isaacsanders opened #615 "Hackney pool connection issue"
Hey all,

I have a stacktrace that is likely cause by my use of the max heap size (`hmax`) flag. I don't know how you might wish to handle this, but I figured I should report it.

[code]

[2020-03-27 07:26] Abat opened #616 ":nxdomain error when I use hackney (HTTPoison) on a work VPN. Curl and browser work fine."
{:error, %HTTPoison.Error{id: nil, reason: :nxdomain}}

Please help. Do I need to pass any specific options for a VPN connection?

[2020-03-27 07:41] benoitc commented on #616
that looks like a dns error. does it resolve using dig? you can also try to
curl it.

On Fri 27 Mar 2020 at 08:27 abat <notifications@github.com> wrote:

--
Sent from my Mobile

[2020-03-27 08:00] Abat commented on #616
Yes, curl works. Curl works, browser works.

But nothing Elixir, Erlang related seem to work.

{:inet, [:inet], :nxdomain} is an error I received using Gun client.

[2020-03-27 09:25] benoitc commented on #616
@Abat reopenoing the issue as i'm interrested to eventually fix that before the release roday. Can you let me know which verision of erlang/elixir you are using?

[2020-03-27 09:36] Abat commented on #616
Erlang/OTP 22, Elixir 1.10.2.

I closed the issue without any comments since I am not quite sure what the eventual fix was.

Only that it wasn't something related to Erlang or Elixir, at least not directly.

I changed my OS's network settings (Ubuntu 19.10) and that was it. Domains started to resolve.

Although the interesting part was that my browser and curl still worked before any network chang

[2020-03-31 20:09] #595 closed

[2020-04-01 20:03] mattmatters opened #617 "Long redirect urls with follow_redirect causes a crash"
Hiya, looks like the header parsing does not finish parsing the `Location` header when the url is incredibly long.

This might also occur when there are other headers, but the easiest way to reproduce was to make an async request with options `[stream_to: pid, async: :once, follow_redirect: true]` and have the server return a 302 redirect with a long url.

Error (in elixir)
[code]

Cheers!

[2020-04-02 06:06] benoitc commented on #617
There is a limit of 4096 bytes set to the header line to prevent DoS that may explain the error. It’s not configurable yet. I will add this option. For my curiosity’ is there any reason to use such ling urls?

[2020-04-02 16:20] mattmatters commented on #617
Thanks @benoitc! I'm downloading data from an external service. The service used to do a redirect and set authentication stuff as cookies while redirecting. Now it instead does a redirect to a url with the authentication information directly in the url.

So the reasoning is that an external service has set up their authentication system really weirdly. Unfortunately it's been a really blocker for

[2020-04-03 23:56] bismark commented on #617
Looking at this error a bit more, it doesn't appear to be directly related to `hparser.max_line_length`.

The `case` here https://github.com/benoitc/hackney/blob/eefe744282c80524bb670a11e6bf5f1493936d41/src/hackney_stream.erl#L176 is not handling the `{more, Client, <<>>}` case returned when `hackney_http:parse_header` requires more data from the socket here: https://github.com/benoitc/hackney/blo

[2020-04-09 17:38] ndarilek opened #618 "`content-disposition` with trailing `;` fails to parse"
Not sure if this is a spec violation, but:

[code]

Encountered that when running against a local endpoint. For now we removed the `;` from our own headers, but this worked in the browser, so I'm not sure if the issue was ours or with Hackney.

Thanks!

[2020-04-10 19:53] GregMefford commented on #585
Just stopping by to note that I'm interested in this feature as well. Given that OpenCensus has been superseded by OpenTelemetry, and in the BEAM ecosystem, it seems that the desire is to use Telemetry library as a bridge for library authors (like Hackney in this case) to emit their metrics and events, and then there would be an integration to connect that to OpenTelemetry-Erlang in case someone w

[2020-04-12 02:42] liamwhite commented on #566
Any progress on this?

[2020-04-12 20:36] benoitc commented on #585
@GregMefford thanks for the feedback. I agree supporting telemetry may be useful for some users :)

The current plan is the following . Hackney will provide inline hooking and replace metrics by it.   Support of telemetry and open-telemetry will be provided by add-ons attached to these hooks. This will provided more flexibility and also support for any other solutions and usages around.

This work

[2020-04-12 20:46] benoitc commented on #615
it looks like hackney is not started . You should make sure it is started.

[2020-04-12 20:50] benoitc commented on #566
@liamwhite yes. a batch of updates will be published soon.

[2020-04-13 00:44] GregMefford commented on #585
Sounds great, thanks! 🚀

[2020-04-13 17:33] binaryseed commented on #585
I'm interested to learn more about the "hooks" idea... One potential use case that is just a step beyond what `telemetry` provides is the ability to add Distributed Tracing instrumentation - that involves attaching an additional HTTP header to the outgoing request for context propigation.

Would this kind of use case be a target for hooks?

Here's some context: https://github.com/beam-telemetry/te

[2020-04-17 16:01] benoitc commented on #596
in which case you don't want to send a content-type header ?

[2020-04-17 16:04] benoitc commented on #585
@binaryseed so it's partly reusing the hooks library i've written (though with some changes). It will allows to indeed manipulate the request before if it is sent and such things. It can also be used to intercept it completely if needed.  More over the coming week :)

[2020-04-24 13:30] toddholmberg opened #620 "Can :hackey_ssl use proxy options?"
am trying to make a `:hackney_ssl` connection to a host via a proxy.

This works:
`:hackney_ssl.connect('www.example.com', 443, [])`

And returns:
`{:ok,
 {:sslsocket,
  {:gen_tcp, #Port<0.66>, :tls_connection, :undefined},
  [#PID<0.593.0>, #PID<0.592.0>]}}`

But when I add proxy options, I get an options error:
with charlists:
`:hackney_ssl.connect('www.example.com', 443, proxy: {'192.41.71.221'

[2020-05-01 00:11] prodis opened #621 "{:error, :closed} response when using proxy"
I am using `hackney` via HTTPoison and in a request for a specific host I am getting `{:error, :closed}` when making the request through a proxy. In the beginning my assumption was some problem with the proxy, but using different proxies I got the same error. And testing different proxies requesting to the different hosts worked fine.

I could not identify what this specific host that I am request

[2020-05-01 22:06] prodis commented on #621
Interesting that using [Mint](https://github.com/elixir-mint/mint) I got the same connection error with and without proxy. 🤔

[code]

Tinyproxy logs:
[code]

[2020-05-01 23:43] prodis commented on #621
Using [httpc](http://erlang.org/doc/man/httpc.html) happens similar connection error with and without proxy.

[code]

I could make a successful request to the host `apps.correios.com.br` in Elixir/Erlang only using `hackney` as a HTTP client without proxy.

[2020-05-02 20:57] prodis commented on #621
Just for a reference using [ibrowse](https://github.com/cmullaparthi/ibrowse), without proxy returns `{:error, :closed}`, and with proxy `{:error, :retry_later}`.

[code]

Tinyproxy logs:
[code]

[2020-05-02 23:33] prodis commented on #621
Another reference using [`Gun`](https://github.com/ninenines/gun), that returns timeout and connection closed.

[code]

I have opened an issue in Gun too:  https://github.com/ninenines/gun/issues/228

[2020-05-02 23:51] prodis commented on #621
I have tested HTTP connection/request to the host `apps.correios.com.br` with all known Elixir/Erlang HTTP clients and only `hackney` not using proxy works.

| HTTP client | Not using proxy    | With proxy |
|-------------|--------------------|------------|
| hackney     | :white_check_mark: | :x:        |
| httpc       | :x:                | :x:        |
| ibrowse     | :x:                | :x:

[2020-05-04 22:18] prodis commented on #621
I could make it work with proxy using the cipher AES256-SHA256 and TLS version 1.2.

[code]

The original solution is from ninenines/gun#228.

The question is: why when using a proxy the behaviour is different from the request not using proxy? 🙂

[2020-05-14 12:23] fidr opened #623 "Default ciphers problem with tlsv1.3"
I'm trying erlang 23.0 and it's failing if `tlsv1.3` is part of the ssl versions (which it is by default now).

Using `:ssl.cipher_suites()` fixes the problem:

[code]

[code]

[2020-05-14 12:38] benoitc commented on #623
Yes, there is a minor release landing today that fix i among other things.

[2020-05-14 19:48] benoitc commented on #623
fixed in master 3aa2c5fd3001d92bb3b914aab2db2cda9a6f38b5

[2020-05-14 19:48] #623 closed

[2020-05-14 19:52] benoitc commented on #620
What are you trying to do ? proxying is for now not possible outside the http request.

[2020-05-14 19:57] benoitc commented on #621
did you try with the latest master?

[2020-05-14 20:02] benoitc commented on #615
closing issue since no activity happened since

[2020-05-14 20:02] #615 closed

[2020-05-14 20:03] benoitc commented on #610
no activity since awhile. closing issue. Feel free to reopen an issuer with more details if you need it.

[2020-05-14 20:03] #610 closed

[2020-05-14 20:34] benoitc commented on #607
fixed via 6b6337299c3f106f1b431d00c824239186fa94f6 . Thanks for the report.

[2020-05-14 20:34] #607 closed

[2020-05-14 21:25] benoitc commented on #616
fixed in 903ad7bd6666aedbf3011ac4d51a327f70baad0e . Thanks for the feedback all.

[2020-05-14 21:25] #616 closed

[2020-05-14 22:07] benoitc commented on #594
fixed in cd96ce79cee73ae8294b8b42249f6923f866a105

[2020-05-14 22:07] #594 closed

[2020-05-16 08:14] benbro opened #624 "bad_cert error"
I'm getting a TLS error when sending a request
hackney master from today
OTP 23.

I'll try to get more info
[code]

[2020-05-16 10:08] yjh0502 commented on #624
Here's a code for reproduction
[code]

Trace dump. It seems that it fails to handle wildcard certificates.
[code]

[2020-05-16 10:43] benoitc commented on #624
thanks. I'm working on it :)

On Sat 16 May 2020 at 12:08 Jihyun Yu <notifications@github.com> wrote:

--
Sent from my Mobile

[2020-05-16 10:44] yjh0502 commented on #624
It works when `server_name_indication` is specified, for example

[code]

[2020-05-16 13:24] benbro commented on #624
It works probably just because you override ssl_options. Try with "yahoo.com" and it will also work.

[2020-05-16 15:54] benoitc commented on #624
there maybe a conflict with the validation in otp 23. I'm debugging....

On Sat 16 May 2020 at 15:24 benbro <notifications@github.com> wrote:

--
Sent from my Mobile

[2020-05-18 11:46] benoitc commented on #624
is this on OTP 23?

[2020-05-19 16:50] benoitc commented on #624
I am reproducing it on erlang 23 but not erlang 22. fix is coming.

[2020-05-20 04:17] benoitc commented on #624
Still investigating. There is something weird happeing with OTP 23 when checking the hostname:

[code]

not sure what is happening yet.

[2020-05-20 14:48] nifoc commented on #623
Any chance on getting a new release of the Hex package?

(I know I can just reference the commit/branch, but I would prefer a proper release)

[2020-05-20 14:50] benoitc commented on #623
there will be a release when it's actually work on etlang 20. Later today
anyway :)

On Wed 20 May 2020 at 16:48 Daniel Kempkens <notifications@github.com>
wrote:

--
Sent from my Mobile

[2020-05-20 21:18] benoitc commented on #624
fixed by 7cbe1f6f9a2c464a5ec4dcccca0a7ed41005b9af . Thanks @voltone :)

[2020-05-20 21:18] #624 closed

[2020-05-20 21:24] benoitc commented on #612
fixed via 7cbe1f6f9a2c464a5ec4dcccca0a7ed41005b9af

[2020-05-20 21:24] #612 closed

[2020-05-21 14:07] rbino commented on #464
Hi @benoitc,
I just came across this bug in a production system while using HTTPoison, is it fixed in new hackney versions or is it still an open bug?

[2020-05-22 15:22] benoitc commented on #490
fixed in latest master.

[2020-05-22 15:22] #490 closed

[2020-05-23 21:32] lasseebert commented on #624
For the record: I got hit by both this issue and #623 after upgrading to otp-23. I just tested with the current master that contains fixes for both and it works now :+1:

[2020-05-25 00:36] benoitc commented on #566
fixed in master finally...

[2020-05-25 00:36] #566 closed

[2020-05-25 00:37] benoitc commented on #355
this is now fixed in master. Sorry for the delay?

[2020-05-25 00:37] #355 closed

[2020-05-25 00:44] benoitc commented on #621
@prodis bump.

[2020-05-25 06:27] benoitc commented on #620
bump?

[2020-05-25 20:31] benoitc commented on #620
closing issue due to the lack of activity. Feel free to reopen the ticket if needed.

[2020-05-25 20:31] #620 closed

[2020-05-29 10:08] AlexisAuriac opened #628 "Typos in documentation"
I've found a few typos in the documentation:
- In /src/hackney.erl: line 422: "lengthin" should be "length in"
- In /src/hackney_multipart.erl: line 144: "ennding" should be "ending"

[2020-05-29 10:17] AlexisAuriac opened #629 "Lists are displayed on one line on hexdocs"
Lists of elements are displayed on one line on hexdocs.

For example:
- In the description of ```setopts/2``` here: https://hexdocs.pm/hackney/hackney.html#setopts-2
- In the description of ```len_mp_stream/2``` here: https://hexdocs.pm/hackney/hackney_multipart.html#len_mp_stream-2

[2020-05-29 16:41] spencerdcarlson opened #630 "intermittent {:error, :closed} response"
I'm not sure if this is the best place to post this. My issues looks like it is similar to [439](https://github.com/benoitc/hackney/issues/439) but it might just be related to how I am using hackney.

We are making about 4.19K requests per min and seeing a `{:error, :closed}` response about once a min.

Here is my basic configuration

[code]

[code]

The majority of the requests are returning succ

[2020-05-29 21:42] Gazler opened #631 "HTTP inform not supported"
After using hackney with cowboy, it appears that inform responses are not supported, and that hackney is awaiting further data even though the response has been sent.

A sample repository using cowboy is available at https://github.com/Gazler/inform_test

For the same server, using another client such as gun or curl returns immediately, however hackney doesn't return until the idle/request timeout

[2020-05-30 03:18] gfviegas commented on #567
Any update on that? Trying to get response times in elixir (with HTTPoison or ) and faced the same issue...

[2020-05-30 06:47] essen commented on #631
You can run this in the shell to see what hackney is doing:

[code]

But it's quite simple really, it sees the 103 response, checks for transfer-encoding or content-length, doesn't find any (no such thing for 1xx) and switch to reading the body until the end of the connection.

[2020-05-31 09:11] ilkka opened #632 "Failed to compile 1.16"
I just came back to one repo after a few weeks of not doing anything, and I noticed that I couldn't compile it any more. This is what I was seeing doing `mix deps.compile` with DEBUG=1:

[code]

I'm getting hackney as a dependency of timex, which depends on `~> 1.0`. I added my own dependency to `{:hackney, "== 1.15.2"}` and that completely fixed the issue for me

I'm on Win 10 and `elixir --versi

[2020-05-31 19:44] CatsOnFilm commented on #632
I suffered the same issue (on MacOS) and @ilkka 's solution worked for me also.

[2020-06-01 07:01] ilkka commented on #632
Here's a minimal example that has the problem: https://github.com/ilkka/hackney_compile_test

All I did was `mix new` followed by adding the Hackney dep, and `mix deps.compile` fails.

[2020-06-01 07:25] isubasti opened #633 "SSL certificate expired issue"
There are issues with some SSL connections if you make any request to URL that has `Sectigo` SSL certificate on its certificate chain see https://twitter.com/__agwa/timelines/1266777818811322368.
openssl 1.1 seems to deal with this properly(match how browser does it) while 1.0 have the same problem as hackney so I would assume that how hackney follow the certificate chain is similar to 1.0 of open

[2020-06-01 09:31] benoitc commented on #632
Hrm so did you try rather to add mix as dep to your app? I think mix need to be updated. I got the same issue until I upgraded rebar3 and I wonder if something changed in hex or such.  Let me know.

[2020-06-01 10:31] benoitc commented on #631
So I was reading the `Early Hints` https://tools.ietf.org/html/rfc8297 RFC to see how to handle 103. I can't simply ignore it as I expected, instead I need to ready headers, return and continue the request similarly to the `101` status.

I will add support for it ASAP.

[2020-06-01 10:51] npkhoa2197 commented on #633
Encounter same issue. Hackney works fine last week but currently encounter `certificate_expired` error when making HTTPS request.

[2020-06-01 10:52] ilya-lopukhin commented on #633
Any ideas how to fix it guys?

[2020-06-01 10:58] npkhoa2197 commented on #633
@ilya-lopukhin

If you need a hotfix, you can use the option `{insecure, true}`.

But had better not bypass the SSL verification.

[2020-06-01 12:30] essen commented on #631
I mean if you want to support it you can't ignore it of course. :-) But you should either ignore unknown 1xx status codes OR handle them all including ones that aren't released yet. It's informational so it's up to the client to choose how to behave. In Gun all 1xx status codes produce a `gun_inform` message, and there's special code for switching protocols via `101`, if the Upgrade header was in

[2020-06-01 14:38] rmnvncnt commented on #633
Same issue here. We think this might be related : https://www.agwa.name/blog/post/fixing_the_addtrust_root_expiration

[2020-06-02 02:36] ashutoshrishi commented on #632
I was getting compilation errors too on Macos (fine on Linux/CI). Had to re-install/update `rebar` via `mix local.rebar`, and everything compiles now.

[2020-06-02 06:12] ananthakumaran commented on #633
We ran into the same issue. We found that most of the other language clients were able to connect without issues, but hackney failed. We found two workarounds

1) disable ssl verficiation via `ssl: {:verify, :verify_none}`
2) remove addtrust key from the [certificate bundle](https://github.com/certifi/erlang-certifi/tree/master/priv). `curl -#fSlo priv/cacerts.pem https://mkcert.org/generate/all/e

[2020-06-02 15:21] ilkka commented on #632
@ashutoshrishi 's procedure fixed it for me as well. Man, I wish there had been even a tiny indication somewhere in there about something being somehow out of date (I guess?).

[2020-06-03 17:15] wyozi opened #635 "Follow HTTP 308 redirects"
Hi,

Hackney specifies the following status codes as redirects follow with follow_redirect: https://github.com/benoitc/hackney/blob/6bd1f46d98757246cd0896624ff12587451ed122/src/hackney.erl#L735

I think [HTTP 308](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308) should be included too. For instance, pinterest returns HTTP 308 when accessing the non-www domain.

[2020-06-05 08:02] #632 closed

[2020-06-08 23:29] g-andrade opened #636 "TLS support may be broken on OTP 20.0 / 20.1"
As per @okeuday's [comment](https://github.com/benoitc/hackney/commit/533889df19eb51d4600f383bbeaad17bc6bc4fe7#r39625597) on `hackney_ssl.erl`, which correlates with a few errors I saw when running the test suites on multiple OTP versions a few days ago but didn't have the chance to investigate.

Creating this issue mostly as a reminder to fix this issue since I'm the one to blame[*], but also for

[2020-06-10 15:12] xadhoom opened #638 "hparser error in state on_trailers"
Updating from hackney 1.15.2 to 1.16.0 http connections against a microhttpd-powered process randomly* fails with error (elixir syntax here)

[code]

Bisecting seems that the error appeared with commit https://github.com/benoitc/hackney/commit/78ce833a88715b195a045c6c949dca6ea1dc7d7a .

As additional info, if we force to *not* use keep-alive (by adding the header `Connection: close` on hackney) ev

[2020-06-12 14:37] g-andrade commented on #636
Closed by #637 .

[2020-06-12 17:41] okeuday commented on #636
@g-andrade You probably want to use versions from the list https://docs.travis-ci.com/user/languages/erlang/#otprelease-versions for #639 because the Erlang/OTP team has been moving away from release tarballs and using git tags instead (so the "stable" or latest version becomes more of a moving target).

[2020-06-12 17:49] rozap commented on #464
Fix submitted as https://github.com/benoitc/hackney/pull/640

[2020-06-16 11:59] lukaszsamson commented on #638
I'm seeing a similar error all the time since upgrade from 1.15.2 to 1.16.0 (otp 22.3.4)
I'm using `Connection: keep-alive`
[code]

[2020-06-17 14:48] sebastian-schuth commented on #638
Same for us - the error pops up seemingly randomly. The error message is exactly matching the one @lukaszsamson has posted. We call services written in Ruby on Rails, and the problem pops up with multiple of them. I assume (not verified) that they are all using `Connection: keep-alive` , too.

[2020-06-17 15:23] sebastian-schuth commented on #638
The problem first appeared 2020-02-27

[2020-06-17 19:17] prodis commented on #621
With hackney 1.16.0 I am receiving `{:error, :closed}` for both with and without proxy.

[code]

It only works using the option `ssl_options: [ciphers: ['AES256-SHA256'], versions: [:"tlsv1.2"]]`.

[2020-06-19 07:20] benoitc commented on #214
why did you close the issue?

[2020-06-20 18:52] #636 closed

[2020-06-22 17:12] rozap commented on #638
I think i've fixed this. https://github.com/benoitc/hackney/pull/641

[2020-06-24 01:09] silva96 opened #642 "(FunctionClauseError) no function clause matching in :hackney_headers_new.params_to_iolist/2"
Hi, im using httpoison 1.6.2 which uses hackney 1.16.0

Some requests are failing with :closed

[code]

also happens with :connect_timeout

[code]
I suspect the connection is closed by the remote, but hackney doesnt know how to handle this?

[2020-06-25 19:31] rlipscombe commented on #593
fwiw, I got file upload working with the following:

[code]

I can then parse it out using cowboy:

[code]

[2020-06-29 01:00] jfis commented on #214
oh i'm sorry if i shouldn't have. i came across this on some feed and saw it was 5 years old and still open. i thought maybe you were waiting on me to close it or it was overlooked. i'll leave it be.

[2020-06-30 14:08] InoMurko opened #643 "connections not returned to the pool on connection errors"
So firstly, I did the same thing using these:
[code]
Connections were returned to the pool correctly (note *in_use_count* remains 0).
[code]

Now I bumped httpoison (and everything else with it).
[code]
The story here is that I retry establishing a http connection until I succeed. But in this case, the pool gets maxed out because `in_use_count` keeps on growing on `{:error, :econnrefused}` errors.

[2020-07-02 08:02] oladipo commented on #552
looks like there is a typo in the rebar.config file line 25.

The mimerl dependency is listed in a mix dependency format:

         {mimerl, "~>1.1"},

instead of

         {mimerl, "1.1"}

[2020-07-02 08:11] aboroska commented on #552
@oladipo Note that recent rebar3 versions do support the semver format: `{mimerl, "~> 1.1"},`

[2020-07-02 09:12] oladipo commented on #552
Thanks @aboroska

[2020-07-03 16:51] InoMurko commented on #643
Erlang  23 [erts-11.0.2
Elixir 1.10.2

[2020-07-05 10:19] benoitc commented on #643
do you read the body or skip it explicitly? if the connection is not closed or the body not read (or skipped which will flush it) the socket will not be released to the pool.

[2020-07-05 20:47] jfis commented on #643
i believe @InoMurko is saying there is no body to be read because the connection is refused.

should it get released to the pool when the connection is refused?

certifi 2.5.2
hackney 1.16.0
idna 6.0.1
ssl_verify_fun 1.1.6
unicode_util_compat 0.5.0

code: (sorry for elixir code. if you need this translated to erlang, i will do my best)
[code]

output:
[code]

[2020-07-06 09:11] InoMurko commented on #643
@jfis yeah, thats what I meant, thanks for clarifying!

[2020-07-06 09:13] benoitc commented on #643
what do you mean by connection refused? socket level or HTTP level?

[2020-07-06 09:15] benoitc commented on #643
in that case it should indeed release the socket. Sounds like something new, I will check.

[2020-07-07 07:45] kape1395 commented on #643
I have similar symptoms after upgrading hackney from 1.15.1 to 1.16.0.
Each time I get a timeout (recv timeout in my case, not the connect_timeout), the connection is not returned to the pool:

hackney_pool:get_stats(default).
[{name,default},
 {max,5000},
 **{in_use_count,72},**
 {free_count,0},
 {queue_count,0}]

I check the log, and the in_use_count matches the number of {error, timeout} return

[2020-07-07 23:27] cjbottaro commented on #638
Can this be merged in and a release cut? I can 100% repo the issue with this response:
[code]
Thanks!

[2020-07-15 19:51] johnnyplaydrums opened #644 "SSL-related compile error"
Hey folks - I'm on MacOS `10.15.5` trying to compile hackney `1.16.0` with elixir `1.6.3` and erlang `20.2`. Any ideas whats wrong? Here's the debug error, along with `asdf install` to show versions and `:crypto.start()` to show that ssl libraries are installed (I think?)
[code]
[code]
[code]

I've tried re-install elixir and erlang, no luck so far. Interestingly, I was able to build hackney from

[2020-07-19 05:28] silviucpp commented on #643
I have same problems as @kape1395  describes.

[2020-07-19 16:11] benoitc commented on #643
I think I see the issue. I will have a look tomorrow on it, thanks for the report

[2020-07-22 08:02] silviucpp commented on #643
@benoitc easy way to replicate is to create a pool with max 4-5 connetions and them make requests to some servers that are stopped.

First N connections (where N is the pool size) will fail right away with **econnrefused** reason and all subsequent one with **checkout_timeout**

[2020-07-23 13:41] losvedir commented on #643
I believe we have this same issue. We started running into occasional `checkout_timeout` issues when we upgraded hackney from 1.15.2 to 1.16.0. The only fix seems to be restarting the app (unless is there a good way to flush a pool?).

We added logging from `:hackney_pool.get_stats/1` once a minute. Here's what the chart looks like over a 24 hour time period of `min(in_use_count)`:

<img width="12

[2020-07-23 14:57] silviucpp commented on #643
@losvedir right no to workaround this problem I restart the pool when I receive checkout_timeout.

[2020-08-02 15:22] losvedir commented on #643
@silviucpp - How are you restarting the pool? I put up a branch of our app that once a minute logs the pool stats, and stops the pool if the `in_use_count` is above a threshold. However, the very next minute the `in_use_count` is back where it was before stopping, so it seems like it's not "clearing" the pool. Is there a better way to empty the pool? I'm doing something like this:

[code]

Also, I

[2020-08-03 11:47] silviucpp commented on #643
Hello

In my case when `{error, checkout_timeout}` occurs I'm doing:

[code]

And retry the query.

Silviu

[2020-08-03 18:49] toddholmberg commented on #621
FWIW, I am using the following ssl options to mitigate some of these closed connections when using a proxy where `message.protocol` is the protocol I am using for the connection. Specifying the cipher seemed to be the problem in my case, so I just specify them all when I am most interested in a protocol-specific connection.

[code]

[2020-08-03 18:53] toddholmberg commented on #620
I apologize for not seeing this response. Thank you for taking the time. I was trying to get a peer certificate using a proxy and `:hackey_ssl`.

[2020-08-10 15:01] rutaka-n opened #646 "change owner process for async request to stream_to value"
Hello.
I figure out, that hackney starts tracking process which calls `hackney:request` even if `stream_to` parameter is passed.
I expected that when `stream_to` passed hackney would track this process.
Maybe it should be one more parameter to set the owner process or just use `stream_to` for this.
What do you think?
If you agree, I can provide a pull request with changes for this.

Have nice day.

[2020-08-11 12:50] benoitc commented on #646
what would be the main goal of it? Right now the  stream "Owner" (which is the Pid set via `stream_t`  is monitored in the stream process: https://github.com/benoitc/hackney/blob/master/src/hackney_stream.erl#L28

Isn't it enough?

[2020-08-11 13:20] rutaka-n commented on #646
I have a case when a process should send a request to API when it terminates, I wanted to do it in an async manner, so I use async and stream_to options to handle result in another process. But the process which called request terminating, hackney cancel the request before `stream_to` process gets a response. I am sure that it is a bit strange and rare situation. I think it would be cool to cover

[2020-08-12 11:53] ash-win-s opened #647 "Does Hackney support HTTP2 having Erlang/OTP version 18 in my application?"
Hi , I need to implement HTTP2 client in my application which runs on Erlang/OTP 18.
Does Hackney help me in implementing HTTP2 client without upgrading my OTP version?

[2020-08-14 23:23] DmitryKakurin opened #648 "max_connections is not respected and connections pool grows until connections are closed by idle timeout"
### Versions:
Hackney: `1.16.0`
HttPoison: `1.7.0`
Elixir/Erlang:
[code]
## Simplest Repro:
Set max pool size to 1 and hit 2 different servers.
[code]
`free_countis` is `2`, but it should not be greater than `max`, which is `1`.

## Suspected bug location
I suspect the bug was introduced in this checkin:  ec5b90c5d8d8e4e5ecc6e6f0978c416df84940ca
Note how the check `if PoolSize =< MaxConn` was not

[2020-08-15 16:57] sashaafm opened #649 "Compilation error when running with elixir-lsp"
Hello, I've been using `elixir-lsp` with `vim` for some time now and it always worked perfectly.

Recently, for whatever reason I can't figure out, `elixir-lsp` fails to work properly because it can't compile `hackney`, throwing this error (this is the log from `elixir-lsp` running with CoC in `vim`):

[code]

I'm not sure if this is actually a problem with `hackney` or something else related to `

[2020-08-18 08:00] kpribylov opened #651 "Unexpected hackney's messages in client process message queue"
Hi,

We've faced with the case when in some conditions hackney's messages might unintentionally appear in the client process message queue, e.g.:
{#Ref<0.2813583759.4118020097.25361>,{error,no_socket,<0.1006.0>}}

Investigation has revealed that there is a kind of race condition when we try to get a socket from default hackney pool.
Checkout request to 'hackney_pool' (sync call) is sent from clien

[2020-08-19 15:37] zoidbergwill commented on #585
@benoitc any update on this? I'd love to use it, so I'd be happy to help contribute to it.

[2020-08-24 07:16] axelson commented on #649
@sashaafm Can you try upgrading the version of rebar3 that you're using in that installation? It just helped me fix a similar issue compiling telemetry:
[code]
After upgrading from rebar3 version 3.6.1 to 3.13.1 it compiled successfully.

[2020-08-25 13:08] sashaafm commented on #649
@axelson I upgraded to the most recent version but I'm still getting the same issue ☹️

[2020-08-25 13:18] spydon opened #654 "Verify partial_chain with custom ssl_options"
If I'm not mistaken it is not possible to use the default `partial_chain` option when using custom ssl_options in 1.16.0 since `partial_chain/1` isn't exported anymore.
Or is there a possibility to merge custom ssl options with the default ones?

[2020-08-25 14:05] vasumur commented on #638
Appreciate any update on when this fix will be bundled into 1.16.x version. Thanks

[2020-08-25 14:31] benoitc commented on #638
there is a release planned sometimes this week  that should include it.

[2020-08-25 14:33] benoitc commented on #654
`check_hostname_opts/1`is exported from hackney_ssl. Depending on what you need that maybe enough. I can provbably export the `partial_chain` callback  if needed. What require your custom ssl options for now?

[2020-08-25 14:36] benoitc commented on #649
@sashaafm did you try to clean any local folder in the repository ?  also did you tried the suggested command line  to update the deps?  There is an issue with older version of rebar3 and hex.pm to retrieve latest packages.

[2020-08-25 15:20] spydon commented on #654
I think we mainly use a specific `verify_fun` and also swap `cacerts` to `cacertfile` in some cases.
The most useful would be if there was a way to use the hackney SSL defaults opts and then just override a few instead of all of them, is that possible somehow?

[2020-09-01 11:26] LukasKnuth commented on #638
@benoitc Any update on the release? Downgrading to 1.15.2 is hard for us because of the OTP 23 incompatibility, so this is somewhat critical.

[2020-09-05 04:16] lastobelus commented on #341
I ran into this problem when working with phoenix & timex on a dev machine where I hadn't used phoenix/elixir for a couple years.

What I needed to do in the end was to run `mix local.rebar`

[2020-09-07 08:55] #226 closed

[2020-09-07 08:59] benoitc commented on #644
are you using a compiled version of elixir or one that you compile with the same erlang version with asdf?

[2020-09-07 20:07] johnnyplaydrums commented on #644
I'm using one that I compiled via asdf with the same erlang version.

[2020-09-08 09:50] chaitradixit-15 commented on #638
Hi @benoitc ,

We are facing the same issue in our project as well where randomly we are getting this error.

%HTTPoison.Error{

   id: nil,

   reason: {:more,

    {:hparser, :response, 4096, 10, 0, :on_trailers, "", {1, 1}, "", [],

     :undefined, "chunked", "", "application/json;charset=utf-8", "", :done}}

 }

As suggested we have downgraded to 1.15.2 and it seems to be working fine. Any up

[2020-09-11 14:32] benoitc commented on #649
bump.

[2020-09-11 14:39] benoitc commented on #648
Does the requests return to the pool? What dis the Response thing returned ? Does it contains the body?

[2020-09-11 20:04] DmitryKakurin commented on #648
@benoitc the code repro above is literally runnable (example.com and .net are real existing domains). Both requests return 200.
Given `free_count: 2` I assume yes, connections are returned to the pool.

[2020-09-14 00:29] huangjun604 commented on #621
`hackney` uses `ssl` to establish the ssl connection. However, hackney 1.16.0 removes the default ciphers to pass in the `ssl_options`. (See [here](https://github.com/benoitc/hackney/commit/734694ea4e24f267864c459a2f050e943adc6694))

`ssl` will choose one from the default ciphers. However, `AES256-SHA256` is not in the default list.

[code]

[2020-09-14 18:36] IceDragon200 commented on #643
I was preparing this comment while testing, so some areas were added during the test, anyway unto the actual comment.

I'm digging into this issue at the moment, what I've found so far is the connections are not even in the pool:

I'm looking at the pool checkout process at the moment

https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L86-L133

I inserted some `Elixir.IO.inspect/

[2020-09-17 13:55] silva96 commented on #642
hi @benoitc I see you added this tho a milestone, that means it's a confirmed bug or what?

[2020-09-17 18:22] benoitc commented on #642
it means i will ensure to close it this week :) Have been a bit more side tracked than expected but will maintain a release sometimes this week.

[2020-09-17 19:02] adamkittelson opened #657 "hackney_url:parse_url/1 raises an exception on a technically valid edge case"
It looks like hackney is just splitting on `@` and winds up trying to treat part of the credentials as the port when a url containing `@` in the credentials is parsed.
[code]
While this is admittedly a weird thing to do it is technically valid and parses correctly in other libraries. Elixir's URI module for example is able to parse it:

[code]

For now I'm able to work around by parsing with URI a

[2020-10-07 21:39] isaacsanders commented on #585
Another voice of someone who would be interested in this issue, and will be interested in reviewing the code, if needed.

[2020-10-08 09:24] jaimeiniesta opened #660 "Can't compile on Elixir 1.11"
I'm using Hackney on an Elixir 1.10.4 project, but when upgrading to Elixir 1.11 I get this error:

[code]

Any ideas why this is failing?

I'm using these versions:

[code]

[2020-10-08 11:40] josevalim commented on #660
Can you please try this:

    $ rebar3 --version
    $ ~/.mix/rebar3 --version

And then try running `mix local.rebar` to update your rebar to see if it changes the result. If it still fails, go to  `deps/hackney` and run one of `rebar3 compile` or `~/.mix/rebar3 compile`.

[2020-10-09 08:14] sreecodeslayer commented on #376
@benoitc hey, were you able to work on this. we are having the exact issue as added on https://github.com/edgurgel/httpoison/issues/112#issuecomment-698842552 and is kinda blocking our flows. I would be happy to help out, although not entirely familiar with erlang.

@ananthakumaran were you able to work around this somehow? 🤔

[2020-10-09 12:15] ananthakumaran commented on #376
I think we ended up handling redirect response ourselves instead of using `follow_redirect`.

[2020-10-13 10:57] jaimeiniesta commented on #660
Thanks @josevalim - updating rebar fixed the issue, it looks like the 3.14.0-rc2 version causes the issue.

Here's the version I had:

[code]

after the update I'm on:

[code]

[2020-10-13 11:44] josevalim commented on #660
Do you remember how you get 3.14.0-rc2? In any case, it is perhaps a bug to report on the Rebar 3 issues tracker if it hasn't been reported yet.

[2020-10-13 13:07] jaimeiniesta commented on #660
I'm not really sure. I'm using kiex for managing elixir versions.

[2020-10-22 16:37] silverp1 commented on #648
I'm running into this problem as well - any updates on where things are on this?

[2020-10-22 16:52] benoitc commented on #648
There will be a release this WE including a fix for it.

On Thu, Oct 22, 2020 at 6:37 PM Joe Pettit <notifications@github.com> wrote:

[2020-10-27 22:14] leonardb opened #663 "Missing dep unicode_util_compat in tag 1.60.0"
Tag 1.16.0 uses the `string_compat` module in `hackney_connection` and `hackney_ssl`

unicode_util_compat which provides string_compat is not included as a dep in rebar.config

[2020-11-07 23:16] sntran commented on #644
I would like to add that I have the same error when building my library on Travis.

https://travis-ci.org/github/sntran/google_maps/builds/742151800

Travis is set to use Elixir 1.6.6 on OTP 20.

[2020-11-16 14:36] vasumur commented on #638
@benoitc

Appreciate if you could provide an update on this issue and the planned release to address this.

We are still using 1.15.2.

[2020-11-16 14:59] benoitc commented on #638
@vasumur count it either today or tomorrow. I have been sidetracked this we, I couldn't finish the release.

[2020-11-16 15:39] vasumur commented on #638
Appreciate it @benoitc.

[2020-11-20 10:04] #643 closed

[2020-11-20 10:05] InoMurko commented on #643
Thanks everyone!!! <3

[2020-11-20 14:44] g-andrade commented on #663
This was fixed back in #634 but it hasn't yet been released under a tag.

[2020-11-24 03:59] gregors opened #664 "bad_cert ssl error for google site"
This google seems to blow up consistently, works when I ignore ssl

https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

OTP 23 hackney 1.16.0

[2020-11-24 09:44] smanolloff opened #665 ":hackney_url.pathencode should use uppercase hex"
According to [RFC3986](https://tools.ietf.org/html/rfc3986):

   the lowercase digits 'a' through 'f', respectively.  If two URIs
   differ only in the case of hexadecimal digits used in percent-encoded
   octets, they are equivalent.  **For consistency, URI producers and
   normalizers should use uppercase hexadecimal digits for all percent-
   encodings.**

Since it is recommended to use upper-c

[2020-11-24 12:58] gregors commented on #664
More information. I have access to a second laptop, where everything works fine btw. So this seems to be specific.

The system that fails:
Brand New Big Sur OSX
[code]

The system that passes has the same Elixir/Erlang versions with OS Catalina. I have tried completely removing and reinstalling elixir, erlang (via brew btw). So this might be a OS or environment specific bug, but anything I can do

[2020-11-25 02:27] tomwilsonisobar commented on #664
I have the same issue

[2020-11-26 16:00] silva96 commented on #642
@benoitc great, take your time. Thanks!

[2020-11-29 04:58] connorjacobsen commented on #664
Are you running on Apple M1 or Intel? I am getting this error with M1 (Elixir 1.11, OTP 23, Hackney 1.16). Everything works fine on the Intel-based Mac on OSX 10. Wondering if is an M1 issue or an OSX 11 issue (or both). I'm hitting this through `ueberauth_google`.

[2020-11-29 05:19] Fudoshiki commented on #664
Same issue

<img width="698" alt="Снимок экрана 2020-11-29 в 10 09 01" src="https://user-images.githubusercontent.com/4083992/100533861-e95af680-322a-11eb-848f-ef4e3d4f07fe.png">

[code]

With `[ssl: [{:versions, [:'tlsv1.2']}]]`working is fine
[code]

[2020-11-29 21:05] drewrey commented on #664
@connorjacobsen: I'm reproducing this error on an Intel Mac running OSX 11, with Elixir 1.11, OTP 23, Hackney 1.16.

I'm encountering this issue when using `auth0_jwks`, which is using `httpoison`.

[2020-11-29 22:45] connorjacobsen commented on #664
@Fudoshiki I'm not able to get it working when passing in those `ssl` options. Though I do get exactly the error you list.

[2020-11-30 19:35] ericmj opened #667 "Loosen dependency version requirements"
Hex packages should use non-strict dependency requirements such as `~> 1.0` instead of strict requirements like `== 1.0.0`. Strict requirements makes version resolution worse for users that use build tools that resolve versions like Mix/Hex.

[2020-12-01 11:01] benoitc commented on #667
@ericmj The issue with it is that it breaks any support policy you can have. You can't ensure indeed that dependency will not break anything only based on their numbering what will happen if a user want to use an upper version ? Should we provide overlay when a support is sold?

[2020-12-01 11:32] ericmj commented on #667
If the dependencies you use follow semantic versioning the guarantee is that there are no breaking changes without a major version bump. Using the requirement `~> 1.2.3` will allow any version between `1.2.3` and the next major version `2.0.0`.

What do you mean by "support is sold"?

[2020-12-01 16:06] benoitc commented on #667
As a general rule I prefer to block a version number for a stable release so I can support it. Semantic versioning isn't a label so it is still prone to error when you don't control the dependency.  It is also easier to rely on fixed release for automatic upgrades.

As for hackney, I can probably do it for  the dependencies I have in control . But others will stay fix for a release.  Certifi is mo

[2020-12-01 16:10] benoitc commented on #667
meaning it will be possible to update your application witout stopping it.

[2020-12-01 23:35] chriserik commented on #664
I can confirm this issue with OSX 11, Elixir 1.11, OTP 23 and Hackney 1.16. Same issue also occurs within Alpine - based Docker images built via Github Actions, and I also tested on another Notebook running Catalina with the same Elixir / OTP versions as above. Other https calls work fine. Setting the ssl version to tlsv1.2 "solves" the issue:

<img width="899" alt="Screenshot 2020-12-02 at 00 34

[2020-12-02 00:10] benoitc commented on #667
Hrmm but loock files are only working on upstream projects (the one that embed hackney), aren't they?  This make the support of hackney i harder if i can't ensure the right deps are used.  I mean, if people see an issue when using hackney, they won't blame at first a sub-dependency that have been updated transparently during their build, but hackney. So a ticket would be open first on hackney. It

[2020-12-02 00:53] ericmj commented on #667
What are the dependencies of hackney that you don't trust they follow semantic versioning? If so we can look at them specifically and see if we can ensure they follow semver.

I think the main question is if it's more important to ensure that deps are locked to ensure that hackney is not affected if there is breakage when bumping a non-major version of a dependency. Or if it's more important / bet

[2020-12-02 08:22] benoitc commented on #544
tasks are sill valid let keep it open

[2020-12-02 09:20] msudgh commented on #624
Seems the issue is reproducible, any comments on the referenced issue? https://github.com/getsentry/sentry-elixir/issues/443

[2020-12-02 16:37] neslinesli93 commented on #638
@benoitc any news? thanks!

[2020-12-03 00:16] #638 closed

[2020-12-03 10:10] #649 closed

[2020-12-03 10:10] benoitc commented on #649
no answer since awhile. closing the issue then.

[2020-12-04 12:46] benoitc commented on #667
fixed in 4790e9f609348e5525fc2d6dd1a541f9ee9e7ff7. Thanks for the feedback.

[2020-12-04 12:46] #667 closed

[2020-12-04 23:37] mjsommer commented on #328
@allyraza , I downloaded your https://github.com/era/pay.git, and received the same `Compiling src/hackney_ssl.erl failed` issue when compiling. Were you ever able to resolve this, and if so, how?

[2020-12-04 23:47] benoitc commented on #328
please open a new issue if you are experimenting some problem, and please paste the whole log. You may want to test latest master anyway.

[2020-12-05 00:12] mjsommer commented on #644
Having the exact same issue, trying to compile multiple code sets. Here is a working example: https://github.com/era/pay

`===> Compiling src/hackney_ssl.erl failed
src/hackney_ssl.erl:58: {undef,[{ssl,cipher_suites,[default,'tlsv1.2'],[]},
        {erl_eval,do_apply,6,[{file,"erl_eval.erl"},{line,670}]},
        {erl_eval,eval_lc1,6,[{file,"erl_eval.erl"},{line,696}]},
        {erl_eval,eval_gene

[2020-12-05 00:19] mjsommer commented on #328
Ref: https://github.com/era/pay/issues/18

[2020-12-07 14:43] benoitc commented on #665
Good catch.

That change is tricky to handle though at it my break some application relying on urls consistency or sort of by hashing them. The implementation will be done this way:

* add an option to path encoding to lowercase.
* default will be uppercase
* increment hackney minor release

[2020-12-07 14:52] benoitc commented on #644
can you test the master and let me know if it solves your issue?

[2020-12-07 14:59] benoitc commented on #664
It may be relevant to https://github.com/erlang/otp/commit/addc42df113f8f15fc20e9dff45490b3ce0d3d6b. Did anyone tested with an older version of Erlang ?

[2020-12-07 15:18] johnnyplaydrums commented on #644
I'm on MacOS `11.0.1` (originally posted the issue while on MacOS `10.15.5`) and can confirm that compiling master now works! Thanks @benoitc!

[2020-12-07 15:27] connorjacobsen commented on #664
I have not, but I can later today. OSX 10.X, Elixir 1.11, OTP 23, and Hackney 1.16 had previously worked just fine so I hadn't tried downgrading OTP.

[2020-12-07 19:11] supercodepoet commented on #664
I have run into this issue as well trying to call the Stripe API. I am running:

macOS 11.0.1
Erlang 23.1.5
Elixir 1.11.2
hackney 1.16.0

I tried Erlang 23.0.4 and it still failed. I tried Erlang 22.3.4.13 and it succeeded. We use Docker to build our production images and it uses Ubuntu. Using Erlang 23.1.5 works correctly. Seems it might be an issue with OTP 23 and Big Sur.

[2020-12-07 19:31] evancloutier commented on #664
+1 on running into this!

MacOS 11.0.1
Elixir 1.11.2 (OTP 23)
Hackney 1.16.0

I wasn't able to trial and error with different versions of Elixir/Erlang to see what succeeded – this is only happening to me locally, but I'll be docker-composing to avoid this for the time being.

[2020-12-08 01:45] keithpitty commented on #664
I would appear to be encountering the same issue. In my case the error occurs via `OAuth2.Client`. I originally encountered it on Elixir 1.11.2 (OTP 23) but then also 1.10.4 (OTP 23). Only then did I realise that the common denominator was that I had recently upgraded to MacOS 11.0.1. Uninstalling and reinstalling Erlang and Elixir has had no effect.

[2020-12-08 17:54] benoitc commented on #664
Issue happen due to the way certificates are presented in my tests. I believe it can be solved in the next erlang 23 iterration, maybe backporting the new partial chain handling would do the trick?

[2020-12-08 20:59] benoitc commented on #664
shuld be fixed in latest master via 1c4afad99e4c7802627427dd880de37529c86dc4 .

This change is similar to g-andrade/tls_certificate_check@bae369641519a6d40df069a276ecb63407bff8b6

Please let me know.

[2020-12-08 21:09] benoitc opened #668 "move CI out of Travis-CI"
This is not entirely related to latest changes in their terms but I would like to put the CI on another services to get faster and more consistent results .

[2020-12-08 21:35] supercodepoet commented on #664
Pulled the latest from GitHub and ran our entire test suite and our dev environment on:

macOS 11.0.1
Elixir 1.11.2
Erlang 23.1.5

I did not get any errors and everything behaved normally. Thanks!

[2020-12-08 21:35] paulo-ferraz-oliveira commented on #668
Want GitHub Actions? I can try to pull request for this (haven't looked into your CI procedure yet).

[2020-12-08 22:17] moomerman commented on #664
Can confirm the same:

Static:

* macOS 11.0.1
* elixir 1.11.2

Variable (with hackney 1.16.0)

* erlang 23.1.5 (via homebrew) ❌
* erlang 23.0.4 (via kerl) ❌
* erlang 22.3.4.13 (via kerl) ✅

Using erlang 23.1.5 (via homebrew) with master hackney works fine 🥳

[2020-12-08 23:26] connorjacobsen commented on #664
@benoitc Fixes for me. Thank you!

[2020-12-09 09:50] benoitc commented on #664
ok i will make a release it asap today. Thanks all for the feedback!

[2020-12-09 09:50] #664 closed

[2020-12-10 07:25] hechenglong7 commented on #593
disposition = {<<"form-data">>, [{:name, <<"field_name">>}, {:filename, f_name}]}

[2020-12-11 23:33] supercodepoet commented on #664
I was wondering if we would be getting a release soon? Thanks.

[2020-12-12 01:53] benoitc commented on #664
it will be published on monday.

On Sat 12 Dec 2020 at 00:33, Travis Chase <notifications@github.com> wrote:

--
Sent from my Mobile

[2020-12-16 15:18] benoitc commented on #665
implemented via #671 . I decided to just make it the default in urlencode and produce uppercase using pathencode. The change will be documented as a braking change in the changelog.

[2020-12-16 15:54] sorliem commented on #648
I was bit pretty severely by this bug a couple days ago. Had to disable the default pool. Is there a release coming coming out that contains the fix?

[2020-12-16 23:10] benoitc commented on #648
What happened. How did you reproduce the issue?

There is a relase that will land today that is changing the way connections are handled, but the problem above shouldn't trigger anything severe if connections are released correctly to the pool.

[2020-12-17 15:47] joeapearson commented on #596
I came across this need too when implementing a call to make this request: https://docs.microsoft.com/en-us/rest/api/storageservices/create-container

It's an HTTP PUT with no body specified, so (I assume) a `Content-Type` header is not appropriate in this context.

As it happens, MS Azure doesn't seem to care about the default `application/octet-stream` that is added so I was able to work around

[2020-12-17 21:49] sorliem commented on #648
I have code in my system using hackney that calls 3rd party services to get data. I saw the `:checkout_timeout` error explode, added some metrics to monitor the `in_use` value returned from `:hackney_pool.get_stats(:default)` and redeployed.

The following screenshot is that new k8s deploy of 10 pods each with 1 `default` hackney pool running:
![2020-12-11-hackney_pool_3](https://user-images.githu

[2020-12-17 21:51] benoitc commented on #648
does your code always ensure to read the body? That said I am working on replacing the pool. The code will be ready for consumption tomorrow. Took more time than expected...

[2020-12-17 22:13] dbhobbs commented on #648
Is reading the body required? I don't see that mentioned in any of the documentation. :thinking:

[2020-12-17 23:10] benoitc commented on #648
Yes to release the socket you need either read the body (which is always done when using the `with_body` option in the request, or skip it using the `skip_body` function or similar. Closing the request does also work. If a response is not read completely and the process is still active hackney is actually consider it as an active session for now.

[2020-12-18 06:13] benoitc commented on #665
fixed in master. Thanks for the ticket!

[2020-12-18 06:13] #665 closed

[2020-12-18 06:14] benoitc commented on #663
fixed in master.  It will be part of the new release

[2020-12-18 06:14] #663 closed

[2020-12-18 06:17] benoitc commented on #644
@johnnyplaydrums thanks for the feedback. Closing the issue as fixed.

[2020-12-18 06:17] #644 closed

[2020-12-18 06:18] benoitc commented on #633
fixed in latest master. It will be part of the new release.

[2020-12-18 06:18] #633 closed

[2020-12-19 01:44] paulo-ferraz-oliveira commented on #459
You have this, these days:
[code]

Is that the doc. you mention should exist? (this is `hackney.md`)

[2020-12-19 01:49] paulo-ferraz-oliveira commented on #502
`rebar.config.script` no longer present. This can be safely closed.

Mentions to `TEST` are:
* `.travis.yml`: it's possible it'll go away soon,
* `hackney.http`: but `rebar3/eunit` already defines that.

[2020-12-19 02:14] paulo-ferraz-oliveira commented on #596
Some context... RFC 2616 states "The presence of a message-body in a request is signaled by the inclusion of a Content-Length or Transfer-Encoding header field in the request's message-headers. [...] if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the request.", so I guess what `hackney` could do is suppress `conten

[2020-12-19 02:52] nlfiedler commented on #459
Yes, thanks.

[2020-12-19 02:52] #459 closed

[2020-12-19 10:05] #668 closed

[2020-12-19 10:07] #628 closed

[2020-12-19 10:07] #629 closed

[2020-12-19 10:57] benoitc commented on #502
true. closing the issue

[2020-12-19 10:57] #502 closed

[2020-12-19 11:26] benoitc commented on #648
that should indeed be mentionned by the doc ...

[2020-12-19 14:55] benoitc commented on #660
closing the issue. It works for me when you use latest stable rebar3 with last mix version version. Feel free to reopen the issue if needed.

[2020-12-19 14:55] #660 closed

[2020-12-19 17:39] sorliem commented on #648
Oh, ok. We may have some locations where we are not reading the body. Would you be able to point me to the right location in the documentation that says that?

[2020-12-22 21:45] joeapearson commented on #596
@paulo-ferraz-oliveira thanks.  Suppressing `content-type` as you describe sounds sensible and would work for my particular use case.

[2020-12-24 15:27] eclecticjohny commented on #563
I'm running into the same issue with not being able to ensure hackney is started before exometer.

[2020-12-26 21:42] benoitc commented on #648
that's not written explicitly in the doc i think. A connection is removed from the pool automatically if the process is closed before releasing it or if the whole body has been read, otherwise (logically I would say) there is no way to know if the connection has to be released.

[2020-12-29 06:24] benoitc commented on #563
un erlang you can do it by passing it to the application list.

[2020-12-29 18:41] eclecticjohny commented on #563
i won't extend this closed issue too much however, this is exactly how i tried to solve the issue, moving exometer to be first in application list above hackney. this did not resolve the issue.

[2020-12-29 19:43] benoitc commented on #563
if you have still an issure, please open a new ticket and share the code/config you did. Maybe someone else could have a look.

[2021-01-20 22:06] hassan opened #673 "Online doc link on hex.pm is 404"
https://hexdocs.pm/hackney/ is currently returning a 404. (The doc download link next to it works though.)

[2021-01-27 08:06] ashish060211 commented on #630
I am also facing this issue. It is intermittent and can be noticed in logs , every hour. Its count is ~3 % of the total request.

[2021-02-02 15:43] ronaldwind opened #675 "Dangling clients when requests are aborted mid checkout"
We're using hackney in our Elixir. It might happen that the process that's performing the `:hackney.request` is killed before the request is completed. This results in ever increasing amounts of clients (as exposed by the `in_use_count` of the pool's stats). This in turn will max out the amount of available connections in the pool.

The issue is introduced in v1.17.0 as it was working properly in

[2021-02-08 14:36] sonic182 commented on #507
I think this could be reopen, it is not clear the default configs for default pool, which is the max_connections for that pool?, timeouts? etc.

[2021-02-12 15:32] benoitc commented on #539
Hackney by default doesn't use a proxy until you set it to use one. This may change in the future but for now looking at this env is not needed.

[2021-02-12 15:32] #539 closed

[2021-02-12 15:39] benoitc commented on #673
yes. I don't know how to remove this lin since there shouldn't be one there. I will contact them.

[2021-02-15 07:31] spapas commented on #539
Hello @benoitc the expected behavior (from various other http client libraries) is to actually take a peek at the well-known env variables (`http_proxy/HTTP_PROXY`, `https_proxy/HTTPS_PROXY` and `no_proxy/NO_PROXY`) and configure the client to actually use 'em if they are there. Take a look at the well-known and super-popular python requests library for example or the curl http client.

Since thes

[2021-02-25 21:10] cigzigwon commented on #593
@benoitc The problem now is that hackney lib doesn't seem to work w/making requests against express/multer middleware. This is costing me as I tried every format possible yet I'm actually using Httpoison in Elixirlang. I have no problem with the files but no form-data body params are being parsed. Looks like it may be a problem with "Content-Disposition" in the extra headers...
`files =
		      di

[2021-02-25 21:18] cigzigwon commented on #593
Looks like @npkhoa2197 solved the problem if what he says is true.... It's probably why busboy cannot parse requests from Hackney correctly. I guess nobody is really using Express but I have many APIs and don't feel like re-writing everything tonight...

[2021-02-25 21:34] cigzigwon commented on #593
Three cheers to @npkhoa2197 as he nailed it @benoitc. @edgurgel In the Httpoison lib there is a problem interfacing with multer using just {Name, Content} It results in multipart being stamped incorrectly. You MUST use {Name, Content, ExtraHeaders} in all cases to properly adhere to multipart/form-data API specification. See below.

`{:multipart, files ++ [{"id", id, ["content-type": "text/plain",

[2021-03-11 20:47] losvedir opened #677 ""Unexpected message" error log and then requests stopped"
Last night, one of our applications stopped making all HTTP requests. I looked at the logs locally, and this was the last message:

[code]

I grepped our codebase and all its dependencies, and that log message is only generated by hackney, in hackney_stream.erl.

One caveat is that I don't know for sure if the app stopped running altogether, or just stopped making HTTP requests. We log our `info`

[2021-03-12 13:32] losvedir commented on #677
Just had another thought. Since we log via HTTP and so lost those logs, it makes it difficult to know what was going on exactly. For example, we don't know if GET requests were succeeding or not. However, the application POSTs to three different destinations, using two pools, and we know that after this error message, none of the destinations received anymore POST messages.

[2021-03-15 11:15] benoitc commented on #677
Yes, it's a message not chatched by hackney (though it should be in last version. There is a new connection handling that will be part of the next update fixing it completely. the work is in progress :)

[2021-03-17 14:00] leonardb opened #680 "spawn_link in hackney_pool issue"
With the change in https://github.com/benoitc/hackney/pull/674 to spawn_link, the caller process will receive the exit message.

If the caller is trapping exits this can be quite unexpected and problematic.

This was quite a surprise when I upgraded as I was only expect exit signals from a potential crash in RMQ connections being handled in the same server. In which case the gen_server would re-in

[2021-03-17 14:50] benoitc commented on #680
Using `spawn_monitor` will  not solve the issue the change to `spawn_link` was intended to fix.

I think an appropriate change for this version would be  going back to the use of `spawn` and handle the race condition during the checkout. I will  have a look asap

[2021-03-17 14:55] leonardb commented on #680
@benoitc Maybe I'm misunderstanding the entire issue.

Why would it not solve the problem? The receive statement should receive any exit where the spawned process crashes as per the description of the issue in https://github.com/benoitc/hackney/issues/675

In the case of a non-normal exit this should be received by the 2nd clause in the receive and allow a clean return of an error to the caller.

[2021-03-17 15:05] benoitc commented on #680
@leonardb correct, the spawn_link is intended to fix the case when the requester is crashing.  The linked process doing the checkout is exiting when it's happening.

[2021-03-17 15:25] benoitc commented on #680
@leonardb #681 should fix your issue.

@ronaldwind can you also test this patch and let me know how it behaves on your side. This should also fix the issue you intended to solve using `spawn_link`

[2021-03-17 16:36] #680 closed

[2021-03-17 23:05] benoitc commented on #680
1.17.3 has been released.

[2021-03-18 10:01] ronaldwind commented on #680
@benoitc Too bad, this change reintroduces the problem I had again. I've upgraded to 1.17.3 an ran the snippet from my issue at https://github.com/benoitc/hackney/issues/675, and the `in_use_count` is once again showing increasing numbers.

[2021-03-18 10:02] ronaldwind commented on #675
Just to update this issue as well; as I already mentioned at https://github.com/benoitc/hackney/issues/680 this issue is reintroduced in 1.17.3.

[2021-03-18 10:03] benoitc commented on #680
it should reduce though. or maybe it is only a counter not reduced?

On Thu 18 Mar 2021 at 11:01, Ronald Wind ***@***.***> wrote:

--
Sent from my Mobile

[2021-03-18 10:23] spinettaro opened #682 "Set use_default_pool"
Hi,

I'm using Elixir and HTTPoison and I would like, for a test purpose, to disable the default pool as described in the main Readme.
How can I set the hackney application environment key use_default_pool to false?
I have a Elixir Phoenix project.

Thanks in advance

[2021-03-18 10:34] ronaldwind commented on #680
The `in_use_count` is not lowering as time passes. I've waited for 10+ minutes and the count is still the same.

I've also tried filling up the pool to the point `in_use_count` equals `max`.
At that point no new requests are made and I simply receive a `:checkout_timeout`:

[code]

In short, it does not seem to be that the counter is just reporting wrong numbers. And it seems like it is the exact

[2021-03-18 11:00] benoitc commented on #680
@ronaldwind can you try this ptch

[code]

also can you send me a trace. You can do it in private on my mail if you want to

[2021-03-18 12:48] benoitc commented on #680
@ronaldwind i will do a tests later today, but if you have the possibility to do it , please let me know :)

[2021-03-18 12:57] leonardb commented on #680
This patch appears to resolve the issue.

Just for testing I altered the patch so the caller process "deadness" is
guaranteed (no timing issues).

diff --git a/src/hackney_pool.erl b/src/hackney_pool.erl
index c913998..e0c7101 100644
--- a/src/hackney_pool.erl
+++ b/src/hackney_pool.erl
@@ -70,13 +70,14 @@ checkout(Host, Port, Transport, Client) ->
         catch _:_ ->
           {error, checkout

[2021-03-18 13:04] ronaldwind commented on #680
@benoitc I can also confirm the patch works fine! Thanks @leonardb for testing it too.

[2021-03-18 14:31] aboroska commented on #680
@benoitc Is it an oversight that `hackney_pool:monitor_client/3` does not actually call erlang:monitor/1 ?
https://github.com/benoitc/hackney/blob/039db6033b9f81d75c9b0b672f9f8b96e9111575/src/hackney_pool.erl#L628

Where is the monitor placed on the Requester?

[2021-03-18 14:33] benoitc commented on #680
thanks @ronaldwind @leonardb I will check it myself. Expect a new release later today.

@leonardb so there is new mechanism to handle the connections that will come the next major version. But right now the connection are indeed monitored via `hackney_manager`. The current patch is about fixing a race condition that happen when the requester die before it's managed. All this system is overly compl

[2021-03-18 14:35] benoitc commented on #680
https://github.com/benoitc/hackney/blob/master/src/hackney_connect.erl#L224

[2021-03-18 14:43] aboroska commented on #680
@benoitc You mean hackney_manager:update_state/1 ? That does not place any monitor. I am still confused.

I only found two places where a monitor is placed. Here:
https://github.com/benoitc/hackney/blob/039db6033b9f81d75c9b0b672f9f8b96e9111575/src/hackney_stream.erl#L28

and here:

https://github.com/benoitc/hackney/blob/039db6033b9f81d75c9b0b672f9f8b96e9111575/src/hackney_manager.erl#L554

[2021-03-18 16:48] benoitc commented on #680
I don't use monitor but instead linking the processes ans traping exit in manager:

https://github.com/benoitc/hackney/blob/master/src/hackney_manager.erl#L570

[2021-03-18 18:33] aboroska commented on #680
Oh, Ic. Then in case of Requester exit the manager sends en explicit 'DOWN' message to the pool process:
https://github.com/benoitc/hackney/blob/master/src/hackney_manager.erl#L387
That is how the client removed and `in_use_count` is reduced at last in hackney_pool.

Thank you @benoitc. I add this here if anyone else was wondering about the same might find it useful.

[2021-03-18 22:43] benoitc commented on #680
1.17.4 has been published @aboroska @ronaldwind

[2021-03-19 21:20] losvedir commented on #677
That error message specifically came from one of the three places in hackney's own [hackney_stream.erl](https://github.com/benoitc/hackney/blob/039db6033b9f81d75c9b0b672f9f8b96e9111575/src/hackney_stream.erl). I grepped my codebase and all its deps and that's the only place "Unexpected message" occurs.

We don't actually use `hackney` in our code directly. The two libraries we use that use `:hackn

[2021-03-25 12:16] sircinek opened #683 "hackney 1.17.4 connections stuck in a pool"
# Problem
Connections getting stuck and never being checkin again exhausting the pool (making it unusable without restart).

# Version/usage
`hackney 1.17.4` as an adapter to `tesla 1.3.3` but we have seen similar problems with `httpoison` running hackney 1.17.4 too

`erlang 23.0.4`
`elixir 1.10.4-otp-23`

# Observations
[code]

It looks like after 24~hours of uptime we were able to hit issue look

[2021-03-25 12:23] benoitc commented on #683
Can you provide a snippet on how you make your requests?

On Thu 25 Mar 2021 at 13:16, sircinek ***@***.***> wrote:

--
Sent from my Mobile

[2021-03-25 13:21] sircinek commented on #683
As I said, we are using `Tesla` with `hackney` adapter, but it should be more or less like this:

[code]

[Adapter code](https://github.com/teamon/tesla/blob/master/lib/tesla/adapter/hackney.ex)

I did the trace of `:hackney` module when calling our lib, and that's the result (the data is fake, but just to give you overview)

[code]

I did the same excercise from the node that have exhausted pool

[2021-03-25 14:35] sircinek commented on #683
Given how Tesla middlewares interact (especially [Tesla.Middleware.Timeout](https://github.com/teamon/tesla/blob/master/lib/tesla/middleware/timeout.ex))with the hackney request, the snippet should be more like:

[code]

forgive me the typos/syntax errors, haven't done Erlang in some time ;)

[2021-03-26 09:06] bluesbettle commented on #683
If it helps with investigation, it seems that always happen once requests starts to be queued, I haven't seen it occurring without any `queue` elements.

[2021-03-26 09:07] sircinek commented on #683
If it helps with investigation, it seems that always happen once requests starts to be queued, I haven't seen it occurring without any `queue` elements.

[2021-03-26 12:31] sircinek commented on #683
Another observation. If I increase `max_connections` limit for the pool by one, nothing changes. When I make a request (successful because I have capacity in the pool), I see one of the queued elements gets removed from the queue (but process that was requesting is not alive anymore), and the state of the pool changes to be like this:
[code]

when I repeat the exercise I get another one out of the

[2021-03-26 15:44] benoitc commented on #683
Thanks a lot for the feedback. I think I understand now what’s happening.
I will fix it tonight/this week-end :)

On Fri 26 Mar 2021 at 13:32, sircinek ***@***.***> wrote:

--
Sent from my Mobile

[2021-03-29 07:40] bluesbettle commented on #683
Could you elaborate where is the problem ? Decreasing `checkout_timeout` didn't prevent the issue from happening FYI :)

[2021-03-29 07:41] sircinek commented on #683
I will fix it tonight/this week-end :)

Could you elaborate where is the problem ? Decreasing checkout_timeout didn't prevent the issue from happening FYI :)

[2021-03-30 07:05] benoitc commented on #683
@sircinek better to talk over the code :)

That should land as a PR later today or in the morning tomorrow finally. Roughly speaking spawning  process to checkout the connection is actually breaking the original design that was using the manager and expect the connection beeing synchronously checkout by the requester.

The new design is putting back more synchronicity. While I am here I am fixing

[2021-03-30 07:32] bluesbettle commented on #683
Wonderful. Thank you very much for looking into this 🙇🏻

[2021-03-30 07:32] sircinek commented on #683
Wonderful. Thank you so much for looking into this 🙇

[2021-04-01 07:52] sircinek commented on #683
Hey @benoitc, any updates on this? :)

[2021-04-01 11:32] benoitc commented on #683
this is  still in progress, I should be able to push a branch later today.

On Thu 1 Apr 2021 at 09:52, sircinek ***@***.***> wrote:

--
Sent from my Mobile

[2021-04-07 12:34] sircinek commented on #683
@benoitc maybe you need a hand with this ?

[2021-04-07 21:08] davemenninger opened #684 "time to create a new connection"
I'm having trouble figuring out what might be the cause of this latency ( minutes to create a connection ).  The strange thing is that it does eventually succeed:

https://github.com/benoitc/hackney/blob/v1.17.0/src/hackney_pool.erl#L101-L107

[code]

This is an HTTPS connection with a client certificate.  I _think_ I can see hackney making calls to `ssl` and `public_key` but I can't tell for sure

[2021-04-07 23:18] benoitc commented on #683
Actually this will land at the end of the week. Got sidetracked by a
refactoring. I wouldn’t mind some review when it’s out anyway :)

On Wed 7 Apr 2021 at 14:34, sircinek ***@***.***> wrote:

--
Sent from my Mobile

[2021-04-11 09:45] dkuku commented on #503
I got the exact same problem with HTTPPoison and I tracked it to hackney

[code]
I raised also an issue in HTTPPoison that it should handle it better: https://github.com/edgurgel/httpoison/issues/432

[2021-04-13 13:22] benoitc commented on #683
short update, but a new branch will land tomorrow. i’ve been sidetracked in between.

[2021-04-14 20:16] davemenninger commented on #684
In my case it turned out to be a misconfigured load balancer in the stack.  Sorry to bother!

[2021-04-14 20:16] #684 closed

[2021-04-15 14:33] albiere opened #685 "hackney erroring out when URL is "http://""
Hey,

I'm working on an Elixir project that uses HTTPoison, which uses hackney under the hood, and noticed that when one passes the "https?://", hackney throws an error. I think hackney could return something similar to what it does when `" "` is passed in. The same error occur when a empty string is passed in.

[code]

If anybody here thinks this is a problem as well, I'd be more than happy to he

[2021-04-20 11:29] sircinek commented on #683
@benoitc how's it going? We are kind of stuck working around that issue, I guess we will downgrade to `1.15.2` in the meantime, or use another library..

[2021-04-21 12:42] benoitc commented on #683
Sorry it take more time than expected. I’m testing a solution on latest
OTP/Erlang since one week...  I will make it available by friday.

One way to speed its dev is to allow me to dedicate full time on it btw...

On Tue 20 Apr 2021 at 13:29, sircinek ***@***.***> wrote:

--
Sent from my Mobile

[2021-04-21 12:45] benoitc commented on #503
update to latest certifi.... also ensurz to use latest version of hackney.

[2021-04-30 16:33] alexgleason commented on #648
https://github.com/benoitc/hackney/blob/master/NEWS.md

1.17.0

Is this fixed now?

We downgraded hackney to 1.15.2 and wondering if it's safe to upgrade again: https://git.pleroma.social/pleroma/pleroma/-/issues/2101

[2021-04-30 16:39] benoitc commented on #648
watch the release this week-end. Hackney will be bumped to 2.0. This will
be announced next week also :)

On Fri, Apr 30, 2021 at 6:33 PM Alex Gleason ***@***.***>
wrote:

[2021-05-05 20:19] benoitc commented on #683
i am slowly adding the tests. I have been side tracked  AN tests will be
helpful. I will try to push it by friday now.

On Wed, May 5, 2021 at 4:00 PM Peter Melinat ***@***.***>
wrote:

[2021-05-06 19:03] binaryseed commented on #585
Hello again! Any way folks in the community might be able to help get this work moving forward?

[2021-05-07 22:50] wood-archer commented on #685
That is happening to me as well:
[code]
It was working for me a few days ago. Now I always get the checkout failure.

[2021-05-07 22:53] wood-archer commented on #685
But it works if I prefix the domain with www:

[code]

[2021-05-08 00:28] wood-archer commented on #685
Fixed this by updating hackney (`mix deps.update hackney`)

[2021-05-08 07:38] benoitc commented on #685
which version  of certifi is installed?

On Sat 8 May 2021 at 00:51, Cristiano Carvalho ***@***.***>
wrote:

--
Sent from my Mobile

[2021-05-09 02:13] wood-archer commented on #685
Hi, @benoitc

these are the versions i updated to solve the issue above:

`"certifi": {:hex, :certifi, "2.5.3" ..` => `"certifi": {:hex, :certifi, "2.6.1"`
`"hackney": {:hex, :hackney, "1.17.0"` => `"hackney": {:hex, :hackney, "1.17.4" `

[2021-05-18 07:50] Aduril commented on #683
Hello @benoitc,

I don't want to annoy you and appricate the work you are doing here, but is there any way to move some obstacles out of your way? If you prefer you can also DM me (for example on [Twitter](https://twitter.com/Aduril)).

Kind regards
Peter

[2021-05-19 22:19] benoitc commented on #683
@aduril as I quickly told you online I will describe in a separate process what's the roadmap on and a way to help the project to ensure we get a release more often.

In the mean time please try the following hot-fix 592a00720cd1c8eb1edb6a6c9c8b8a4709c8b155 which should fix this issue.  Please let me know!

[2021-05-19 22:20] benoitc commented on #683
to all I pushed the hot-fix 592a00720cd1c8eb1edb6a6c9c8b8a4709c8b155 which should fix this issue.  Please let me know!

[2021-05-20 16:21] benoitc commented on #682
apparently you can set it using the mix file. Hope it helps.

[2021-05-20 16:21] #682 closed

[2021-05-20 22:30] benoitc commented on #683
the patch above seems to fix it according to my tests. Closing the issue then. Feel free to reopen it if needed.

[2021-05-20 22:30] #683 closed

[2021-05-21 05:13] benoitc opened #687 "replace httpbin in tests"
httpbin is unmaintained and its installation failed recently in the « CI » due to one of its dependency.

This is time to replace it by echohttp. ETA: 4 days.

[2021-05-21 07:46] benoitc commented on #682
http://blog.plataformatec.com.br/2016/05/how-to-config-environment-variables-with-elixir-and-exrm/

On Thu, May 20, 2021 at 7:40 PM Daniele Spinetti ***@***.***>
wrote:

[2021-05-27 09:57] ettomatic commented on #683
Thanks a lot for this @benoitc!  Are you planning a new release for this?

[2021-05-27 17:33] benoitc commented on #683
yes it will this week once the CI is fixed :)

On Thu 27 May 2021 at 11:58, Ettore Berardi ***@***.***>
wrote:

--
Sent from my Mobile

[2021-06-14 13:48] SoniCoder opened #689 "Hackney checkout_failure which was working before 1.16.0"
2021-06-14 13:47:38.633 [warning] <0.1002.0>@butler_client_hackney:request:121 HTTP Request unsuccessful: Reason checkout_failure, Retrying after 4000 Request: {"http://192.168.5.107:8080/api-gateway/auth-service/platform-auth/oauth/token",[{"Authorization","Basic ABCD"},{"Cache-Control","no-cache"}],"application/x-www-form-urlencoded","grant_type=client_credentials&client_id=butlerx&client_secret

[2021-06-16 20:03] benoitc commented on #689
did you try latest master?

[2021-06-17 02:57] SoniCoder commented on #689
Yes tried

On Thu, Jun 17, 2021, 1:34 AM Benoit Chesneau ***@***.***>
wrote:

[2021-06-17 08:40] benoitc commented on #689
can you send a trace of the request?  Can you share a snippet? also ho many connections in the pool?

[2021-06-18 12:38] shizzard commented on #439
I did try to reproduce the issue using the code from the first comment. Error actually reproduces quite easily.
However, after some digging and packet sniffing I found that actual cause of such behaviour is in the server code.
Server handler does not actually read  the whole request body. This leads to a known issue with half-closed TCP connection state, when one party already closed the connectio

[2021-06-25 18:49] nateless opened #690 "hackney slow on reading chunked reply of ~20mb"
Hello,

We've been thinking its Tesla's problem (https://github.com/teamon/tesla/issues/471) but after profiling we get that reading the large body takes roughly 40 seconds.

Response headers:
[code]

profile:
[code]

[2021-07-07 17:09] mattbaker commented on #689
We started seeing this too with a connection pool size set to 400. We've been running f87678194 since it was merged into master.

Unfortunately I don't have much useful information to share yet, but if we come up with something useful I will post it here. So far the only interesting thing was noticing that the message queue of the hackney_pool process started growing quickly so something was stopp

[2021-07-07 17:34] SoniCoder commented on #689
I was facing this issue with the default hackney settings

[2021-07-07 20:16] mattbaker commented on #689
Yeah, unfortunately we need the connection pool.

[2021-07-07 21:14] benoitc commented on #689
@mattbaker Can you share a s trace and snippet of the code doing the request?

[2021-07-07 21:35] mattbaker commented on #689
Yeah I'll work on finding an example, there's some abstraction that makes a simple copy-paste example hard

[2021-07-14 09:15] achedeuzot commented on #642
For an unknown reason (haven't debugged it in details yet), this crops up with Swoosh when I try to send emails using the  Postmark adapter. Stranger still, this only crashes in production, while it works in development. I'll try to post updates when I find the root cause.

[2021-08-12 22:17] alejom99 commented on #630
Hello, we're seeing the same problem. The problem goes away if we disable connection pooling. I should also add that we're using Hackney 1.17.4.

[2021-08-13 01:09] alejom99 commented on #544
Hi @benoitc , was this ever implemented? We're experiencing the same problem in which connections are randomly closed because they are being reused close to their timeout.

Perhaps connections that are about to expire shouldn't be used?

Or is it expected that the calling code should watch for `:close` errors and retry?

[2021-09-20 09:44] josealejandromu commented on #683
Hello @benoitc ! Is there going to be a release soon to solve this issue ?

[2021-09-21 15:53] leonardb commented on #689
@mattbaker If you've not already solved this you may want to check if you have somehow pinned an older version of `unicode_util_compat` which does not contain the `string_compat` module. Unfortunately xref on your top-level project won't find that.

I was running into the exactly issue and after debugging discovered I had a manual include of an older version which was causing exactly this `checkou

[2021-09-21 16:51] mattbaker commented on #689
I don't :/ Thanks though! We ended up switching to Finch

[2021-09-22 20:40] benoitc commented on #683
yes this is planned along other announcements by Friday.

[2021-09-28 15:55] benoitc commented on #685
ok thank you for your answer!

[2021-09-28 15:55] #685 closed

[2021-10-20 12:39] sykesm opened #693 "Incorrect Host header used on redirected requests"
When a request is made to a server running on a non-standard port, the port should be included in the Host header. This is part of [RFC-2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23).

When `follow_redirect` is enabled and the client gets a 302 redirect, hackney's request to the new target includes a Host header for the new host but it does not include the port. When used

[2021-10-29 18:11] derek-zhou opened #695 "Hackney should ignore 1XX responses"
Some website send 103 response before the 200, even in http1.1. One such is http://www.theregister.com
It could be a cloudflare thing.

hackney 1.8.0:

[code]

If I edit the hackney source and force HTTP/1.0, the server will only response with one 200 response and everything will turn out ok.

I think the correct change for hackney is to throw away all 1XX response because there is no way to expos

[2021-11-07 13:26] dextercd commented on #394
From the Twitter documentation:

https://developer.twitter.com/en/docs/tutorials/consuming-streaming-data

Streaming API connections will be encoded using chunked transfer encoding, as indicated by the presence of a Transfer-Encoding: chunked HTTP header in the response. Because most HTTP libraries deal with chunked transfer encoding transparently, this document will assume that your code has acce

[2021-11-09 00:19] luoken opened #697 "Status codes as floats"
There seems to be some sites that return status codes as floats e.g. `http://www.lowiqcanadian.com/id2.html`.

When running `curl --head http://www.lowiqcanadian.com/id2.html` we see that the status code returned is actually a `401.1` and hackney does not like that as it tries to convert the float into an integer.

Here are some status codes that are floats: https://docs.microsoft.com/en-us/troubl

[2021-11-11 11:25] mjaow commented on #689
we also saw checkout_failure when traffic go through proxy

[2021-11-19 11:48] SukhikhN opened #698 "Connection timeout errors"
Hello!

I'm testing my application behaviour with different network timeouts and getting strange error results when unsig hackney with or without connection pool.

First, for testing connection timeout I set up iptables to drop all packets incoming to port 8080:
`# iptables -I INPUT -p tcp --dport 8080 -j DROP`

Then I try to make requests from the application console:
[code]
As you can see the er

[2021-11-20 06:46] kuznetskikh commented on #648
Hello @benoitc!
Any update on this issue?

I'm facing with it on httpoison 1.8.0 and hackney 1.18.0.
Hackney still doesn't respect `max_connections` as in @DmitryKakurin's example

[2021-11-22 09:33] benoitc commented on #648
@kuznetskikh does httpoison read the body? What if you use hackney directly?

[2021-12-09 07:34] kuznetskikh commented on #648
Hello @benoitc. I'm sorry for late response, it's working fine for me now.
I just incorrectly configured hackney pool on application start. Now all is fine, `max_connections` is taken into play using:

[code]

And only 1 connection is available.

Thank you!

[2022-01-03 14:24] leonardb commented on #695
Of interest for this: https://blog.cloudflare.com/early-hints/

Looks like these will probably become more prevalent as time goes by and should be supported asap to prevent breakage

[2022-01-18 20:12] wizardone commented on #689
Just bumping this up. Started encountering this after an elixir upgrade.
Currently running on 1.10.4 and using httpoison 1.7.0, hackney 1.17.4
I found some vague options online and tried playing with downgrading/upgrading versions, but could not get it to work.

[2022-02-09 15:26] fireproofsocks commented on #630
Same issue with hackney v1.18.0 on Erlang 24.2.1: connections are periodically closed.  Setting `pool: false` seems to fix the issue.

[2022-02-10 01:06] benoitc commented on #630
It is expected that the server close sometimes the connextion. When do you get this error? Is this in the misdle of a request , atthe beginning or at the end ?

[2022-02-11 15:58] eproxus commented on #673
Would it be possible to upload the EDoc documentation there instead? I'm using [Dash](https://kapeli.com/dash) on macOS that can download documentation from Hex automatically and it would be neat to get Hackney documentation there too.

[2022-02-11 19:22] fireproofsocks commented on #630
I am triggering periodic API calls via a `GenServer` that uses `Process.send_after` to hit an API endpoint every 60 seconds.  The failures always seem to happen in minute 3 (on the third request), and the `{:error, :closed}` seems to happen right as the connection is attempted.

[2022-02-12 14:10] benoitc commented on #673
I wish I would be able to remove that link. @eproxus unsure about it due to the current terms. I will think about it.

[2022-02-13 16:42] eproxus commented on #673
Current terms? What are the issues with those?

[2022-02-13 16:46] benoitc commented on #673
``` by submitting, posting or displaying Content on or through the Services for public access, you grant us a worldwide, non-exclusive, royalty-free license to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed). Any Content you submit or post to the Services may be stored b

[2022-02-13 17:25] benoitc commented on #673
after discussing with some i decided to update hex.pm link with the API doc only (with the overview) as it is now. This has been published with latest version of hackney. Enjoy!

[2022-02-13 17:25] #673 closed

[2022-02-14 08:51] eproxus commented on #673
Thank you! That really helps!

[2022-02-20 14:36] speeddragon commented on #105
I have the same issue as @mwean. [Here](https://curl.se/docs/CVE-2018-1000007.html) was fixed in Curl.

[2022-02-20 20:31] benoitc commented on #105
please open a new ticket for such case . I will have a look.

[2022-02-20 22:10] speeddragon opened #701 "Authorization header on redirect"
Hackney send authorization header on redirect, similar issue as [CVE-2018-1000007](https://curl.se/docs/CVE-2018-1000007.html) in cURL.

[cURL](https://curl.se/docs/manpage.html) uses the flag `--location-trusted`. Should we implement something like this?

This can be seen on redirect to S3 from an API that needs `Authorization`.

[2022-02-22 03:36] gjsduarte commented on #585
Any updates on the telemetry or the suggested hooks integration @benoitc?

[2022-02-22 21:27] DHager opened #702 "Need a way to set filename for Content-Disposition when uploading file-data from memory"
I ran into an issue where a remote server would refuse data (inside a multipart) unless the `Content-Disposition` header contained a filename, but I couldn't find any way to set one.

To be specific, in a multipart-part the server required:

[code]

But refused to accept:

[code]

I looked at the [documentation for encode_form/1](https://github.com/benoitc/hackney/blob/master/doc/hackney_multipart

[2022-02-22 21:29] DHager commented on #702
My current workaround is to save the data to a temporary file on disk (with a specific name), use `{file, Path, Name, ExtraHeaders}`, and then delete the temporary file afterwards... But it's annoying.

[2022-03-13 19:48] mruoss commented on #689
Seeing this now after upgrading to OTP 24.3. Maybe related to https://github.com/erlang/otp/issues/5783?

[2022-03-14 18:09] benoitc commented on #693
mmm are you sure of this? The rfc says

Was the port different from 80 or 443?

[2022-03-14 20:57] sykesm commented on #693
Yes, that's what I meant by "non-standard port."

[2022-04-08 10:29] jorngar opened #704 "Update metrics dependency to 2.5"
Hackney 1.18.1 uses metrics dependency 1.0.0 which is quite outdated.

This currently causes dependency conflicts with other libraries that uses the latest version of metrics like 2.5 if hackney and other library using metrics are present in the same project.

[2022-04-08 11:04] jorngar commented on #704
Switched phoenix ApiClient to finch by config

[2022-04-08 11:04] #704 closed

[2022-04-08 14:32] benoitc commented on #702
we can have a pattern that just place needed headers instead. I will think about it

[2022-04-08 17:38] alecernas commented on #415
I have the same issue with my rails app

[2022-04-22 22:40] JoeZ99 commented on #379
I'm suffering this right now. For whatever reason the server I try to download a file from sends a unique chunk of 80 Mb. It takes about 10 minutes and 1.0Gb RAM to hackney to build the entire chunk. Forcing elixir app restart all the time, because all available memory is eaten.
The "10 minutes" part obviously is my fault (I'm in cuba, which has a bad connection), but 1.5Gb of RAM used to build a

[2022-05-10 16:41] canuc opened #705 "invalid_proxy_transport - returned with https proxy requesting https host"
Noticed that if the proxy transport is https and the end transport is https -> the request will return invalid_proxy_transport. This seems like https proxies are not supported or am I missing something?

[2022-07-27 11:13] KirillDavydov commented on #155
+1

[2022-07-31 11:42] telmich commented on #206
What is needed to move forward on this one? This is a blocker for using https://pleroma.social/ in ipv6only environments.

[2022-08-03 20:12] tsloughter commented on #697
I was curious about this because the HTTP spec defines the status code as 3 digit integer. I wouldn't be surprised that IIS breaks the spec but when I curl that url I get a 404.

Either way I don't think hackney should support it but I'm curious to see if it actually returns `401.1` and that is able to be handled by `curl`.

[2022-08-04 06:33] benoitc commented on #705
@canuc pleas eprovide more detail, any snippet I could look at ?

[2022-08-04 06:33] benoitc commented on #206
@telmich there is a work in progress that should land soon with the new pool.

[2022-08-04 06:45] benoitc commented on #697
The spec indeed defines it as a 3 digit integer : https://datatracker.ietf.org/doc/html/rfc7231#section-6

This is a low priority actually to support microsoft insanity and will come after the new connection engine but i think this can be done.  Of course Microsoft pushed the insanity to the point it can be more than one digit after which makes things slower to check but we can actually parse it d

[2022-08-15 21:46] DHager commented on #702
Hi, any updates on this?

One option may be to add a new item to the list, `{file_in_memory, Name, FileName, Data, ExtraHeaders}`

[2022-10-26 15:39] ankhers commented on #689
I have been looking into this for the last couple weeks for a project at work. We are using `1.18.1`, which is currently the latest release on hex.

The issue seems to be related to the `:hackney_connections` gen server. I have measured the mailbox size (`process_info(Pid, message_queue_len)`) being over 500k messages. Killing the process and having it restart seems to temporarily "fix" the issue

[2022-10-28 13:50] ankhers commented on #689
I believe we fixed our issue.

We had a function that looked something like this.

[code]

Essentially if the function returned the error variant, we were not matching on the actual error we cared about for the retry. So when we received a different error message, we were calling this function infinitely. And because of that, we were sending an infinite number of requests to hackney. Once we had m

[2022-10-30 11:34] howaboutlollmao commented on #273
Can confirm the problem is still present as for 2022. Any progress?

[2022-11-21 10:02] Polexy commented on #690
i have also reproduced, execution time is increased with chunk size

[code]
[code]

[2022-11-22 10:01] gp42 commented on #539
We are hitting this problem as well... Especially when hackney is used by third-party libraries. Is there any chance to reconsider and actually implement ENV Var support? This is definitely a standard.